[2022-02-02 16:11] corwinharrell commented on #1963
yep agreed @gutsyphilip will need to lean on others from engineering to identify where each of these instances might be. cc @MaximusHaximus @Patrick1904

[2022-02-02 18:30] #2355 closed

[2022-02-03 19:46] Patrick1904 commented on #2200
@gutsyphilip all the UI exists for this and can be grabbed from the `/sign-in-ledger` route. We're adding the `LedgerHdPaths.js` component for whenever the user is setting up Ledger for a **new** or **existing account**. This means that the current routes that are missing the HD path selector are: `/setup-ledger/:accountId` and `/setup-ledger-new-account`

Please let me know if you have any questi

[2022-02-04 07:53] H34D opened #2435 "Add sign message functionality"
## Story

As a USER who is using a dApp, I want to sign a message instead of a transaction so I can use formal verification of a signature in the dApp to transact in the behalf of the User like Opensea on Ethereum.

## Acceptance Criteria

- [ ] Message to sign should be a string, this can either be an wallet address or a serialised json object
- [ ] The signature and public key should be returned

[2022-02-04 14:08] stefanopepe commented on #2392
@Solniechniy Added another acceptance criteria: make the "claim button" able to withdraw the tokens owned by a legacy lockup contract.

As far as I know, there's a method to claim from legacy lockup accounts: https://github.com/referencedev/staking-farm/blob/master/HowTo.md#cashing-out-farmed-tokens (see "claim from lockups")

[2022-02-04 19:00] Patrick1904 opened #2436 "Lockup 'available to transfer' banner persists after transferring from lockup"
**Problem**
1. Lockup 'available to transfer' banner persists after transferring from lockup
2. Lockup storage amount is included in the 'available to transfer' amount displayed on the banner

<img width="1170" alt="Screen Shot 2022-02-01 at 8 49 55 AM" src="https://user-images.githubusercontent.com/24921205/152587321-b7de5968-eaca-4870-bb07-6aef7885d3fd.png">

**Expected Behavior**
1. Lockup bann

[2022-02-04 21:19] marcinbodnar opened #2439 "Forces Yarn to be used on a project"

[2022-02-04 21:29] esaminu opened #2441 "Add enforcement against usage of `URL.searchParams` or `URLSearchParams` and non selectors in `useSelector`"
## Problem
1. Using `URL.searchParams` or `URLSearchParams` native objects could result in incorrect parsing and setting of query params in cases where our interface is an append type interface e.g.: `?methodNames=method1&methodNames=method2`. This is because in these cases, `URLSearchParams` instances return only the value of the first arg when you call `.get`

2. We want to enforce usage of sele

[2022-02-04 21:33] #2441 closed

[2022-02-05 08:34] ahnafalfariza opened #2442 "Success URL appended with `?` despite it has already query params in it"
**Problem**
Unable to log in to dApps. The success URL after request sign-in method is appended with `?` despite it has already query params in it.
Just found this on testnet. However, by the time I write this issue, it still working normally on mainnet

**Expected Behavior**
Wallet returns correct URL which results in successful login on dApps

**Steps to reproduce**
1. Wallet.requestSignIn from

[2022-02-06 17:27] BenKurrek commented on #2442
We're experiencing the same problem. Bumping this issue ^

[2022-02-07 02:09] think-in-universe commented on #1963
@corwinharrell the most common case I have in mind is linkdrop, when user received a linkdrop with a `redirectUrl`, she/he might be redirected to a phishing page (e.g. a fake web wallet which is not easy to realize sometimes in mobile phone).

I agree that the extra dialog will hurt the UX especially when the redirect actually makes sense (e.g. claim a NFT in the redirected page), but it would be

[2022-02-07 16:23] corwinharrell opened #2445 "Update `Top Up` page to include Utorg and NEARPay fiat onramps"
## Summary

This is a design update for the `Top Up` page accessed from the wallet dashboard. With new fiat onramps becoming available, we need a more scalable way to display multiple options from within the wallet.

This issue addresses both #2403 and #2365.

### Approach to Displaying Multiple Options

For now, we will keep the display of fiat onramp options lightweight. Because each of these on

[2022-02-07 16:41] stefanopepe commented on #2445
I would disable or "grey out" the Rainbow Bridge if the user doesn't have already a minimum balance to pay for gas fees and sign transactions/swaps, keeping the accent to onramps and exchanges first. A balance under 0.5 $near might be too small to cover transaction fees and the increased storage needs (login + fungible tokens state).

[2022-02-07 16:46] corwinharrell commented on #2445
@stefanopepe I don't think we should be disabling/enabling external links based on a user's balance. That is a non-standard UX practice. Typically an "insufficient" balance error should be reserved and be displayed in context. In the case of the rainbow bridge, this would actually be in the rainbow bridge UI. On this page, we are simply showing what options are available for all users, and they st

[2022-02-07 16:53] #2403 closed

[2022-02-07 16:54] corwinharrell commented on #2403
Addressed by https://github.com/near/near-wallet/issues/2445

[2022-02-07 16:54] corwinharrell commented on #2365
Addressed by https://github.com/near/near-wallet/issues/2445

[2022-02-07 16:54] #2365 closed

[2022-02-07 17:48] #2379 closed

[2022-02-07 19:18] #2436 closed

[2022-02-07 20:05] MaximusHaximus commented on #2442
Thanks for the report folks!

@esaminu Could be related to the recent query-string changes, especially since this is only on Testnet -- could you investigate?

[2022-02-08 00:24] Patrick1904 commented on #1963
@gutsyphilip the best indicator for this is the `redirectToApp` as it's the most commonly used function for redirecting to a page site outside the wallet.

@corwinharrell is the idea that we're going to show this redirect modal before sending users back to the app after signing in or signing an app tx too? Or is this mainly for flows where it may be more of an unexpected path, like claiming a link

[2022-02-08 06:45] paouvrard commented on #2442
Also looks related: experiencing issues sining in when there are already url params in the redirect url.
For example signing in from https://testnet.rainbowbridge.app/transfer

[2022-02-08 13:27] paouvrard commented on #2442
@MaximusHaximus @esaminu The fix improved it, but at login, when redirecting to https://testnet.rainbowbridge.app/transfer, the `/transfer`path was removed and redirected to [https://testnet.rainbowbridge.app](https://testnet.rainbowbridge.app/transfer) instead

[2022-02-08 13:46] alsakhaev commented on #2442
I have a weird behavior now. I develop a browser extension, where callback url looks like `chrome-extension://ogcojbmjgfbdhgoedagklhoginpblbon/callback.html?request_id=af67c1511c3648588f390acd8d574507&success=true` and after authorization the wallet redirects me to `chrome-extension://invalid/`

[2022-02-08 14:01] #2439 closed

[2022-02-08 14:09] esaminu commented on #2442
Thanks guys! Pathname that was omitted in previous PR has been readded in #2451 😃

[2022-02-08 14:13] alsakhaev commented on #2442
We're waiting the release ;)

[2022-02-08 14:16] #2442 closed

[2022-02-08 18:49] SteMak opened #2452 "Unexpected removing hash from target link on redirection from wallet"
**Problem**
When signing in or confirming transaction from near wallet hash dissapears from the success_url or failure_url

**Example**
[code]
is redirected to
[code]
but should be to
[code]

**Steps to reproduce**

1. Go to `https://near-examples.github.io/place/#super_hash`
2. Try to login
3. Got `https://near-examples.github.io/place/`

[2022-02-08 19:13] marcinbodnar opened #2453 "Add status object to ledger slice to track main thunks status"
We want the `ledger` reducer to track the status and hold error information in the same way as other slices/reducers. Ultimately we want to have the same `status` object for every slice/reducer.

[2022-02-08 19:16] marcinbodnar opened #2454 "Refactor nft slice to track status in status object"
Right now, `nft` slice status is stored in `['ownedTokens', 'byAccountId', accountId, 'byContractName', contractName]` path. We want to unify it so the status will be in the `status` object.

[2022-02-08 19:17] marcinbodnar opened #2455 "Refactor tokenFiatValue slice to track status in status object"
Right now, `tokenFiatValue` slice status is stored directly in the reducer object. We want to unify it so the status will be in the `status` object.

[2022-02-08 19:19] marcinbodnar opened #2456 "Refactor tokens slice to track status in status object"
Right now, `tokens` slice status is store in `['ownedTokens', 'byAccountId', accountId, contractName]` path. We want to unify it so the status will be in the `status` object.

[2022-02-08 19:23] marcinbodnar opened #2457 "Prepare unify status object for every redux slice"
We want to have the same `status` object used in all the slices.
`status` object will be stored in a separate file.
That will allow simplifying `handleAsyncThunkStatus` helper function and its usage ( #2449 ).

[2022-02-08 19:28] marcinbodnar commented on #2452
Thanks @SteMak , I will check it.

[2022-02-08 19:40] esaminu commented on #2452
Thanks for reporting @SteMak!

[2022-02-08 19:46] SteMak commented on #2452
Thank a lot for quick reaction!

[2022-02-08 22:57] #2354 closed

[2022-02-08 23:47] #2452 closed

[2022-02-09 00:57] dvconsultores commented on #2452
i'm presenting  the excact problem here, all was working ok and suddenly crashed, i have several days, debuging, almost crazy whithout sleep, i can't login. This is a new change from NEAR Wallet login.

[2022-02-09 02:32] hanakannzashi commented on #2324
did you fix this problem? @stefanopepe

[2022-02-09 07:37] think-in-universe opened #2461 "Cannot open Collectibles tab with `?tab=collectibles` query string"
**Problem**
When opening NEAR Wallet with https://wallet.near.org/?tab=collectibles, user should be able to open the **Collectible** tab automatically. The feature works before, but doesn't work recently. This breaks the workflow of some NFT dapps that we have built before.

**Expected Behavior**
When user opens https://wallet.near.org/?tab=collectibles, switch to the **Collectible** tab automatic

[2022-02-09 08:16] SteMak opened #2463 "Full access is unexpectedly requested on signing"
**Problem**
On the end of signing in with contract that requests limited permissions you are redirected not to dapp, but to getting full access.

**Expected behaviour**
After confirming connection your account should be redirected to dapp.

**Steps to reproduce**
1. Go to `https://near-examples.github.io/place/`
2. Try to log in
3. Got `requesting limited access`
4. Chose account and press `Connec

[2022-02-09 08:18] esaminu commented on #2463
Thanks @SteMak ! This should be fixed in #2462, Please confirm! 😄

[2022-02-09 08:18] #2463 closed

[2022-02-09 08:21] SteMak commented on #2463
Thank you for your work!

[2022-02-09 12:12] alexauroradev commented on #2430
I believe your understanding on how the staking farm is working at the moment is incorrect.
The claim method would move the rewards not into the lockup account, but into the account of the owner of the lockup.
CC: @MaximusHaximus @stefanopepe

[2022-02-09 15:17] corwinharrell commented on #1963
As mentioned above I think displaying this dialogue _every_ time there is a redirect is very cumbersome and would be a very suboptimal UX. I agree with @stefanopepe that if we are redirecting the user _back_ to a site that they have just come from (for txn confirmation for example) we don't need to display this dialogue. This dialogue should be reserved for instances where there is a greater phish

[2022-02-09 15:24] stefanopepe opened #2465 "Bug: Recaptcha has not been loaded on Testnet wallet"
**Problem**
As a user, I can't create a new Testnet after I selected my account ID.
Button "continue" doesn't work, and the console returns the error `<GoogleReCaptchaProvider /> recaptcha key not provided`

**Expected Behavior**
Accounts can be created normally

**Steps to reproduce**

1. Open https://wallet.testnet.near.org
2. Click "Create account"
3. Select an account ID and click "Reserve my

[2022-02-09 18:55] Patrick1904 commented on #2348
@MaximusHaximus and @corwinharrell - the UI for this feature is done, but I know @MaximusHaximus has some concerns with shipping this 'shared seed phrases' feature, at least without any ability for users to manage multiple accounts with a single phrase outside of the initial setup flow. @corwinharrell any thoughts on this?

[2022-02-09 19:04] stefanopepe commented on #2465
fixed by #2466

[2022-02-09 19:04] #2465 closed

[2022-02-09 19:21] corwinharrell commented on #2348
I think it's a valid approach to hold off on the shared phrase stuff until we can also design and plan for better key management, so that a user has the following options:

1. See which accounts are secured by which keys
2. See which accounts share keys
3. Easily rotate keys, change keys, etc...
4. Have messaging around actions that ensure the user understands the implications of changes to keys

[2022-02-09 20:02] janewang opened #2467 "User stake migration from poolv1.near to pool.near"
## Story
Facilitate the NEAR stake migration from `poolv1.near` to `pool.near`.

## Acceptance Criteria
- [ ] The user is alerted that the need to migrate their stake from old pool to new pool
- [ ] To avoid all stake migrating at the same time, the user migration is organized into batches
- [ ] The user can one-click unstake from the old staking pool
- [ ] The user will alerted when the stake is

[2022-02-09 22:30] mieubrisse opened #2468 "When creating a new account, "Continue" button doesn't work when getting to the "Set Recovery" phase"
**Problem**
I rebuilt the Wallet Docker image to work inside Kurtosis and things seem to work at first, until I get to "Set Recovery". Clicking the "Continue" button doesn't do anything, and nothing shows up in the Network tab or Console.

<img width="1434" alt="Screen Shot 2022-02-09 at 7 04 12 PM" src="https://user-images.githubusercontent.com/1142185/153300958-8b36d713-3ab0-472a-b5f6-b4a30c124c

[2022-02-09 23:09] Patrick1904 commented on #2468
@mieubrisse thank you for reporting this issue. We had a bug that made it into the testnet wallet but shipped a fix earlier today: https://github.com/near/near-wallet/pull/2466.

Please try using the latest version of the master branch as this issue should be solved now.

[2022-02-10 14:49] stefanopepe commented on #2467
@corwinharrell This issue is critical for the protocol at large, as the entire staking will have to move to a new pool (that will be upgradable, so the problem will be solved for good).
The timeline is not urgent, but it's extremely important and must be ready when the new staking pool completed the security audit

[2022-02-10 17:16] andy-haynes commented on #2468
Hi @mieubrisse, we can absolutely look at incorporating Docker image builds into our upcoming CI pipeline. Are you currently relying on the Docker image built from `near-wallet/packages/frontend` without any custom behavior on top of it?

[2022-02-11 01:03] #2371 closed

[2022-02-11 01:03] #2348 closed

[2022-02-11 02:02] MaximusHaximus commented on #2261
FYI for everyone here -- the 'clear state' contract has been merged, and we are working on getting fixes in place this sprint. cc: @esaminu

We are handling two cases immediately:
1. When **disabling** 2FA, we will deploy the [Clear State Core Contract](https://github.com/near/core-contracts/tree/master/state-cleanup) first, call the clean() method on that contract to clear any existing multi-sig

[2022-02-11 22:48] nearwatch commented on #2261
FYI I tested a time ago cleaning the state through the state-cleanup contract and got a bricked account after 2FA installed
https://explorer.mainnet.near.org/transactions/CHhmpRA3DNDaWjj3dHEpx7p2RweYimn8g8Mt3Nro7KkE

[2022-02-14 13:49] JoaquimLey opened #2479 "[Website] Allow for different FIAT currencies"
## Problem
When navigating on the wallet website (https://wallet.near.org/) the fiat currency is displayed in USD/$, it would be great to have the option to select another currency (for instance, Euro/€).

This is a matter of getting either the conversion USD->FIAT or getting the current NEAR value directly from coingecko (or whatever provider is used) in the user's preferred currency.

#### How d

[2022-02-14 21:20] Patrick1904 opened #2482 "Able to sign with wrong signerId on /sign route (esp. slow connection)"
**Problem**
Able to sign a TX using wrong `signerId` on `/sign` before the correct account has been selected / made active in wallet

**Expected Behavior**
Not able to sign a TX using wrong `signerId` on `/sign` before the correct account has been selected / made active wallet

**Steps to reproduce**

1. Log in on https://berryclub.io/ with account A
2. In a separate tab, make account B active on

[2022-02-14 21:21] Patrick1904 commented on #2482
@esaminu is this something you can have a look at? Seems we should disable the 'approve' button as long as the `signerId !== wallet.accountId`?

[2022-02-15 11:37] ivan-ilin-nearpay commented on #2445
Hi, guys! @corwinharrell @stefanopepe, any news on this issue?
It is assigned for a sprint that has ended 8 days ago. Can we help somehow?

[2022-02-15 12:59] zavodil opened #2483 "Account creation bug: Implicit account doesn't send all funds to named account"
**Problem**
User created named account but implicit account used for registration purpose still keeps the majority of his tokens

**Steps to reproduce**

1. User tried to create named account
2.  He topped up [implicit account](https://explorer.near.org/accounts/74467e9e86c7049d965ef6f54dfc25abac247461a69c3a5e4843398fd0e527bb) using moonpay with 2.2 NEAR
3. He created named account [beststream.nea

[2022-02-15 15:07] k-o-l-e-s opened #2484 "Not possible to select a token"
**Problem**
Not possible to select a token when sending when in wallet two tokens with the same symbol,
by example GOLD

**Expected Behavior**

**Steps to reproduce**
1. deposit two tokens with the same symbol
2. send first token
3. send second token

![Screenshot 2022-02-15 at 16 21 14](https://user-images.githubusercontent.com/92436869/154080745-1d811601-e35e-459f-a412-4946ce056c21.png)

[2022-02-15 18:37] #2182 closed

[2022-02-15 20:20] stefanopepe commented on #2483
I see the issue, and we may ask the user if they want to carry all funds along or just use 0.1 to register the name.
This is worth some UX/UI basic research, thanks for the suggestion!

[2022-02-16 20:00] frol opened #2489 "FT Events support"
Some prior context: https://github.com/near/NEPs/issues/85#issuecomment-1041515376

Wallet needs to get [FT Events](https://nomicon.io/Standards/FungibleToken/Event) support to properly catch mint and burn events (similarly to NFT support). Those are already implemented on the Indexer for Explorer side, so you can see the `assets__fungible_token_events` table.

[2022-02-16 23:06] Patrick1904 commented on #2484
Thanks for reporting this @k-o-l-e-s! 🙏  Will investigate and ship a fix for this.

[2022-02-16 23:33] #2271 closed

[2022-02-17 21:02] #2457 closed

[2022-02-18 21:44] #2484 closed

[2022-02-18 21:48] k-o-l-e-s commented on #2484
Extra fast! Big thanks guys!

[2022-02-21 18:06] crypto-credit commented on #2267
Hi @stefanopepe just wanted to let you know that the Italiano translation is finally finished... all 1560 lines of code!

What do we need to do next?

[2022-02-22 00:40] intmainreturn00 opened #2494 "Non draining NEAR recovery \ login link"
## Story

As a developer, I want generate & pre-fund implicit accounts for users and send them a link they can use to log-in into their account with near wallet. I found this recovery deep-link (for example):

[code]

And it works great. But there is one problem with such link - even if user already have keys for account in their browser storage (meaning they already "recovered" their account via

[2022-02-22 02:14] agileurbanite commented on #2494
Investigating

[2022-02-22 15:44] crypto-credit commented on #2479
I would support the idea of having the ability to display the wallet amount in Euros. I am currently working on translating the wallet into Italiano and it would be great if the wallet could be denominated in Euros as well.

[2022-02-22 17:48] SteMak opened #2495 "Make history api of a dapp holistic"
## Problematic
Approving of transactions or signing in lefts track in the history api of browser.
In such way, when user trying go back, he appears with this tracks. Unexpirienced user can be confused and even make transaction twice
### Bad user expirience example:
On most of mobile devices backbutton is in the bottom of the screen and can be triggered by chance. User can think that something went

[2022-02-22 22:08] ilblackdragon opened #2496 "Disable 2FA script question"
Observing https://github.com/near/near-wallet/pull/2487/files#diff-af1599f511c250583625e7629817717180c2b3693cb7d8727d2c9250e612fd6cR22 - which contact is been deployed?

Also why is contract been deployed for disabling 2FA?
My expectation that next sequence of actions are done:
 - remove functional access key and replace them back with full access keys except for the one by NEAR Wallet
 - deploy s

[2022-02-23 00:05] esaminu commented on #2496
@ilblackdragon #2487 is meant to solve a specific case where some users have a seedphrase but they have a bricked 2fa. When they import account via seedphrase, the wallet detects that they have a multisig deployed and adds a LAK leaving them in the same state as before (unable to sign transactions due to bricked multisig). The idea was to provide this script to disable 2fa the same way the wallet

[2022-02-23 00:16] esaminu commented on #2496
@ilblackdragon https://github.com/near/near-wallet/pull/2487 is meant to solve a specific case where some users have a seedphrase but they have a bricked 2fa. When they import account via seedphrase, the wallet detects that they have a multisig deployed and adds a LAK leaving them in the same state as before (unable to sign transactions due to bricked multisig). The idea was to provide this script

[2022-02-23 05:34] andy-haynes commented on #2482
@esaminu I didn't notice this had been assigned to you when I created the PR, my bad 🤦. Hopefully you haven't had a chance to start on it yet, I'm just working my way down the list of recent priority issues for the support rotation 🤞

[2022-02-23 18:44] #2482 closed

[2022-02-23 19:51] esaminu commented on #2482
No problem! Yeah I hadn't started on it but was intending the same idea as #2499 for the fix, thanks for covering! 😄

[2022-02-23 21:09] #2386 closed

[2022-02-24 05:14] andy-haynes commented on #2494
Hi @intmainreturn00, thank you for the thorough description. I believe I have a fix that we can have on testnet for validation by the end of the week.

[2022-02-24 18:36] andy-haynes opened #2504 "Translation strings not being interpolated in GlobalAlert"
**Problem**
Translation strings support JS template literal interpolation syntax (`${...}`) but `GlobalAlert` is not passing in the expected value from `WalletError` objects and so interpolated variables are printed as string literals.

**Expected Behavior**
When throwing a `WalletError`, the `data` parameter should be used as the set of variables from which the translation string is interpolated.

[2022-02-25 18:52] andy-haynes commented on #2494
Unfortunately there are some edge cases supported by the current `recover-with-link` route that need to be considered in addressing this issue. Currently we are considering making this functionality opt-in, i.e. users whose browsers are logged in to the account may choose to continue on with recovery if either:
- the user wishes to recover the implicit account associated with the named account in

[2022-02-28 23:00] nearmax commented on #2261
Does the newly deployed 2FA contract allow adding a new full access key?

[2022-03-04 08:19] RubyJiao opened #2515 "UI for available balance of lockup account"
**Problem**
The available balance of the locked account shows incorrect data(35.65433).

<img width="636" alt="23df55ed376b78b4624001641643456" src="https://user-images.githubusercontent.com/87597805/156724550-1e5877d1-1b96-43af-aff4-fcc90a113d6c.png">

<img width="673" alt="4998529ea59773cd63c93fed34250ab" src="https://user-images.githubusercontent.com/87597805/156724640-514e3e5c-f57c-4bb4-a026-d

[2022-03-04 11:50] andrew-sol opened #2516 "UI (Local NEAR Wallet) does not work on localnet when accessed remotely"
**Problem**
I followed this guide: https://docs.near.org/docs/tools/kurtosis-localnet
But I did the setup on a separate Linux machine that is connected to my local network.

The problem is that the UI opens in my browser when I access it via http://192.168.88.112:49162 but it sends all requests to http://127.0.0.1:49159. Look at the screenshot.

![Screenshot 2022-03-04 at 13 36 13](https://user-im

[2022-03-09 23:16] Patrick1904 commented on #2515
@esaminu do you have any idea why the storage amount shows as available on the staking page? Could it be related to recent changes to the lockup balance?

[2022-03-10 22:14] esaminu opened #2520 "UI issues with farm validator validator box"
**Problem**
The farm validator validator box truncates the validator name if it's too long and does not render the tooltip over the modal when you hover.

**Expected Behavior**
The validator name should be elipsified if it's too long and the tooltip should be visible when you hover.

Initially reported in https://github.com/near/near-wallet/pull/2511#issuecomment-1057573010

<img width="550" alt="

[2022-03-11 11:46] think-in-universe opened #2522 "`storage_deposit()` fails when transferring some fungible tokens"
**Problem**

Now when transferring fungible token  in NEAR Wallet, a fixed minimum FT storage balance is used to call `storage_deposit()`

https://github.com/near/near-wallet/blob/bbc258315eb41fba49e30387c79507e284ad4acd/packages/frontend/src/services/FungibleTokens.js#L29

In some cases, the required storage deposit amount is not the minimum, and the wallet need to query `storage_balance_bounds()

[2022-03-15 15:15] intmainreturn00 commented on #2494
@agileurbanite thanks for alternatives, I did consider this, but it didn't seems suitable (correct me if I'm wrong):
* for our project we want to use **implicit accounts**, mostly for privacy concerns specific to our project. linkdrops are great but they works with named accounts.
* also with the current approach, we can login \ onboard user into both near wallet and our *in-development* token-wal

[2022-03-16 11:47] Leroy-X opened #2525 "Newly registered users, custom IDs need to create a new account"
**Problem**
Hi, newly registered users, custom IDs need to create a new account, I want to keep the current passphrase and customize the ID, what should I do?

Thanks

[2022-03-16 15:37] tonebonekone opened #2526 "/setup-seed-phrase/{{ACCOUNT_ID}}/phrase does not update on change Account ID"
**Problem**
When the user has multiple account IDs in the wallet, mnemonic phrase does not update when switching accounts.

**Expected Behavior**
The mnemonic phrase should update when the user switches account IDs.

**Steps to reproduce**

1. Have two account IDs.
2. Navigate to `https://wallet.near.org/setup-seed-phrase/{{ACCOUNT_ID_A}}/phrase`
3. Switch to another account: `{{ACCOUNT_ID_B}}`
4.

[2022-03-19 12:30] Kouprin opened #2534 "NFT images from URI is broken in testnet"
Happened after fcf8564806e4d0321910cfa9c5a98e4c5bb3fc7b because of https://github.com/near/near-wallet/commit/fcf8564806e4d0321910cfa9c5a98e4c5bb3fc7b#r69059531.

Feature https://github.com/near/near-wallet/pull/2227 is currently disabled in testnet.

[2022-03-21 05:56] polycardia opened #2535 "Is it possible to have an "offer to buy" to wallet owner function, for any wallet which is not available?"
![image](https://user-images.githubusercontent.com/102012864/159211082-5493169d-6e56-46be-9ae8-2e6c1f8d3d20.jpeg)

The buyer can offer to buy any NEAR Wallet which is not available, then the wallet owner can choose to accept or reject this offer. NEAR ecosystem might charge some fee from wallet owner to burn later. Is it a great idea?

Regards,

Jack

[2022-03-21 13:29] zavodil opened #2536 "Wallet helper bug with the account state"
**Problem**

Some accounts like `alex.near` throws an console error while reading the account state

https://helper.mainnet.near.org/account/walletState/alex.near => `Could not find account with accountId: 'alex.near'`

It leads to several bugs. I can't issue access key because of this: dApp redirects to the wallet and wallet throws an error because it can't load account state.

State can be read

[2022-03-21 14:27] stefanopepe commented on #2536
We added it to the backlog, will get back to you asap.

[2022-03-21 21:26] Patrick1904 commented on #2522
Issue has been created in Jira for tracking and prioritization: https://nearinc.atlassian.net/browse/WAL-204

[2022-03-21 21:30] #2534 closed

[2022-03-21 21:50] #2526 closed

[2022-03-22 01:19] zavodil commented on #2536
![Screenshot 2022-03-22 at 3 18 48 AM](https://user-images.githubusercontent.com/38926321/159388415-19e17670-a04e-470c-ab85-68f58c7b11ad.png)

error message for this case

[2022-03-22 21:53] askulikov opened #2539 "Create the new version of UI/UX for displaying APY for farming validators"
@stefanopepe @esaminu

[2022-03-22 22:08] agileurbanite commented on #2539
Ack we will propose a UX in the next few days and reply in this issue.

[2022-03-22 22:39] zavodil opened #2540 "Add "Dark theme/mode""
Please add "dark theme" with automatic trigger based on user's choice.

[2022-03-22 22:50] #2456 closed

[2022-03-22 22:51] marcinbodnar commented on #2456
Done in #2490

[2022-03-22 22:53] marcinbodnar commented on #2455
Done in #2471

[2022-03-22 22:53] #2455 closed

[2022-03-22 22:53] marcinbodnar commented on #2454
Done in #2470

[2022-03-22 22:53] #2454 closed

[2022-03-22 22:56] marcinbodnar commented on #2453
Done in #2469

[2022-03-22 22:56] #2453 closed

[2022-03-23 09:55] andrew-sol commented on #2516
Well, the issue exists in other UI tools as well (Explorer).

If someone is interested, I overcame the issue by using a simple NodeJS script for forwarding a bunch of ports used by Kurtosis (the ports might be different for each user).

[code]

main.js:
[code]

Run:
[code]

[2022-03-23 20:40] stefanopepe commented on #2539
@corwinharrell, the APY is an "annual percentage yield" used to measure the interest rate.

Calling it `APY` can be tricky, as pools (see Aurora) might take $near, keep fees at 100%, and give back only Aurora tokens, which would yield 0% APY in $near tokens and a certain amount of $aurora tokens (or any other similar fungible token).

Example 1:
- Aurora Pool takes `100%` staking fees, offering `1

[2022-03-24 16:37] askulikov commented on #2539
@stefanopepe , about the calculation in terms of prices. It might be wrong, but as I understand if we are using just math - there won't be any difference between the results. Anyway, we have to somewhere take data about prices. As we decided to use `ref.finance` - it is much easier to take prices of whitelisted tokens instead of selecting the pools and $near/$token ratio. Am I wrong?

[2022-03-24 18:59] marcinbodnar opened #2543 "Refactor Redux state to be keyed by accountId"
This is an extension to the description of issue #1239

The main problem that we want to solve is that we can store the state for one account only, which causes problems with handling many accounts, switching accounts, and creating additional accounts.

The main benefit will be that we would be able to store the state for multiple accounts, so after switching accounts we can display the applicatio

[2022-03-24 22:13] #2504 closed

[2022-03-25 10:53] vvmspace opened #2547 "Update readme"
Add manual to readme how to launch, contribute, etc...

[2022-03-25 11:58] JoaquimLey opened #2548 "Unable to withdraw funds from staking (after release period)"
**Problem**
When trying to withdraw the funds from a validator (stacking) I'm unable to go on with the tx (there's no error feedback)

**Expected Behavior**
I should be able to withdraw my funds after the the pending release period

**Steps to reproduce**

1. Go to the [Near Wallet stacking](https://wallet.near.org/staking/) page
2. Select a validator to which you've previously clicked `Unstake` a

[2022-03-25 14:18] gutsyphilip commented on #2547
Thanks for opening this @vvmspace. We are currently working on updating these contribution guidelines and we'll provide an update here once done.

[2022-03-25 15:23] zcstarr commented on #2548
I'm able to repro this same exact issue.
<img width="403" alt="image" src="https://user-images.githubusercontent.com/173187/160150179-0006ed7b-eda8-4b22-8ff7-dbdadf2714d6.png">
Redact some of the info but seems like get_farms method call is failing

[2022-03-25 15:32] gutsyphilip commented on #2548
Hey @JoaquimLey @zcstarr

Thanks for creating this. We are now investigating this issue.

[2022-03-25 17:23] #2548 closed

[2022-03-25 17:54] MaximusHaximus commented on #2548
This fix is now live on mainnet, sorry about the inconvenience!

[2022-03-25 18:13] zcstarr commented on #2548
Confirmed fixed thanks!

[2022-03-25 18:38] JoaquimLey commented on #2548
Confirmed, I was able to withdraw.

Thank you for the quick response.

[2022-03-25 19:53] Todun2020 commented on #2548
I can't withdraw pls help me

[2022-03-25 19:55] JoaquimLey commented on #2548
Please provide as much context as possible, and stackoverflow/discord might be a better place to seek help 🙂

[2022-03-25 20:17] Todun2020 commented on #2548
I chat on discord but no one answer me

[2022-03-27 20:07] michael60634 opened #2551 "2FA Availability"
Wallet users shouldn't have to have a minimum amount of NEAR to use 2FA. Higher security should be accessible to everyone.

[2022-03-28 16:21] htafolla opened #2552 "Add Prices for Ref Finance Whitelisted Tokens"
Please consider adding pricing to the wallet for all Whitelisted tokens on Ref Finance.

`near view v2.ref-finance.near get_whitelisted_tokens`

View call: v2.ref-finance.near.get_whitelisted_tokens()
[
  'wrap.near',
  'a0b86991c6218b36c1d19d4a2e9eb0ce3606eb48.factory.bridge.near',
  'dac17f958d2ee523a2206206994597c13d831ec7.factory.bridge.near',
  '6b175474e89094c44da98b954eedeac495271d0f.factor

[2022-03-28 18:15] marcinbodnar opened #2554 "Refactor tokens reducer into two reducers"
Part of the #2553

We want to refactor `tokens` reducer into two separate reducers:
 - one that will hold only account-related data
 - the second one, that will holds tokens metadata and will be used by every account

[2022-03-28 20:47] Patrick1904 opened #2556 "Refactor Navigation.js component to use idiomatic React methods"
Issue and solution described here: https://github.com/near/near-wallet/pull/2544#discussion_r834952624

[2022-03-28 23:08] gutsyphilip opened #2557 "Ledger modal fails to dismiss"
**Problem**
During account creation flow using ledger, ledger modal fails to dismiss automatically on completion of account setup and activation.

Environment: Testnet

**Expected Behavior**
Modal should automatically dismiss on completion

**Steps to reproduce**
1. Create new account
2. Select ledger
3. Follow through with prompts to approve ledger and sign transaction
4. Modal should still be op

[2022-03-29 05:41] roshaans opened #2559 "[Feature] Support for viewing Video NFTs in collectibles tab"
## Problem
#### What problem are we solving with? Is this epic part of the planned features [here](https://github.com/near/near-wallet-roadmap/projects/1), and which ones?

- Currently, the collectibles tab defaults to viewing collectible's metadata within a `<img>` tag. This should be dynamic based on the file type.

#### How did we discover this problem?
#### How did this problem originate? If i

[2022-03-29 21:25] #2183 closed

[2022-03-29 21:30] Patrick1904 commented on #2525
Thanks for your question @Leroy-X. Current account creation in the NEAR Wallet requires a new passphrase for each new account, and it's not possible to change only the custom ID at this point.

We're planning on adding the ability to re-use a passphrase when creating a new account, but it requires more extensive key management features before we can release it, so there's no ETA for this feature y

[2022-03-30 02:27] Leroy-X commented on #2525
Thank you very much for your reply, newbie is a little confused about this :P

[2022-03-30 16:26] #2525 closed

[2022-03-30 20:41] roshaans commented on #2559
I noticed that the webm format NFTs or any Video NFTs are not supported on the NFT detail tab at all.

I made a PR for it if you would kindly review it.

https://github.com/near/near-wallet/pull/2562

[2022-04-01 12:20] bryanForSafe opened #2564 "how can I fix it?"
![image](https://user-images.githubusercontent.com/87746660/161261883-fa13f704-ea7b-46b6-b9c3-ca4d78c75666.png)

Hi,  When I run the wallet (https://github.com/near/near-wallet/tree/master/packages/frontend), its interface is blank. I see the following error in Chrome, how can I fix it?

[2022-04-01 15:12] EveFitz commented on #2267
[translations.txt](https://github.com/near/near-wallet/files/8398861/translations.txt)
This is the translation of the NEAR Wallet in italian, hope everything is alright, if not just say!

[2022-04-01 16:55] andy-haynes commented on #2564
Hi @bryanForSafe, you'll need to set a value for the `NEAR_WALLET_ENV` environment variable. This is used determine the default configuration for your local environment, the set of valid environments can be found as the values of the JSON object here: https://github.com/near/near-wallet/blob/master/features/environments.json.

I will update that error message to be a bit more helpful 🙂

[2022-04-02 18:57] agileurbanite commented on #2047
@MaximusHaximus can I get more details on why this is blocked?  Is this a capacity issue or dependency issue?

[2022-04-02 18:57] agileurbanite commented on #2047
Looking to get this prioritized

[2022-04-03 05:23] paouvrard opened #2566 "Failed to withdraw unstaked $NEAR available for withdrawal from `aurora.pool.near`"
**Problem**
I unstaked some $NEAR from `aurora.pool.near` which became `available for withdrawal` after 4 epochs as expected.
When confirming the withdrawal transaction, the Ledger error message is shown immediately:
![image](https://user-images.githubusercontent.com/29397451/161412792-6a422751-77a6-41e2-b654-6addbe087e88.png)
The Ledger also prompts to sign a transaction but it is not a withdrawa

[2022-04-04 11:46] esaminu commented on #2566
Thanks for reporting @paouvrard. This is expected behavior as far as the transaction being signed. The wallet will claim any remaining unclaimed farm rewards before withdrawing.

You seem to be experiencing a connection issue with your ledger that is unrelated to the transactions being signed.

[2022-04-04 14:53] paouvrard commented on #2566
Thanks, withdraw_all is now being called.

[2022-04-04 14:53] #2566 closed

[2022-04-04 20:13] nearmax opened #2567 "Incorrect information when authorizing an app"
**Problem**
Whenever I authorize an app, like https://app.burrow.cash/ in wallet it shows me the following:
![image](https://user-images.githubusercontent.com/35039879/161622857-9a886f3d-0727-42d1-b822-3a23ad458d27.png)

It claims that app can only view address and balance of the account. However, it does much more, it adds an access key that allows app to call anything from the application contra

[2022-04-04 21:11] agileurbanite commented on #2567
@marcinbodnar can you take a look and circle back?

[2022-04-04 22:08] agileurbanite commented on #2557
marked as Priority 1, @gutsyphilip is OOTO and returning next week 4/11.  Will hold off on taking this over by someone else until he gets back.

[2022-04-04 22:11] agileurbanite commented on #601
At this time we are not looking at creating a separate brand for the wallet.  We might revisit this topic in the future but closing for now.

[2022-04-04 22:11] #601 closed

[2022-04-05 14:16] marcinbodnar commented on #2567
@agileurbanite it seems that everything in the wallet is working correctly and it’s a problem with the lack of information in the UI.

Generally, we are recognizing two types of the login: `fullAccess` and `limitedAccess` - in this case, it’s recognized as `limitedAccess`.

We should add information mentioned in the issue to the UI that “wallet should state explicitly that application can call any

[2022-04-05 22:49] agileurbanite commented on #2567
@esaminu do you mind picking this up and make a small PR update for the copy change as @marcinbodnar suggested.

@corwinharrell any concerns on the copy above? ☝️

[2022-04-06 17:09] agileurbanite commented on #2445
@Patrick1904 can you share details on the blockers for this issue?

[2022-04-06 17:15] agileurbanite commented on #2445
#2419 only addresses the NEARPay integration of this issue and doesn't address Utorg.

[2022-04-06 18:00] agileurbanite commented on #2256
Designs by @nall-near can be found here: https://www.figma.com/file/Wcl0YlyeasgfBFxJNx7vYS/WAL-48%3A-Wrap%2FUnwrap-NEAR?node-id=2063%3A7314

[2022-04-06 19:12] #2269 closed

[2022-04-06 19:13] Patrick1904 commented on #2445
I was hoping that the [NearPay integration](https://github.com/near/near-wallet/pull/2419#issuecomment-1063522536) could make these UI changes to the 'Top Up' page at the same time. However, that is not a blocker and we can make the UI updates to the 'Top Up' page before any additional fiat onramp integrations are completed.

[2022-04-06 19:15] marcinbodnar commented on #1971
Fixed

[2022-04-06 19:15] #1971 closed

[2022-04-06 19:16] #1930 closed

[2022-04-06 19:25] #1244 closed

[2022-04-06 19:52] esaminu commented on #2567
I added the additional permission point to clarify to the user in #2572 . Note: **any** method is incorrect if the Dapp [passes in `methodNames`](https://github.com/near/near-wallet/blob/master/packages/frontend/docs/Login.md#wallet-url-api).

Hmm not sure how we address this. Seems to me to only be addressable from the Dapp side, if the integrator is asking for a new key to a corresponding public

[2022-04-07 05:25] agileurbanite commented on #2494
@Patrick1904 @MaximusHaximus is this issue now closed by #2521 ?

[2022-04-07 06:24] betrin00 opened #2575 "Bug Abuse for Level Up"
**Problem**
Some people have found multiple near wallet leveling methods to take advantage.
They serially turn on/off Two-Factor Authentication.

**Expected Behavior**
It gives 130 points.
If you score 1, you'll likely avoid abuse.

**Steps to reproduce**

1.
2.

[2022-04-07 17:47] Patrick1904 commented on #2494
Yes this shipped to mainnet with https://github.com/near/near-wallet/pull/2570

[2022-04-07 22:19] agileurbanite commented on #2575
@betrin00 can you provide additional details, this doesn't provide much information about what the bug is and what is Level Up?  Is this a DApp?

[2022-04-07 23:47] agileurbanite commented on #2567
@MaximusHaximus bump ☝️

[2022-04-07 23:48] agileurbanite commented on #2559
I believe this is  closed by #2562

[2022-04-07 23:48] #2559 closed

[2022-04-08 04:19] betrin00 commented on #2575
https://www.linkpicture.com/q/12313.jpg

[2022-04-10 23:10] intmainreturn00 commented on #2494
Thanks, it works with https://wallet.mainnet.near.org/recover-with-link/<accountId>/<seed> 🙏

[2022-04-11 15:36] agileurbanite commented on #1425
Closing this as this was created here: https://github.com/near/wallet-selector

[2022-04-11 15:36] #1425 closed

[2022-04-11 23:53] esaminu commented on #2567
Reopened to continue LAK addition discussion

[2022-04-12 21:38] kariolina opened #2577 "Wallet"
## Story
hi there
Firsst of all after all of your efforts discuraging a user to interact with you i finaly made it after 5 hours .
Your wallet is the most discouraging thing to interact in crypto .
Whyyyyyy??????
Why i have to pay to interact with you protocol ??\
Why i have to open  a temporary wallet and then get to the . near wallet why?????
Why users use other things then your wallet to inerac

[2022-04-13 08:48] DDeAlmeida opened #2578 "[Request] - Disconnect Button"
1.  1.  Story

As a USER who are logged, I want to disconnect so I can be sure my account is safe.

Add Logout Button.

This is not normal, to have to clear cache from browser to disconnect the account.
 Must be a priority for SECURITY reason.

1.  1.  Acceptance Criteria

*   [ ] AC1
*   [ ] AC2
*   [ ] Mobile ok
*   [ ] Tested

1.  1.  Unhappy Path

1.  1.  Assets

*   Mockup:

1.  1.  NOTES

Ex

[2022-04-13 08:54] DDeAlmeida opened #2579 "[Request] - Disconnect Button"
## Problem
As a USER who are logged, I want to disconnect so I can be sure my account is safe.

#### How did we discover this problem?
Log into a account, impossble to disconnect without clearing cache...

#### Job Story(s)
Add Logout Button.

This is not normal, to have to clear cache from browser to disconnect the account.
Must be a priority for SECURITY reason.

## Scope
Wallet

## Measuring Su

[2022-04-13 15:39] agileurbanite commented on #505
I believe the decision we made is to move to Playwright: https://playwright.dev/ @esaminu are the above test cases covered? @MaximusHaximus as FYI

[2022-04-13 15:42] agileurbanite commented on #2579
The button exists but the UX can be improved that's fair
![2022-04-13 08 40 35](https://user-images.githubusercontent.com/2501324/163218441-e8711999-70f4-4b8a-a507-ab16f498785a.gif)

We are working on improving this UX so can.

[2022-04-13 15:52] agileurbanite commented on #2577
This is great UX feedback and duly noted, you can learn more about the concept of gas here: https://docs.near.org/docs/concepts/gas.  For DApps you connect to they might require minimum storage staking to use the DApp that's up to the DApp authors. https://docs.near.org/docs/concepts/storage-staking

[2022-04-13 15:53] agileurbanite commented on #2577
Closing for now and made a note about improving our ux copy to clarify

[2022-04-13 15:53] #2577 closed

[2022-04-19 19:42] andy-haynes opened #2585 "Update "Fund with a Credit Card" copy"
Now that we have more than one integration (utorg - #2357), we should modify the copy around purchasing NEAR when setting up an account to indicate that there are multiple options beyond MoonPay.

![image](https://user-images.githubusercontent.com/36863574/164082934-b255ac1b-b1b5-4db0-af6d-1530b0e675ec.png)

[2022-04-20 13:39] tinmoney opened #2586 "Transaction .csv export"
US taxpayers need to document all blockchain transactions for tax reporting.

While this can be manually done, it is cumbersome, even at small volumes.

All other blockchain explorers I am aware of have the ability to download a .csv transaction history file.

NEAR does not support this feature. I think it should.

[2022-04-21 03:22] RubyJiao opened #2589 "Cannot claim aurora rewards"
**Problem**
Cannot claim aurora rewards

**Expected Behavior**
Success to claim aurora rewards

**Steps to reproduce**

1. Open the staking page
2. Click "stake my tokens" button
3. Select Validator: aurora.pool.near
4. Claim aurora rewards
5. Confirm
6. Error
Something went wrong during claiming your farm rewards. Please, try again later

![image](https://user-images.githubusercontent.com/8759780

[2022-04-21 03:57] esaminu commented on #2589
Hey @RubyJiao Thanks for reporting! Can we get more information regarding this and a stack trace from the logs if you have it?

[2022-04-21 04:20] RubyJiao commented on #2589
Hey @esaminu Could you tell me how to find the logs?

[2022-04-21 13:05] esaminu commented on #2589
If you are on Chrome then right click anywhere and click inspect. You can see the logs by switching to the `Console` tab in the panel that appears.

On any other browser, search for browser console.

[2022-04-21 18:50] gutsyphilip commented on #2586
Thanks for opening this issue @tinmoney.
It has been forwarded to the appropriate team to take it from here.

cc: @frol

[2022-04-22 01:50] RubyJiao commented on #2589
3instrument.ts:130 lockupAccountId 0e2c2aaba4e80596f6b279e38abab5ff2ed1d487.lockup.near
instrument.ts:130 Failed to load FT for v2.ref-farming.near Error: Querying [object Object] failed: wasm execution failed with error: FunctionCallError(MethodResolveError(MethodNotFound)).
{
  "block_hash": "GZvtzm8NyXe6A2Et3HMpCSsxySgKpJN7VinqUpVURKge",
  "block_height": 63970114,
  "error": "wasm execution fa

[2022-04-22 01:50] RubyJiao commented on #2589
3instrument.ts:130 lockupAccountId 0e2c2aaba4e80596f6b279e38abab5ff2ed1d487.lockup.near
instrument.ts:130 Failed to load FT for v2.ref-farming.near Error: Querying [object Object] failed: wasm execution failed with error: FunctionCallError(MethodResolveError(MethodNotFound)).
{
  "block_hash": "GZvtzm8NyXe6A2Et3HMpCSsxySgKpJN7VinqUpVURKge",
  "block_height": 63970114,
  "error": "wasm execution fa

[2022-04-22 01:56] RubyJiao commented on #2589
Thank you
[issue 2589.pdf](https://github.com/near/near-wallet/files/8536256/issue.2589.pdf)

[2022-04-22 12:20] bryanForSafe opened #2594 "About the new secretKey"
Hello, Excuse me  I have a question here in the wallet code:
recoverAccountSecretKey takes a parameter secretKey.

I don't want to randomly generate a new secretKey,
Can I use the secretKey of the current wallet as a parameter?

[2022-04-23 02:58] think-in-universe opened #2597 "Cannot confirm `FunctionCall` for `aurora` contract with 2FA account"
**Problem**

In most of the cases, the args of FunctionCall can be deserialized into JSON successfully. However, this is not the case for Aurora Engine. In the `call()` function of Aurora Engine, the parameters are [deserialized as Borsh](https://github.com/aurora-is-near/aurora-engine/blob/5c8691ea6ea5f1b309ef227f7f5c719ffea45d28/engine/src/lib.rs#L226) instead of JSON.

This caused issue when pa

[2022-04-25 20:58] joe-rlo opened #2610 "Swap reverts back to pairing option when price refreshes."
**Problem**
If the user chooses swap and the chooses to invert the direction (USN -> NEAR v. NEAR -> USN) then the initial swap direction reverts when the price refreshes.  This causes confusion to the user as the pairing can become negative.

**Expected Behavior**
If the user changes the direction, the swap direction should be retained

**Steps to reproduce**

1. Select swap from either token
2.

[2022-04-25 22:06] #2597 closed

[2022-04-27 07:58] RubyJiao commented on #2589
From another user:

here are the console warnings

[code]

[2022-04-27 16:05] evgenykuzyakov opened #2617 "Ledger connect issue when signing a TX"
**Problem**

Great job with the ledger fix in the Brave/Chrome! But it also introduced an issue that was not present in Firefox before: when you are redirected to sign a TX in the wallet (e.g. ref swap) and you have ledger already connected. If you don't click connect ledger first, then it prompts you click connect ledger. You click it and then it goes to the screen where you supposed to sign it o

[2022-04-27 17:41] marcinbodnar commented on #2617
Thanks, @evgenykuzyakov - I will handle it.

[2022-04-28 05:47] DRIX-dot opened #2620 "[UX Suggestion] Copy wallet address button"
It could be great if there would be a [copy wallet address] On the right-upper corner of the Near Wallet main page.

Currently, user would have to navigate to the [account] tab in order to find the forementioned button.

[2022-04-28 05:54] RubyJiao commented on #2617
@marcinbodnar Before: when you are redirected to sign a TX in the wallet (e.g. ref swap) and you have ledger already connected. But now users have to connect ledger every time which is a little annoying. Can we fix it like before?

[2022-04-28 16:22] marcinbodnar commented on #2617
@RubyJiao Before the new active ledger transport (that is available now) it was available only in firefox, and establishing a connection wasn't necessary - it was connected constantly. Right now the connection needs to be established on every browser session, and when you are redirected to the Wallet from app the new session is always created. I'm not sure if there is a way to handle it differentl

[2022-04-29 03:27] RubyJiao opened #2625 ""Recent activity" shows nothing"
**Problem**
Cannot see related tranctions on "Recent activity"
![1651202646(1)](https://user-images.githubusercontent.com/87597805/165880964-77af75e4-9b62-4c00-b73a-e5df7c3a9b33.jpg)

**Expected Behavior**
It shows like before.

[2022-04-29 09:26] gutsyphilip commented on #2620
Thanks for opening this issue @DRIX-dot. We have added this to our backlog and will follow up as necessary.

[2022-05-02 06:03] crypto-credit commented on #2267
Any update on when to expect the Italian version to be available?

[2022-05-05 12:41] SerDorosh opened #2634 "Undefined localization for a "Wallet" page"
After git pull the master commit ([a753384](https://github.com/near/near-wallet/commit/a7533840a5194ce990c9bbc92fd98b7d0a545efb)) the main page (Wallet.js) crashes.
When the function “getCurrentLanguage” is called it return “currentLanguage.code = undefined”.
![image-20220428-114052](https://user-images.githubusercontent.com/88776413/166918385-7816d5e6-9d7b-482c-b955-31e0b68cf58f.png)

[2022-05-05 12:46] gutsyphilip commented on #2634
Hi @SerDorosh, Thanks for opening this issue. The linked commit however doesn't seem to have any relation to the displayed error. It'd be great if you can share more context on this as replicating is an issue.  Happy to jump on a call to take a look if necessary.

[2022-05-05 17:10] SerDorosh commented on #2634
I found a problem. It was my local problem, and I solved it.  Sorry for disturbing.

[2022-05-06 10:32] RubyJiao opened #2638 "Enabled an unavailable email for 2fa"
**Problem**
Some users enabled an unavailable email for 2fa and they can do nothing with their accounts. They cannot disable or change 2fa as well because they cannot verification code.

**Expected Behavior**
Make sure email for 2fa enabled only once users enter a right verification code sent to an available email.

**Steps to reproduce**

1. set an email A(sometimes which may be a wrong address b

[2022-05-08 19:22] Solniechniy opened #2646 "HAPI integration"
## Problem
There is a problem with managing addresses that are under regulations during sanctions, scams, and so on.

#### What are we planning to do about it?
Integrate the HAPI protocol into the near wallet, which allows checking the address before sending the funds and displaying the information about it.

#### Job Story(s)
- User wants to send funds to another address. While entering the addre

[2022-05-09 11:32] RubyJiao commented on #2589
@esaminu It seems not work with 2fa enabled. Could you enable 2fa and test again?

[2022-05-10 07:24] RubyJiao opened #2649 "error: 2FA request expired, please try again"
**Problem**
Some users faced the error and cannot enable 2fa
![image](https://user-images.githubusercontent.com/87597805/167570923-67ca9d17-a5b1-4255-8138-035eca3d11a8.png)

**Expected Behavior**
Users can enable 2fa

**Steps to reproduce**

1. input an email address as 2fa
2. input the code sent to their email
3. face this error and cannot enable 2fa

[2022-05-10 17:41] andy-haynes commented on #2649
2FA codes expire after 30 minutes. How long after receiving the code are they trying to use it?

The workaround here would be to use the `Resend your code` option in the screenshot and use it immediately.

[2022-05-11 03:26] RubyJiao opened #2656 "Cannot use ledger to make swap on ref.finance"
**Problem**
Cannot use ledger to make swap on ref.finance

**Expected Behavior**
Can use ledger to make swap on ref.finance

**Steps to reproduce**
1. swap any tokens on ref.finance
2. connect ledger
3. the error appears
<img width="1519" alt="unknown error (0x6990)" src="https://user-images.githubusercontent.com/87597805/167763099-7ee52a78-1729-4f94-a41f-b162d49ac19c.png">

[2022-05-11 03:46] andy-haynes commented on #2649
This account doesn't actually have an email address set as a recovery method or 2FA, so I don't know how they're seeing the email in the screenshot. They do have 2FA set up, but with a phone number. Any security code they're getting in an email is not going to work.

This user should reach out to support, we can reset their 2FA if they escalate through private channels.

[2022-05-11 04:07] andy-haynes commented on #2649
Never mind I see the issue now, we'll get a fix out ASAP

[2022-05-11 10:10] #2200 closed

[2022-05-11 10:10] #2557 closed

[2022-05-11 15:44] mattlockyer opened #2657 "Select HD Path for Enable Ledger on Existing Account"
**Problem**

Enable Ledger uses default HD Path, no option to change like in recovery.

When securing with Ledger user should be able to choose HD Path. This changes the keypair used to secure the account. Since some people could use key inspection to identify accounts e.g. where was this key also used, **this is a major privacy issue for some people.**

**Expected Behavior**

Should be able to se

[2022-05-11 15:44] mattlockyer commented on #2656
<img width="633" alt="image" src="https://user-images.githubusercontent.com/321340/167891868-e2903b3b-cea7-486f-9ce1-c4e96a9e3eee.png">

[2022-05-11 16:39] gutsyphilip commented on #2657
Hi @mattlockyer. Thanks for raising this. I'll push an update that fixes this shortly.

[2022-05-11 18:28] #2638 closed

[2022-05-12 00:19] andy-haynes commented on #2638
@RubyJiao I tested this out after applying the fix and it seems to be working now. Please let me know if you continue to see this behavior.

[2022-05-12 01:50] RubyJiao commented on #2638
@andy-haynes Thanks for fixing. Will the previously enabled wrong email be automatically removed?

[2022-05-12 02:07] andy-haynes commented on #2638
@RubyJiao unfortunately we can't fix that data retroactively. If the user has 2FA enabled but the email address is still incorrect then they will need to escalate to support to have the email address corrected.

[2022-05-12 17:33] marcinbodnar opened #2665 "The main menu takes up too much space"
With additional buttons (`Donate to Ukraine` and `Buy $USN`) the main menu is much too wide. It doesn't fit in browser windows smaller than 1460px width with 100% size. With an even lower width account id is not visible and the submenu becomes unaccessible.

![image](https://user-images.githubusercontent.com/36210360/168134041-30baab72-c2ee-46ef-8a01-380d4a6902ff.png)

[2022-05-13 14:00] ilblackdragon opened #2671 "Warning user transacting with a contract with full access key"
## Story

As a user who interact with a contract that has full access key, user must be warned about that to prevent user loosing funds.

## Acceptance Criteria

- [ ] User is warned that contract has full access key when interacting with a contract

[2022-05-13 14:03] ilblackdragon opened #2672 "User should be not allowed to stake to account/contract with full access key"
## Story

As a user who stakes, I want to be not allowed to staked to a contract/account that has full access key so I won't loose the funds.

## Acceptance Criteria

- [x] User is blocked from staking to the account/contract that has a full access key

[2022-05-13 14:41] #2543 closed

[2022-05-13 15:36] sept-en opened #2674 "Validator tokens unstaking: add warning"
## Story

As a USER who farms FT tokens, I want to know if I might lose my farming rewards so I can claim rewards before unstaking from the validator.

## Acceptance Criteria

- [ ] The warning on the requirement of claiming tokens before unstaking (or actually withdrawal of the unstaked NEAR tokens) is displayed on the [unstaking landing page](https://wallet.near.org/staking/aurora.pool.near/unst

[2022-05-13 22:52] andy-haynes commented on #2625
Recent transactions are available again.

[2022-05-13 22:52] #2625 closed

[2022-05-14 06:54] paouvrard opened #2675 "Incorrect order of dapp transaction actions ?"
**Problem**
When transferring $NEAR from NEAR network to Aurora, $NEAR is wrapped to wNEAR (`near_deposit`) then transferred (`ft_transfer_call`).
Clicking on `+ More information` the first time, the actions are in the wrong order:
![image](https://user-images.githubusercontent.com/29397451/168414233-92553193-5609-4c66-a7ae-f2bb59adbcbc.png)
Going back and clicking on `+ More information` the 2nd

[2022-05-16 00:32] agileurbanite commented on #2671
@morgsmccauley can you take a look at this issue at your earliest?

[2022-05-16 00:34] agileurbanite commented on #2672
@ilblackdragon even if this is prevented by the wallet can't this be circumvented using the CLI or making a POST request to RPC?  We will prioritize on our end but should we reach out to respective projects to prevent users across the board?

[2022-05-16 00:34] agileurbanite commented on #2672
@morgsmccauley FYI

[2022-05-16 00:35] agileurbanite commented on #2675
@paouvrard thanks for reporting this bug.  Are you open to submitting a PR to address this?  Open to contributions.

[2022-05-16 00:35] agileurbanite commented on #2675
@morgsmccauley as FYI

[2022-05-17 18:57] esaminu commented on #2589
Thanks alot @RubyJiao . This should be fixed in #2680! 😄

[2022-05-18 15:19] marcinbodnar commented on #2671
@agileurbanite Not sure if I understand the issue, right now if the user is asked to add a full access key we are showing info and the user needs to confirm accountId:
![Screenshot 2022-05-18 at 16 35 26](https://user-images.githubusercontent.com/36210360/169078522-3c95e3ed-d409-4234-b224-d5f714827fc4.png)

[2022-05-18 17:01] marcinbodnar commented on #2665
@heycorwin

Sure:
 - Donate: https://github.com/near/near-wallet/pull/2639
 - Buy USN: https://github.com/near/near-wallet/pull/2631

[2022-05-23 16:14] chadoh opened #2691 "mystery: Wrong User Bug"
Last Friday, dozens of people who were trying to participate in the [NearTrees](https://tenk-dao.github.io/neartrees/en/)' free mint saw incorrect accounts after signing in with NEAR Wallet.

* [dannyggc.near](https://explorer.mainnet.near.org/accounts/dannyggc.near) saw account [`e33e…`](https://explorer.mainnet.near.org/accounts/e33ecff38be0f68fbe28b59da9c4fef31691e49806804cfddd235c268dc73081):

[2022-05-23 16:33] chadoh commented on #2691
@MaximusHaximus I met with @Patrick1904 and @willemneal last Friday to investigate this issue, and @Patrick1904 recommended making this issue so that you could help troubleshoot. Any idea of where to look next?

[2022-05-23 18:41] marcinbodnar commented on #2675
I checked the exact same type of transactions and I'm not able to reproduce the bug. Also checked the code where the transaction actions are sorted and everything seems to be working well.

@paouvrard Please check again, if you can reproduce it.

[2022-05-24 06:05] paouvrard commented on #2675
@marcinbodnar Thank you for looking into it. I did some more testing observed that it happens only in Firefox. The same transaction in Chrome doesn't switch the order of actions.

[2022-05-24 11:36] siddharthteli opened #2695 "Near Wallet for local Net"
I am willing to setup near wallet for local net. I changed nodelUrl in config/environmentDefaults/testnet.js file. I have two issues now -

- Wallet extension is .test net which should be .near for local net.
- You must provide a blockNumber within 100 of the most recent block; provided: 65567, current: 90651773, which means by default its looking block height from test network.

Can you guys help

[2022-05-24 13:27] cpestano2099 opened #2696 "How to run the frontend application"
Hi, I'm just new here. I'm trying to run the front end application. I have a question, is the browser page supposed to be empty? I used a virtual box and linux OS since the app only seems to run on a linux environment.  Could it be because it could not load the source files?

1. Installed a Oracle VM Virtual Box
2. Download ubuntu linux OS.
3. Install nodejs
4. install yarn
5. run app using yarn &

[2022-05-25 13:39] hanakannzashi opened #2702 "Lack risk statement for FullAccessKey approvement"
**Problem**
When **using batch transaction API** for an **AddKey** action, Even if it is **FullAccessKey**, there will be no risk statement on Near Web Wallet. This increases the risk of users being phished by malicious dapps.

<img width="438" alt="code" src="https://user-images.githubusercontent.com/95295094/170275496-d7119bd8-a000-47fb-a58a-21de02819fd3.png">
<img width="534" alt="wallet" src="

[2022-05-26 10:10] brefchan opened #2704 "requestSignIn method returns a strange callback URL"
**Problem**
When I used the requestSignIn method, it was weird to call back the URL if the success_url format was passed in hash mode

**Expected Behavior**
When the url of the incoming method is"https://localhost:8888/#/success",I want to get callback url is "https://localhost:8888/#/success?accountId....."
but I got "https://localhost:8888/?accountId...../#/success" or "https://localhost:8888/#/

[2022-05-30 17:38] #2634 closed

[2022-05-30 17:56] marcinbodnar opened #2710 "Add indicator showing that the Wallet data is being updated"
We are getting closer to a moment where we will be persisting all wallet data from the previous session - the result will be that the user will see data from the previous session while entering Wallet or switching accounts.

With that, we would need some kind of indicator that will show the user that the data is being updated.

For example:
The user has two accounts in Wallet. Sends Near from the

[2022-05-31 23:17] andy-haynes commented on #2695
Hey @siddharthteli, currently I don't think we have good support for local development (as I imagine you are now familiar).

I believe the intention here would be to specify `NEAR_WALLET_ENV` as `development` rather than `testnet`. Could you try modifying `config/environmentDefaults/development.js` instead to use the configuration that works for local development? Then you'll need to bundle using

[2022-05-31 23:21] andy-haynes commented on #2696
Hey @cpestano2099 I think the issue here is that the `NEAR_WALLET_ENV` variable is not set. Can you please try running step #5 as `yarn && NEAR_WALLET_ENV=testnet yarn start` instead please?

I'll update the documentation to make the run command more clear.

[2022-06-03 15:00] marcinbodnar opened #2719 "Problem when we are not able to load account data"
When the user has an active account, and for any reason, we cannot load the account data, weird things start to happen. First thing is that the balance is showing `0` instead of the loader. Additionally, if the user changes the route, the balance is loaded, but the USD value is not showing. Also, the account page looks like for zero balance account.

[2022-06-03 16:28] #2267 closed

[2022-06-03 16:36] #2675 closed

[2022-06-03 20:09] andy-haynes commented on #2696
Documentation updated in #2713

[2022-06-03 20:09] #2696 closed

[2022-06-03 20:15] #2585 closed

[2022-06-03 20:38] #2578 closed

[2022-06-06 07:46] RubyJiao commented on #2589
@esaminu It still does not work.

[2022-06-06 14:26] Nakameowdough commented on #2445
Can we please add the FTX options to the wallet for other places to purchase NEAR.

[2022-06-06 15:35] esaminu commented on #2589
@morgsmccauley any ideas?

[2022-06-06 18:13] agileurbanite opened #2722 "UX Fix: Importing implicit accounts with zero balance ux"
https://www.loom.com/share/0685ac66114640b1a9df27920ac56168?replyToComment=8707792

Ryan recommends:

[2022-06-06 18:16] agileurbanite commented on #2722
@nall-near can you take a look at the above request? FYI @Patrick1904

[2022-06-06 19:47] nall-near commented on #2722
Hi @agileurbanite, I took a look and reworked the copy a bit. Would appreciate yours + @heycorwin feedback. Next step is removing the console error window (top right align).
![image](https://user-images.githubusercontent.com/103140483/172236346-b5b25bf3-1678-499e-a209-15443a5a7c85.png)

[2022-06-06 19:55] heycorwin commented on #2722
Just a thought/question: If a user has a valid passphrase, that means they posses the private key for an account. The account either contains funds or it does not, but regardless, they own the account by way of owning its private key. Why not just import the account in any case and not worry about displaying this confusing messaging? The reality is that an account will _always_ be "found" as long

[2022-06-06 20:03] nall-near commented on #2722
Great points @heycorwin. Would also prefer to just avoid the message entirely. It seems like it might be there specifically to address the "hey man, you need to fund/use this thing" agenda.

The main thing I would want to address if required would be the difference between an inaccurate passphrase and account not found on the chain. Curious if the "we can't find your account" comes after some sort

[2022-06-06 21:45] heycorwin commented on #2722
I believe seed phrase validation was something we also had an issue for and were planning on implementing after the implicit account stuff had been completed. @Patrick1904 can confirm.

[2022-06-07 05:42] siddharthteli commented on #2695
@andy-haynes , Yes i am modifying development.js now. Also,I cannot confirm if local near wallet is working fine, till i have a working local near contract helper & explorer.But whenever I have a  working one  will surely submit a PR.

[2022-06-07 14:09] #2620 closed

[2022-06-07 14:14] Patrick1904 commented on #2722
The seed phrase validation has been implemented and currently checks whether the provided seed phrase is valid according to [bip39-light](https://www.npmjs.com/package/bip39-light). The error toast will show if the provided seed phrase is invalid and cannot be used in the near wallet.

<img width="1121" alt="Screen Shot 2022-06-07 at 10 13 30 AM" src="https://user-images.githubusercontent.com/2492

[2022-06-07 16:09] think-in-universe opened #2729 "Newly created account on testnet cannot be imported into wallet again"
**Problem**
The newly created account on testnet cannot be imported into wallet again in another browser session.

When try to import the new account with seed phrase, the below error were met.

<img width="506" alt="image" src="https://user-images.githubusercontent.com/46699230/172428885-9dd76496-b1d5-4ab0-a306-035a5ebf6bcb.png">

**Expected Behavior**
The newly created account on testnet wallet,

[2022-06-07 16:43] Shane-Neeley commented on #2691
The team said a potential issue could be in github pages hosting, and they've switched to recommending CloudFlare hosting. I don't see that mentioned here. Is there any more guidance on that? We're not minting until a couple months so we're just watching this issue. Thanks.

[2022-06-07 17:53] andy-haynes commented on #2729
@think-in-universe It's working fine for me and I don't see any errors being returned from the indexer over the last 12 hours in testnet. Is it still happening for you?

Next time you see this and are able to reproduce it consistently, please include the network response data from your browser's development console. The response from our service may contain more details we can use to determine the

[2022-06-07 18:27] andy-haynes commented on #2729
Using the public key from the attached screenshot I was able to verify that the key does exist in testnet by querying the indexer directly. In this case I think it was likely an intermittent issue with the testnet indexer that has since been resolved. Feel free to re-open if the issue starts happening again.

[2022-06-07 18:27] #2729 closed

[2022-06-07 18:36] Patrick1904 commented on #2657
@gutsyphilip I believe this has been fixed? Can you please confirm and close this issue?

[2022-06-08 10:04] think-in-universe commented on #2729
@andy-haynes  thanks.

yeah. I think it's temporary issue. now it's working.

[2022-06-08 16:49] Patrick1904 commented on #2719
@marcinbodnar do you happen to have steps to reproduce the above behavior?

[2022-06-08 17:24] marcinbodnar commented on #2719
You can just throw an error in `loadAccount` method.

[2022-06-08 20:14] #2719 closed

[2022-06-08 20:58] andy-haynes commented on #1775
Since Chrome now has ledger support I believe we are good to close this out. Please leave a comment here if that's not the case.

[2022-06-08 20:58] #1775 closed

[2022-06-08 22:50] #2256 closed

[2022-06-08 22:50] #2564 closed

[2022-06-09 13:20] nall-near commented on #2722
**Design Changes**

- Remove both the console error and modal warning when user's try to import accounts not found on chain.
- Continue with import if passphrase is valid, importing implicit account
- Display modal window after timeout explaining that their account was imported using attached details
![account imported](https://user-images.githubusercontent.com/103140483/172856670-73827cf6-131c-4d

[2022-06-10 00:34] andy-haynes commented on #2536
It doesn't look like we reference this endpoint anymore. The constraint around requiring that an account exists was primarily tied to funded accounts, which have been deprecated. Now that we've migrated from Postgres to DynamoDB we actually no longer have a good use for that `accounts` table at all.

The original issue was definitely problematic and a data issue related to not having a single sour

[2022-06-10 00:34] #2536 closed

[2022-06-11 00:08] hcho112 commented on #2610
I believe this problem has been solved by UI improvements that has been released lately.
<img width="596" alt="image" src="https://user-images.githubusercontent.com/6027014/173164405-c8557bab-9793-46f8-873c-8ba544785fb7.png">
![image](https://user-images.githubusercontent.com/6027014/173164415-40d6d70c-c2ef-4442-861f-4729f94f5fb2.png)

values are retained to corresponding selected coin type before

[2022-06-11 00:08] #2610 closed

[2022-06-13 14:59] #2722 closed

[2022-06-13 16:57] #2069 closed

[2022-06-14 02:08] hcho112 commented on #2704
Hey @brefchan,
I got it working by adding `s` next to `success_url` on second your case. Can you try as well?
if you are running local wallet instance at port 8888:
[link](https://wallet.testnet.near.org/login/?referrer=dao&contract_id=genesis.brefdao.testnet&success_url=https%3A%2F%2Flocalhost%3A8888%2F%23%2Fsuccess&failure_url=https%3A%2F%2Flocalhost%3A8888%2F%23%2Ffail&app_url=https%3A%2F%2Floc

[2022-06-15 17:40] #2672 closed

[2022-06-15 18:40] #2086 closed

[2022-06-16 00:08] BenKurrek opened #2755 "Bumping Linkdrop Attached GAS"
I'm currently working on the [linkdrop proxy](https://github.com/near-examples/linkdrop-proxy) contract which allows for NFTs, FTs, and arbitrary function calls to be executed upon claiming a linkdrop. Currently, 100 TGas is being attached to the `claim` and `create_account_and_claim` functions which has made it extremely tight when writing the logic and creating interesting onboarding experiences

[2022-06-16 13:48] judith-Near commented on #2755
I think this should be fine, if a user attaches more gas than the gas used then the system sends a refund -- you can see this in the refund receipt in the transaction execution plan. We still shouldn't go too high on the gas, because it might not be refunded the exact amount back, but 150 or 200 TGas should be fine.

[2022-06-16 14:11] #2704 closed

[2022-06-16 15:45] BenKurrek commented on #2755
Awesome should I throw up a PR or is that something y'all handle?

[2022-06-17 04:23] agileurbanite opened #2759 "TX Gas not respected by wallet when coming from multisafe"
Reported by @mattlockyer

I have a partner using multisafe which sends them to NEAR Wallet to confirm a TX with 300 Tgas attached. It's in the UI when they click more details for the TX.

![image](https://user-images.githubusercontent.com/2501324/174224457-fa36f965-8441-4387-86c7-301a53f3a7f3.png)

However, when they click to sign, it attaches only 30 Tgas (the NAJ default)
Example of them clickin

[2022-06-17 13:22] judith-Near commented on #2759
The 300TGas on that screenshot is the fee limit, not the gas attached. The first issue is that there is no gas attached, so NAJ defaults to 30TGas which for some reason is not enough. The workaround we can give users is to just hit the resubmit button, which this person seems to have done (a successful call happened with 300TGas after the failed transaction linked). The next workaround is to just

[2022-06-17 14:16] mattlockyer commented on #2759
@judith-Near is it a problem with the client e.g. multisafe UI?

Because I've seen TX redirects from other apps that request 100 Tgas, 200 Tgas, and they seem to work.

[2022-06-20 06:27] Solniechniy opened #2761 "Jumbo price service integration"
**Problem**
There are unique tokens whose prices are not shown on the near wallet.

**Expected Behavior**
All prices from jumbo.exchange also have prices

[2022-06-20 13:25] BenKurrek opened #2762 "Collectibles Tab Crashing"
**Problem**
When I navigate to my collectibles tab, I get a blank screen and when opening the console, it looks like a crash. My account ID is `benjiman.testnet`

<img width="1728" alt="image" src="https://user-images.githubusercontent.com/57506486/174611509-e1438bd9-b73d-444b-9dac-1f4be0d3f336.png">

[2022-06-20 14:57] judith-Near commented on #2761
can you list a couple tokens on jumbo.exchange that do not have prices on the wallet?

[2022-06-20 18:17] #2762 closed

[2022-06-20 18:18] judith-Near commented on #2762
addressed by [PR](https://github.com/near/near-wallet/pull/2764)

[2022-06-24 05:20] #2695 closed

[2022-06-27 21:29] #2496 closed

[2022-07-07 19:07] dillchen commented on #2047
chiming in here from @hicommonwealth/commonwwealth that this would drastically improve user experience

[2022-07-13 18:41] esaminu opened #2809 "Add validation to `/login` requiring `success_url` param"
## Bug Description
While conducting my research I was able to achieve an open redirection. The application doesn't sanitize the malicious input. so any anonymous attacker would be able to perform an open redirection attack.

## POC
1. Attacker host/send this link to a victim https://wallet.near.org/login/?failure_url=https%3A%2F%2Fevil.io
2. Victim clicks on it as it's officially near page.
3. As

[2022-07-19 12:13] danielwpz opened #2822 "Wallet API is down"
**Problem**
Many tabs of NEAR wallet cannot load properly, seems its related to https://api.kitwallet.app being down at the moment.

**Expected Behavior**

**Steps to reproduce**

1.
2.

[2022-07-19 14:22] june07 opened #2823 "Wallet always returns errorCode=userRejected regardless of transaction outcome..."
**Problem**

Wallet always returns errorCode=userRejected regardless of transaction outcome...

Is this the problem?  Specifically https://github.com/near/near-wallet/blob/3544aab589850097640cd3861687431076995e66/packages/frontend/src/routes/SignWrapper.js#L109

https://github.com/near/near-wallet/blob/3544aab589850097640cd3861687431076995e66/packages/frontend/src/routes/SignWrapper.js#L109-L115

[2022-07-19 19:27] Patrick1904 commented on #2823
Thank you for reporting this bug @june07 - a fix is being added here: https://github.com/near/near-wallet/pull/2824

[2022-07-19 19:51] #2823 closed

[2022-07-20 09:05] #2047 closed

[2022-07-21 10:53] #2822 closed

[2022-07-21 10:58] danielwpz opened #2832 "Cannot import accounts when running locally"
**Problem**
Hey I tried to run the wallet locally with `yarn start` and got an error when trying to import my account with mnemonics:
`GET https://testnet-api.kitwallet.app/publicKey/ed25519:Dcpb...QzP6aZ/accounts` `404 not found`.

I'm sure the account exists and it is an API error, does the kitwallet API allow access from another origin?

**Expected Behavior**
I can import my account

**Steps to

[2022-07-21 16:11] siddharth-teli opened #2833 "Is near wallet local down?"
**Problem**
I am running near wallet locally, connected to testnet config. After account creation, near balance in dollar is blank, I can't send near token.
![Screenshot from 2022-07-21 21-29-37](https://user-images.githubusercontent.com/107669916/180261742-9009759a-4028-4eee-bf01-06366a7d6be9.png)

**Expected Behavior**
Balance should not be blank. I should be allowed to send near.

**Steps to re

[2022-07-21 16:19] siddharthteli commented on #2832
@danielwpz , Looks like Near has added authentication to kit wallet endpoint. Even basic endpoint `https://testnet-api.kitwallet.app/stakingPools` is not working bro which i have been accessing from long time :sweat: :sweat:

[2022-07-21 16:21] siddharthteli commented on #2832
@danielwpz , Can you also check if you are able to send near tokens & wallet page shows balance in near? More info on issue here - #2833

[2022-07-26 10:28] frol commented on #2586
There is a relevant discussion on NEAR Explorer bug tracker: https://github.com/near/near-explorer/issues/422

[2022-07-26 10:28] #2586 closed

[2022-07-26 11:37] PinkiNice commented on #2646
Implemented in #2840

[2022-07-26 11:38] PinkiNice commented on #2646
Implemented in #2840

[2022-07-26 18:09] Patrick1904 opened #2846 "Use styled checkbox in RiscScoringForm"
**Problem**
`RiscScoringForm.js` is not using styled checkbox

<img width="486" alt="Screen Shot 2022-07-26 at 2 07 44 PM" src="https://user-images.githubusercontent.com/24921205/181079871-9e11ee65-c86b-4e44-b2c7-959c29e3220f.png">

**Expected Behavior**
`RiscScoringForm.js` uses [`Checkbox.js`](https://github.com/near/near-wallet/blob/master/packages/frontend/src/components/common/Checkbox.js) co

[2022-07-26 18:10] Patrick1904 commented on #2846
@followdarko can you please take a look a this?

[2022-07-26 19:12] mpeterdev opened #2848 "Cannot transfer NEAR on testnet. Continue button remains disabled after entering valid recipient"
**Problem**
`Continue` button is not enabled after entering valid recipient address when trying to transfer NEAR on testnet wallet

Reproduced on Brave and Firefox Developer Edition

**Expected Behavior**
Button should be enabled when `Send to` field is validated

**Steps to reproduce**

1. Open testnet wallet
2. Click `Send` button
3. Enter 1 NEAR as amount
4. Click `Continue`
5. Enter valid test

[2022-07-26 19:14] mpeterdev commented on #2848
![Screen Shot 2022-07-26 at 11 45 04 AM](https://user-images.githubusercontent.com/24904709/181092601-87e921cb-60ae-48c7-be30-ed475e76b907.png)

[2022-07-27 16:26] esaminu commented on #2848
Thanks for reporting @mpeterdev ! We reverted these changes yesterday in #2850 while the team works on a fix 😃

[2022-07-27 16:26] #2848 closed

[2022-07-27 16:54] agileurbanite commented on #2646
Wait did security review this service? @PinkiNice

[2022-07-28 01:50] pyramation opened #2858 "is there a diagram explaining how private keys are stored?"

[2022-08-03 23:26] hcho112 opened #2865 "Unable to remove 2FA from near wallet"
**Problem**

Unable to remove 2FA from my account `hcho112.near` and getting this:
<img width="529" alt="image" src="https://user-images.githubusercontent.com/6027014/182729231-5e37efc9-af00-4c44-8963-85d7ffae7f3c.png">

https://explorer.mainnet.near.org/transactions/FC5QGmsiR8SY2dGdpsAZPqGG1pwYKbVeShXUKEm9Z6nv

**Expected Behavior**
Should be able to remove 2FA

**Steps to reproduce**

1.  authen

[2022-08-04 17:20] esaminu commented on #2865
Thanks for reporting @hcho112 . So the reason you're facing this is because we need the current contract state keys to cleanup your account state when you disable 2fa by deploying and calling [`clean` on the cleanup contract](https://github.com/near/core-contracts/blob/master/state-cleanup/src/lib.rs#L17) with the state keys. We need to do this so that you can deploy other code to your account saf

[2022-08-05 04:50] pyramation commented on #2858
@janewang thanks, what is NAJ? This is posted in the repo mentioned, here. Would be great if you can provide some insights or information. Thanks!

[2022-08-10 20:04] Patrick1904 commented on #2809
@esaminu can you please add more info what validation on the `/login` route entails?

[2022-08-10 21:56] marcinbodnar opened #2877 "2FA issue"

[2022-08-11 04:33] srinivasan-nodeworks opened #2878 "Transaction failed"
Hi team,
I try to Transfer 255USDC from my Mainnet near wallet **1ff536295550bbf8a0cc3ccfe660d919ccaf29b62d004adc6013383b4b14ed33** to  this Mainnet Near wallet  **730047a68211b10d914056a256dadcdfb0ca640ae834cade07e592db8a173dbb**
 it shows the transaction is failed, but those USDC gone from my account and receiver also doesn't receive those USDC.  so kindly help me to sort out this problem, and b

[2022-08-15 19:07] #2877 closed

[2022-08-16 18:22] marcinbodnar opened #2885 "User should be aware of the problem and a solution with disabling 2fa"
If the user encounters an issue with disabling 2fa described here:
https://github.com/near/near-wallet/issues/2865#issuecomment-1205549360
https://github.com/near/near-wallet/pull/2880#issuecomment-1216996281

The user should be informed that it's not a permanent error and he should try in 15 minutes.

[2022-08-16 18:24] marcinbodnar commented on #2865
I think we should inform users what type of issue it is, and inform users that there is a need to wait 15 minutes. Added an issue https://github.com/near/near-wallet/issues/2885

[2022-08-18 16:28] Patrick1904 commented on #423
Closing as issue is outdated

[2022-08-18 16:28] #423 closed

[2022-08-18 16:29] Patrick1904 commented on #415
Closing as issue is outdated

[2022-08-18 16:29] #415 closed

[2022-08-18 16:29] Patrick1904 commented on #338
Closing as issue is outdated

[2022-08-18 16:29] #338 closed

[2022-08-18 16:30] Patrick1904 commented on #155
Closing as issue is outdated

[2022-08-18 16:30] #155 closed

[2022-08-18 16:31] Patrick1904 commented on #125
Closing as issue is not under consideration anymore

[2022-08-18 16:31] #125 closed

[2022-08-18 16:31] Patrick1904 commented on #96
Closing as issue is outdated

[2022-08-18 16:31] #96 closed

[2022-08-18 16:32] Patrick1904 commented on #64
Closing as issue is outdated

[2022-08-18 16:32] #64 closed

[2022-08-18 16:32] Patrick1904 commented on #62
Closing as issue is outdated

[2022-08-18 16:32] #62 closed

[2022-08-18 16:33] Patrick1904 commented on #75
Closing as issue is outdated

[2022-08-18 16:33] #75 closed

[2022-08-18 16:34] Patrick1904 commented on #722
Closing as issue is outdated

[2022-08-18 16:34] #722 closed

[2022-08-18 16:35] Patrick1904 commented on #667
Closing as issue is outdated

[2022-08-18 16:35] #667 closed

[2022-08-18 16:36] Patrick1904 commented on #473
Closing as issue is outdated

[2022-08-18 16:36] #473 closed

[2022-08-18 16:36] Patrick1904 commented on #456
Closing as issue is outdated

[2022-08-18 16:36] #456 closed

[2022-08-18 16:38] #1152 closed

[2022-08-18 16:38] Patrick1904 commented on #1121
Closing as issue is outdated

[2022-08-18 16:38] #1121 closed

[2022-08-18 16:40] Patrick1904 commented on #889
Closing as issue is outdated

[2022-08-18 16:40] #889 closed

[2022-08-18 16:40] Patrick1904 commented on #823
Closing as issue is outdated

[2022-08-18 16:40] #823 closed

[2022-08-18 16:40] Patrick1904 commented on #809
Closing as issue is outdated

[2022-08-18 16:40] #809 closed

[2022-08-18 16:41] Patrick1904 commented on #773
Closing as issue is outdated

[2022-08-18 16:41] #773 closed

[2022-08-18 16:42] Patrick1904 commented on #1510
Closing as issue is outdated

[2022-08-18 16:42] #1510 closed

[2022-08-18 16:43] Patrick1904 commented on #1389
Closing as issue is outdated

[2022-08-18 16:43] #1389 closed

[2022-08-18 16:44] Patrick1904 commented on #1333
@marcinbodnar I remember you were looking into this a while ago, did we ever get this fixed?

[2022-08-18 16:46] Patrick1904 commented on #1278
Closing as issue is outdated

[2022-08-18 16:46] #1278 closed

[2022-08-18 16:47] Patrick1904 commented on #1259
Closing as issue is outdated

[2022-08-18 16:47] #1259 closed

[2022-08-18 16:48] Patrick1904 commented on #1826
Closing as issue is outdated

[2022-08-18 16:48] #1826 closed

[2022-08-18 16:51] Patrick1904 commented on #2045
Closing as issue is outdated

[2022-08-18 16:51] #2045 closed

[2022-08-18 16:52] Patrick1904 commented on #2033
Closing as issue is outdated

[2022-08-18 16:52] #2033 closed

[2022-08-18 16:52] Patrick1904 commented on #1996
Closing as issue is outdated

[2022-08-18 16:52] #1996 closed

[2022-08-18 16:54] Patrick1904 commented on #2217
Closing as issue is outdated

[2022-08-18 16:54] #2217 closed

[2022-08-18 16:55] Patrick1904 commented on #2171
Closing as issue is outdated

[2022-08-18 16:55] #2171 closed

[2022-08-18 16:56] Patrick1904 commented on #2138
Closing as issue is outdated

[2022-08-18 16:56] #2138 closed

[2022-08-18 16:56] Patrick1904 commented on #2089
Closing as issue is outdated

[2022-08-18 16:56] #2089 closed

[2022-08-18 16:57] Patrick1904 commented on #2071
Closing as issue is outdated

[2022-08-18 16:57] #2071 closed

[2022-08-18 16:58] Patrick1904 commented on #2402
Closing as issue is outdated

[2022-08-18 16:58] #2402 closed

[2022-08-18 16:58] Patrick1904 commented on #2400
Closing as issue is outdated

[2022-08-18 16:58] #2400 closed

[2022-08-18 18:43] marcinbodnar commented on #1333
@Patrick1904 It was a different issue. You might be referring to this issue https://github.com/near/near-wallet/issues/2672 or this one https://github.com/near/near-wallet/issues/2671

[2022-08-22 13:45] roshaans opened #2887 "Language Select Option in Migration Flow"
**Problem**
Users should have an option to select from a few languages rather than just English.

**Expected Behavior**
A dropdown with option to select languages similar to how Near-wallet does it
<img width="200" alt="image" src="https://user-images.githubusercontent.com/25015977/185935806-d8c8aa48-fdae-4dc2-b2a0-f5d009ac46a5.png">

___
Speaking of which we should probably include a language sel

[2022-08-22 17:10] #2468 closed

[2022-08-29 15:02] roshaans commented on #2865
Majority of times that we will get the `State of contract ... is too large to be viewed` error will be when a user tries to go through the Disable Multisig flow, but instead of verifying the code, cancels it.

As @esaminu mentioned, the error comes from the fact that the state on the account is over >50 Kb because we must deploy the contract state cleaner contract as part of the request to disable

[2022-08-30 16:59] PinkiNice opened #2891 "Allow forks to set their own Netlify"
**Problem:**
Forked repo may want to set-up their own Netlify account to benefit from preview and staging deploys.

Existing [netlify.toml](https://github.com/near/near-wallet/blob/96e1b6aad8e17280c99285d7a4f753080b106890/packages/frontend/netlify.toml#L19) works against this idea.
Config forces some environment variables and those can not be overriden from Netlify UI.
This makes netlify setup imp

[2022-09-02 23:54] #2885 closed

[2022-09-06 20:22] followdarko opened #2905 "Reduce LandingBackground from js bundle"
**Problem**
There is huge 228kB static svg in main bundle according to bundle analyzer called LandingBackground.js

**Expected Behavior**
Separate it into single svg file and include it via `img` tag

**Steps to reproduce**
<img width="603" alt="Screenshot 2022-09-06 at 23 18 11" src="https://user-images.githubusercontent.com/7001916/188730912-562c8572-9a7e-4b54-be19-ebffaeb45291.png">

[2022-09-10 22:07] trezbouchez opened #2912 "Wallet callback URL meta query parameter may be incorrect"
This may be intentional, however looking at the code I think this is probably a bug:

**Problem**

When client passes meta to the transaction the callback URL query parameter is named 'signMeta'.

**Expected Behavior**

Should probably be just called 'meta'.

**Steps to reproduce**

1. Have the wallet sign a transaction and pass some meta to the RequestSignTransactionsOptions
2. Once the wallet do

[2022-09-16 02:58] hanakannzashi commented on #2326
it seems does not be resolved @stefanopepe

[2022-09-19 09:59] Likbes opened #2918 "Redirect user to application for failed transaction"
**Problem**
I just encountered that after an unsuccessful transaction, the wallet did not redirect me back to the application. In my application, I would like to make the ability to "try again" with updated data so that a new transaction is more likely to be successful.

I mean that with a successful transaction, the user is redirected back to the application, but not with an unsuccessful transact

[2022-09-19 13:48] roshaans commented on #2918
Can you please provide a concrete example of this?

I tried to cancel a transaction once redirected to the Near Wallet from a dapp and it took me back to the Dapp page.

I also simulated a failed transaction from the Near Wallet from a dapp and it also successfully took me back to the Dapp.

This seems like it would be dependent on the client and what they specified for the callbackURL when callin

[2022-09-19 17:41] Likbes commented on #2918
I'm afraid that it may not be clear to the user what he needs to do in case of an error.
For me personally it was not obvious that in case of an error I should press "cancel".
It seems to me that to improve the UX of a Dapp, the error handles themselves should be handled and in order to implement this behavior, I want to ask you to add this feature (optional ability to redirect user to Dapp even i

[2022-09-20 13:48] artem-wombi opened #2919 "It it possible to fetch walletID via JS"
I'd like to fetch a wallet id with JS[ similarly to Google Analytics API](https://stackoverflow.com/questions/20053949/how-to-get-the-google-analytics-client-id)

[2022-09-21 07:42] roshaans commented on #2919
Hey @artem-wombi, I don't think I quite understand your question. You may find it helpful to check out [near/near-api-js](https://github.com/near/near-api-js) and the related documentation [here. ](https://docs.near.org/tools/near-api-js/quick-reference#get-authorized-account-id).

[2022-09-21 07:50] roshaans commented on #2865
We resolved this issue by showing a message to the user to wait 15 minutes before attempting another attempt, instead of trying to mitigate the issue on the client side as it would have been a bit of an involved process.

[2022-09-21 07:50] #2865 closed

[2022-09-21 07:50] #2891 closed

[2022-09-21 07:59] roshaans commented on #2833
I would double check the RPC endpoint to see if it was experiencing any disruption or downtime.

[2022-09-21 07:59] #2833 closed

[2022-09-21 08:02] roshaans commented on #2878
@srinivasan-nodeworks were you able to resolve this issue?

[2022-09-21 08:04] artem-wombi commented on #2919
Can I open a dev console on near.wallet.org and somehow obtain my walletId?

[2022-09-21 09:06] srinivasan-nodeworks commented on #2878
still the issue doesn't solve.

[2022-09-21 10:21] roshaans commented on #2919
You can fetch signed in accounts from the local storage of the browser where the user is signed in. Also, just for future reference, please direct these type of questions to the Near Dev Discord Group as we'ed like to keep this place for issues/ feature requests for the wallet only.

[2022-09-21 16:56] Patrick1904 commented on #2691
@chadoh I'm closing this as I think you figured out there was an issue with github pages hosting and unrelated to the wallet? Please re-open the issue if I'm wrong.

[2022-09-21 16:56] #2691 closed

[2022-09-21 16:57] #2657 closed

[2022-09-21 17:00] Patrick1904 commented on #2515
Closing this issue as it's outdated. @RubyJiao please re-open if issue appears again.

[2022-09-21 17:00] #2515 closed

[2022-09-23 11:55] aserafin commented on #1332
@ilblackdragon @mattlockyer I'm sorry to hijack this thread but is there a similar contract to the `lockup-whitelist.near` on the testnet? I found one named `whitelist` but it seems like it returns `false` for most of testnet validators? 🤔

[2022-09-23 19:47] roshaans commented on #2878
Hello @srinivasan-nodeworks, I did some digging into your mainnet account: **1ff5362...3b4b14ed33**

There does not seem to be any USDC transfers into this account. Where did you send these funds to this account from? They may still be sitting there.

You can view your **txs** through this link:
https://nearblocks.io/address/1ff536295550bbf8a0cc3ccfe660d919ccaf29b62d004adc6013383b4b14ed33#transact

[2022-09-27 07:04] srinivasan-nodeworks commented on #2878
You can view this transaction https://nearblocks.io/txns/2veAnsjGia9RLVnJBYHucLvbNBTaWdUsEitLEdCTCzmW#
i already explain my situation here https://github.com/near/near-wallet/issues/2878#issue-1335460783
sorry for the late reply

[2022-09-29 09:11] srinivasan-nodeworks commented on #2878
r u there @roshaans

[2022-09-29 09:46] roshaans commented on #2878
Hey @srinivasan-nodeworks, i'll get back to you with a detailed answer by tonight or early morning tomorrow. Apologies for the delay

[2022-09-30 16:44] nall-near opened #2933 "Add "Unbrick" Account Flow to Disable 2FA from Settings"
Apply [new disable two-factor authentication flow ](https://github.com/near/near-wallet/pull/2926)(with additional check for bricked accounts) from Account Settings.

As a user with a bricked account ("cannot be serialized" error), I want to be able to unbrick my account during the disable two-factor authentication flow invoked from the account settings page.

## Context
- Disable 2FA flow was rec

[2022-09-30 16:46] nall-near commented on #2933
@roshaans here's a new issue

[2022-10-03 12:25] #2933 closed

[2022-10-03 13:16] Patrick1904 opened #2935 "2FA disable banner copy cannot be translated"
**Problem**
2FA disable banner copy cannot be translated because of how the string is created. Please see comment here: https://github.com/near/near-wallet/pull/2929#discussion_r985747585. You may need to split the string into several parts to handle it.

**Expected Behavior**
Additional languages are supported

[2022-10-03 18:04] Patrick1904 opened #2940 "Remove ability for any user to enable 2FA in the NEAR wallet"
**Summary**
Since the NEAR wallet is currently requiring users to disable 2FA as a prerequisite to account transfer/migration to other wallets, it makes sense to not allow any new users to enable 2FA either.

This UX aligns well with how the wallet treats email/phone recovery, where only existing users of that feature sees the module.

**Solution**
Remove ability for any user to enable 2FA in the

[2022-10-03 19:06] agileurbanite opened #2941 "[Bug] near login with ledger enabled account never resolves in goes in vicious cycle"

[2022-10-03 21:27] #2935 closed

[2022-10-04 10:52] #2940 closed

[2022-10-04 15:52] Ozodimgba commented on #2540
Can I do this?

[2022-10-05 10:18] roshaans commented on #2878
Hello @srinivasan-nodeworks, I had a colleague of mine look through the problem as well. They also think that you account **1ff536295550bbf8a0cc3ccfe660d919ccaf29b62d004adc6013383b4b14ed33** did not have any USDC to begin with. The transactions you are seeing are failing because of the error message that your recipient address is not a registered account, which might have been true, but it is also

[2022-10-05 11:48] srinivasan-nodeworks commented on #2878
thank you for the response @roshaans
i create the account and then it shows to register account, in that time i receive the USDC before registration, that's the main problem

[2022-10-05 15:14] BenKurrek commented on #2755
bumping gas is not needed and should not be done. Everything right now works with 100 TGas. If we bump the gas, the access key allowance for all keys will go up significantly which means higher upfront costs for users.

In the far far future, however, if we want to add much more complicated scenarios like transferring many different FTs and NFTs in the same key use, we could allow the Gas attached

[2022-10-05 15:14] #2755 closed

[2022-10-12 09:26] AngelBlock opened #2951 "Displaying pool.near farm APY is confusing for end users and incorrect"
## Story

This is our feedback from chatting with a few users, after we launched the new pool.near validator with farm a week ago, details here:  https://link.medium.com/4NeqSjs0Otb

A user goes to Staking in Wallet, select validator and view the details:
<img width="561" alt="Screenshot 2022-10-12 at 10 10 10" src="https://user-images.githubusercontent.com/80400686/195301436-1547804a-f5eb-4c4a-9e

[2022-10-16 21:38] hcho112 opened #2953 "Wallet Migration: Sender Wallet fail to migrate account(s)"
**Problem**
Failure on testing wallet migration on testnet environment, transferring one account towards to Sender Wallet.
(Resulting on seeing 404 from Sender's wallet)

**Expected Behavior**
Able to transfer account to Sender Wallet as described in #2883

**Steps to reproduce**

1.  Run ` NEAR_WALLET_ENV='development' yarn run start `
2.  Click `Transfer My Accounts` button on top banner.
![imag

[2022-10-16 21:39] hcho112 commented on #2953
CC @AmazingBeerBelly

[2022-10-27 10:26] roshaans opened #2959 "Refactor: UI Issues and refactoring"
There are many components in the migration flow modals that we are reusing. Such as `ButtonsContainer`, `StyledButton`, `Container`

It would be great to refactor that out into a styled-components folder.

**Some comments by Patrick on things to keep in mind when doing this UI refactoring**

- Avoid setting a width on buttons like this and instead utilize flexbox or similar for button layout? [Lin

[2022-11-01 07:45] #2324 closed

[2022-11-01 07:46] #2325 closed

[2022-11-01 07:48] #2341 closed

[2022-11-01 07:48] #2326 closed

[2022-11-14 21:47] agileurbanite opened #2974 "NEAR CLI and wallet.near.org deprecation warning"
Today I saw this message on my wallet:
![image](https://user-images.githubusercontent.com/2501324/201773749-72e5760c-e62b-4e55-a00e-30db60cdeb0a.png)

This is concerning as "Soon" is not defined nor is there a reference to when soon will be, a blog post would be helpful.

Also, I heavily use near-cli (https://github.com/near/near-cli) to execute `near login` which opens wallet.near.org or wallet.t

[2022-11-17 17:52] agileurbanite commented on #2974
Bump @Patrick1904

[2022-11-17 17:59] Patrick1904 commented on #2974
Great feedback @agileurbanite - we'll incorporate this feedback in regards to messaging before launching this on wallet.near.org/mainnet.

@janewang can you please shed some light on what the long-term strategy for CLI and wallet interactions will look like? The CLI is currently dependent on the NEAR wallet to allow CLI login. I can see the potential for wallet.near.org still serving as the 'hub'

[2022-11-18 19:52] Caruso33 opened #2978 "Wallet Crashes when Collectible's underlying contract doesn't exist"
**Problem**
The wallets ( testnet.mynearwallet.com & wallet.testnet.near.org)  crash when it looks for collectibles which underlying contract doesn't exist anymore:

[code]

It results in a blank page. The wallet crashes completely.

**Expected Behavior**
I guess skip collectibles which can't be queried from the original contract.

**Steps to reproduce**

1. Create a nft contract
2. Mint tokens on