[2021-02-01 22:44] marcinbodnar opened #1401 "Improve Wallet efficiency by fetching balance only in particular situations"
The idea is not to fetch for balance every time the page is changed, but instead take it at the beginning, and then fetch it only if particular actions appear (that actually changes the balance).

Fetching balance on every page change was good before staking, now to calculate the total wallet balance we need to fetch main account staking and lockup account staking, which takes longer. But total ba

[2021-02-02 09:03] vgrichina commented on #1372
@abacabadabacaba how does that work, would this still match 1 public key?

[2021-02-02 17:24] Patrick1904 commented on #1309
@marcinbodnar can we please persist account selection for page refresh and if the user navigates to let's say profile, and then back to staking again. We can use localStorage.

[2021-02-02 18:15] abacabadabacaba commented on #1372
It is possible to implement *m*-of-*n* generation of Ed25519 signatures such that the verification algorithm is unchanged (that is, anything that can verify a regular Ed25519 signature can also verify a signature generated in this fashion). In particular, there is a single Ed25519 public key that is used for verification.

For this to work, the key holders need to run two interactive algorithms: o

[2021-02-03 08:23] #1309 closed

[2021-02-03 18:32] jimmy3dita opened #1411 "Measure the success of the new onboarding flow"
Check if our changes to the onboarding journey were successful:
How we can further improve it?
What are the yet unsolved issues?

[2021-02-03 18:33] jimmy3dita commented on #1411
Evaluate if changing the account ID is commonly adopted

[2021-02-04 00:05] Patrick1904 commented on #1305
@corwinharrell do you have any ideas how we should format the account ID in these situations? I don't really see how we'd get around it.

[2021-02-04 00:08] vgrichina commented on #114
@marcinbodnar so based on current state looks like following components are still used from semantic-ui-react:

- [ ] Image
- [ ] Button
- [ ] List
- [ ] Form
- [ ] Segment
- [ ] Grid
- [ ] Header
- [ ] Container
- [ ] Divider
- [ ] Popup
- [ ] Modal
- [ ] Responsive
- [ ] Input

I think we need to determine which of these we want to re-implement in wallet (probably makes sense for most commonly u

[2021-02-04 01:00] #1394 closed

[2021-02-04 01:11] Patrick1904 commented on #114
@vgrichina thanks for doing the audit. The Popup is the main component still missing. It'll take a few days to replace/remove the remaining semantic-ui-react stuff. I'll make sure to prioritize this better. @marcinbodnar we can coordinate async.

[2021-02-04 16:01] corwinharrell commented on #1305
@Patrick1904 a couple easy wins to start:

1. I don't think it needs to be so big. In the original design for the delegation flow, this type is 24px. On prod it's currently 28. That would give us a bit more breathing room. Once we have figured out a sensical way to concatenate long addresses, I think this is our best bet.

2. I know we removed the `@` for usernames. Is there a reason that persists

[2021-02-04 23:13] marcinbodnar commented on #114
@Patrick1904 sure, at this moment I have a lot of things on my plate, that are a bit urgent. But I will have that in mind, I can handle it whenever there will be nothing more urgent.

[2021-02-04 23:50] marcinbodnar opened #1419 "Whether the lockup account exists is checking on page load and every page change"
We should check if a lockup account exists only when needed.

[2021-02-05 00:23] Patrick1904 commented on #114
Yep totally I'll be able to handle most of this.

[2021-02-05 11:29] ilblackdragon commented on #1101
Just to update here, wallet does work in China but on some networks very slow still - home page sometimes loads for 20-40 seconds.

How about switching to a Cloudflare or some other CDN that is serving data from the edge?

[2021-02-05 20:10] #1272 closed

[2021-02-05 20:10] #1304 closed

[2021-02-05 20:10] #1345 closed

[2021-02-07 11:48] ilblackdragon opened #1425 "Wallet Selection page"
There are already more than one wallet and the number will be growing that support signing NEAR transactions.

We ideally want to offer users an option when they click "Log in" or trying to sign a transaction.

There is more work on how to add this option on the App side, via some form of wallet selection there.

But for any wallet that supports linking (or later QR codes), we can also offer selec

[2021-02-07 14:36] think-in-universe commented on #1101
In my test from Zhejiang, China, the wallet page is accessible from desktop (<5s), but quite slow (>30s) when opening in mobile browser (Chrome on iPhone). I'll collect more performance data tomorrow and share here.

I agree with @ilblackdragon that we may try with Cloudflare if possible.

[2021-02-07 17:40] think-in-universe commented on #1425
The wallet selection is definitely a quick win when the number of wallets growth. The wallet selector is commonly used in Ethereum DApps.

![image](https://user-images.githubusercontent.com/46699230/107154494-26233680-69ae-11eb-8cc1-2a2901844b2b.png)

@marco-sundsk 's initiative https://github.com/marco-sundsk/near-wallet-selector could help.

The wallet selection solution might also serve as a wo

[2021-02-07 23:58] marco-sundsk commented on #1425
To be as shine as the kickback UI pasted by @think-in-universe , there is still a long way to go. For kickback, it is the dapps responsibility to recognize those wallets. That is to say, kickback as a dapp, it knows how to interact with those different wallets, using different interfaces supported by each wallet. That also means the Select page in kickback is an intrusive one, dapp knows every wal

[2021-02-08 00:29] marco-sundsk commented on #1425
From my point of view, the selector page has three job to do:

First, it should get wallets info from a secure place. For this version, we use on-chain contract as the source of information. And the management of this contract can be restrict to special org, like the Fundation or other intuition. And there may have a whole apply-verify action process behind.

Second, there would be a clear communi

[2021-02-08 17:47] kcole16 opened #1427 "Add Zendesk widget"
### Overview
Now that zendesk is more or less setup (and includes a link to Discord if necessary), we can enhance the existing "Help" link with the web widget.

### Acceptance Criteria
- [ ] "Help" in navbar redirects to Help Center:
- [ ] Web widget is installed (code below)

[code]

[2021-02-08 18:03] kcole16 opened #1428 "Default Ledger account can be deleted during account creation"
**Problem**
Creating a new account with a Ledger leads to the deletion of the default HD path address, which may have been in use. This is usually recoverable, but in a rare (hard to reproduce) case can lead to catastrophic loss of NEAR.

**Expected Behavior**
The default account should not be deleted, especially if it already exists on-chain.

**Steps to reproduce**

1. Create a new account with

[2021-02-08 19:17] corwinharrell commented on #1147
_Following is a summary of the proposed initial design changes for the wallet. Note that while the changes being proposed in direct relation to the need to display fungible token balances are few, there are other high level changes being proposed that occur downstream (eg navigation / information architecture). These changes act as the first steps towards improving the overall information architec

[2021-02-08 19:22] corwinharrell commented on #1147
There are certainly some things here up for debate as far as what fits into the scope of this work, so we can certainly adjust or extract work as necessary depending on scope.

[2021-02-08 19:44] jimmy3dita commented on #1147
I agree with the proposed solution.

I have minor concerns/queries on the following items:
- [7]"Relocation of "Approved Apps" from /summary to "Account Settings": we were identifying the list of authorized apps as the low-hanging fruit to onboard new users on the ecosystem (see https://github.com/near/near-wallet-roadmap/projects/1#card-53690963 and #1371 )
- if we have here an opportunity to tre

[2021-02-08 20:02] corwinharrell commented on #1147
Re: "Approved Apps", this list is a list of applications that you have already authenticated and used, and that currently have permission to interface with your wallet account. While related, I view this more as an authentication setting than identical to the issue of creating an opportunity for new users to find apps that they might like to use. In the case of this issue, I'm simply proposing we

[2021-02-08 20:07] ihaid opened #1430 "Confirm 2 transactions with one 2fa code"
**Steps to reproduce**

1. Log in to the account with enabled 2fa
2. Go to /send, enter some amount Ⓝ, click "submit" then "confirm", and leave it with an open 2fa confirmation pop-up window
3. At the same time go to https://corgis.near.org/ and log in to the app
4. Enter the 2fa code from transferring Ⓝ to the authorization window on corgis.near.org

App authorized and send operation confirmed  a

[2021-02-08 21:29] Patrick1904 commented on #1430
@ihaid thanks for finding this! @mattlockyer any idea why this happens? cc @vgrichina

[2021-02-08 21:37] kcole16 commented on #1147
I like the proposed solution!

Re: #7 (authorized apps to `/profile`), we do have the page `/authorized-apps`, and we could consider directing users to this page more explicitly rather than adding this section to the `/profile` page.

Re: token display, we should consider showing the actual token account name as well, as we have the benefit over Ethereum of this name being human readable and poten

[2021-02-08 21:54] corwinharrell commented on #1147
Happy to work this in, although I'm curious to hear articulated what we think the biggest benefit is to displaying outside of a "details" or "metadata" view?

Yes absolutely, I'll have @vgrichina and @Patrick1904 weigh in here. If we think this is out of scope for the proposed timeline, please suggest which elements we think would be best to omit.

[2021-02-08 22:05] vgrichina commented on #1428
Looks like underlying reason for this problem is that `create_account` doesn't fail transaction on failure:
https://explorer.near.org/transactions/7MuUQdmto8LJyY5pKMimWUcL5UK57UN2tVD3mPMfaF8N

[2021-02-08 22:44] Patrick1904 commented on #1147
IMO we should should go with the absolute lowest lift solution this first implementation considering no work has been done so far on this and since we need it in by March 1. It's very soon. We could ship a more fancy v2 a week or two after initial version.

[2021-02-09 00:50] corwinharrell commented on #1147
@Patrick1904 yep I'm on board with this approach. Please specify what you believe should be trimmed / is out of scope.

[2021-02-09 01:26] Patrick1904 commented on #1147
@corwinharrell how about for V0 we implement the portfolio/wallet screen and the activity screen? Also, should we include activity on the wallet page vs stand alone, as it's the 'default' page? Essentially put activity below the secondary assets. Personally I look at the activity feed quite a lot and would prefer to not have to navigate to a separate page for it.

[2021-02-09 01:39] vgrichina commented on #1182
https://maiar.com/#features has good example of using TODO list to make sure that user completes necessary tasks

![image](https://user-images.githubusercontent.com/126710/107303799-9eccd600-6a34-11eb-8c36-dc669121e40d.png)

[2021-02-09 01:53] vgrichina commented on #1147
sorry that this wasn't very clear in https://gist.github.com/vgrichina/f39623e3cc80b3a4d36fc8eb81a49374

but basically we don't really have a master list of tokens
what we have is a list of contracts that user interacted with (and potentially that have been sent to user)

the only part in the data that we for sure can trust is contract account ID

everything besides contract account ID is returned

[2021-02-09 01:59] vgrichina commented on #1147
Token whitelist would solve the security aspect of trusting token symbol. However I think we shouldn't build a system that is only scalable for whitelisted tokens, as it seriously limits adoption of any new tokens. Like basically social tokens won't stand a chance in such system.

This also doesn't scale for our existing apps like Berry Club which have multiple balances per contract.

[2021-02-09 02:07] vgrichina commented on #1147
We also need to look into how to display activity with fungible tokens, as right now these would basically be pretty opaque function calls.

[2021-02-09 02:19] vgrichina commented on #1147
WIP for it on backend is here https://github.com/near/near-contract-helper/pull/322/files

[2021-02-09 18:23] corwinharrell commented on #1147
@vgrichina thanks for the clarification. I was definitely working of an incorrect set of assumptions based on your first example. Here's a thought and a question. It's clear that since the way we access fungible token balances isn't via a whitelist, we can't simply display tokens as they would appear say, on an exchange. There is benefit though to adhering to a similar model when it comes to displ

[2021-02-09 20:29] marcinbodnar opened #1437 "Switching, Recover, Creating account should reset Redux state"

[2021-02-09 20:56] jimmy3dita commented on #1147
I support @corwinharrell 's approach, but we still need to solve the "false BNNA problem", where the user is using a contract claiming to host BNNAs, but they are fake.

[2021-02-10 00:23] #1427 closed

[2021-02-10 01:03] Patrick1904 commented on #1305
Thank you! It's an H1 so font size is dynamic like all other H1's. I adjusted so that 24px is the min vs 28px.

[2021-02-10 02:01] #1305 closed

[2021-02-10 13:45] volovyk-s opened #1442 "Requirements for the account name is not fully described"
**Problem**
The creation of an account with the Account ID that has a length of more than 64 characters is not possible and it is not clarified in the hint. The current hint is:

Your account ID can contain any of the following:
Lowercase characters (a-z)
Digits (0-9)
Characters (_-) can be used as separators

Your account ID CANNOT contain:
Characters "@" or "."

**Expected Behavior**
Users shoul

[2021-02-10 18:46] corwinharrell commented on #1147
Design Complete: https://www.figma.com/file/MOMOnm89esHGC4PMKDBEDw/Fungible-Token-Balances?node-id=0%3A1

[2021-02-10 19:37] marcinbodnar opened #1444 "Staking details on Profile page not loading sometimes"

[2021-02-10 21:34] marcinbodnar opened #1446 "Improve Staking page loading time"

[2021-02-11 00:27] #1444 closed

[2021-02-11 00:57] #1399 closed

[2021-02-11 05:41] #1401 closed

[2021-02-11 05:41] #1419 closed

[2021-02-11 05:41] #1437 closed

[2021-02-12 17:25] Patrick1904 commented on #1147
Note on what this project includes:

1. New total balance and actions (send/receive) on dashboard
2. New Fungible tokens section on dashboard
3. Re-designed 'activity' section on dashboard
4. Re-designed navigation
5. Re-designed 'authorized apps' section - moved from dashboard to profile

[2021-02-12 17:32] corwinharrell commented on #1147
@Patrick1904 @marcinbodnar please be vocal and ruthless about scoping this stuff down. Several of these are not essential to displaying fungible token balances, but rather are downstream changes which we can afford to make after the current sprint. Only commit to what you feel comfortable taking on.

[2021-02-15 06:53] ilblackdragon opened #1453 "Implicit accounts as first-class citizen"
Currently NEAR Wallet has pretty broken flow of funding. There are constant issues with users not understanding and needing to recover funds. This has affected everyone from small to large holders already.

We had this conversation previously, and it was mostly due to us wanting to push for "named" accounts that we are doing this flow. At the same time, we are building up new ways of onboarding us

[2021-02-15 14:46] jimmy3dita commented on #1453
@corwinharrell I want to discuss any modifications to the current flow (and the impact on other activities in the pipeline), so we can think if we can adopt any temporary mitigations.

I see this request tangent to:
#1165 and #1297. 1297 in particular includes the functionality to save and restore the onboarding state, so we may have an opportunity to capitalize on this request for future UX impro

[2021-02-15 15:34] corwinharrell commented on #1453
@ilblackdragon I am in agreement for the most part. In fact, the initial design proposal for the create/fund account flow had implicit accounts being created _before_ presenting the option to add a unique account name, which the user could choose to ignore if they wished. (This has even already been designed for the most part). Here is the flow that was created to illustrate these changes:

https:

[2021-02-15 17:08] azhang2013 commented on #1453
so my 2 cents is that this is actually quite acceptable for crypto. I probably have like 20+ different ETH addresses over the year...I dont think there is any downside have having the redundancy. If the user wants to use the name account, he could do that (since it's simple and easy). But if the relationship of the 2 accounts are somehow not easily identifiable via the explorer, it's actually grea

[2021-02-15 17:30] kcole16 commented on #1453
At this point, I'm of the opinion that we should not, under any circumstances, issue a `deleteAccount` transaction from the wallet. It is far too dangerous, and even in the best case scenario can be scary and confusing. It will get even more dangerous once users start acquiring tokens and other assets, as we have no way to migrate/transfer these to another account.

That being said, I strongly agr

[2021-02-15 18:20] corwinharrell commented on #1453
@azhang2013 I think those are valid points. I'm not arguing against the fact that keeping the implicit account is the objectively safer option. Ultimately what I am trying to point out is the differences between user expectations and reality. While it's not the end of the world, it's always going to be a little bit of a surprise and a series of inconveniences to users who go in looking to create a

[2021-02-15 22:32] vgrichina commented on #1453
I agree with @corwinharrell that just giving user 2 accounts gonna be suboptimal and confusing.

I think a solid compromise here which we discussed before is to keep implicit account info, but only show it if it still has funds. Or maybe even show it specifically as "TODO item" saying "claim your funds" or smth like that if you accidentally send more tokens there.

In any case, something that we n

[2021-02-16 00:33] vgrichina commented on #1453
I think what we need to do is check whether account has any other keys except the one that is "implicit":
- if it has any other keys – means you actually imported it into wallet as full account and it's in use. We don't want to delete such account
- if it only has default key – we can delete it safely as it will get recreated with it's implicit key once it receives funds

[2021-02-16 13:08] ilblackdragon commented on #1453
The point is that the deletion of account is very unexpected behavior for existing blockchain users. Even if it gets recreated and there is a normal flow there. Making sure uses are not surprised and delighted is the goal here.

Yes, if we make a faucet - that would be the best.

[2021-02-17 06:43] vgrichina commented on #1453
Using this argument we should also revert back to using one seed phrase and key and approving every transaction through wallet – as having multiple keys, app logins, etc is also by itself surprising for existing blockchain users.

Note that I agree 100% that nobody should lose access to funds or even feel like they lost access to their funds.

But "make sure existing blockchain users not surprised

[2021-02-18 01:39] thisisjoshford opened #1462 "Final "Processing" window hangs after account creation w/Ledger"
**Problem**
Last "Processing" window hangs after account creation using Ledger.

**Expected Behavior**
Window should close and take me to my dashboard.

**Steps to reproduce**
 Create a `testnet` account using a Ledger device.

![Screen Shot 2021-02-17 at 5 22 33 PM](https://user-images.githubusercontent.com/58483342/108291194-ada73d00-7146-11eb-898a-909fd24e3803.png)

[2021-02-18 14:17] ilblackdragon commented on #1453
That's not always correct. If someone created an account in another wallet application and then NEAR Wallet removes this account - the other wallet application may not know how to behave around that. Also that account is probably should not be drained of funds in the first place.

So I second @kcole16's point to not delete any accounts. Instead add implicit account into the list of available accou

[2021-02-18 16:02] zavodil opened #1464 "Wrong request for full access after account switch"
**Problem**
Wallet starts to ask full access after account switch

**Expected Behavior**
Keep initial request parameters

**Steps to reproduce**

1. Login to the contract to grant functional limited access, you may try https://tips.nearspace.info/ or any other
2. See Correct dialog to issue **limited access key**
3. Switch account with the dropdown menu in the center of the screen
4. See incorrect

[2021-02-18 18:12] corwinharrell commented on #1453
Alright so in order to move forward with design, I think we need consensus on a couple key components here. @ilblackdragon @vgrichina @kcole16 if we could achieve this by the end of the week we could work to design around this problem in the next sprint. Would be great to get answers articulated as succinctly as possible.

1. **Account deletion**: Will we ever delete an account during the create/f

[2021-02-18 21:21] kcole16 opened #1466 "Use protocol config RPC endpoint to get storage costs"
### Overview
This [PR](https://github.com/near/nearcore/pull/3919) adds an RPC endpoint that returns the latest storage cost. Given that the storage cost will decrease 10x on March 1, we should replace the `EXPERIMENTAL_genesis_config` call with this one to remain future proof.

[2021-02-18 21:44] Patrick1904 commented on #1466
@vgrichina @bowenwang1996 - account storage cost is currently calculated in `near-api-js` here: https://github.com/near/near-api-js/blob/master/src/account.ts#L451

What updates do we need to do in order to get the latest storage cost?

[2021-02-18 23:28] jimmy3dita commented on #1453
I agree with Corwin, let's wrap this discussion.

I don't have enough elements to decide myself which hypothesis is better, but based on what I already know:

1. the account deletion is still useful to _sweep_ funds from unused accounts, so I would disable it from the onboarding and the wallet in general, but be ready to keep it for very specific (and tested at every release) corner cases - e.g. d

[2021-02-19 00:03] bowenwang1996 commented on #1466
I believe @frol is taking care of the change of near-api-js side. Essentially, we need to replace `EXPERIMENTAL_genesis_config` with `EXPERIMENTAL_protocol_config`.

[2021-02-19 07:48] #1462 closed

[2021-02-19 12:32] ilblackdragon opened #1467 "Claiming NEAR drop into existing account"
**Problem**
If user receives NEAR drop, Wallet forces them to create new account even if they already have an account.

**Expected Behavior**
If user already has an account it shows "Claim X NEAR" and selector for accounts or suggestion to create new one.
If selected existing accounts - Wallet calls `claim` method to directly move funds to the selected user's account.

**Steps to reproduce**

1. C

[2021-02-19 13:59] ilblackdragon opened #1468 "Account running out of funds error is ineligible"
**Problem**
When user's account runs out of funds on some action - error shown is not really useful.
People don't know what to do and why this issue happening to them.

**Expected Behavior**
We show something like "Your account is out of space. To be able to do this or other actions, you need to add more $NEAR on it.". Also if this is a multisig specifically - mention that "Actions on multisig req

[2021-02-19 22:04] frol commented on #1466
FYI https://github.com/near/near-api-js/pull/508

[2021-02-20 02:07] jimmy3dita commented on #1467
@Patrick1904 do we have everything is needed on the code and API side to enable this conditional flow? Do you see any blockers?

[2021-02-20 02:16] Patrick1904 commented on #1467
This should be pretty straight forward from an implementation stand point. We could re-direct NEAR drop users to a separate page where they can choose to either continue and create a new account, or claim the NEAR drop to their selected account. cc @corwinharrell

[2021-02-20 02:19] jimmy3dita commented on #1468
@kcole16 I'm wondering if it needs some specific function to capture this error and display it in a human-readable format? The RPC returns a `LackBalanceForState` - which is not user friendly

[code]

[2021-02-21 23:21] vgrichina opened #1471 "Make sure saveAccount / saveAndSelectAccount works well with multiple windows open"
**Problem**

Looks like account list is currently saved in `selectAccount` method (i.e. `saveAccount` doesn't save) + to save wallet just serialises current in memory list to local storage. This means that if you open 2 wallet instances and add account in each of them, there is likely conflict and one of these would be excluded from the list.

**Expected Behavior**

When you open 2 wallet windows

[2021-02-22 16:30] Patrick1904 commented on #1466
@frol do we need to make any changes on the wallet side for this or is `near-api-js` enough?

[2021-02-22 20:06] mattlockyer opened #1475 "Can't See Errors when Redirected for App TXs with Deposits"
**Problem**
When app redirects to sign tx, if it fails the error is flashed on UI but redirect happens too fast.

**Expected Behavior**
User (or most likely dev) can see the error and read the message.

**Steps to reproduce**

1. Sign into app
2. Create tx with attached deposit (these redirect to wallet)
3. TX fails (maybe set it up to fail)

[2021-02-22 20:45] Patrick1904 opened #1476 "App login: user is not redirected back to the app if the user switches account before allowing login"
**Problem**
Error occurs if the user switches account on the `/login` page. It seems that the `redirect_url` is lost after switching account.

**Expected Behavior**
User is redirected back to the app after switching account and approving login

**Steps to reproduce**
1. Go to berryclub.io
2. Click 'Login with NEAR Wallet'
3. Switch account before clicking 'Allow'
4. Click the 'Allow' button
5. Obs

[2021-02-22 21:16] frol commented on #1466
@Patrick1904 you will just need to replace `experimental_genesisConfig` with `experimental_protocolConfig`. There we will need another round of near-api-js release once the `experimental_protocolConfig` API gets on mainnet (it is not there yet), but Wallet will only need to update the near-api-js version

[2021-02-22 23:48] jimmy3dita commented on #1467
Awesome, I will include this improvement in the next sprint - as the red packets are flowing now and it seems to me a missed opportunity.

[2021-02-23 03:14] vgrichina commented on #1453
@corwinharrell faucet is definitely realistic as long as there is will to fund it with tokens + maintain current flow as fallback if faucet is under DOS attack.

[2021-02-23 03:29] vgrichina commented on #1453
If somebody has created account in other wallet application how would it end up as a funding account? If user imported it in the wallet with seed phrase –  it would have extra keys on account.

The problem with deleting account is specific to Ledger, because with same Ledger you get the same funding account ID on every device, which we didn't account for specifically.

This is very suboptimal for

[2021-02-23 04:06] vgrichina commented on #1453
This is separate orthogonal issue. Your implicit account won't be removed in this case (at least after [bugfix](https://github.com/near/near-wallet/pull/1441) to make sure `create_account` doesn't fail silently )

Sure, that's what I think too:

Also check out https://github.com/near/near-wallet/issues/1182 – I think there is quite a few other issues with dropping off something, etc that we need t

[2021-02-23 08:09] #1476 closed

[2021-02-23 11:49] ihaid opened #1486 "Profile page is displayed when the user is not logged in"
**Problem**
![image](https://user-images.githubusercontent.com/38665104/108839446-c21f8580-75dd-11eb-8dd3-d14556881426.png)

**Expected Behavior**
Redirect to wallet.near.org?

**Steps to reproduce**

1. Go to https://wallet.testnet.near.org/profile in incognito

[2021-02-23 19:00] jimmy3dita commented on #1453
@vgrichina the idea of a faucet seems the best one, but it's also tangent to the wallet today, as we need a constant inflow of tokens and some "budgeting".
Also, providing free access to named wallets opens multiple attack vectors (see below).

So, to recap the discussion, and following the latest comments:
- NEAR Wallet will not mix anymore implicit and named accounts, de-facto "forcing" new user

[2021-02-24 06:08] evgenykuzyakov opened #1490 "nearnames login flow leaves a few full access keys on the accoun"
**Problem**
After using nearnames.com to claim the account and move it to a wallet, the wallet doesn't secure the account by removing the previous access key. If you look at the account `social.near` you can see there is 3 full-access keys right now, but I would prefer there were only one. There is no way to remove unnecessary access keys from the wallet UI.
A user doesn't know there are more acce

[2021-02-24 17:49] corwinharrell commented on #1467
yep this should also be straightforward for design as well. Happy to tackle this in the next sprint.

[2021-02-24 23:31] jimmy3dita commented on #1467
Thank you! Feel free to pull it on "design" and assign it to yourself as soon as you start working on it 🙏

[2021-02-24 23:36] jimmy3dita commented on #1490
Can it be done from nearnames application, using something like a batch transaction?

[2021-02-25 00:11] vgrichina commented on #1453
We don't need constant inflow of tokens. We only need liquidity, as users either eventually fund accounts themselves or have it expire.

We aren't forcing anybody to create account with _their_ name or anything else privacy revealing. Users have no problem staying anonymous on various Internet forums, Reddit, Twitter, etc.

I think it is also far better in setting actual privacy expectations. The

[2021-02-25 00:46] evgenykuzyakov commented on #1490
It's more general problem. The wallet UI doesn't display all full-access keys. It would be nice to identify the main key that the wallet uses and other keys, that the wallet UI doesn't know about.

[2021-02-25 00:48] jimmy3dita commented on #1453
All makes sense. I like the concept of using `.near` accounts in any case, so the user is aware that privacy comes from his behavior and not the illusion of having a difficult to remember hexadecimal string.

So to recap and unblock @corwinharrell :
1. narrow down the user experience to `.near` accounts only, replacing any temporary implicit account with this "lending faucet"
2. find the ideal/rea

[2021-02-25 01:38] vgrichina commented on #1453
We don't have to find it right now, it is best determined experimentally

I would start with 24 hours and reduce as needed if/when system gets abused.

so obtaining account from faucet can have 3 results:
1) success (then it just follows through with funding flow using `.near`)
2) error because name already claimed (this one has to surface to user)
3) error because faucet exhausted (continue to ex

[2021-02-25 22:05] marcinbodnar opened #1496 "The balance should appear for every account in the Switch account section on the top nav"

[2021-02-25 22:12] marcinbodnar opened #1497 "Page flashing on verify seed phrase step"
**Problem**
Page flashing on verify seed phrase step

**Expected Behavior**
The page should be displayed without any flashing until action is finished.

**Steps to reproduce**

1. Create an account with seed phrase recovery.
2. Confirm seed phrase.

[2021-02-26 20:44] marcinbodnar commented on #1490
We hide the Full Access Keys page from Wallet UI, there is no link to it. The best way to solve it would be to remove unused access keys while moving to Wallet, like proposed.

[2021-02-26 21:53] corwinharrell commented on #1475
@marcinbodnar @Patrick1904 Curious to know why the error here is displayed on its own screen vs other errors in the app which use the toast pattern that displays briefly and then is automatically dismissed. Was this txn error implemented first?

[2021-03-01 17:09] corwinharrell commented on #1475
@mattlockyer can you share a screen recording of this issue? I'm having trouble reproducing it just through the UI

[2021-03-01 19:51] mattlockyer commented on #1475
![image](https://user-images.githubusercontent.com/321340/109550526-45305800-7a84-11eb-9723-349bad2369ca.png)

Click Buy

Redirected to Wallet

![image](https://user-images.githubusercontent.com/321340/109550572-54afa100-7a84-11eb-81bf-85c6ae4c43cb.png)

If there is an error with the TX, the error will flash up on the UI

BUT the user is redirected to app RIGHT AWAY. They do not get to read the er

[2021-03-01 20:55] corwinharrell commented on #1475
@mattlockyer haha yeah I understand the issue I was just hoping for a recording showing the error since I can't reproduce 😂

[2021-03-01 20:59] corwinharrell commented on #1475
@mattlockyer haha yeah I get the issue I was just hoping for a video showing the issue itself since I cannot reproduce :)

[2021-03-01 22:55] mattlockyer commented on #1475
A video isn't going to be any different.

I mean I can write a contract that fails all the time and show you. But it is exactly as I described.

Do you need an example that will fail that you can run on your machine?

[2021-03-02 01:25] corwinharrell commented on #1475
@mattlockyer yeah I'd just like to see what we're working with so an easy way to reproduce would be ideal. Doesn't really matter how

[2021-03-02 02:07] Patrick1904 commented on #1475
@corwinharrell this is how a sign error currently looks. I encountered this timeout error (stayed on the page though) while buying a card on: https://berry.cards. It seems that the purchase still went through so we need to do better error handling of this in general and not just assume all of it failed.

![Screen Shot 2021-03-01 at 5 57 12 PM](https://user-images.githubusercontent.com/24921205/109

[2021-03-02 04:44] ilblackdragon opened #1506 "Name shows as unavailable on error at account creation"
**Problem**
Reported by user registering an available account name failed. Account name wasn't registered and was still available at the time of the report.

**Expected Behavior**
I'm assuming there were some network issue that prevented the account creation.
Showing that there were network issue (and potentially still ongoing network issues) and suggesting to retry.

**Steps to reproduce**

1. Re

[2021-03-02 18:29] jimmy3dita commented on #1506
We'll discuss this one in the next wallet meeting.
Do you know if the console was showing any specific errors?

I suppose we can mitigate this type of errors with:
- properly handling RPC timeouts
- (if connection quality can be so disruptive) giving a connection quality indicator, such as a colored green/yellow/red dot
- directing users to open a ticket

@Patrick1904 and @marcinbodnar, happy to u

[2021-03-02 19:22] marcinbodnar commented on #1475
@mattlockyer @Patrick1904  the problem here is with recent Mixpanel changes - at this moment, if `signAndSendTransactions` action fails, redirection is still executed - previously it was redirecting only on success. Checkout `handleAllow` in `Sign.js` component.

[2021-03-02 22:52] #1486 closed

[2021-03-03 03:06] frankbraun opened #1510 ""Import existing account" doesn't work on betanet"
**Problem**

If I want to import an existing account on **betanet** via https://wallet.betanet.near.org/
it fails with the following error message after I put in my seed phrase:

[code]
This breaks:

`env NEAR_ENV=betanet near login`

**Expected Behavior**

"Import existing account" via "Seed Phrase Recovery" should work.

**Steps to reproduce**

1. Create a wallet on https://wallet.betanet.near.o

[2021-03-03 04:21] ilblackdragon opened #1511 "Support signing chained transactions"
With evolution of various standards that include Storage management, callbacks, etc - we are ending up needing to issue multiple transactions in a row to different contracts.

Even though NEAR's transaction supports multiple actions per transaction, all of those actions apply to the same receiver.

Simple example is sending nDAI via [linkdrop v2](https://github.com/near/near-linkdrop/issues/12#iss

[2021-03-03 14:33] corwinharrell commented on #1475
Removing the `Needs design` label here since design is present and it appears to just be an issue with timing and Mixpanel changes. @Patrick1904 I assume this can be addressed without the need for additional design given the context provided by @marcinbodnar above?

[2021-03-03 17:46] ihaid opened #1514 "Success message when cancel transaction"
**Problem**
![image](https://user-images.githubusercontent.com/38665104/109847915-60ec5780-7c58-11eb-84fc-0533960b5baa.png)

**Expected Behavior**
The message "You have successfully sent..." should be removed

**Steps to reproduce**

1. Go to an account with enabled 2fa
2. Go to /send, enter an amount to send, and submit
3. Click "Cancel" on the 2fa window when shows up

[2021-03-03 19:32] jimmy3dita commented on #1506
May be influenced by https://github.com/near/near-api-js/discussions/515

[2021-03-03 20:52] Patrick1904 commented on #1475
Thanks for investigating @marcinbodnar. I pushed a fix here: https://github.com/near/near-wallet/pull/1515

[2021-03-03 21:02] #1475 closed

[2021-03-03 22:34] vgrichina commented on #1511
note that this is technically is already supposed to be supported

however we didn't test it much end to end, UX might be suboptimal, etc

[2021-03-03 22:35] vgrichina commented on #1510
Unfortunately this won't work unless we have indexer for beta
net @khorolets @frol

[2021-03-03 22:38] vgrichina opened #1516 "Make login / signing page load fast"
**Problem**

Looks like right now when you get redirected from app to login / signing page it takes a while (often few seconds) before UI gets ready and you can press "Approve" button.

I guess it's because we are waiting for some stuff to load which is not necessarily blocking (like user's balances, etc?).

**Expected Behavior**

Account selection dropdown and "Approve" button are active immediat

[2021-03-03 22:45] marcinbodnar commented on #1475
Great, thanks @Patrick1904

[2021-03-04 22:25] Patrick1904 commented on #114
We made quite a lot of progress on this with the latest nav and dashboard redesign.

There are four main pages left that are built with semantic-ui:
1. https://wallet.testnet.near.org/full-access-keys
2. https://wallet.testnet.near.org/authorized-apps
3. https://wallet.testnet.near.org/sign
4. https://wallet.testnet.near.org/login

In addition, the current footer is built with semantic-ui, and cou

[2021-03-05 23:32] Patrick1904 commented on #1514
Fixed in: https://github.com/near/near-wallet/pull/1524

[2021-03-05 23:32] #1514 closed

[2021-03-11 17:19] corwinharrell commented on #1169
@Patrick1904 isn't this done?

[2021-03-11 17:31] corwinharrell commented on #1411
We are still encountering issues with the current funding flow, and need to address this as a part of https://github.com/near/near-wallet/issues/1453. Closing this with the intent to measure the success of the next iteration.

[2021-03-11 17:31] #1411 closed

[2021-03-11 17:37] Patrick1904 commented on #1169
Shipped in https://github.com/near/near-wallet/pull/1365

[2021-03-11 17:37] #1169 closed

[2021-03-11 17:44] corwinharrell opened #1536 "Multiple HD Derivation path with Ledger"
_For additional context and discussion, see the corresponding [Roadmap Issue](https://github.com/near/near-wallet-roadmap/issues/6)_

### Summary
As of today, wallet.near.org supports only a single derivation path, located at 44'/397'/0'/0'/1'. Therefore, NEAR webwallet supports only one account using Ledger Nano - even if the application on the Ledger device and near-cli are perfectly capable to

[2021-03-11 17:46] corwinharrell opened #1537 "Top Up Balance w/ MoonPay"
### Summary
Today, users can add funds to their wallet by opening their exchange account, and go through the process of buying tokens and transferring them.

With this feature, users are enabled to use Moonpay to fund their existing account - repeating the process that before was available only at the account creation.

### Intended Outcome
As a user, I want to add funds to my wallet balance witho

[2021-03-11 17:56] corwinharrell opened #1538 "Improve Usability of "Unstake" UX"
### Problem Summary
In the current implementation of Staking, users have found that the ability to `Unstake` their tokens is difficult to find, since users must first navigate to their current validator's profile in order to `Unstake`.

### Intended Outcome
Users should be able to initiate the `Unstake` action directly from the staking dashboard. Once they indicate that they would like to `Unstake

[2021-03-11 17:57] corwinharrell commented on #1538
@jimmy3dita I just want to confirm that currently users can only stake with a single validator? Do we know when this might change?

[2021-03-11 18:06] corwinharrell commented on #1467
@jimmy3dita @Patrick1904 What's the best way for me to get a neardrop in order to capture the current flow for funding a new account via neardrop?

[2021-03-11 18:20] Patrick1904 commented on #1467
@corwinharrell you can create a testnet near drop here: https://near-drop-testnet.onrender.com/

[2021-03-11 19:29] ihaid opened #1539 "Blank page when switch account during app sign-in"
**Problem**
Blank page when switch account during app sign-in refresh needed to solve the problem

**Expected Behavior**

**Steps to reproduce**

1. Go to https://corgis.near.org
2. Click “Login with NEAR”
3. Click the account dropdown in the center of the screen, and switch to a new account

[2021-03-12 01:13] jimmy3dita opened #1541 "Always specify how many tokens are locked to enable 2FA"
## Story

As a USER who wants to enable 2FA, I want to know the number of NEAR tokens that will be locked for this function, so I don't block 36 tokens without knowing in advance.

## Acceptance Criteria

- [ ] The text in the 2FA box shows an alert even when the user holds more than the minimum required tokens
- [ ] The text at the link https://wallet.testnet.near.org/enable-two-factor reflects t

[2021-03-12 01:24] jimmy3dita commented on #1541
Alernative solution:

Change the color of the alert box from blue to red, and put it right on top of "continue".

## How it is today:

<img width="606" alt="Schermata 2021-03-11 alle 17 14 40" src="https://user-images.githubusercontent.com/6222429/110876964-6287d200-828d-11eb-84ab-481b95ba9f5a.png">

## How it should be:
open to discuss the red color (the red is completely random, should use the s

[2021-03-12 01:26] jimmy3dita commented on #1541
cc @corwinharrell and then @Patrick1904 for a quick ack or further review

[2021-03-12 02:04] Patrick1904 commented on #1539
Thanks for catching @ihaid!

[2021-03-12 09:18] #1497 closed

[2021-03-12 15:10] corwinharrell commented on #1538
@Patrick1904 As long as our staking UI is limited to a single validator, this should be as simple as adding an "Unstake" button to the dashboard next to "Total Amount Staked". Feel free to go ahead and add this. I don't think a mockup is necessary.

As soon as we enable staking with multiple validators, this experience will need to be expanded to allow the user to select the validator from which t

[2021-03-12 16:33] ilblackdragon opened #1543 "External full access keys are not shown in the new UI"
Currently if one adds full access key (for example via `near login`) - it's not shown anywhere in the new UI.

[2021-03-12 17:17] Patrick1904 commented on #1538
@corwinharrell the single validator restriction only applies when you're staking from a lockup account. You're able to stake with unlimited number of validators when you stake from your main account. We can still add the 'unstake' button for lockup case, but might be confusing with inconsistent UX?

[2021-03-12 17:20] corwinharrell commented on #1538
@Patrick1904 got it in that case we'll need a slightly different UX. Thanks for clarifying. Will update this issue with the designs shortly.

[2021-03-12 19:17] jimmy3dita commented on #1541
Also, with the nearcore release [1.18.0](https://github.com/near/nearcore/releases/tag/1.18.0) all accounts reduced 10x their storage costs, so we should also reduce `36` to a lower number (proposing `5`).
Updating the acceptance criteria above to reflect this change

[2021-03-13 01:45] thisisjoshford opened #1544 "Error signing txs / sending tokens using `sendMoney()`"
**Problem:**
Wallet hangs and produces an error in the console (see below) when trying to send tokens using `wallet.account().sendMoney(account, amount)`

Error:
`Uncaught (in promise) TypeError: Reduce of empty array with no initial value`

**Expected Behavior:**
Should be prompted to authorize token transfer

**Steps to reproduce:**

1. SignIn with wallet
2. Use `account.SendMoney()`

[2021-03-13 09:33] #1544 closed

[2021-03-15 05:03] vgrichina opened #1546 "Transaction signing security improvements"
A couple of remarks:

1. As I understand, the only purpose of `meta` parameter is to pass some data to the callback URL. In this case, the name is confusing. I would suggest to call it `state`, which is the name used for a parameter with a similar function in widely used [OAuth 2.0](https://tools.ietf.org/html/rfc6749#section-4.1.1) and [OpenID Connect](https://openid.net/specs/openid-connect-core

[2021-03-15 20:51] corwinharrell commented on #1536
Design is complete. Proposing the following solution:

- Add a small `Advanced Options` component to the Ledger sign in screen
- The user can expand the options at which point they will see the current HD path (0 by default)
- The user may change the default path by altering the last digit with either mouse or keyboard input.
- Once the path has changed, the user must set the path.
- After setting

[2021-03-15 21:54] jimmy3dita commented on #1536
What happens specifically after I select a ledger path? It seems that near wallet signs transactions to authorize new public keys. I won't post here the txs for privacy reasons, but I'm wondering if other users (like me) might want to know better what is happening.
As a power user, a disclaimer like "private keys will stay on your Ledger" or "no additional keys will be added" might help to better

[2021-03-15 21:59] Patrick1904 commented on #1536
I can see that @vgrichina has already added support for non-default paths in the ledger-app: https://github.com/near/near-ledger-js/blob/master/index.js#L19

Will start working on this next.

[2021-03-15 22:04] corwinharrell commented on #1536
@jimmy3dita happy to add an intermediary step or some additional messaging. I was using the multitasker tool as reference which I know if pretty rudimentary but doesn't have any actions occurring after selection.

[2021-03-16 01:46] Patrick1904 commented on #1467
@corwinharrell some notes/recommendations after I started prototyping this:
1. I added separate linkdrop 'landing page' (`/linkdrop/contract/key`) that shows the linkdrop value and gives the user option to claim to current account or create a new account (which sends to `/create`). Just minimal for functionality and not recommending this actual design.
<img width="787" alt="Screen Shot 2021-03-15

[2021-03-16 01:51] Patrick1904 commented on #1538
@corwinharrell looks great. Everything is clear.

[2021-03-16 15:57] corwinharrell commented on #1453
The account creation experience is **much** improved with a faucet in the background temporarily initiating the reserved `.near` account. Here is what the sequence looks like once we're able to omit the implicit address from the funding flow (With some improvements):

<img width="1613" alt="Screen Shot 2021-03-16 at 11 39 52 AM" src="https://user-images.githubusercontent.com/5934188/111339888-83b2

[2021-03-17 01:39] vgrichina commented on #1453
dropped priority to P1, as we are clearly not working on it as P0 de facto

[2021-03-17 01:44] vgrichina commented on #1453
I don't think anything is preventing us to do it. In fact we can do that even for our existing funding flow with implicit account. Maybe actually this is what we should start with before doing faucet.

I like the flow above, but I have small concern that we aren't letting user know beforehand that account will need to be funded. So we might end up in situation where way too often users claim `.nea

[2021-03-17 03:50] ilblackdragon commented on #1453
I would expect for crypto wallets it's probably 50-90% of all accounts created never get funded (looking at bunch of random accounts I've created for ETH with 0 tokens in them). We can ask around.

[2021-03-17 10:33] ilblackdragon opened #1552 "Incorrect calculations for unlocked amount in lockup"
It seems like wallet doesn't account for non default release date, see difference in unlocked amount:
 - https://near.github.io/account-lookup/#cdot.near
 - https://wallet.near.org/profile/cdot.near

See tx with lockup creation here that it's indeed start date at Feb 10: https://explorer.near.org/transactions/HQECeAYXuUTwhGuvvVy2NmxAhjxKFuwiET77D3NTiTDg

[2021-03-17 13:19] corwinharrell commented on #1453
@vgrichina This is good feedback. Happy to include some messaging earlier in the flow to set expectations around funding 👌

[2021-03-17 14:28] ihaid opened #1553 "Success message on failed transaction"
**Problem**
![image](https://user-images.githubusercontent.com/38665104/111483328-60b28880-873d-11eb-9a46-8fe95fbda6f9.png)

**Steps to reproduce**

1.  Go to an account with Ledger enabled
2. Go to /staking
3. Select validator, enter an amount click confirm, and on the step where you need to confirm with Ledger wait for ~30sec

[2021-03-18 00:46] marcinbodnar opened #1557 "Continue button on Choose Security Method page doesn't work sometimes"
**Problem**
`Continue` button on `Choose Security Method` page doesn't work sometimes.

**Steps to reproduce**

1. Enter `Reserve Account ID` page
2. Enter valid account Id.
3. Click `Create account` button
4. Try to click `Continue` on `Choose Security Method` page

[2021-03-19 09:43] zavodil opened #1561 "Redundant error "No lockup contract for account""
**Problem**

Claimed new account with LinkDrop, got an error after the first sign in

Error
No lockup contract for account
Error: No contract for account

Which is wrong since I didn't expect to have a lockup contract.

**Expected Behavior**

Don't generate this error

**Steps to reproduce**

1. Create mainnet linkdrop
2. Sign in

![Clip2net_210319113923](https://user-images.githubusercontent.com/

[2021-03-19 14:55] TiffanyGYJ commented on #1453
Yes, we have data for mainnet wallet and we can pull data around the step of funding

[2021-03-19 19:18] kcole16 opened #1563 "Twilio error when using Rainbow Bridge with SMS 2FA"
**Problem**
When using the [Rainbow Bridge](https://ethereum.bridgetonear.com) with an account with SMS-based 2FA, I encountered the following error from Twilio: `BadRequestError: The concatenated message body exceeds the 1600 character limit.`, and the transaction was cancelled.

**Expected Behavior**
I should receive the 2FA confirmation no matter what, and be able to complete the transaction. I

[2021-03-19 19:40] jimmy3dita commented on #1552
Will look into it with @marcinbodnar early next week

[2021-03-22 16:48] Patrick1904 opened #1566 "Token list: hide zero-balance tokens and handle empty state"
Since the current list of whitelisted tokens will grow quickly, we need to adjust UI by:
1. Only show tokens with balance > 0.
2. Cap the number of tokens we show on the main wallet/dashboard page and include a 'see all' button that directs to a separate 'tokens' page.
3. Add an 'empty state' for users that currently do not have any token balances.

[2021-03-22 17:15] jimmy3dita commented on #1541
Updated the acceptance criteria to reflect [1.18.0](https://github.com/near/nearcore/releases/tag/1.18.0) reduced storage fees: the messaging is now saying `3.6` instead of `36`.

Also, let's keep the 36 near as the minimum amount to enable 2FA until we merge #1344

[2021-03-22 18:53] kcole16 commented on #1563
This actually occurs in near-contract-helper here: https://github.com/near/near-contract-helper/blob/master/middleware/2fa.js#L51

[2021-03-22 19:36] #1464 closed

[2021-03-22 20:45] marcinbodnar opened #1567 "Redirect to the Login page after account import is not working"
**Problem**
Redirect to the Login page after account import is not working

**Expected Behavior**
If the user goes to the import account page from Login, he should be redirected back to the Login page with the same URL params after an account is imported successfully.

**Steps to reproduce**

1. Try to login to app.
2. Go to Import Account page
3. Import account
4. You are redirected to Dashboard

[2021-03-22 23:18] jimmy3dita commented on #1563
@kcole16 @djsatok: @MaximusHaximus is already working on this one.

As a quick fix, Daryl will truncate args sent to the SMS to a lower number (e.g., first 256 chars).
We are blocked in the e2e tests by:
- some basic instructions on how to plug Metamask to the Bridge CLI (or the GUI)
- which testnet we may have to use, and
- where to get `w(x)` and `n(x)` (wrapped tokens, and nep tokens) to test i

[2021-03-22 23:37] jimmy3dita commented on #1393
@corwinharrell want to circle back on this one, given that we are already working on #1538.
Maybe worth merging with the most recent one

[2021-03-23 00:44] vgrichina commented on #1563
while you are at it it – generally good idea to double check how message is formatted

as I think it ended up having some HTML-related stuff like `&quot;`

[2021-03-23 07:19] #1557 closed

[2021-03-23 17:43] jimmy3dita commented on #1543
Full access keys have been hidden from the UI with #743. This is part of a larger, lower-priority revamp of keys management for the wallet
cc @kcole16

[2021-03-23 18:00] jimmy3dita commented on #1543
For fallback/debug reasons you can use https://wallet.near.org/full-access-keys

[2021-03-23 19:01] Patrick1904 commented on #1147
Closing as this has been released in https://github.com/near/near-wallet/pull/1551

[2021-03-23 19:01] #1147 closed

[2021-03-23 21:38] Patrick1904 commented on #1553
Fixed in: https://github.com/near/near-wallet/pull/1540

[2021-03-23 21:38] #1553 closed

[2021-03-24 01:13] MaximusHaximus opened #1574 "Excessive # of identical JSON RPC requests being made during page load"
**Problem**
When loading the UI and switching pages, an excessive number of completely identical/redundant RPC requests are being made.

For example, loading the `Account` page results in **15** identical requests with payload shape:
![image](https://user-images.githubusercontent.com/29758232/112238513-07959980-8c02-11eb-856b-5a576cffc6df.png)
on my mainnet account

**17** identical requests with

[2021-03-24 01:36] MaximusHaximus commented on #1574
If this is just the result of a lot of different components requesting the same logical data in series, then it might be a good solution to implement data loader to handle coalescing/caching (https://github.com/graphql/dataloader)

[2021-03-24 14:15] corwinharrell opened #1576 "Add new route for `/activity` in order to accommodate robust token lists on `/index`"
### Problem

In the current implementation of the display of fungible token balances, the user's NEAR balance, fungible token balances, and account activity are all co-located in the same view in the wallet dashboard. While this is not an issue when the user has little to no fungible token balances, there are a couple flaws:

1. The current design doesn't do a great job of accommodating longer lis

[2021-03-24 14:22] corwinharrell commented on #1393
@jimmy3dita I totally agree. The implementation here is virtually identical to unstake with the exception of copy emphasizing withdrawal. As soon as it's decide where this fits into the roadmap, I think it makes sense to implement the same improvements for withdrawal as we are with unstake.

[2021-03-24 15:54] corwinharrell opened #1577 "Account Creation: Improve Funding UX w/ Temporary Faucet"
### Problem

We continue to receive feedback that the current implementation of funding new wallet accounts is extremely inhibitive for new users, and often results in users getting lost during the process, since funding an account almost never occurs within a short timeframe. The most frequent problems we see are:

1. Users send multiple transactions to the implicit funding address, which results

[2021-03-24 15:57] corwinharrell commented on #1577
cc @ilblackdragon @kcole16 @jimmy3dita

[2021-03-24 16:19] Patrick1904 commented on #1566
Closing as it's being handled in https://github.com/near/near-wallet/issues/1576

[2021-03-24 16:19] #1566 closed

[2021-03-24 17:16] Patrick1904 commented on #1538
Note: Will start on this once https://github.com/near/near-wallet/pull/1556 is merged

[2021-03-24 20:18] jimmy3dita commented on #1577
I agree and approve this proposal.
I think we can close #1453, to discuss the execution details here.

@corwinharrell I'm ready to put here some acceptance criteria and user stories, do you agree with this course of action?
@vgrichina do you see any limitation to get to the UI presented above?

[2021-03-24 20:38] corwinharrell commented on #1577
yeah I'm happy with this and think it's a big improvement on the existing flow. Will defer to @vgrichina incase there's anything that might be unaccounted for.

[2021-03-24 20:46] kcole16 commented on #1577
Flow looks good, though I believe the plan is to have a permanent funding account that users will fund (like `fund-wallet.near`, rather than sending NEAR directly to their own account. cc @vgrichina

[2021-03-24 21:16] vgrichina commented on #1576
I have few concerns:
- I don't think it is "Priority 0", at most this is P1 as nobody has this problem in prod yet. Even when we switch to show all the tokens you interacted with (I plan to do this one ASAP) most users not gonna have a lot of non-zero balances right now.
- We need to make sure that this page is discoverable (e.g. user needs to get there after sending transaction, etc). Maybe Recei

[2021-03-24 22:28] jimmy3dita commented on #1577
Given how exchanges work, the ideal flow is to fund the account itself and eventually sign a batch transaction to refund the faucet.
From what I understand, many users fund their implicit account twice because exchanges (like Binance) allow them to set the withdrawal address once, and automatically transfer funds later on. Ideally, we want that they set the named account already in the exchange, a

[2021-03-25 00:00] kcole16 commented on #1577
That is certainly the ideal flow, though it will require a proper faucet where we actually pay for the cost to create these accounts (like the one for Ethereum holders).

The "faucet" we'd previously discussed was more of a fixed account for users to transfer to (`fundaccount.near`), rather than needing to have a unique, temporary "funding account".

[2021-03-25 01:14] jimmy3dita commented on #1563
I think there's another minor fix to apply. The SMS message copy says `Keep this email safe, and DO NOT SHARE IT. We cannot resend this email.` while this is actually a SMS:

[code]

[2021-03-25 07:52] vgrichina commented on #1576
Looks like we currently show success screen after sending a payment which requires another confirmation from user. Seems like redirecting right to /activity would be a better option.

[2021-03-25 08:07] #1516 closed

[2021-03-25 08:07] #1567 closed

[2021-03-25 14:06] corwinharrell commented on #1576
Yeah no problem to switch to P1. It was made out to sound semi-urgent but I realize I've been too liberal with this.

Yeah I'm not in opposition to this and have actually explored this. @Patrick1904 how would you feel about keeping a small "Recent Transactions" list on the dashboard (most recent 5 / two columns on desktop), but still adding a full / complete feed as a separate route that the "Rece

[2021-03-25 15:02] corwinharrell commented on #1537
@vgrichina would love any feedback you might have for this. I believe this direction is more scalable than just adding a "buy with moonpay" button on the dashboard, since it allows us to point to exchanges as well as future integrations with other purchase methods (eg I know Metamask uses https://pay.sendwyre.com/ which I'm also curious if that is an option for us). I'd like to also leverage this

[2021-03-25 15:45] Patrick1904 commented on #1576
Yep I'm all for keeping 'recent transactions' on the dashboard with 'view all' to separate route. @corwinharrell how do you envision the two column layout to look?

[2021-03-25 17:46] marcinbodnar opened #1580 "Staked balance is loaded for Sign page"
Staked balance should not be loaded for the Sign page, to make it work faster.

[2021-03-25 19:26] jimmy3dita commented on #1576
From my recent bridge marketing notes, we will have a list of tokens that can be sorted by "liquidity": similarly to the size of validators, certain tokens will have more tokens than others - and may offer valuable returns to users who lend their near (via AMM and yield farming).

In my opinion, makes sense to prioritize as follows:
1. all non-zero balance tokens
2. if less than 4, fill up with th

[2021-03-25 20:47] vgrichina commented on #1576
@jimmy3dita there is no need for 3 except for airdroped tokens. We know which tokens you are interacting with and are surfacing them in https://github.com/near/near-wallet/pull/1579

There is also whitelist but the logic is slightly different from 4 (whitelisted tokens always show up).

[2021-03-25 20:49] vgrichina commented on #1576
do you mean like total supply? Probably worth to have this info in explorer

[2021-03-26 19:21] corwinharrell commented on #1576
**NOTE: Revising this work slightly to take into account feedback and a more iterative implementation.**

While there is still be a need to introduce a separate route for a more robust activity feed in order to allow users to track their history of transactions without having to leave the wallet, I want to tweak our approach to implementing this to be a bit more iterative.

Ultimately, the activit

[2021-03-26 19:21] #1576 closed

[2021-03-26 19:31] corwinharrell commented on #1577
@kcole16 @vgrichina Can I get a confirmation on the exact funding address implementation here? Then we can move this forward and prepare it for dev.

[2021-03-26 22:29] Patrick1904 opened #1584 "Unclear how many keys that need to be deleted after enabling Ledger"
**Problem**
When a user enables Ledger on their account, we recommend to 'delete all other recovery methods and keys'. This is generally straight forward if the user recently created the account, since they'll only have to delete a few keys. However, if the user has 20+ keys on their account (from recovering many times, etc.), the user may perceive this process as 'getting stuck' or 'infinite loop

[2021-03-26 22:31] Patrick1904 commented on #1584
@jimmy3dita @vgrichina @corwinharrell @marcinbodnar curious about your thoughts on this. I’m generally in favor of only deleting other recovery method keys, since the Ledger itself is considered a recovery method. Though the risk with that approach could be that the user is currently logged in on one device, enables Ledger on a different device, and now thinks that everything will have to be signe

[2021-03-27 01:14] jimmy3dita commented on #1584
It's funny that almost at the same time I was working on this feature: https://github.com/near/near-wallet-roadmap/issues/21

I want to be careful, for two main reasons:
1. NEAR's key management is unique if compared to other tokens, and needs some learning curve
2. Keys control the funds, and we don't want users to lock themselves out

In the current implementation, we somehow "conflate" multisig

[2021-03-27 18:39] jimmy3dita commented on #1536
@vgrichina wanted to use this thread to raise again the pubkey UX issue discussed on #1559 and previously on #772.

High level:
- is it possible to skip any authorization of the contract helper until the user must sign a transaction?
- is it possible to "batch" in one transaction key authorization -> signature -> key removal?
- how this feature can be merged with https://github.com/near/near-walle

[2021-03-27 18:41] jimmy3dita commented on #772
moving the discussion to #1536

[2021-03-27 18:41] #772 closed

[2021-03-28 22:02] mehtaphysical commented on #1546
This is tangentially related to https://github.com/near/near-api-js/pull/542. Would anyone mind if I take this? Or is someone on it already?

[2021-03-29 16:44] ilblackdragon opened #1587 "Change success message from "transferred" to show more detail"
**Problem**
Currently when calling transaction that also attaches some amount of NEAR for storage, wallet on success shows "Transfer of 0.05 $N was successful" which is very confusing.

**Expected Behavior**
Show called function XYZ with X $N attached.

**Steps to reproduce**

1. Call any function with NEAR attached
2. Approve transaction
3. Observe success message

[2021-03-29 18:36] jimmy3dita commented on #1587
@Patrick1904 this is aligned with helping non-NEAR tokens use cases. Anything missing on the backend to implement this improvement?
@corwinharrell any limitations in the information architecture? It looks to me we have more space during the "approve" step, rather than confirmation

[2021-03-29 18:45] Patrick1904 commented on #1587
@jimmy3dita this will be straight forward to implement

[2021-03-29 23:21] mehtaphysical opened #1588 "Url includes meta=undefined after sign in with wallet and returning to application"
Upon being redirected back to an app using `near-api-js` to sign in with NEAR wallet, the URL includes `?meta=undefined`

If no `meta` is provided, leave it out on returning to the applicaiton.

[2021-03-30 04:31] ilblackdragon opened #1590 "There is no error when access key is already used for another application"
**Problem**
When adding access key, if this key is already used - there is an error coming on adding it. But it doesn't get shown to the user, so user is just stuck on the "approve" page.

**Expected Behavior**
Show an error, redirect back to the application.

**Steps to reproduce**

1. Sign in with NEAR in some app
2. Copy the wallet url
3. Approve
4. Paste the wallet url
5. Click approve
6. Obse

[2021-03-30 04:37] ilblackdragon opened #1591 "Wallet makes ton of not needed calls to rpc when signing a tx"
**Problem**
Currently there are 25 RPC requests on opening signing tx / logining in. Including there are duplicate requests.
This means that page is very slow to load, especially in China.

**Expected Behavior**
2-3 RPC requests tops.
Ideally button is ready to press right away, and loading is async.

**Steps to reproduce**

1. Login with NEAR from any app
2. Observe 25 rpc.mainnet.near.org reques

[2021-03-30 05:35] #1588 closed

[2021-03-30 08:28] ilblackdragon opened #1594 "Customize display of calling functions with 1 yN attachment"
**Problem**
With new storage design, it's expected that 1 yN is attached to make sure FunctionCall AccessKeys are not abused.
Currently wallet is showing that <0.00000001 N will be transferred and doesn't show the function call itself.

**Expected Behavior**
Should show function call info and omit 1 yN deposit.

[2021-03-30 15:33] luciotato commented on #1594
I'll add more info in case its useful:

the call is like an "uniswap swap call": `sell_stnear ( stnear_to_sell: U128, min_amount_near_to_receive: U128) -> near_received: U128`.  This is the call I'm attaching 1 yocto to.

this is how it looks now in the wallet for approval:

![image](https://user-images.githubusercontent.com/1760905/113014050-a7977980-9152-11eb-95cb-9fc7bbdc10de.png)

The call int

[2021-03-30 19:48] Patrick1904 commented on #1537
@vgrichina @corwinharrell @jimmy3dita

Since https://github.com/near/near-wallet/issues/1538 is somewhat blocked by https://github.com/near/near-wallet/pull/1556 - any objections to prioritize this issue before https://github.com/near/near-wallet/issues/1538? I could pick this up next.

[2021-03-31 01:20] #1580 closed

[2021-03-31 01:35] #1552 closed

[2021-03-31 07:27] vgrichina commented on #1546
@mehtaphysical sure, your help is welcome

I think on 1) we need to do something specific for CSRF protection. I'm not sure whether `meta` vs `state` name is better, seems to me like `meta` is also pretty commonly used to denote field passing whatever extra stuff.

on 2) @abacabadabacaba I'm not sure what would be sensitive data at risk when doing signing transaction request (this concern is more

[2021-03-31 07:29] vgrichina commented on #1591
I believe big part of this is solved by https://github.com/near/near-wallet/pull/1583

[2021-03-31 15:06] corwinharrell commented on #1537
Not opposed at all but will wait on others to weigh in.

[2021-04-01 07:48] #1536 closed

[2021-04-01 11:30] chadoh opened #1603 "Every screen shows a different balance"
**Problem**

I have no idea what my actual balance is

<img width="683" alt="near wallet  send  balance - 0 00995" src="https://user-images.githubusercontent.com/221614/113287637-d67d2f00-92bb-11eb-822a-44b737fbc456.png">
<img width="683" alt="near wallet main balance - 2 50162" src="https://user-images.githubusercontent.com/221614/113287640-d715c580-92bb-11eb-9703-308c86bb8ef8.png">
<img width="6

[2021-04-01 11:31] chadoh commented on #1603
I found this when trying to reproduce a bug that showed up when my balance was less than 0.01N on mainnet, and could not, because NEAR Wallet doesn't allow me to send the last 0.35N. This is a separate but related issue.

[2021-04-01 15:21] corwinharrell commented on #1541
@jimmy3dita What are the motivations behind these changes? Have users expressed surprise and/or frustration around the 2FA storage cost? Just looking for a little additional context.

[2021-04-01 16:35] jimmy3dita opened #1604 "Fix inconsistent support links"
**Problem**
As a user who needs technical support, I can click `help` in the top menu, or `need help?` in the bottom right corner.
While the top link is linking to `https://nearhelp.zendesk.com/` the bottom right sends the user to `https://near.chat/`.
As a result, we have a duplication of tickets that start from Discord, and requires the user to open a ticket on Zendesk.

<img width="1079" alt="T

[2021-04-01 21:42] jimmy3dita commented on #1587
👍 I'll remember to add it to the next sprint

[2021-04-02 15:22] jimmy3dita commented on #1603
@marcinbodnar @Patrick1904 let's put it in the queue for the next sprint

[2021-04-02 15:24] jimmy3dita commented on #1591
Closing this one, happy to work together on a new version with a smaller scope

[2021-04-02 15:24] #1591 closed

[2021-04-02 15:26] jimmy3dita commented on #1590
What is the use case that requires to copy&paste the wallet URL twice?

Anyway, looks to me an easy fix cc @Patrick1904

[2021-04-02 16:26] Patrick1904 commented on #1603
@chadoh @jimmy3dita balances are contextual and differ depending on what action you're trying to perform. There are total balances, available balances, etc. We should probably adjust the `/sign` page 'available balance' to take into account a minimum reserved amount, like the send/stake pages though.

[2021-04-02 21:49] vgrichina commented on #823
Linking PR in progress from @Patrick1904:
https://github.com/near/near-wallet/pull/1424

[2021-04-02 22:00] vgrichina commented on #1577
not sure what is exact question, so gonna dump my thoughts in general

funding address gonna be the desired `.near` account name with such caveats:
- generally it helps if user knows that they need to fund before we create account in faucet and show them the funding option (as we want to minimise the number of accounts that get created but not claimed)
- we need to think of the case where user aba

[2021-04-04 17:09] ilblackdragon opened #1608 "Wallet returns "User rejected" back to the app on failed transaction"
# Summary

When transaction fails for whatever reason:
  - wallet doesn't show a reason
  - app receives only `?errorCode=userRejected`, which is wrong and no information on transaction hash to lookup the error

# Context

Example of such transaction: https://explorer.testnet.near.org/transactions/DBH3nBX5Jorzp7R1nbssDriVg7GGoMdugxVLkbgbHFtQ

# Steps to reproduce

1. Open app
2. Call to sign trans

[2021-04-06 00:18] jimmy3dita commented on #1541
Frustration mostly from not being able to spend/transfer all funds, which is made worse by:
- no ability to disable 2FA
- no way to know it in advance (both the storage cost AND the impossibility to get rid of it)

Overall, the 10x reduction to storage costs improved the sentiment, however we still receive random messages via chat&support channels asking why the available balance is lower, and how

[2021-04-07 21:43] mfornet opened #1623 "NEP-141 Balance is truncated and showing 0"
**Problem**
I transferred 0.002 YFI ERC20 tokens from Ethereum to Near using the bridge. However, when I go the wallet, it shows that I have `0.00` nYFI tokens.

![photo_2021-04-07 23 01 26](https://user-images.githubusercontent.com/28708963/113937895-20a16b80-97fa-11eb-9de2-5ba22c1aa8a1.jpeg)

**Expected Behavior**

I expect to see my balance with some more decimals in this particular case. While

[2021-04-07 21:43] Patrick1904 commented on #1603
Will be adding a balance breakdown called 'Available to transfer' to the `/sign` page - similar to what we have on send/stake/unstake.

<img width="560" alt="Screen Shot 2021-04-07 at 2 41 50 PM" src="https://user-images.githubusercontent.com/24921205/113938383-65ec7b80-97af-11eb-995c-4ddf28a4eb54.png">

[2021-04-07 22:48] mfornet commented on #1623
the rule of thumb I thought was:

display either two decimals,
or at least two more significant digits different from 0

for example

* 1234.56789 => 1234.57 (rounded up to two decimals)

* 0.0000123456789 => 0.000012 (display at least to more significant decimals different from zero)

* 123000.00000456789 => 123000.00 (truncate to two decimals in this case)

[2021-04-07 22:54] Patrick1904 commented on #1623
I suggest that we considering showing `< 0.00001` for small values, like we currently do for small NEAR values

[2021-04-07 23:02] marcinbodnar commented on #1623
We can also show real value on hover using title tag - we already do that for a small amount of Near.

[2021-04-07 23:03] Patrick1904 commented on #1623
Yes that'd be great!

[2021-04-08 00:36] Patrick1904 opened #1625 "nUSDC does not show up in token list after using Ref Finance"
**Problem**
nUSDC token balance does not show up in the NEAR Wallet

**Expected Behavior**
nUSDC token balance shows up

**Steps to reproduce**

1. Acquire 1.00 nUSDC on Ref Finance (https://app.ref.finance/)
2. Withdraw 1.00 nUSDC (under the 'Portfolio' tab)
3. Query the token contract using CLI, e.g. `NEAR_ENV=mainnet near view a0b86991c6218b36c1d19d4a2e9eb0ce3606eb48.factory.bridge.near ft_bala

[2021-04-08 01:29] jimmy3dita commented on #1625
Adding also @vgrichina as it may involve the contract helper

[2021-04-08 15:31] corwinharrell commented on #1541
Rather than plastering messaging everywhere that 2FA is mentioned, I'd prefer that we just ask the user to acknowledge the storage costs before they enable 2FA. This way, we ensure that the user understands the requirement before they activate the feature, and we eliminate the need to repeat ourselves unnecessarily. Let's leave the panel on the account page as is (no message), and add an explicit

[2021-04-08 15:52] corwinharrell commented on #1577
@vgrichina any reason we shouldn't use the standard recovery flow perhaps with some different wording? (eg "Continue Account Creation")

yep will add moonpay

It's common for other wallets (eg Trust) and exchanges (eg Coinbase) on mobile to allow scanning of QR code during a send/receive flow. I'm thinking ahead a bit here, but if/when NEAR is on Coinbase for example, would be nice to just be able

[2021-04-08 15:53] corwinharrell opened #1630 "Redesign of Transaction Detail and Confirmation Views + Emails"

[2021-04-08 16:08] corwinharrell commented on #1630
@jimmy3dita Would you be able to assist in filling in any gaps here?

[2021-04-09 04:16] #1537 closed

[2021-04-09 19:21] jimmy3dita commented on #1630
## Feature Design Considerations
I think we can abstract this feature as "an alert for every action that requires the wallet private key to be completed".

The actions are:
1. Send Tokens
2. Authorize Keys (authorize app)
3. Call Methods

Out of scope >> will explain below:
4. stake
5. create account
6. delete account

### 1. Send Tokens
This is straightforward, we need to display amount and recip

[2021-04-09 19:27] jimmy3dita commented on #1541
This is awesome! @MaximusHaximus @Patrick1904 let's specify the right amount: it is 3.6 NEAR tokens, not 35.

[2021-04-09 19:33] jimmy3dita commented on #1577
RE: QR Code
I support the utility of the QR code.

It may be lower if we switch to named accounts, but it's still very helpful when (as a user) I'm trying to fund the wallet on another computer or smartphone (e.g. a friend). Sending crypto via QR codes was the norm in the last 10 years, and it's also very common in Asian markets.
I'm not aware of technical debt or key changes in the codebase, so I

[2021-04-09 20:06] Patrick1904 commented on #1541
@jimmy3dita the current locked amount (35) is defined as an env variable and can be updated right now from Netlify. @vgrichina can you please update it when you have a chance?

[2021-04-09 20:44] kcole16 opened #1641 "Allow apps to pass redirect urls during linkdrop"
### Overview
As an application user, I want to sign up for an account on Flux, receive a linkdrop to create a NEAR account, and be redirected back to Flux immediately after creation, so I can start predicting the NEAR price.

We have several outstanding, high priority requests to re-implement the redirect after account creation (used to work). Specifically, we should allow apps to pass a `redirect

[2021-04-09 21:11] marcinbodnar commented on #1625
I guess it's missing `a0b86991c6218b36c1d19d4a2e9eb0ce3606eb48.factory.bridge.near ft_balance_of` in `TOKEN_CONTRACTS` env variable @vgrichina ?

[2021-04-09 21:21] marcinbodnar opened #1642 "Refactor loading fungible token balances using Redux"

[2021-04-09 21:23] marcinbodnar opened #1643 "Refresh fungible tokens and recent activity sections every few seconds"

[2021-04-09 22:12] jimmy3dita commented on #1641
@Patrick1904 @marcinbodnar we need this live within April 22nd, with at least 5 days for testing.
I need your feedback on the resources needed to implement this feature

[2021-04-09 22:22] marcinbodnar commented on #1641
@Patrick1904 you were working on linkdrop lately (i think), want to handle it?

[2021-04-09 23:33] Patrick1904 commented on #1641
@jimmy3dita @marcinbodnar sure I'm finishing up https://github.com/near/near-wallet/issues/1538 right now so will fix https://github.com/near/near-wallet/issues/1641 after.

ETA for https://github.com/near/near-wallet/issues/1641 is Wednesday the 14th. That should give us enough time to test.

[2021-04-11 04:01] mikedotexe commented on #1603
I also am getting confused by this, but this one seems like an actual error. The main landing page says I have over 3,000 Ⓝ

<img width="1106" alt="Screen Shot 2021-04-10 at 8 59 08 PM" src="https://user-images.githubusercontent.com/1042667/114291884-b4b04480-9a3f-11eb-9b6e-334ac09555fa.png">

But I have 118 according to NEAR CLI (and hence the RPC and so on)

<img width="943" alt="Screen Shot 202

[2021-04-11 11:50] ilblackdragon commented on #1577
How about we combine here something from #1453, and on the screen of "Reserve Account ID" we allow user to choose "Or signup with random account name NOW". This way for people who want to be anonymous or don't want to reserve name for period of time - they can just choose the implicit route.

[2021-04-12 15:33] think-in-universe opened #1645 "Unlocked and transferrable balance is negative"
**Problem**

One user with around 80K NEAR reported an issue that the unlocked and transferrable balance is negative (-1,072.9366 NEAR when checked previously, https://wallet.near.org/profile/08d9a90ffd033fdf966c0a04c1feb70627d1a5e7e9328b13ee6a90c322e58bd8).

So he cannot transfer NEAR as he usually does previously: https://explorer.near.org/accounts/08d9a90ffd033fdf966c0a04c1feb70627d1a5e7e9328b1

[2021-04-12 18:54] Patrick1904 commented on #1603
@mikedotexe I can see how this could be confusing. The NEAR balance shown on the dashboard is the total account balance, not just NEAR that's available to send/stake. The balance includes locked, staked balance, etc. To see actual 'available' balance, that's displayed on under 'available' on the profile/account pace (`/profile`)

[2021-04-12 19:27] jimmy3dita commented on #1645
Escalating to Priority 1: prevents the user from spending their balance.
We have an open ticket on Zendesk too

[2021-04-13 03:16] mikedotexe commented on #1603
Ah gotcha thanks, I think I legit forgot I had 3k NEAR in that account and thought the number was out of nowhere. My fault.

[2021-04-13 14:08] corwinharrell opened #1647 "Terms of Service and Privacy Policy"
### Problem

We currently don't present or require acknowledgement of any Terms of Service of Privacy Policy within the wallet. This is a legal and regulatory necessity and is something we should add immediately.

### What are we doing about it?

We'll first be linking to a pdf with the Terms and Privacy Policy, and in the future can display the terms directly within the wallet if we deem that to

[2021-04-13 14:10] corwinharrell commented on #1647
@jimmy3dita The content here is placeholder, so please refine it to match our needs.

Another thought I had is that users may not always encounter the "Reserve my Account ID" screen if they are acquiring their wallet from a near name or faucet for example. Where should we display this acknowledgment in those cases?

[2021-04-13 17:16] jimmy3dita commented on #1647
Please make sure that ToS and Privacy are clickable separately:
- [Privacy Policy](https://near.org/privacy/)
- [ToS](http://wallet.near.org/terms/) >> this link is not yet there

Also, the `Terms of Service` link in the footer points to the privacy policy

Great catch! Nearnames.com provides the 12 words passphrase, so the user has to recover it. It's a corner case, let's ship this one quickly an

[2021-04-13 17:22] jimmy3dita commented on #1647
@Patrick1904 from what I understand, we have to:
1. generate a new website link at https://wallet.near.org/terms/ and open it on a new link (so we don't lose the focus if they close down the terms window)
2. have the PDF available for download

This is the PDF:
[_20210319 Revised NEAR Wallet T&Cs.pdf](https://github.com/near/near-wallet/files/6305500/_20210319.Revised.NEAR.Wallet.T.Cs.pdf)

I don'

[2021-04-13 17:55] Patrick1904 commented on #1647
I recommend that we just host the PDF on the `/terms` route since the PDF already has the correct formatting. The user can download the PDF if necessary using the browser 'save as...' options.

[2021-04-13 18:23] jimmy3dita opened #1648 "Inconsistent display of Fungible Tokens balances"
**Problem**
I'm using https://app.ref.finance/portfolio to buy and sell NEAR fungible tokens. When I withdraw the tokens to my wallet, I encountered the following issues:
- wNEAR balance doesn't change
- nUSDT are not added to the tokens list

**Expected Behavior**
Once I buy and withdraw fungible tokens to my account, the dashboard should reflect the changes in the balances

**Steps to reproduce*

[2021-04-13 23:20] #1647 closed

[2021-04-13 23:48] jimmy3dita opened #1651 "Redirect not working for new users onboarded via login button"
**Problem**
Users can land on NEAR Wallet via the `login with NEAR` button on third-party dapps (see https://awesomenear.com/ for some examples).
However, some users may not have yet a NEAR wallet, so instead of the authorization page they see the wallet home with the buttons `Create Account` or `Import Existing Account`.

If the user begins this process, the final step will lead them to the walle

[2021-04-14 01:46] jimmy3dita commented on #1541
Is this only for the balances, or also in the displayed amounts on the page?

[2021-04-14 01:55] jimmy3dita commented on #1625
This seems a duplicate to #1648 .
I tried myself, and I solved by:
1. withdraw 1 nUSDC from ref.finance
2. open "deposit"
3. select nUSDC from the dropdown menu
4. deposit 1 nUSDC to ref.finance
5. refresh the wallet dashboard

[2021-04-14 01:56] jimmy3dita commented on #1648
Duplicate of #1625

[2021-04-14 01:56] #1648 closed

[2021-04-14 02:16] jimmy3dita commented on #1577
I think @corwinharrell has the last word on this one.

I support implicit accounts, but I need more visibility on how many things are going to change, and if we end up in a domino effect where other features and UIs need to be reworked

[2021-04-14 06:12] #1623 closed

[2021-04-14 16:04] corwinharrell commented on #1577
I think there's an opportunity to break this out and approach this as a 3-pronged conversation/epic:

1. Temporary Faucet: Improve funding flow for new accounts (this issue)
2. Fund New Account w/ Existing Account (https://github.com/near/near-wallet/issues/823 and https://github.com/near/near-wallet/pull/1424)
3. Implicit Account Support to enable creation of accounts without the need for an init

[2021-04-14 17:27] Patrick1904 commented on #546
Closing this as styling issues around inputs have been solved.

[2021-04-14 17:27] #546 closed

[2021-04-14 17:28] Patrick1904 commented on #656
Closing as this issue is now outdated.

[2021-04-14 17:28] #656 closed

[2021-04-14 17:28] Patrick1904 commented on #1114
Closing as this issue is now outdated.

[2021-04-14 17:28] #1114 closed

[2021-04-14 17:35] Patrick1904 commented on #639
ToS shipped in https://github.com/near/near-wallet/pull/1649

[2021-04-14 17:40] #1364 closed

[2021-04-14 17:42] #1189 closed

[2021-04-14 17:52] jimmy3dita commented on #623
@vgrichina and @MaximusHaximus to test if this is still present, and close or spawn a new issue to address this one

[2021-04-14 17:54] #639 closed

[2021-04-14 17:59] Patrick1904 commented on #1466
Closing as it's outdated now.

[2021-04-14 17:59] #1466 closed

[2021-04-14 18:00] kcole16 commented on #1428
Closing as @vgrichina fixed in #1435 (right?)

[2021-04-14 18:00] #1428 closed

[2021-04-14 18:02] Patrick1904 commented on #926
Shipped in https://github.com/near/near-wallet/pull/1559

[2021-04-14 18:02] #926 closed

[2021-04-14 18:14] Patrick1904 commented on #1651
I believe this used to redirect to `/login` after account creation. @marcinbodnar is this something you can look into?

[2021-04-14 18:18] Patrick1904 commented on #1625
Thanks @jimmy3dita. Closing this one.

[2021-04-14 18:18] #1625 closed

[2021-04-14 18:38] jimmy3dita commented on #1608
@ilblackdragon what is your expected behavior? This will help me understand if is a bug or an enhancement.

If the errorCode is wrong (should have been something different), it's a bug.
If the error should provide different information, is an enhancement with `Priority x` that requires a small design phase

[2021-04-14 18:46] jimmy3dita commented on #1430
I see the value for this feature. I myself have to put multiple 2FA codes when using fungible tokens, multiple times per minute if I trade.
This feature requires some design by @corwinharrell as we may need to display the queue of transactions going through the 2FA step.

[2021-04-14 18:48] jimmy3dita commented on #1425
@kcole16 if you are good, this may fall within the SDK workgroup, and have the wallet as a "consumer" of the API.

Feel free to close and link any content if you agree

[2021-04-14 18:50] jimmy3dita commented on #1380
related with #1389

[2021-04-14 18:55] jimmy3dita commented on #1332
This feature will become important as soon as we'll have the new validator selection algorithm, as recently introduced by @bowenwang1996
It will escalate to P2 and P1 (even P0) since is a future blocker for smaller validators who want to receive stake

[2021-04-14 19:57] Patrick1904 opened #1658 "Remove required /profile route to enter the Wallet account page"
**Problem**
Currently to access a NEAR Wallet account page, one has to go to wallet.near.org/profile/johndoe.near

Requiring `/profile` as part of the account URL is unnecessary and deviates from web standards (Twitter, FB, Instagram, etc.)

**Solution**
1. Remove required `/profile` as part of Wallet account route
2. Support any links that still contain the `/profile` route as part of URL

[2021-04-14 19:58] Patrick1904 commented on #1658
@jimmy3dita @corwinharrell any objections/concerns with this one?

[2021-04-14 22:22] #1641 closed

[2021-04-14 23:26] jimmy3dita commented on #680
Closed by https://github.com/near/devx/issues/215

[2021-04-14 23:26] #680 closed

[2021-04-14 23:29] jimmy3dita commented on #386
It was merged by https://github.com/near/near-wallet/pull/401

[2021-04-14 23:29] #386 closed

[2021-04-14 23:31] jimmy3dita commented on #129
fixed by https://github.com/near/near-wallet/issues/123

[2021-04-14 23:31] #129 closed

[2021-04-14 23:35] jimmy3dita commented on #118
closed by https://github.com/near/near-wallet/pull/725

[2021-04-14 23:35] #118 closed

[2021-04-14 23:39] jimmy3dita commented on #58
fixed by https://github.com/near/near-wallet/issues/58

[2021-04-14 23:39] #58 closed

[2021-04-14 23:43] jimmy3dita commented on #1651
Just need to know if it's a bug, and previously was working differently

[2021-04-14 23:46] marcinbodnar commented on #1651
@jimmy3dita I will check it out.

[2021-04-14 23:56] jimmy3dita commented on #459
Will close this one

[2021-04-14 23:56] #459 closed

[2021-04-14 23:59] jimmy3dita commented on #114
fixed by Replace semantic-ui modal/tooltip components #1525

[2021-04-14 23:59] #114 closed

[2021-04-15 00:19] #1446 closed

[2021-04-15 05:11] vgrichina commented on #1645
@jimmy3dita @marcinbodnar according to information from @evgenykuzyakov the source of problem is a bug in earlier version of lockup contract (always using transfers start date instead of lockup start date).

We need to adjust our calculation to account for it.

[2021-04-15 13:51] corwinharrell commented on #1658
Nope makes sense 👍

[2021-04-15 18:07] marcinbodnar commented on #1645
@vgrichina Ok, but if so then the wallet is calculating the locked balance properly.
 For example for this account `08d9a90ffd033fdf966c0a04c1feb70627d1a5e7e9328b13ee6a90c322e58bd8`, we take `lockup_timestamp` (as it's bigger than `transfers_timestamp`) as a lockup starting date, so it's correct. So the unlocked balance is actually negative. And the only change that we should do is to check if the

[2021-04-15 19:56] marcinbodnar commented on #1651
@jimmy3dita so it's not a bug, it was never working properly, but I'm on it right now and make it work.

[2021-04-16 00:41] marcinbodnar opened #1665 "The wallet shows only the Near logo and footer before the account state is loaded"
At this moment Near logo and footer are showing immediately after the page loaded, and then we wait for the account state to be loaded before the rest of UI is shown. This is because we want to be sure if the Landing page (no account) or Dashboard should be shown.

The idea is to improve this process, by:
1. First check if there is info about the account in the localStorage, and if so, we can show

[2021-04-16 00:45] marcinbodnar opened #1666 "The user is not able to see any data before the account state is loaded"
We can store more account data in localStorage and show this data immediately after the page is loaded (not waiting for account state), with a loader indicator so the user will be aware that the data is being updated.

[2021-04-16 06:56] #1393 closed

[2021-04-16 06:56] #1538 closed

[2021-04-16 16:19] corwinharrell commented on #1467
@Patrick1904 I think the separate page for this makes sense, but I'd like to propose that we add a couple conditional paths to this to enable the optimum experience:

If the user is logged out, they may:

1. Create a New account with which to receive the NEAR drop (regular /create flow with receipt of NEAR once complete)
2. "Log in and Claim", which routes the user to /recover-account if the user

[2021-04-16 18:30] jimmy3dita commented on #1658
Makes sense to me as well!

I can only think of corner cases, like an account that is named `terms` which would conflict with the current URL `https://wallet.near.org/terms`. This can be easily solved by restructuring the hierarchy:
`https://wallet.near.org/profile/pepe.near` might become `https://wallet.near.org/pepe.near/profile`
`https://wallet.near.org/terms` might become `https://wallet.near.

[2021-04-16 18:45] jimmy3dita commented on #1645
I believe we need more information from @evgenykuzyakov :
- the definition of `early` means we can safely add an if/else statement based on a specific epoch time? Or we have other ways to recognize these "inaccurate" lockups?
- do we know the correct _lockup start date_ ? Or we have to stick to the _transfers start date_ even if the funds are supposed to follow a different vesting schedule?
- do w

[2021-04-16 19:18] jimmy3dita commented on #1467
Let me know when I can test it!
I would put some "pressure" on the flow, as I would represent a user logging in with a Ledger, using a non-standard path, and an implicit account.

[2021-04-16 19:49] marcinbodnar commented on #1645
@vgrichina @jimmy3dita  I pushed fix here #1668 , where we compare the value from our calculation (correct amount) and from `core-contracts/get_locked_amount` (possibly wrong) and use the smaller one.

If I understand correctly, in these few cases we need to use the wrong amount because it will match the amount of Near that the user can actually transfer. If there is a way to check if the contract

[2021-04-16 21:01] jimmy3dita commented on #1645
Leaving this one here too: https://github.com/near/near-wallet/pull/1668#issuecomment-821541655

[2021-04-19 14:35] luciotato opened #1670 "bug:testnet:Wallet get stuck, doesn't show balance if a related staking-pool account do not exists anymore"
**Problem**
Wallet get stuck, doesn't show balance if a related staking-pool account do not exists
![image](https://user-images.githubusercontent.com/1760905/115253612-ecd01b00-a102-11eb-8172-28ac1d7128c0.png)

[code]

**Expected Behavior**
Ignore non-existing staking-pool and continue.

**Steps to reproduce**

1. testnet: deploy a staking-pool, stake in that pool
2. delete staking-pool account
3.

[2021-04-19 18:07] jimmy3dita commented on #1665
What is the issue from the user's point of view?

[2021-04-19 18:15] jimmy3dita commented on #1670
@luciotato were you able to delete the staking pool with third-party tokens staked into it? Where did the funds go?

[2021-04-19 20:04] marcinbodnar commented on #1665
The user needs to wait 1-2 seconds (or longer if the network is slow) before anything other than the logo and footer is shown.

[2021-04-19 22:59] jimmy3dita commented on #1665
Thanks, added a priority 2, as the absence of this feature can generate an unnecessarily high number of tickets if the RPC is temporarily slow or unresponsive.
Also, it's possible that in certain geographic areas this delay is higher anyway.

This issue reminds me of similar sync/async issues, such as the "name is unavailable" in #634 and #1506

[2021-04-19 23:01] vgrichina commented on #1665
@jimmy3dita I suggest we put it as P1 as the issue is pretty bad if you aren't on excellent network or RPC is slow, e.g. @ilblackdragon is totally frustrated with it in China.

This is something that lies on a critical path to success (like paying for something using NEAR).

[2021-04-19 23:19] Patrick1904 commented on #1467
Looks good to me! @corwinharrell @jimmy3dita I'll be picking this up next.

[2021-04-20 00:23] chadoh commented on #1603
I question whether a design that causes confusion and requires explanation is the best design. I understand that this is a tricky design challenge, given the many different kinds of balances, and I don't have a suggestion off-hand. But I think we should probably show "available" here on the dashboard as well, since I probably want to know how much I can actually use, not how much I could potential

[2021-04-20 01:28] luciotato commented on #1670
`devmeta.pool.testnet` had a test version of the meta-pool. The meta-pool acts as a staking-pool and a NEP-141 at the same time (implements both traits, and it's recognized by the wallet as a staking-pool and a token at the same time)
It does not store and stake tokens itself, it just distributes stakes between several validators.
I used the the account to test main state migrations, and later del

[2021-04-20 07:09] #1645 closed

[2021-04-20 14:05] corwinharrell commented on #1577
The team has decided that in the short-term, rather than trying to design and implement the changes to the on-boarding UX as laid out above, we will be implementing a faucet similar to Testnet, to automatically fund new accounts. This circumvents the need for a funding step, and therefore renders the following issues irrelevant:

- https://github.com/near/near-wallet/issues/823
- https://github.co

[2021-04-20 14:12] corwinharrell commented on #1021
Addressed in https://github.com/near/near-wallet/issues/1538

[2021-04-20 14:13] #1021 closed

[2021-04-20 14:15] corwinharrell commented on #751
Being addressed in https://github.com/near/near-wallet/issues/1630

[2021-04-20 14:15] #751 closed

[2021-04-20 14:20] corwinharrell commented on #742
Addressed in https://github.com/near/near-wallet/issues/1467

[2021-04-20 14:20] #742 closed

[2021-04-20 14:28] corwinharrell commented on #1371
Completed as a part of https://github.com/near/near-wallet-roadmap/issues/18?

[2021-04-20 14:28] #1371 closed

[2021-04-21 00:13] vgrichina commented on #1467
@corwinharrell design looks good overall, I only have some few small concerns:
- popups like "Your NEAR drop has been claimed" have historically been pretty glitchy (scroll issues, etc) when implemented on mobile. Let's make sure it's all clean in this case.
- I wonder if it makes sense to split instructions to go with their corresponding buttons
- wonder if "claim" is best word to describe what i

[2021-04-21 05:20] #1603 closed

[2021-04-21 09:07] think-in-universe commented on #1467
Some comments on its impact on airdrop procedure and security:

1. The current airdrop procedure with tools like **redpacket** will re1direct users to the `/create/contract/key` route which will force the user to create new accounts. This is helpful when we're dropping only to really new users. I think this is still doable as long as we don't change the behavior of `/create/contract/key` route, an

[2021-04-21 09:36] think-in-universe commented on #1467
btw, just checked with @picturepan2

In the latest version of [redpacket](https://redpacket.near.org/) released last weekend, now it already supports claiming the drop without creating a new account, if you login with an existing account.

Is it still necessary to support this in wallet if it can be done at redpacket?

[2021-04-21 13:44] corwinharrell commented on #1467
@vgrichina yep totally valid. Just fyi @Patrick1904 and I added a prop to our modal component recently that allows them to be fullscreen on mobile, so they appear as full pages to mobile users, specifically to avoid any janky-ness that may be present when they are just a portion of the viewport height. Those instances will now be reserved for modals with very little content.

[2021-04-21 16:06] Patrick1904 commented on #1467
@think-in-universe @corwinharrell @vgrichina I'm planning on redirecting any `/create/contract/key` URLs to `/linkdrop/contract/key`. If you don't want that behavior for redpacket links etc we could add support for `redirect=false` (`/create/contract/key?redirect=false`)

[2021-04-21 18:00] Patrick1904 commented on #1604
@jimmy3dita AFAIU the only change requested is to change the footer support link from 'Need Help?' to 'Questions?'

Can you please confirm and I'll fix that.

[2021-04-21 18:09] jimmy3dita commented on #1541
@Patrick1904 Followup from today's planning:
- [ ] change the env variable in the frontend from 36 to 4 NEAR (netlify.toml)
- [ ] add the confirmation checkbox to the 2FA activation page

[2021-04-21 21:18] jimmy3dita commented on #1670
Can you try logging-in with an "incognito" window, and see if the problem is persistent?

[2021-04-21 21:35] jimmy3dita commented on #1577
@MaximusHaximus feel free to open a new issue with the scoped down acceptance/testing criteria, so we can archive this work and re-open it when the smart contract and the rest of the work by @vgrichina is ready

[2021-04-21 21:53] crasskitty commented on #1467
just out of curiosity, is there anyway we can do this retroactively as well 😅 ? I accidentally funded a wallet that had already been funded and don't have the original seedphrase for it anymore. I imagine I can't be the only person in the world with this issue.

[2021-04-21 22:25] Patrick1904 opened #1674 "globalAlert flashes after clicking 'more information' on /login page"
**Problem**
globalAlert flashes after clicking 'more information' on `/login` page

**Expected Behavior**
No flashing globalAlert

**Steps to reproduce**

1. https://app.ref.finance/
2. Click 'Sign in with NEAR'
3. Click on 'More information'
4. Observe the flashing globalAlert

[2021-04-22 06:40] think-in-universe commented on #1467
yeah. I think this will be helpful.

and can we confirm this feature is still necessary in web wallet, after now redpacket's behavior has changed?

[2021-04-22 11:07] ihaid opened #1675 "Was able to disable all recovery methods"
**Problem**

**Expected Behavior**
Should be at least one recovery method

**Steps to reproduce**

1.  Create an account
2. Enable seed phrase and email recovery
3. Click disable on both at the same time
4. Confirm one by one
![image](https://user-images.githubusercontent.com/38665104/115704364-f613ee80-a373-11eb-8f56-718549247c0a.png)
![image](https://user-images.githubusercontent.com/38665104/11

[2021-04-22 19:07] #1651 closed

[2021-04-22 19:07] #1541 closed

[2021-04-22 19:07] #1604 closed

[2021-04-22 21:46] luciotato commented on #1670
Yes, same problem after recovering the account. Let me try to reproduce with another account

![image](https://user-images.githubusercontent.com/1760905/115788827-8bc27480-a39a-11eb-9160-1d254084786b.png)

[2021-04-22 22:26] #1675 closed

[2021-04-23 20:19] jimmy3dita commented on #1152
@ihaid can you check if this issue was fixed?

[2021-04-23 20:35] jimmy3dita commented on #1174
@ihaid can you check if this one is still valid? If not attach a zombie to it

[2021-04-23 20:39] jimmy3dita commented on #937
Will be fixed by #1643

[2021-04-23 20:39] #937 closed

[2021-04-23 20:39] #807 closed

[2021-04-23 20:40] #733 closed

[2021-04-23 20:41] #666 closed

[2021-04-23 20:46] jimmy3dita commented on #855
Will close this one by now

[2021-04-23 20:46] #855 closed

[2021-04-23 20:47] jimmy3dita commented on #100
Duplicate of #960

[2021-04-23 20:47] #100 closed

[2021-04-23 20:49] jimmy3dita commented on #597
Being fixed by #1665

[2021-04-23 20:49] #597 closed

[2021-04-23 20:51] jimmy3dita commented on #596
@corwinharrell @Patrick1904 we may need to show a general error alerting the user that the login URL is malformed or invalid

[2021-04-23 20:55] jimmy3dita commented on #1543
Related to #1584 and the work to redesign the keys management UX

[2021-04-23 20:58] jimmy3dita commented on #1490
Also part of the #1584 effort to improve wallet keys management

[2021-04-23 20:59] jimmy3dita commented on #1490
@mattlockyer do you know if this one is still valid?

[2021-04-23 21:32] vgrichina opened #1686 "Lockup balances behave weirdly when there is early vesting termination"
**Problem**

Lockup balances behave weirdly when there is early vesting termination (you can get negative on available tokens).

**Expected Behavior**

Early termination of vesting is taken into account:
https://github.com/near/core-contracts/blob/d84f7a924b79009d3f7aa4e577c07b08a0489dc9/lockup/src/getters.rs#L97
https://github.com/near/core-contracts/blob/d84f7a924b79009d3f7aa4e577c07b08a0489dc9/

[2021-04-23 21:42] vgrichina commented on #1686
@marcinbodnar @jimmy3dita setting this as P1 as blocking some of former team members from accessing staking rewards.

[2021-04-23 21:51] marcinbodnar commented on #1686
@vgrichina ok, I'm on it

[2021-04-23 23:02] vgrichina opened #1687 "Allow removing keys with Ledger faster"
## Story

As a USER who had a lot of keys before enabling Ledger, I want to remove all the extra keys in the smallest number of transactions possible so that I don't have to confirm each of them separately on Ledger.

## Acceptance Criteria

- [ ] Removing keys after Ledger is connected is working in batches (multiple keys per one transaction)
- [ ] Ledger app is able to process such transaction a

[2021-04-23 23:24] Patrick1904 commented on #1467
@corwinharrell for the 'Login and Claim' case: The user could login with either seed phrase or Ledger directly, and we can claim the NEAR drop as the user is logging in. However, it seems that it might result in the wrong account getting the NEAR drop since the user can have many accounts on their Ledger, and in theory several accounts on their seed phrase too. We don't give much control in terms

[2021-04-24 01:12] luciotato commented on #1670
I can't reproduce.
I'll try removing function-call access keys from my account to see if the problem disappears
I'll DM you Stefano

[2021-04-24 18:06] mattlockyer commented on #1490
@jimmy3dita when you come from nearnames you have seed phrase, you can log into wallet but you see no recovery options. Typically user adds another recovery option at this point.

Not the end of the world if user has 1 more full access key and thus 1 more backup option beyond the wallet.

Not sure how wallet team wants to handle this.

It should look at recovery options, see that user has this ful

[2021-04-26 16:21] corwinharrell commented on #1467
@Patrick1904 yeah I'm happy with that and agree that feels like the ideal flow, so they can confirm the account that they wish to receive the drop 👍

[2021-04-26 16:49] ihaid commented on #1152
Yes, still exists

[2021-04-27 17:05] jimmy3dita commented on #1686
This is a good example of logic that we want to "bundle" with smart contracts, and avoid that every wallet must re-implement this same piece of code

[2021-04-27 17:22] jimmy3dita commented on #1670
@MaximusHaximus this is material for our "product-readiness" initiative >> test how new releases interact with older local-storage

[2021-04-27 17:53] jimmy3dita commented on #1490
If I understand it right, the private key generated by nearnames is shared in plain text, and the receiver has no control over its secure transmission (e.g. via Whatsapp, SMS or email - via copy/paste). I was able to clean-up by using Ledger, as it deleted the seed and all previous keys.

Ideally, the user should go through a similar "cleanup" process that removes this potentially compromised key,

[2021-04-27 18:07] jimmy3dita commented on #1687
Adding the security tag, since it involves private keys and overall a healthy token custody.

Can we use this one to include (but not enable) features to:
1. [Logout and End Session](https://github.com/near/near-wallet-roadmap/issues/4)
2. Support Rainbow Bridge transactions?

**1. Logout and End Session**
The idea is to have a button that logout (delete keys) of any other browsers other than the

[2021-04-27 23:00] #1086 closed

[2021-04-27 23:06] #1686 closed

[2021-04-27 23:18] #1467 closed

[2021-04-28 15:39] zavodil opened #1698 "Accounts are not available in wallet (Error: Assertion failed)"
**Problem**
Some of accounts are not available in the NEAR wallet.
Check: https://wallet.near.org/profile/o_belo.near - it doesn't load balances/etc
while https://explorer.near.org/accounts/o_belo.near is loading fine

Wallet error:
Error
Sorry an error has occurred. You may want to try again.
Error: Assertion failed

Screenshot from this account user but probably it is not related:
![image_2021-0

[2021-04-28 21:52] #1698 closed

[2021-04-28 22:58] stefanopepe opened #1701 "Link wallet errors to Zendesk search"
## Story

As a wallet user who encounters an error, I want a one-click query to Zendesk search with my specific error, so I can get articles and FAQs with a solution.

As a NEAR Wallet developer improving the product, I want to see the list of most common Zendesk search queries over time, so I can correctly prioritize new articles and bugfixing

## Acceptance Criteria

- [ ] Given the error `error

[2021-04-28 22:59] jimmy3dita commented on #1701
@corwinharrell I need a quick validation of the idea, and the ideal copy for the call to action.

Right now is "click here to find a solution" but I don't really like it

[2021-04-29 02:23] vgrichina commented on #1687
@jimmy3dita so I think Logout and End Session might be very related, but Rainbow Bridge support is not.

Rainbow bridge needs to separate creating request (no user approval should be required) and validating request (user approval is required and transaction actually contains something user can verify). Approving large blob on Ledger would be anti pattern as user won't be able to verify the conten

[2021-04-29 20:05] Patrick1904 commented on #1590
It seems that the key does get added (without any error) even if already used for a different application. Is the idea that we should protect against adding the same key again? cc @vgrichina

I added the same key a few times for [patrick.lockup.testnet](https://explorer.testnet.near.org/accounts/patrick-lockup.testnet)

<img width="1193" alt="Screen Shot 2021-04-29 at 12 59 59 PM" src="https://use

[2021-04-29 22:37] Patrick1904 commented on #1584
Tagging partial improvement/fix defined here: https://github.com/near/near-wallet/issues/1687

[2021-04-30 00:35] vgrichina commented on #746
Looks like it's not as easy – linkdrop contract can be calling into `near` or `testnet` to create account with normal prefix.

So if we want to implement this – needs to pass separate argument for suffix (vs relying on contract name).

[2021-04-30 22:45] Patrick1904 commented on #746
Example case:
1. User lands with `wallet.near.org/create/linkdrop.contract.account/someKey?suffix=vlad.near`
2. User enters `my-account` in the input
3. Account is created with contract `linkdrop.contract.account` and the username becomes `my-account.vlad.near`

[2021-04-30 23:27] Patrick1904 commented on #746
@jimmy3dita I was thinking of picking this up next. Please let me know if you have any questions/concerns.

[2021-05-03 19:04] jimmy3dita commented on #746
Seems to be a blocker for the broader adoption of linkdrops (including user and partner-generated ones), so I can see the value of fixing this bug.

Won't it be obsolete once we have the new account creation process? This issue is 8 months old and comes well before the decision to have the "wallet creation engine" as in #1577

[2021-05-03 20:11] Patrick1904 commented on #746
@jimmy3dita I believe the main reason for this is that it will allow for account creation with [non-default TLA](https://github.com/near/near-wallet/issues/793). Account creation with faucet won't impact that part. cc @vgrichina

I can hold off on this until we decide to prioritize it.

[2021-05-03 23:09] Patrick1904 commented on #1658
Good point!

We have quite a few routes that will have to get priority over an `accountId` (`/staking`, `/terms`, `/buy`, `/sign`, `/login`, etc.). If a username matches an existing route, the route will get priority. So going to `wallet.near.org/terms` will go to the `/terms` page, even if the users account ID is actually `terms`.

cc @vgrichina

[2021-05-04 00:29] vgrichina commented on #1590
@jimmy3dita why is this P1?

@ilblackdragon when does this situation happen in the wild? Like why do different apps use the same key (this doesn't seem right)?

[2021-05-04 14:18] corwinharrell commented on #1701
@jimmy3dita I think simply saying "View FAQ" is enough for the user to assume that they might find an answer there.

<img width="532" alt="Screen Shot 2021-05-04 at 10 17 50 AM" src="https://user-images.githubusercontent.com/5934188/117017976-158b0f80-acc2-11eb-8d57-0850533ebd0b.png">

[2021-05-04 16:17] corwinharrell opened #1710 "[WIP] Improving Key Management"
## Problem Summary
It is a common occurrence for users to lose access to their private keys after certain events that result in old keys being deleted and/or new keys being generated. The wallet does not do a good job of calling out these events and their implications. As a result, users often miss when their old keys are rendered invalid, and some may lose access to their account. Additionally, u

[2021-05-04 16:57] jimmy3dita commented on #1710
From `5.` we have to specify `view and modify full access keys`, as other keys (from a login to dApps) are listed in the `authorized-apps` page.

This opens an additional layer, which is understanding what is a `wallet key` and what is the difference between a `full access key` and an `authorized app`

[2021-05-04 17:03] corwinharrell commented on #1710
@jimmy3dita valid. I think the right thing to do would be to allow the user to view and modify _all_ keys in the same location within the wallet, but make a clear distinction between the nature of the keys (regular vs full-access), and to ensure that we are including a sufficient amount of friction in instances where a user attempt to remove a full-access key. Thoughts?

[2021-05-04 19:16] jimmy3dita commented on #676
We ended up putting this one on hold, and approach the issue with alternative solutions (e.g. native apps)

[2021-05-04 19:16] #676 closed

[2021-05-04 19:18] jimmy3dita commented on #479
We may solve with a different approach, i.e. Torus login

[2021-05-04 19:18] #479 closed

[2021-05-04 21:19] vgrichina commented on #1428
yeah, the important part has been fixed – account only gets removed if is completely equivalent to the one that's not created yet

[2021-05-05 01:02] #623 closed

[2021-05-05 01:17] #1307 closed

[2021-05-05 01:25] jimmy3dita commented on #1590
As mentioned on Discord, I misunderstood the logic behind this error - e.g. a malicious application can re-use previously authorized keys to escalate its credentials and subtract tokens, but this is not the case. Will de-escalate to P3

[2021-05-05 01:29] jimmy3dita commented on #1710
totally agree, I'd like to see something like the [Danger Zone](https://docs.github.com/en/enterprise-server@3.0/github/administering-a-repository/setting-repository-visibility#changing-a-repositorys-visibility) in GitHub, where you can't really delete anything without clicking multiple times and confirming.

[2021-05-05 19:37] stefanopepe opened #1714 "Transfer Fungible Tokens - Version 0"
## Feature recap
In an effort to make NEAR Wallet an asset management tool, this feature will enable users to send their fungible tokens directly from the wallet UI.

This is a blocking feature for our thriving DeFi ecosystem.

More info: [Fungible tokens: manage transactions](https://github.com/near/near-wallet-roadmap/issues/15)

## Story

As a wallet user who wants to send part of his `Fungible

[2021-05-05 19:38] jimmy3dita commented on #1714
@corwinharrell please edit/add/remove any of the content above, it's still a draft

[2021-05-06 23:21] Patrick1904 commented on #1674
This seems to have been solved with https://github.com/near/near-wallet/pull/1700

[2021-05-06 23:21] #1674 closed

[2021-05-07 00:44] #1701 closed

[2021-05-07 08:53] #1665 closed

[2021-05-07 17:37] mehtaphysical opened #1730 "Unable to import account with Seed Phrase"
**Problem**

Right now I am unable to import my account with a Seed Phrase:

![](https://cdn.discordapp.com/attachments/795711816562245662/840196940103680030/unknown.png)

[2021-05-10 19:54] marcinbodnar commented on #1506
@stefanopepe @vgrichina Wallet shows a message that something went wrong - it's just not a precise message, just general info "Sorry an error has occurred. You may want to try again". Adding an account is quite complicated at this moment, there are a lot of flows and in each of them few things might go wrong. I think we should refactor it by handle every possible situation and show specific errors

[2021-05-11 20:38] marcinbodnar opened #1745 "Global alert should be able to show errorMessage for custom alert"

[2021-05-11 22:13] vgrichina commented on #1643
Something we can do here is piggy back on existing activity feed. Refresh balances when activity feed is updated. Will also need to update activity feed to include received custom tokens however.

[2021-05-13 01:51] vgrichina opened #1747 "Don't block on indexer when sending transactions"
## Story

As a USER who experiences connectivity problems or total downtime of blockchain indexer, I want to still access wallet if I already have keys, so I can send NEAR tokens and perform other transactions.

## Acceptance Criteria

- [ ] Send Money UI works (regardless of whether staking balances are loaded)
- [ ] Login into app works
- [ ] Signing transactions from app works
- [ ] Managing re

[2021-05-13 17:38] stefanopepe commented on #1506
I'll tag this one as blocked, the reason is technical debt in the account creation flow

[2021-05-14 05:15] vgrichina opened #1750 "Better feedback to user on failed transactions"
## Story

As a USER whose transaction fails, I want to understand why it did happen so I that I can attempt it again successfully.

View FAQ feature (https://github.com/near/near-wallet/pull/1731) already allows to lookup error message in ZenDesk, which might be useful.

However there are other more specific actions available depending on type of error:
- for failed but submitted transactions (whe

[2021-05-14 18:28] stefanopepe opened #1752 "Epic: Account Creation Engine V1"
## Problem
With V0, we wanted to streamline the account creation, allowing users to create their `.near` wallet without sending funds in advance - lowering the friction for account creation. The original problem was going through the legacy process of: implicit account creation > funding > deleting implicit account > sweeping funds to named account.
With V0 the wallet provides a minimal amount of

[2021-05-14 18:55] Patrick1904 commented on #1752
I see a couple of potential issues with this approach:
1. I create an account, and don't pay too much attention to what happens afterwards (which happens w/ the current funding flow a lot), or I don't have time to re-visit the wallet for days/weeks. I'm under the impression that I have an account on NEAR, but come back a few weeks later and my account is now gone. Or even worse, I send funds to my

[2021-05-14 19:08] corwinharrell commented on #1752
I agree that we should never grant an account to a user with full access only to have it reclaimed or revoked. This is unexpected (no matter how much it is explained beforehand), and also makes the user feel like there is a central authority that can modify their account access at any time.

My opinion is that if we are going to require that a user funds their own account, then we should require t

[2021-05-14 20:35] stefanopepe commented on #1752
reCaptcha was put there as a temporary measure to allow account creation without today's friction, while we can work on a more structured onboarding process that can properly mitigate all adversarial scenarios (sweeping funds and namesquatting).
This link is still valid: https://github.com/near/near-wallet-roadmap/issues/20

Re original intent: we still have users that get confused when they fund

[2021-05-14 20:59] Patrick1904 commented on #1752
I think it's important how we frame it. I don't think we should give the user any indication that their account is actually claimed before it's been properly funded. So once the user has finished setting up their recovery method, we'd show them something like "Almost there... now send at least 1 NEAR to {accountId} within 48 hours to claim it."

However, even in this case, some users will end up s

[2021-05-14 21:42] stefanopepe commented on #1752
True, I can see the issue with that. 48 hours is an arbitrary number that can be adjusted, we may just have to measure the actual gap between reserving the name and paying for it.

In that case, the user may try again to register the named account or take the risk of being "front-runned" as soon as the name becomes available again. This is anyway an issue for real humans, and would anyway mitigate

[2021-05-15 02:12] Patrick1904 commented on #1750
@corwinharrell @stefanopepe - seems like good opportunity to incorporate above observations as part of login/sign flow redesign: https://github.com/near/near-wallet/issues/1630

[2021-05-17 05:09] ilblackdragon opened #1754 "On account creation message says "verifying""
**Problem**
When creating new account with seed phrase, the button says "Verifying" for 1-2 seconds.
This is very confusing, as really the time is taken in account creation - verification is instant.

**Expected Behavior**
Saying "Creating account..." and show some animation around waiting for processing transaction.

[2021-05-17 17:54] corwinharrell commented on #1752
Wanted to share a revised flow here to see what everyone thinks. There are still some rough edges here, but I wanted to address the critical path, so please ignore small details and try to focus on the order of events + copy.

<img width="2295" alt="Screen Shot 2021-05-17 at 1 51 42 PM" src="https://user-images.githubusercontent.com/5934188/118534561-631e6800-b717-11eb-9210-e6270433ea79.png">

[2021-05-17 18:21] Patrick1904 commented on #1752
I think this is an improvement over current funding flow. However, it seems that with any type of temporary reservation of account ID, implicit account/funding address, etc. we inevitably risk causing issues for some users as some users will think that they control the account before completing all the steps. I think it's easy to just assume that if I send funds to the indicated account ID/address

[2021-05-17 18:41] corwinharrell commented on #1752
@Patrick1904 you're right that this step may not be necessary from a technical perspective. The goal here is to show the user that their initial deposit was successfully received and that their account has been activated. It's really just a form of reassurance and confirms their initial deposit details and account activation. Alternatively, we can combine this with the "Welcome to NEAR" screen.

[2021-05-17 18:51] stefanopepe commented on #1752
@Patrick1904 I suppose this is not too different from registering a domain name: the fact that `nearprotocol.com` is not registered and available doesn't mean you fully control it. You really control it when you complete the payment.
In this case, we don't ask for a registration fee (as it's gently offered by `coin-op.near` in exchange for a reCaptcha) but we ask anyway for an initial deposit to c

[2021-05-17 19:05] Patrick1904 commented on #1752
Yep fair point. I think the fact that the user receives the 'keys' to the account, especially the way we send the recovery email, does imply that the user has secured the account already. Same with Ledger, I've secured the key, so I assume that I now own the key.

That makes sense. Even if we have to make an additional action **after the account has been funded**, we could do it in the background,

[2021-05-17 19:08] corwinharrell commented on #1752
Here's what the different end states look like now (without the extra welcome screen @Patrick1904).

1. Reserved + Awaiting deposit (not yet funded)
2. Deposit received (success screen)
3. Deposit not received + account name is forfeit

<img width="1115" alt="Screen Shot 2021-05-17 at 3 05 30 PM" src="https://user-images.githubusercontent.com/5934188/118542916-9fef5c80-b721-11eb-826a-bc042d0d7b66.

[2021-05-17 19:37] Patrick1904 commented on #1752
Looks great to me - assuming that the user won't have to take any additional chain action after sending enough funds to the account. That would be great because then it doesn't matter if the user comes back to the funding page again (after sending on binance, etc.), which seems to happen quite often.

[2021-05-18 02:05] stefanopepe opened #1759 "QR code URL incompatible with third-party wallets"
**Problem**
If I try to use the QR code generated by `https://wallet.near.org/receive-money` the QR code generates the entire URL of the web wallet instead of the address alone.

As a result, third-party wallets (tested on Moonlet and Gate.io) will try to setup the recipient as `https://wallet.near.org/ADDRESS.near`

The same issue is present also if I copy the address by tapping on the icon, and

[2021-05-18 02:06] stefanopepe commented on #1759
@Patrick1904 do you want to give a look to this one?

[2021-05-18 03:57] Patrick1904 commented on #1759
Thanks @stefanopepe I'll fix it.

[2021-05-18 15:06] ilblackdragon commented on #1752
I haven't read the whole thread but just wanted to chime in:

This is generally a setup for many many users loosing their assets. Users will ignore this and will not expect their account to disappear after some time. This is not something that happens in ANY other experience. Not in web2, real world or especially in crypto (where your keys -> your crypto).

Here are examples of failure modes:
 - U

[2021-05-18 16:49] ilblackdragon opened #1762 "Long account names break detailed info about tx"
**Problem**
Long account names break detailed info about tx

<img width="775" alt="Screen Shot 2021-05-18 at 9 47 58 AM" src="https://user-images.githubusercontent.com/175486/118691798-4721d180-b7be-11eb-877e-ead7129e3faa.png">

[2021-05-18 18:07] stefanopepe commented on #1752
@ilblackdragon thanks for your feedback!

The idea is to keep the account on hold until it gets funding.

Essentially, until some tokens are deposited there's no way to access the dashboard and perform a login (to authorize transfers) like today. The 48 hours window is arbitrary and can be easily extended to a few weeks, or even one year.

The final account creation experience won't be too differe

[2021-05-18 19:35] corwinharrell commented on #1752
The most recent version of the design/UX for this can be seen [here](https://www.figma.com/file/X0TuszmPFSnxOcb4dq0ZtM/Update-Create-Account-w-Faucet?node-id=0%3A1)

As @stefanopepe mentioned above, we can easily decide to extend the "reservation window" to be any length of time and to omit explicit references to this window, which in my opinion is the best solution here without adding additional

[2021-05-18 20:36] Patrick1904 commented on #1752
I think regardless of how long we make the window, there will inevitably be some users that do not follow instructions and end up losing access to funds or/and accounts. It feels risky for me as a user to have to rely on checking to make sure I've actually secured my account within the time period, whether it's 48 hrs or more.

I very much prefer to give users the opportunity to claim a named acco

[2021-05-18 22:18] Patrick1904 commented on #1745
Fixed in https://github.com/near/near-wallet/pull/1746

[2021-05-18 22:18] #1745 closed

[2021-05-18 22:20] stefanopepe commented on #1577
we are continuing here: https://github.com/near/near-wallet/issues/1752

[2021-05-18 23:07] vgrichina commented on #1752
I agree with this concern. We for sure cannot be letting in users immediately into account for such faucet. They should see funding screen any time they try to do any interaction, including when using recovery method to recover account.

User cannot do it before funding account and adding full access key.

User cannot do it before funding account and adding full access key.

@ilblackdragon I feel

[2021-05-19 11:26] ilblackdragon commented on #1752
So this is not solving the problem that faucet and implicit account are solving - get an account that people can use in other apps even without immediate funding.

We are adding more and more options that allow people to either send assets from Ethereum or to earn directly.

Generally, we should be reducing friction to onboard people instead of increasing it.
This still sounds like extra friction

[2021-05-19 15:32] ilblackdragon commented on #1752
Name squatting is not really an issue for .near but introducing a 1m delay between account creation on the same IP address can reduce this very dramatically without much user hit.

[2021-05-19 17:01] #1754 closed

[2021-05-19 21:47] BenKurrek opened #1765 "Auto Redirect vs. Close Button. MISSING TX Hash."
**Problem**
When a transaction is complete, it gives me the option to click a close button. If I DON'T click this close button, it will automatically redirect me back to my original page.
![image](https://user-images.githubusercontent.com/57506486/118888602-dd8ee980-b8c9-11eb-8022-3cc172a2dbc5.png)

If I get automatically redirected, it will provide a transaction hash in the query string as shown

[2021-05-19 23:54] #1759 closed

[2021-05-20 13:11] mbucci opened #1768 "Unable to Change Validator after Unstaking"
**Problem**
When unstaking and withdrawing from a given validator A. It does not seem possible to restake with a different validator B. The transaction to stake to validator B is corrupted or in some other way altered to instead stake to validator A again.

**Expected Behavior**
Able to correctly change validator after unstaking

**Steps to reproduce**

1. Stake with Validator A
2. Unstake and wit

[2021-05-20 18:27] Patrick1904 commented on #1714
@stefanopepe @vgrichina @MaximusHaximus: my understanding is that storage deposit is required for the receiver to be able to receive a FT. The sender could pay for storage deposit on behalf of the receiver before sending tokens, however, the tokens won't show up in the receivers wallet unless the storage deposit was paid for by the receiver (current indexer limitation?).

Is this something that we

[2021-05-20 23:16] Patrick1904 commented on #1765
@BenKurrek, thanks for reporting this bug. The intended behavior here is that clicking the 'Close' button will simply take the user to the Wallet dashboard, not back to the referring app (fixed here: https://github.com/near/near-wallet/pull/1769). If you provide a `callbackUrl` then the user will automatically return to the provided URL after the transaction is successful.

The guest book is a goo

[2021-05-20 23:23] #1762 closed

[2021-05-21 17:19] BenKurrek commented on #1765
I looked through the guest book example and I can't find the callback URL. I also have some questions regarding the way that you guys coded the guest book. Is there any way I could schedule a call sometime? if this is possible, could you reach out to my discord Benji KOO#2468 or my email bkurrek@uwaterloo.ca. Thanks so much.

[2021-05-21 19:09] Patrick1904 commented on #1765
`callbackUrl` is optional and falls back to using the current url (referring app) if not provided. See here in `near-api-js`: https://github.com/near/near-api-js/blob/897a650a0ca75952f5ea995766372d7d572aaeb5/src/wallet-account.ts#L208

For contracts:
https://github.com/near/near-api-js/blob/master/src/contract.ts

For the guest book transaction signing, a custom `callbackUrl` would be provided her

[2021-05-21 19:12] #1765 closed

[2021-05-21 19:20] #1608 closed

[2021-05-24 16:44] stefanopepe commented on #1714
@Patrick1904 I'm not sure how to address your concern: we have to track this information from the indexer anyway, users are expecting to see tokens in their wallet (e.g. received via Bridge).

I see two possible ways to solve this one:
1. simply show every received token, and blend the storage costs with the first outgoing transaction. Essentially, the first tx will be more expensive (a batch tran

[2021-05-24 17:19] Patrick1904 commented on #1714
@stefanopepe, AFAIU, we'll need to check if the receiver has a storage deposit for the specific token. If the receiver does not have a storage deposit, the sender will have to pay for the storage deposit, and then send the tokens (in order for the token to show up on the receivers wallet).

In terms of UX, we can do all this in the background, however, the main thing to consider is that the cost f

[2021-05-24 17:48] corwinharrell commented on #1752
Sharing the latest iteration with the removal of language around the "reservation window". This way, users get a better impression that their account has been successfully created even before an initial deposit, but that it is still required to make use of the wallet.

<img width="2072" alt="Screen Shot 2021-05-24 at 1 41 45 PM" src="https://user-images.githubusercontent.com/5934188/119386963-4560

[2021-05-24 18:41] ilblackdragon commented on #1752
Given bridge and other tools can receive tokens based on just account id -
a user can easily register, not read the memo and ask a friend and or use
bridge UI that doesn't require to login to send tokens to this account.

The example with I think I've registered illia.near, and then ask a friend
to send me to that account 100k DAI is very simple.

Given you are breaking every single pattern that p

[2021-05-24 18:50] corwinharrell commented on #1752
@ilblackdragon I'm leaning on @stefanopepe here to provide context on the resolutions you two have arrived at during your discussions regarding this work, but I do have a couple of questions:

registering, one forever has an account)

1. What patterns are being broken in particular?

the cognitive load on the user, not making it more complex.

2. What temporary item are you referring to? And what

[2021-05-24 20:42] Patrick1904 commented on #1752
I suggest we add a flag in our contract-helper DB called `initialFundedAccountBalance`. The flag is set at the same time the account is created using the faucet. This ensures that the block is still in place should the user leaves the page, recover the same account in a different browser, etc.

Proposed changes:

1. Add a flag to the account object in our contract-helper DB called `initialFundedAc

[2021-05-24 22:45] stefanopepe commented on #1714
To make sure I understand correctly:
1. even if my account got plenty of near for the storage (e.g. 100), do I still have to sign a transaction for each of the received fungible tokens?
2. if I don't have enough tokens and the sender doesn't pay for the storage, the transaction is successful or not?
3. is this problem already present in the current wallet version, regardless of the token transfer

[2021-05-24 22:49] stefanopepe commented on #1752
To keep the ball rolling, I decided to move to an intermediate step that will ask the user to fund the account before giving access to the dashboard.
No accounts will be deleted at this stage, and we'll use the learnings from this change to adopt the right name preservation strategy

[2021-05-25 18:35] brookeperkins commented on #1442
I'd take the following approach:
1. Rename the translation keys to be more descriptive https://github.com/near/near-wallet/blob/7be53589264513200c6df9416cdbe06ae99d46f5/src/translations/en.global.json#L582-L587
2. Add a list item (currently called "note") describing the length limit restriction https://github.com/near/near-wallet/blob/7be53589264513200c6df9416cdbe06ae99d46f5/src/components/common/

[2021-05-25 23:14] MaximusHaximus opened #1775 "Implement ledger support for WebHID & WebUSB"
**Problem**
Recent updates to Chromium have broken U2F functionality on all Chromium based browsers.  Furthermore, U2F has already been marked as deprecated by Ledger with an intention to remove support for U2F entirely in Q1 2021.

Although Ledger's official migration guide documentation for moving off of the now deprecated U2F transport indicates that we should replace U2F with WebUSB, both U2F

[2021-05-26 06:55] #1768 closed

[2021-05-26 07:39] #1496 closed

[2021-05-26 08:57] volovyk-s commented on #1775
Related issue: https://github.com/near/near-cli/issues/762

[2021-05-26 17:21] MaximusHaximus opened #1779 "Add Mixpanel tracking for funded accounts flow"
**Problem**
Currently, we don't have visibility into the funded account flow in Mixpanel.  We should add events that will allow us to know:

[X] Did the screen think there was a funded account when the user landed on it?
[X] Do we think the recaptcha LOADED or FAILED to load
[X] Did the user ever solve the recaptcha?
[X] Did the user use the 'escape hatch' button to bypass the reCaptcha due to it

[2021-05-26 19:53] marcinbodnar commented on #783
@corwinharrell We should get back to this topic because there is an additional issue now.
I prepared changes available here #1764 , so when the indexer is not responding (like it was several times so far) user will still be able to:
 - sign tx
 - login
 - send money
Even if the other data is not available.

The thing is that in this case, the user will see that the Wallet is not working properly.

[2021-05-27 00:41] MaximusHaximus commented on #1752
@Patrick1904 :+1: that'll do it!  I think it's our best option without having something added to e.g. the wallet indexer that keeps track of whether a coin-op funded account has _ever_ had funds sent to it.

It's worth noting that we'll need to guard on the backend implementation of `clearInitialFundedAccountBalance` route to make sure there actually is enough funds in the account for this flag to

[2021-05-27 09:00] vgrichina commented on #1752
Not sure how exactly you can use implicit account in apps without funding, may you elaborate?

The only option so far that allows to send assets from Ethereum without having funded NEAR account before is Liquality which has it's own implicit account support (as do multiple other third party wallets BTW).

Letting users roll with implicit accounts creates extra friction towards them getting `.near`

[2021-05-27 09:10] vgrichina commented on #1752
@ilblackdragon I agree with this concern.

I think I commented elsewhere on potential solution (but somehow cannot find it).
1) We can reserve specific namespace for accounts created from wallet (e.g. `.is.near` or `.wallet).
2) These accounts don't even have to be funded / created for you to receive tokens. The only thing needed is that wallet records connection with recovery methods in DB and do

[2021-05-27 17:01] ihaid opened #1783 "Buttons are displaced on /send-money page"
**Problem**
Buttons are displaced on /send-money page

**Expected Behavior**

**Steps to reproduce**
![image](https://user-images.githubusercontent.com/38665104/119866875-efa20500-bf25-11eb-851b-6c03383a5019.png)
![image](https://user-images.githubusercontent.com/38665104/119866961-09434c80-bf26-11eb-95b3-ce6ae2f65423.png)

[2021-05-27 18:50] stefanopepe commented on #1775
Looks to me that we would essentially limit the use of Ledger on Chrome, as Firefox (and potentially Brave) is not anymore supported. Correct?

[2021-05-27 18:51] stefanopepe commented on #783
@marcinbodnar let's open a new issue, and mention this one as previous reference

[2021-05-27 18:51] #783 closed

[2021-05-27 19:12] stefanopepe commented on #1752
The discussion went off-topic and it's hard to extrapolate actionable feedback around the problem statement.

While I agree we have a wide margin to improve the implicit account management (see #1453), this is not the thread to discuss such a feature.
As a product designer, I need:
- Feedback around the smart contract doing escrow for the account name (cc @vgrichina) and possible alternatives
- Co

[2021-05-27 20:17] #1783 closed

[2021-05-28 14:22] corwinharrell opened #1788 "NFT Display: v0"
## Problem
The ecosystem now offers several ways for people to purchase NFTs. Outside of the original marketplace where these NFTs are minted, there is no way for a NEAR user to view their collection of NFTs that live on NEAR across different platforms.

### How did we discover this problem?
With several high-impact opportunities to onboard users to NEAR via NFTs coming up in the next several week

[2021-05-28 14:40] corwinharrell commented on #1714
I'm blocked on design here until we have clarification on @stefanopepe's questions above.

Additional Questions:

- How is this currently handled by the bridge? ie if I complete a bridge transfer, AFAIK the token I just bridged will show up in my wallet. I'm not aware of storage costs being surfaced at any point in the process
- What is an example storage cost for a single token?

[2021-05-28 16:40] #1442 closed

[2021-05-28 16:55] stefanopepe commented on #1714
From my conversation with @vgrichina yesterday:
1. no fungible tokens can be transferred to the wallet without paying the storage fee in advance - so the issue is informing the user that sending `nETH` to a wallet that never got them before will require an additional one-time fee to pay for the storage. I don't have a specific number available, but if it's higher than `.03` we should make the user

[2021-05-28 16:58] stefanopepe commented on #1788
From my recent conversation with @vgrichina it seems that backend implementation is blocked/slowed down by some NFT players in the ecosystem using different standards and smart contract calls.
Essentially, every NFT platform requires ad-hoc view methods, along with additional work for the indexer.

We may have to cut some corners to deploy the V0 on time, I'll have @vgrichina weight the UX and rai

[2021-05-28 18:17] MaximusHaximus commented on #1752
Just a follow-up note after chatting with Patrick about complexity of the current wallet frontend changes, and Stefano about release schedule, and with a consideration that Monday is Memorial Day holiday in the USA.

Our intention is to be able to test the new code on **Tuesday (06/01)**, with a possible release late on Tuesday or perhaps Wednesday, depending on what (if any) issues we shake out d

[2021-05-28 21:34] vgrichina commented on #1714
@Patrick1904 this limitation is solved:
https://github.com/near/near-contract-helper/pull/422

[2021-05-28 21:40] vgrichina commented on #1714
My understanding of how transfer would work:
1) if receiver has storage deposit already – we just need to transfer tokens
2) if receiver doesn't have storage deposit, transaction should contain 2 actions (storage deposit and transfer).
3) receiver never has to pay for anything

My understanding is that we can use this API to determine how much is needed to attach for storage deposit:
https://web4.

[2021-05-28 21:43] vgrichina commented on #1714
also looks like `storage_deposit` action has `registration_only` flag, that can be used to make sure we don't over pay for storage

[2021-05-28 23:35] #1779 closed

[2021-05-29 01:12] vgrichina commented on #1788
looks like it's not too bad (based on extra research yesterday), like Mintbase does indeed implement reasonable subset of standard
the only problems are:
- they gonna have limitation on how many NFTs one user can own in one NFT contract and still get them displayed
- stuff gonna load slower than optimally because they don't store metadata on chain

I've discovered something that we didn't take int

[2021-05-29 12:55] ilblackdragon opened #1791 "Login screen flashes full access key request"
When wallet login screen opens, first few seconds it shows the full access key request (with warning and everything) and only after that time switches to the request to share account id.

# Steps to reproduce

1. Go to https://app.ref.finance
2. Click "Login"
3. Observe first few seconds the screen like this:

<img width="654" alt="Screen Shot 2021-05-29 at 5 55 04 AM" src="https://user-images.git

[2021-05-29 18:36] corwinharrell commented on #1788
@vgrichina yeah this makes a lot of sense. What I'll do is add a heading to each "collection" on the main Collectibles page using the name and icon of that collection. That will also be reflected on the NFT details page. I'll update the design first thing Monday 👍 Thanks for the heads up

[2021-05-31 18:06] stefanopepe commented on #1791
Tagging @marcinbodnar, as probably was introduced by the recent changes to redux state

[2021-05-31 18:16] stefanopepe opened #1797 "FAQ button not redirecting to Zendesk search key"
**Problem**
In case of errors, the interface offers a FAQ button linked to the Zendesk FAQ search.
If the error message is `Sorry an error has occurred. You may want to try again.`, the FAQ button redirects to the support homepage, without automatically searching for the detailed error in monospace font.

**Expected Behavior**
see #1701 acceptance criteria for the correct behavior
Discuss here if

[2021-05-31 18:19] stefanopepe commented on #1797
@corwinharrell This is in conflict with the idea of hiding the console errors from the UI - any concerns to use this additional information to improve the error tracking of the support team?

[2021-05-31 18:19] marcinbodnar commented on #1791
Thanks @stefanopepe

[2021-06-01 02:54] think-in-universe opened #1799 "TestNet wallet page is blank for users who have logged in"
**Problem**
If you already have logged in testnet wallet before, after opening https://wallet.testnet.near.org/ or login an testnet app with wallet, you'll see a blank page and nothing is rendered.

![image](https://user-images.githubusercontent.com/46699230/120260060-b07a0800-c2c7-11eb-82fa-af530a15a94e.png)

If you clear the local storage, the page could be rendered successfully. You don't have

[2021-06-01 21:41] corwinharrell commented on #1788
@vgrichina I've added an accordion interaction to accommodate displaying NFTs by collection. Here's a quick example but you can also reference the Figma doc.

<img width="723" alt="Screen Shot 2021-06-01 at 5 40 41 PM" src="https://user-images.githubusercontent.com/5934188/120393788-842ead80-c300-11eb-9eff-3f17d5b7e146.png">

[2021-06-02 01:03] MaximusHaximus commented on #1775
Yes, switching to WebUSB _only_ would result in breaking Firefox support, but for now we can continue to fallback to U2F support for as long as it continues to work.

Update: WebUSB is apparently not functional in Chrome either as of v91.  WebHID appears to work, however.
We can try all 3 transports in code and use whichever one succeeds.

Example code pattern :):
https://github.com/vacuumlabs/ada

[2021-06-03 06:09] xmates0980 opened #1802 "Testnet- Failed to redirect to sign transaction"
I opened an a testnet on Banana- Wnear recently, but it show error as tittle. i can not add  liquidity for them, some pics attd. Pls help!
![38AD5850-E8ED-4FB2-9720-A8D40A9D1F53](https://user-images.githubusercontent.com/85275705/120595654-ef958e00-c46c-11eb-964e-0d218c64f57c.png)
![B3FBD2A3-B819-4202-9F83-226F30E59985](https://user-images.githubusercontent.com/85275705/120595668-f4f2d880-c46c-11e

[2021-06-03 21:12] marcinbodnar opened #1803 "Add banner to indicate network/RPC and CH issues"
Referance to issue #783

Recent network issues have made the wallet slow/unusable for periods of time. Additionally, some of our error messages are quite vague/misleading in these cases, and we do not warn users that the network may be the underlying issue (e.g. "Invalid Seed Phrase").

Adding a banner with a warning and link to nearprotocol.statuspal.io will help provide some indication of what's

[2021-06-03 21:13] marcinbodnar commented on #783
@stefanopepe done #1803

[2021-06-04 09:19] ilblackdragon commented on #1775
This would be great to have as part of wallet sdk library directly, so all the other projects that use Ledger can start using it right away as well. Might be a good initial piece of functionality to have if wallet sdk has not started yet.

[2021-06-04 14:21] corwinharrell commented on #1714
I'd like to request a list of available TXN metadata in order to consider how it might best fit into the wallet UI. The goal is to provide the user with more detailed metadata around their transaction both before and after they submit their transfer:

### Pre-submission
- Estimated Fees?
- Estimated Processing time?

### Post-submission
- Actual TXN cost?
- Explorer link to TXN?
- Actual processin

[2021-06-04 17:53] stefanopepe commented on #1802
Dear user,

Thank you for reaching us. I searched for the transaction on the explorer, [here](https://explorer.near.org/transactions/Ce84q2sPjaMaVTCSMpniX9aBXpXQGjkVouKE82n91Qki), and I found the following failure reason:
[code]

I suggest reaching out to ref.finance support directly, as it seems that later on you were able to add liquidity to some pools (as from [here](https://explorer.near.org/t

[2021-06-04 17:59] stefanopepe commented on #1799
I wasn't able to reproduce the issue, even on different browsers.
@MaximusHaximus it seems to me that we are going to address localstorage issues with the new Redux persistent state, right?

[2021-06-04 18:59] thedruny opened #1805 "Fix padding for items and fix icon size in "Authorized Apps" page."
**Problem**
![image](https://user-images.githubusercontent.com/53578081/120850458-24463a00-c580-11eb-9ff5-2cec15c7fb2b.png)

**Expected Behavior**

The icon should be correct size and also should be bottom padding for items.

**Steps to reproduce**

1.  Open "Account" page
2.  Click to "View all" button
3.  Click to any items from list.

[2021-06-04 22:38] #1658 closed

[2021-06-04 23:15] Patrick1904 commented on #1714
**Estimated Fees?**

AFAIU the gas cost to send tokens should be negligible and same as sending $NEAR: https://docs.near.org/docs/concepts/gas#thinking-in-gas
<img width="759" alt="Screen Shot 2021-06-04 at 4 01 00 PM" src="https://user-images.githubusercontent.com/24921205/120870552-1081e000-c54e-11eb-82c8-8661e10a0351.png">

However, the sender will have to pay for the storage deposit _if the re

[2021-06-05 04:12] MaximusHaximus commented on #1799
I reached out to a user that reported this issue via Discord, and they said it resolved itself, without any action from them (they didn't clear their localStorage), which indicates that this appears to be an intermittent low-level problem rather than a permanent issue with a key in localStorage, related to rendering the wallet when there are accounts loaded.  By removing localstorage keys, the cas

[2021-06-05 09:13] think-in-universe commented on #1799
@MaximusHaximus thanks Daryl, yeah. this is great.

better error log will make it easier for our developers to report and issue, and identify the root cause. :)

[2021-06-07 15:03] MaximusHaximus commented on #1775
@ilblackdragon Did some digging/questioning about this, and It looks like this logic would exist in https://github.com/near/near-ledger-js ideally, so that all of our various packages (including `near-cli`, `near-wallet`, `near-multistaker` just to name a few that depend on `near-ledger-js`) can benefit from automatic transport fallback without having to duplicate the fallback logic in multiple pl

[2021-06-07 17:28] stefanopepe opened #1807 "Add Liquality.io to the buy alternatives in the wallet"
Recently, Liquality.io added support to NEAR Protocol, as announced [here](https://medium.com/nearprotocol/liquality-launches-on-near-protocol-a-native-cross-chain-atomic-swap-juggernaut-6e539f9a2d8a).

The idea is to have this feature as a "first come, first serve" basis, so this one might be added to the bottom, right next to Gate.io (or Moonpay where it is available)

![Screen Shot 2021-06-07 a

[2021-06-07 17:30] stefanopepe commented on #1807
@Patrick1904 I know you have already some other things on the table, feel free to triage this one and include it or not within this sprint.
Comes after the account creation flow and the fungible tokens anyway

[2021-06-07 17:31] stefanopepe commented on #1714
@corwinharrell @Patrick1904 Is this one still blocked?

[2021-06-07 17:33] stefanopepe commented on #1799
@think-in-universe do you still have the issue, or we can close this one?

[2021-06-07 18:00] think-in-universe commented on #1101
@stefanopepe the current issue of web wallet in China is that it sometimes takes users 10~60s to open the web wallet for users and make the UX horrible sometimes for not only wallet but also DApps built with NEAR.

Below are some experiments about how to improve web wallet's UX in China.

### Performacne Benchmarks

1. Here we mainly use **ping.cn** to evaluate the connection speed of the web wall

[2021-06-07 18:03] corwinharrell commented on #1714
@stefanopepe nope!

[2021-06-07 21:28] vgrichina commented on #1807
I think we also need to do direct ETH->NEAR integration right in a wallet (though obviously that gonna be a bigger separate task).

I've with Simon from Liquality in Miami and looks like they are currently working to make it much easier to integrate into apps.

[2021-06-07 21:31] vgrichina opened #1808 "Don't require CAPTCHA for already funded accounts"
**Problem**

Looks like wallet currently always requires CAPTCHA during account creation, even if user is claiming already funded linkdrop.

**Expected Behavior**

User only has to pass CAPTCHA when account is funded for free by coin-op.near. Linkdrop flow should be as easy as possible as it's not abusable, CAPTCHA gets in a way of onboarding on events, etc.

**Steps to reproduce**

1. Create link

[2021-06-07 21:32] vgrichina commented on #1808
@Patrick1904 another small issue with CAPTCHA – I think we should hide the UI component once user already passed captcha, as right now some peeps get confused into doing it over and over again before proceeding.

[2021-06-08 02:48] think-in-universe commented on #1799
@stefanopepe yes. I cannot reproduce the issue now. we can close it.

[2021-06-08 02:48] #1799 closed

[2021-06-08 16:01] stefanopepe commented on #1807
Agree, but this is a feature that requires some more time - as it would be great to integrate the experience with Metamask and Aurora/Rainbow Bridge.
Just realized that it never had a proper description: https://github.com/near/near-wallet-roadmap/issues/1

[2021-06-09 18:39] encody opened #1814 "Focusing Send/Receive/Buy buttons with keyboard on wallet page causes text to disappear"
**Problem**

Button text on Send/Receive/Buy buttons turns white (disappears) on focus with keyboard.

**Expected Behavior**

Text is still visible when focusing with keyboard.

**Steps to reproduce**

1. Navigate to https://wallet.near.org/
2. Focus one of the Send/Receive/Buy buttons by tabbing to it with the keyboard

https://user-images.githubusercontent.com/7459638/121410278-0aae4500-c928-11e

[2021-06-10 15:45] Patrick1904 commented on #1805
Fixed in: https://github.com/near/near-wallet/pull/1806

[2021-06-10 15:45] #1805 closed

[2021-06-11 07:33] MaximusHaximus commented on #1775
@volovyk-s Re: near/near-cli#762 - this actually isn't directly related to the CLI, because the CLI uses a specific Node transport `@ledgerhq/hw-transport-node-hid'` which is not used by our `near-ledger-js` library, because it is designed for use in the browser.  That means that #762 won't be resolved by this change and whatever issue with segfaults that we are seeing in near-cli still needs to b

[2021-06-11 08:26] MaximusHaximus commented on #1752
Update:
As part of this work, we are updating the amount of NEAR required/displayed on some of the screens to be more consistent.

There are 4 related 'amounts of NEAR':
1. The amount of tokens required to be in a funded account to unlock the main UI of the wallet (new)
2. The amount of tokens that implicit accounts prompt the user to send in order to create their named account (currently  `1n`)
3

[2021-06-11 12:12] think-in-universe commented on #1101
Things to consider:

1. Will the change impact the current CI/CD workflow of wallet? we could still use Netlify / Render for preview and testing of each PR or staging version. but please confirm whether there're other side effect.
2. Will the loading speed of wallet in other districts be impacted by the change? the Cloudflare-based solutions should perform well globally, but need more testing befo

[2021-06-11 13:01] think-in-universe opened #1818 "redirect url during linkdrop doesn't work"
**Problem**

When user opens linkdrop with a `redirectUrl` param, the page is not redirected to the url after account is created.

**Expected Behavior**

User should be redirected to the url as described in https://github.com/near/near-wallet/issues/1641 and implemented in https://github.com/near/near-wallet/pull/1652

**Steps to reproduce**

1. Open the create page with link: https://wallet.testn

[2021-06-11 13:10] volovyk-s commented on #1775
Got it. Maybe we should start using `near-ledger-js` in `near-cli`. Looks like it's platform-agnostic, because it's not using or importing any particular transport in `index.js`. But it will after https://github.com/near/near-ledger-js/pull/44/files is merged. Do you think we should we keep this flexibility?

[2021-06-11 13:55] volovyk-s commented on #1775
Yeah, good point!
`near-ledger-js` is used in `near-cli` and probably other non browser projects, so let's keep it flexible :)

[2021-06-11 16:58] stefanopepe commented on #1818
cc @marcinbodnar and @Patrick1904 , we were discussing about this the other for the Account Creation v1

[2021-06-11 16:59] #1802 closed

[2021-06-11 17:02] stefanopepe commented on #1101
I see this one related to #1316 and the recent Redux optimizations by @marcinbodnar

[2021-06-11 17:03] think-in-universe commented on #1101
June 15th is the preferred time to deliver the fix to this issue. If we indeed cannot get it ready before June 15th, June 18th is the deadline, otherwise we may miss an important project in this month.

[2021-06-11 17:03] stefanopepe commented on #1316
I will embed this one in #1101 , even if not strictly connected I believe that having a smaller payload is better than just pumping everything through CDNs
cc @MaximusHaximus

[2021-06-11 17:03] #1316 closed

[2021-06-11 17:22] think-in-universe commented on #1818
I tested again just now for several times, and cannot reproduce the issue any more. the url redirect is working now.

we indeed could reproduce this issue yesterday as reported by several developers. I have asked them to try again and will share the result here.

[2021-06-11 17:38] think-in-universe commented on #1316
The JS files are not re-downloaded in my test.

The 800+ KB JS file is fast to load in my environment, but still takes 20~40 seconds for some users.

![image](https://user-images.githubusercontent.com/46699230/121727649-c042e900-cb1e-11eb-9b67-34056c2534ed.png)

[2021-06-11 20:13] MaximusHaximus commented on #1101
@think-in-universe in order to identify exactly what we need to do / code we need to land to help with this performance issue, we need to be absolutely clear what part of the loading process is blocking users from using the UI for 40+ seconds.
If the screenshot on https://github.com/near/near-wallet/issues/1316#issuecomment-859737865 is from inside of China, and it is taking 1 second to download o

[2021-06-11 21:55] marcinbodnar commented on #1818
@Patrick1904 Want to check it? If I remember correctly you were working on this feature lately, I think it would be good to double-check the code if everything looks fine.

[2021-06-12 04:00] think-in-universe commented on #1101
@MaximusHaximus in my experiments above, since redeploying the static files could resolve the page loading issue. it's probably caused by loading the JS file in this case. (I didn't change other dependent services in my experiments).

sure. let's collect more detailed profiling data from users and figure out the root cause.

[2021-06-12 08:54] think-in-universe commented on #1818
The developers could still reproduce this issue. I'm doing more investigation and will share more findings here.

[2021-06-15 02:08] #1791 closed

[2021-06-15 06:40] #1818 closed

[2021-06-15 12:54] ilblackdragon opened #1822 "Can not sign large transactions - URL too long"
If transaction is relatively large, transaction info doesn't fit into URL as there is only 2048 characters in URL can be.
Passing transaction data via POST should be supported.

[2021-06-15 18:14] stefanopepe commented on #1822
will have @MaximusHaximus look at it, as it seems a feature related to the wallet helper to me

[2021-06-16 02:46] MaximusHaximus commented on #1822
@ilblackdragon Currently, `wallet.near.org` is a static site that cannot be POSTed to; any routes that terminate at `wallet.near.org` are GET only, and are always passed along to the client side router to be handled. There is no NEAR-owned web server backing this static site; serving static resources is provided by `netlify` and `render`.

**Brainstorming, I think there are 3 primary ways that we

[2021-06-16 10:49] ihaid opened #1825 "Error during account creation on testnet"
**Problem**
![image](https://user-images.githubusercontent.com/38665104/122206090-a5b79980-cea9-11eb-95f9-4511d091fbdd.png)
If you click on the button again after the error then an account will be created

**Steps to reproduce**

1. Create an account on testnet

[2021-06-16 15:11] heycorwin opened #1826 "Paras Faucet Integration"
## Problem
Our current wallet onboarding required users to fund new accounts by making an initial NEAR deposit. This is a barrier to entry for users who are not already holding NEAR, and there is no way currently for users to fund new accounts with other tokens they might be holding such as ETH.

#### How did we discover this problem?
The Paras faucet has proven to be a valuable enabler for Rainbo

[2021-06-17 07:54] think-in-universe opened #1827 "redirect urls during linkdrop should also work for existing account (when user doesn't create new account)"
### Overview

As a linkdrop sender, I want to redirect the receiver to a URL after he/she received the dropped NEAR even if the user claimed NEAR with an existing account (didn't create a new account), so I can the linkdrop redirect workflow will be the same for all the users.

As described in #1641, implemented in #1652, and fixed recently in #1818, new users will be redirected to the `redirectUr

[2021-06-17 08:11] think-in-universe commented on #1827
The enhancement is also important to one dapp that will be launched around June 25th. so hopefully we could add the enhancement recently.

[2021-06-17 17:05] think-in-universe opened #1828 "Fail to recover newly created account on testnet"
**Problem**

TestNet wallet cannot recover newly created account with seed phrase.

![image](https://user-images.githubusercontent.com/46699230/122441786-7c455d80-cfd0-11eb-9899-172cddbe4842.png)

Also, the the transactions of the newly created accounts are invisible: e.g. https://explorer.testnet.near.org/accounts/supermen.testnet

![image](https://user-images.githubusercontent.com/46699230/12244

[2021-06-17 17:08] think-in-universe commented on #1828
@frol Hey Frol, the testnet indexer DB seems to have issues. anyone could help take a look?

[2021-06-17 17:20] think-in-universe commented on #1828
tested just now. the testnet indexer is catching up and the issue should have been fixed now.

[2021-06-17 17:20] #1828 closed

[2021-06-17 17:50] stefanopepe commented on #1827
Robert, thank you for this suggestion.
I'll leave the technical discussion to @MaximusHaximus , while my main concern is around phishing and spear phishing attacks.

An attacker might leverage this feature to create malicious airdrops to be distributed via chat channels (or similar). A small amount of tokens might convince the user to click and claim the funds, but then get redirected to a fake ap

[2021-06-17 23:29] #1642 closed

[2021-06-18 06:09] MaximusHaximus commented on #1803
@marcinbodnar @corwinharrell

I think there's actually two different issues and likely different ways to handle each.  In the case of RPC being down, there is really nothing that the user can do in the wallet; a banner makes sense in that case to me.  However, in the case of CH being down, but RPC still available, the user can still do a limited set of actions in the wallet.

In the case where the

[2021-06-18 09:15] think-in-universe commented on #1827
thanks Stefano @stefanopepe

the security concern of phishing makes sense.

IMHO, since we already supported `redirectUrl` for newly created account, adding `redirectUrl` support for existing users is not less secure than the current model.

[2021-06-19 03:32] #1752 closed

[2021-06-19 03:32] #1807 closed

[2021-06-19 21:54] starpause commented on #1822
@MaximusHaximus "Use a pattern similar to how our 2FA implementation works" sounds the best to me. It's a tested approach and reinforces a convention for handling such circumstances. Does it have CONS?

[2021-06-20 01:49] MaximusHaximus commented on #1822
The main con there (and it's a big one), is that it requires that a smart contract exists on the account, where the transactions can be stored in that smart-contract on-chain in between them being submitted and approved... which costs storage and means your NEAR account must have that smart contract deployed to it.

References:
https://github.com/near/core-contracts/tree/master/multisig
https://gi

[2021-06-21 07:33] think-in-universe opened #1835 "Browser-level password of wallet"
## Story

As a wallet user who cares the security of my NEAR account, I want to enable browser-level password so I can ensure my account was not stolen right away if my phone or computer is not well locked.

Just like MetaMask or other wallets which have a user-defined password that is required to input, if the user hasn't visited the wallet for a while, or has restarted the browser session.

The

[2021-06-21 10:03] ilyar opened #1836 "The wallet not displays NTF owned by the account"
**Problem**
The wallet not displays NTF owned by the account

![image](https://user-images.githubusercontent.com/761285/122742609-cce9de80-d28e-11eb-9b5b-c2cad71d2917.png)

**Expected Behavior**

The wallet displays NTF owned by the account

**Steps to reproduce**

[code]
https://app.arterra.co/asset/042ef1e7b95279e94d05c311819742dece56607ada05aea1e6dc9c149bb9daa8

[2021-06-21 14:50] corwinharrell commented on #1714
Design Complete: https://www.figma.com/file/unSbZpLnFv0oYBcU1gURWR/Transfer-Fungible-Tokens?node-id=304%3A593

[2021-06-21 20:29] Patrick1904 commented on #1788
V0 shipped here: https://github.com/near/near-wallet/pull/1824

[2021-06-21 20:29] #1788 closed

[2021-06-21 22:56] MaximusHaximus opened #1837 "Add redirect success_url and failure_url to `auto-import-seed-phrase`"
**Use Case**
For apps with their own funded account onboarding, we need to facilitate the final step of importing the newly created accounts into the NEAR wallet so that the app can redirect users to the wallet for signing transactions and adding access keys.

- Currently, this is partially supported by using the `auto-import-seed-phrase` route, but there is currently no way to signal back to the

[2021-06-22 00:13] #1837 closed

[2021-06-22 18:01] #1836 closed, assigned to nobody

[2021-06-22 18:05] ilyar opened #1845 "NEP-181: invalid type: string \\\"50\\\", expected u64"
**Problem**

[code]

https://nomicon.io/Standards/NonFungibleToken/Enumeration.html

[code]

https://github.com/ilyar/near-sdk-rs/blob/aeceb993eed7e7a9d6baf9e8e31b1034a663caa8/near-contract-standards/src/non_fungible_token/enumeration/enumeration_impl.rs#L60
[code]

**Expected Behavior**

[code]

**Steps to reproduce**

[code]

[2021-06-22 20:08] ilblackdragon opened #1846 "Signing transaction button is blocked by loading balance"
When singing transaction from the app, the "Approve" button is inactive until the balance loads.
It's good to check if the user has enough balance to send transaction, but RPC node will not accept it so user will see the error even without this check. Removing this block on the other hand would allow to send transactions faster to users. Also wallet can cache the balance between openings for optim

[2021-06-22 22:25] Patrick1904 commented on #1825
Thanks @ihaid. This has been fixed by @MaximusHaximus AFAIK.

[2021-06-22 22:25] #1825 closed

[2021-06-22 23:31] stefanopepe opened #1849 "Always require reCaptcha when creating non-linkdrop funded accounts on Mainnet"
https://github.com/near/near-wallet/pull/1840

[2021-06-22 23:45] stefanopepe commented on #1835
@corwinharrell I'm happy to add this one to the backlog, as it's long overdue.
@MaximusHaximus we have some work in progress with the persistent redux state, maybe you are aware of ways to encrypt part of it, and use an AES payload (or equivalent) to decrypt the private key only when is needed?

[2021-06-22 23:55] corwinharrell commented on #1835
I've always been in favor of the idea of adding this but if I recall there were some technical or security concerns expressed at one point that resulted in it not being prioritized? @stefanopepe @vgrichina is that right or is my memory serving me incorrectly?

[2021-06-23 03:14] think-in-universe opened #1851 "Cannot import account with email and phone"
**Problem**

As reported by users, the email and phone recovery methods are not usable in wallet. No buttons for phone/email recovery are available in the recovery account page: https://wallet.near.org/recover-account

![image](https://user-images.githubusercontent.com/46699230/123029401-a608e500-d413-11eb-8808-06f3cae22200.png)

One user who forgets his seed phrase doesn't know how to recover his

[2021-06-23 03:18] think-in-universe commented on #1851
ah, sorry. this is not an issue since the phone and email recovery messages are already sent when phone/email recovery are enabled.

the problem is resolved now.

[2021-06-23 03:18] #1851 closed

[2021-06-23 14:18] corwinharrell commented on #1826
Design complete.

One thing to keep in mind about interacting with Ethereum Wallets for the purpose of signing txns on the Ethereum side:

On mobile, the only way a user will be able to leverage this faucet is by accessing NEAR wallet from inside a Ðapp browser. Outside of a Ðapp browser, there is no way for a user to connect to a wallet to confirm their Ethereum transactions. I suggest that if th

[2021-06-23 17:19] #1845 closed

[2021-06-23 17:20] Patrick1904 commented on #1845
This has been merged to master in https://github.com/near/near-wallet/pull/1848

[2021-06-23 17:32] vgrichina commented on #1822
Ledger and 2FA have even stricter limitation on transaction size. URL actually can be much longer than 2048 chars in most browsers, dunno where you take this number @ilblackdragon

@MaximusHaximus Ledger has less than 1k limit for transaction size, as it has 2 or 4K RAM total.

So to solve this in a way that works for all cases (including Ledger) it should be solved on app side:
1) send large tran

[2021-06-23 18:53] corwinharrell opened #1854 "NEAR <> Fiat Conversion"
## Problem
Users currently have no way to determine the fiat equivalent of the NEAR values displayed throughout the wallet. This means that in order to reason about balances, transfers, and fees in a way that is familiar to them, they must perform conversions manually on their own.

#### How did we discover this problem?
We've received feedback both internally and through our various community cha

[2021-06-23 19:04] corwinharrell commented on #1854
cc @stefanopepe @Patrick1904 @marcinbodnar

[2021-06-23 20:04] stefanopepe commented on #1854
From my initial research, I think we can adopt Coingekko APIs: they have low-volume endpoints (50 queries per minute max that we can query ~once per minute) that in my opinion is more than enough for our needs.

[2021-06-23 22:16] vgrichina opened #1856 "Decide whether we always want to be recreating transaction (vs only if it's invalid)"
Wallet cannot submit original transaction provided by app in many cases (e.g. when account is using 2FA it is simply impossible). Trying to submit original transaction often fails with nonce errors (e.g. when you try to do 2 transactions to same app in 2 browser tabs at the same time).

There is temporary fix to always use same strategy as for 2FA (i.e. recreate transaction based on provided recei

[2021-06-24 19:57] Patrick1904 commented on #1714
@corwinharrell @stefanopepe,

@marcinbodnar @MaximusHaximus and myself just went over the design to plan the implementation of token transfers. We have some questions and concerned outlined below:

We believe that a **confirmation screen** (like our current send and stake flows) is warranted for the following reasons:
1. Since the user is selecting the `receiver` on the last step, the user may ben

[2021-06-24 20:26] Patrick1904 opened #1857 "Ledger confirmation modal: No translation for TX confirmation info when withdrawing from staking pool"
**Problem**
When withdrawing from staking pool using Ledger: The Ledger confirmation modal TX confirmation info is not defined, resulting in 'no translation found' issue.

**Expected Behavior**
The Ledger confirmation modal shows correct TX info, or falls back to generic TX info string.

**Steps to reproduce**
1. Withdraw from a staking pool using Ledger device

[2021-06-24 20:29] Patrick1904 opened #1858 "Withdraw from staking pool: 'Confirm' button flickers while withdrawing from the staking pool"
**Problem**
Withdraw from staking pool: 'Confirm' button flickers while withdrawing from the staking pool

**Expected Behavior**
'Confirm' button does not flicker while withdrawing from the staking pool

**Steps to reproduce**
1. Withdraw from a staking pool. Observe that after clicking the 'Confirm' button: disabled -> enabled -> disabled -> enabled

[2021-06-24 20:32] Patrick1904 opened #1859 "Firefox browser: The nav language switcher icon is rendered incorrectly"
**Problem**
<img width="131" alt="Screen Shot 2021-06-11 at 3 51 13 PM" src="https://user-images.githubusercontent.com/24921205/123328496-7bd92500-d4f0-11eb-8dc2-7762f0fc7116.png">

**Expected Behavior**
<img width="145" alt="Screen Shot 2021-06-24 at 1 31 38 PM" src="https://user-images.githubusercontent.com/24921205/123328514-8398c980-d4f0-11eb-94c2-c6f38118f000.png">

**Steps to reproduce**
1.

[2021-06-24 20:43] Patrick1904 opened #1860 "Switch account on /profile doesn’t actually switch the balance UI if there’s an account in the URL"
**Problem**
If the `/profile` route contains an Account ID (e.g. `/profile/johndoe.testnet`) - switching the account in the Wallet won't refresh the UI

**Expected Behavior**
Switching account refreshes the UI

**Steps to reproduce**
1. While logged in to 2 or more accounts on wallet.testnet.near.org, go to https://wallet.testnet.near.org/profile/johndoe.testnet.
2. Use the nav to switch account,

[2021-06-24 22:26] Patrick1904 opened #1861 "Verify word during seed phrase setup: Entering the wrong word does not result in an error message on the UI"
**Problem**
Entering the wrong word does not result in error message on the UI. Only the input border becomes red, indicating error.

**Expected Behavior**
The input border becomes red and a message appears below it saying 'Wrong word. Please check your phrase.'

**Steps to reproduce**
1. Try setting up a seed phrase recovery method, but enter the wrong word on the confirmation screen.

[2021-06-25 00:06] Patrick1904 commented on #1714
Also @corwinharrell, after reviewing the above, how do you feel about aligning the desktop and mobile with an on-page UX, vs special modal UX for desktop? There are quite a few issues that we have to deal with (esp. routes/params) if we do a modal UX for desktop. We can always implement a modal UX for desktop afterwards if you think it would be better.

[2021-06-25 12:05] stefanopepe commented on #1835
I need help from @kcole16 as I don't remember any specific discussion

[2021-06-25 23:28] MaximusHaximus commented on #823
@Patrick1904 @vgrichina @corwinharrell Could any of you folks take a look at this and re-cap what is left to do to allow this to be landed?  I'm going to close the associated PR #1424 until we're ready to work on this again (obviously the code is still here and able to be resurrected if it's relevant, when we get to this task again)

[2021-06-26 00:16] #1827 closed

[2021-06-26 00:28] MaximusHaximus commented on #1822
1. The 2048 char issue is caused by infrastructure between the user and the browser; a lot of older proxies and webservers still have the 2048char limit on URLs, even though modern e.g. Chrome etc. will allow huge URLs, So it is still best practice to keep URL length under 2048 chars.

2. Re: the Ledger limitation, it would appear that there is a way to sign large transactions with the Ledger, by

[2021-06-26 00:38] #1846 closed

[2021-06-26 00:39] abacabadabacaba commented on #1822
Just noting that [WalletConnect](https://walletconnect.org/) is an option that doesn't have the disadvantages of the first three. It can be used from a static website and doesn't post anything extra on the chain. It requires a relayer, but that relayer doesn't need to be NEAR-specific, in fact, existing WalletConnect relayers should work.

[2021-06-28 03:15] vans163 commented on #32
Was thinking about this the other day.  Metamask has signatures now and encrypt/decrypt.  Right now its not feasible to use access keys to encrypt/decrypt as they always change between devices.  Those devices regardless have the original private key set on the wallet.near.org domain.

A RPC api could be added to wallet.near.org for use when the wallet is added as a iframe to a page.

I realise thi

[2021-06-28 03:22] vans163 opened #1864 "Better NEP141 if promises are used"
If a call on a non-NEP141 contract includes promises that call ft_* or storage functions on a NEP141 contract, the wallet will not pickup/register the token.

Currently an extra step is required to get the tokens to appear on wallet.near.org, which is to call one of the required functions on the NEP141 contact to get the tokens to appear.

If the wallet could pick up promises, it makes DeFi and th

[2021-06-28 13:23] stefanopepe commented on #1864
We are discussing the implementation of fungible token transfers on issue #1714.
The only limitation is how to avoid spam or a cluttered interface: in a situation with thousands of fungible tokens and hundreds of airdrops, we wanted to limit the possibility to "spam" airdropped coins to wallets - as we've seen in the past on Ethereum.

Right now the solution is the one above (call a method), we ma

[2021-06-28 13:25] stefanopepe commented on #1856
If I understand correctly, is this moving the logic from the browser to the wallet helper?

[2021-06-28 15:24] vans163 commented on #1864
I see, in this case I showed above, the spam airdrops will not appear, since the receiver does not call anything.

But if getting all tokens to appear (example you get sent 10,000 tokens but your wallet seems empty) to me something like sushiswap search makes sense. So you receive ZOD token but your balance is not showing it, you click Add Token and search for it.  This Add Token button could make

[2021-06-28 16:02] corwinharrell commented on #1714
@Patrick1904 thanks for the feedback. I'm not opposed to anything suggested here so will go ahead and make some tweaks to the designs today to accomodate. To answer a couple of your questions:

The send/receive/buy buttons will remain on the Wallet dashboard. The addition of the button in the header is simply to make it easier to access from elsewhere in the app. Nothing needs to changes here.

If

[2021-06-28 18:51] #1808 closed

[2021-06-28 18:51] #1849 closed

[2021-06-28 20:28] marcinbodnar opened #1865 "Transfer Fungible Tokens: prepare redux actions"
Proposed actions:
 - SEND/TRANSFER/NEAR
 - SEND/TRANSFER/NEP141
 - SEND/PAY_STORAGE_DEPOSIT
 - SEND/IS_STORAGE_BALANCE_AVAILABLE
 - SEND/SET_TX_STATUS

[2021-06-28 20:29] marcinbodnar opened #1866 "Transfer Fungible Tokens: prepare redux reducer"

[2021-06-28 20:33] marcinbodnar commented on #1866
`send: {
		amount: '',
		token: '',
		receiver: {
			accountId: '',
			accountExists: '', // we need to have this flag to be sure that the receiver account was checked and confirmed that it exists - this is mostly in case the user will use a ready URL to send, in this situation, he would not be typing accountId and we will not check it, so on confirmation step we should check `receiver.confirmed`

[2021-06-28 20:35] marcinbodnar opened #1867 "Transfer Fungible Tokens: prepare requests"

[2021-06-28 20:36] marcinbodnar opened #1868 "Transfer Fungible Tokens: apply into UI"

[2021-06-30 00:12] vgrichina commented on #1822
of course, you might stream large transaction into Ledger. I am well aware of this possibility. However:
1) It is complicated to implement, making it easy to screw up security of implementation.
2) There is no reasonable way for user to verify such transaction on a tiny Ledger screen, making the whole process of signing with Ledger more or less pointless (as attacker can make you sign whatever str

[2021-06-30 00:17] vgrichina commented on #1822
last time I checked experience using it with Rainbow Wallet was pretty suboptimal:
- stuff is glitchy and causing delays
- to use Rainbow Wallet with mobile website you'd have to either have 2 devices to use camera to scan QR, or try to workaround it with screenshots.

I dunno whether these are limitations of WalletConnect in general or Rainbow specifically.

In any case I think the main concern i

[2021-06-30 00:21] vgrichina commented on #1822
what some older proxies or webservers do is irrelevant because we can chose our backend infra. In any case you can avoid server-side limitation by passing relevant part in URL fragment (i.e. after `#`).

[2021-06-30 06:56] think-in-universe opened #1875 "`redirectUrl` is lost when claiming linkdrop with an account recovered by seed phrase"
**Problem**

As implemented in https://github.com/near/near-wallet/pull/1830, now users claim linkdrop with existing account (already logged in) will be redirected successfully. However, if the user didn't login in the browser before and want to login with seed phrase, the `redirectUrl` parameter is lost, and the redirect won't happen.

**Expected Behavior**

The linkdrop redirect should work for

[2021-06-30 07:44] think-in-universe commented on #704
Hey guys @picturepan2 @Patrick1904, are we able to automatically detect the browser language now?

It seems still not working when I tested today.

[2021-06-30 09:05] think-in-universe opened #1877 "Add a URL parameter `tab` to open Collectibles tab directly"
## Story

As a NFT DApp developer who cares about the NFT user workflow of my users, I want to make it possible to redirect my user to the page that can show the Collectibles without clicking the tab, so I can show my user the latest NFTs they have received.

Is it possible to add a query parameter like `?tab=collectibles` in the link, so the page will open the corresponding tab when the user open

[2021-06-30 10:13] stefanopepe commented on #1864
@Patrick1904 I remember we had a similar conversation before, and we were looking for a scalable solution to manage fungible tokens list in the wallet.
Is this going to change with the new fungible tokens transfer function?

[2021-06-30 12:30] vans163 commented on #1864
I think just having the wallet code dig 1 nest deeper into the transaction when it parses it is solving 85% of it.  It solves a lot of usecases like claiming airdrops (active airdrops where a user needs to make a tx to get the airdrop) and DeFI.

The other 15% where you get sent tokens from another wallet (without calling anything onchain), so you got a passive airdrop or a friend sent you tokens

[2021-06-30 12:39] zavodil opened #1878 "Staking page doesn't show if account has removed lockup"
**Problem**
Account had a lockup and [removed ](https://explorer.mainnet.near.org/transactions/EfiYxtoMZEVQhhuYMSGnKCoi8tQEf9fjdJNvW6sG32Bk)it.
Staking page doesn't work

![Clip2net_210630153812](https://user-images.githubusercontent.com/38926321/123961619-38335f00-d9b9-11eb-83b9-4d63525c7682.png)

**Expected Behavior**

Open staking page only for main account

**Steps to reproduce**

1. "login" t

[2021-06-30 12:47] ilblackdragon opened #1879 "Changing account in the selector has a delay"
**Problem**
Changing account in the selector has a delay. For example when logging in to an app and need to switch an account from one selected - there is a noticeable delay after selecting a different account in the drop down.

**Expected Behavior**
There is no delay, as there is no information needed be loaded at that point.

**Steps to reproduce**

1. Open https://app.ref.finance
2. Click "Log

[2021-06-30 12:48] ilblackdragon opened #1880 "Wallet should link to the bridge"
Currently there is no way for people to discover from inside the Wallet that there is bridge with Ethereum.

This should be both linked on the lending page to inform users about this possibility, during funding and at the home page, potentially above the token list.

[2021-06-30 12:50] ilblackdragon opened #1881 "Show which arguments for method calls in details in recent activity"
Currently it says "Method called" in recent history. If click on the item, it shows a detailed page - but it doesn't have arguments there. Arguments should be shown.

[2021-06-30 12:51] ilblackdragon opened #1882 "Fungible token transfers should be shown in recent history"
Currently if there are either ft_transfer or ft_transfer_call - it shows them as "Method call" without showing recepient and other token information.
Instead similar to "Transfer" item should be shown in the recent history when fungible tokens are transferred.

[2021-06-30 12:53] ilblackdragon commented on #1877
Btw, I would love to have collectibles and balances page for non my account.
Right now you can only open profile account for other accounts, but there is no reason why other pages shouldn't work the same.

[2021-06-30 16:56] #1797 closed

[2021-06-30 18:11] Patrick1904 commented on #704
@think-in-universe we haven't added support for this yet. @picturepan2 do you have any bandwidth to add support for auto switching?

[2021-06-30 22:48] MaximusHaximus commented on #1822
Sadly, we don't control what hardware our requests have to traverse to get to the web clients, even if we _can_ control our hosting infrastructure, so this isn't irrelevant.

Furthermore, IE11 (still in support through 2022) has a limit of 2083 characters and even versions of Edge published through mid 2020 only supported up to around 4000 characters in a URL, and older versions of edge still had

[2021-07-01 07:57] vgrichina commented on #1864
@vans163 I think https://explorer.mainnet.near.org/transactions/GmanUywyEePAC1uEfRH8MC2WjLeNGKe3fvmAQvZedAJc is not picked up because it doesn't have `ft_transfer`, it has `ft_transfer_preregister`.

While query in contract helper only has `ft_transfer` and `ft_transfer_call`. Promises or no promises generally shouldn't have anything to do with it. With a caveat that there is another query which c

[2021-07-01 09:24] think-in-universe commented on #704
@Patrick1904 @picturepan2 I implemented one way to detect the browser language in https://github.com/near/near-wallet/pull/1884  please have a look when you get time

[2021-07-01 10:24] vgrichina commented on #1835
Note that this is mostly security theatre feature. It might make some users feel safer, but likely won't help too much in terms of actual security. Anybody worrying for real about security should use Ledger.

[2021-07-01 10:41] vgrichina commented on #1822
wallet website uses HTTPS, so generally there shouldn't be proxies in the middle (in normal situation). If there are some – we have a larger problem than URL length.

Every operation which is large transaction requiring user approval can be split into 2 transactions:
1) is confirmed by user (and so small) and requires full access key
2) is done using app specific key (and so can be max possible si

[2021-07-02 12:48] vans163 commented on #1864
Ah I see this is the difference in the behaviour then, that caveat you described.  I thought it would be the same for promises and well as the toplevel calls.

That is a method I made up which reserves storage for the receiver [if it does not exist (and paid by caller)] + does the transfer in 1 go.

It seems the solution here then would be to write a 3 promise chain in the mint contract which I wa

[2021-07-02 13:22] stefanopepe commented on #1882
@corwinharrell this is a great addition to the work we are already doing on the pagination
@MaximusHaximus include this in the requirements when we do the planning

[2021-07-02 13:27] stefanopepe commented on #1881
@corwinharrell it doesn't seem too complex from a UI perspective - except when the payload is very long (e.g. Bridge transactions).
@Patrick1904 @MaximusHaximus we already have the argument content, it should be the same we send via SMS and email, right?

[2021-07-02 13:32] stefanopepe commented on #1880
To make it more clear, the Ethereum Bridge or directly Aurora? Or both separately?
I would put them in the buy options

[2021-07-02 13:33] stefanopepe commented on #1879
@MaximusHaximus is this a bug, or we still need to wait for a response from the RPC?

[2021-07-02 13:37] stefanopepe commented on #1878
@MaximusHaximus I see it very plausible, we've been always short of test accounts with lockups.
Set to priority 3 as we don't delete the lockup from the UI, and it looks to me that completed lockups are still a very small minority of the total.

This is a good opportunity to have a "delete account and claim tokens" feature in the wallet, which was requested more than once also by support

[2021-07-02 13:40] stefanopepe commented on #1877
@corwinharrell I would batch Robert's request with the pagination.
@MaximusHaximus I suppose the footprint of this additional change is acceptable

[2021-07-02 15:57] stefanopepe opened #1885 "Add OkCoin to buy options"
Today OkCoin launched NEAR trading for US customers, introducing an airdrop for the first 5000 customers that spend $50 on it.

Since it seems trivial to add this option to our buy button, I'm proposing to have it included in the next release.

This is the landing link: https://www.okcoin.com/prices/near-protocol-near-price-chart
This is the launch article, for additional background to "weight" th

[2021-07-04 20:09] garikbesson commented on #889
Are there any updates here? People still need to be able to log out.

[2021-07-05 14:04] zavodil opened #1886 "NFT spam in Collectibles tab"
**Problem**

NFT contract may send a spam in the Collectibles tab and pretend to be an official source of information

![Clip2net_210705165921](https://user-images.githubusercontent.com/38926321/124482950-7d3d0400-ddb2-11eb-9cf4-90a507b6eacd.png)

**Expected Behavior**

- Show notifications that information in that tab is unofficial and not related to Near Team.
- Allow users to report abuse nft c

[2021-07-06 18:01] ihaid opened #1887 "Navigation bar disappears"
**Problem**
Navigation bar disappears when switching account

**Steps to reproduce**

1. Log in to 2 accounts
2. Go to "Import Account"
3. Click "Sign in with Ledger"
4. Switch between your accounts
![image](https://user-images.githubusercontent.com/38665104/124646416-4859ab80-de9d-11eb-913a-d77619aad9b9.png)
![image](https://user-images.githubusercontent.com/38665104/124646448-53acd700-de9d-11eb-

[2021-07-06 19:32] MaximusHaximus opened #1888 "ESLint rules for import ordering and semicolon requirements"
**Problem**
Our current ESLint ruleset is extremely sparse; we should have some solid ESLint rules in place that manage low-level code formatting requirements.

- Organize `import` statements:
https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/order.md

This is the ruleset I'd like to use:
[code]

Running eslint --fix on save should be all the thinking about organizing import

[2021-07-06 23:25] #1888 closed

[2021-07-07 02:37] #704 closed

[2021-07-07 17:22] #1875 closed

[2021-07-08 15:06] think-in-universe opened #1896 "The NFT source URL will be opend, when user clicks on Collectibles in Wallet"
## Story

As a NFT user who has purchased some NFTs, I want to find the original link of the NFT where it's minted or created, so I can find its source easily.

As requested by some users, they want to make the NFTs (images) shown in the [Wallet Collectibles](https://github.com/near/near-wallet/issues/1788) being linked to the original page where the NFT is minted or purchased.

For example, if an

[2021-07-08 18:06] ilblackdragon opened #1897 "Comma formatting for token amounts"
Currently near amount has "," to separate 3 decimal places but token balances are not.

[2021-07-08 18:09] ilblackdragon opened #1898 "Show what to expect on Ledger screen"
Currently after clicking on "Approve" for transaction, a screen is shown saying "Approve operation" but it doesn't show any info about the operation itself. Given most of the times the set of actions that user approves are under the wrap in more information - the info that Ledger shows end up pretty much unexpected and un-useful to user.

It make sense in the "Approve operation on the device" pop

[2021-07-08 18:18] ilblackdragon opened #1899 "Recover / login with Ledger should not be adding access keys"
Currently if user recovers accounts with Ledger or logins into an app - the new key is added to the account.

There is no reason for this. Wallet UI can maintain in the local storage the information about the key location.

Apps login also should not require adding key, if the app is not requesting to add an access key for it's usage. Also user should be able to select even if app is requesting, t

[2021-07-08 19:04] ilblackdragon opened #1900 "Hide 0 balances for tokens"
Currently if user have touched contracts for any reason, they show up with 0 balances in the wallet without any reason.

Here is an example of a wallet that was whitelisting some tokens for another contract usage:

<img width="569" alt="Screen Shot 2021-07-08 at 12 03 23 PM" src="https://user-images.githubusercontent.com/175486/124976844-9deca000-dfe4-11eb-9836-36e74ee938da.png">

[2021-07-08 20:56] nearmax opened #1901 "When balance drops below 0.2 wallet thinks account is not initialized"
**Problem**
When balance of an account drops below 0.2 wallet thinks that account was not initialized and shows the below message. However, the account might be fully functional. Even if balance was almost 0 empty accounts can still be used to log in into many dApps, like ref.finance. 0.2 NEAR is enough to pay for the gas for most of the transactions.

![image](https://user-images.githubuserconten

[2021-07-09 21:46] MaximusHaximus commented on #1901
This is expected behaviour that we added intentionally and and just shipped this week.
Ref: https://github.com/near/near-wallet/issues/1752

Although the main wallet page/UI shows the 'lock' screen, specific routes (such as logging into an app) should **not** be  locked and can be used for interacting with apps.

The idea here was to motivate folks that had accounts that were created by the coin-o

[2021-07-12 12:13] #1867 closed

[2021-07-12 15:01] think-in-universe commented on #1101
### Summary

As we discussed in Slack and Discord, JS bundle and other static assets are the bottleneck of initial page loading for wallet users in some districts like China.

Below are data collected on June 25th by Amos that confirmed the speed is still quite slow

[code]

### Solutions

1. The complete fix would require us migrating the deployment onto Cloudflare Pages and Cloudflare for all th

[2021-07-13 09:22] stefanopepe commented on #1885
@MaximusHaximus let's consider to add this one to the backlog, and have it on the list of the buy options soon =)

[2021-07-13 09:34] stefanopepe commented on #1901
I agree with @nearmax, the screen should show only the first time - then if a user falls again under 0.2, the wallet should remain operational for login and other related activities (e.g. 2fa and key rotation)

[2021-07-13 09:41] stefanopepe commented on #1877
@MaximusHaximus assigned this to you, so we can make sure it will make it in the current sprint (or not). Feel free to "un-assign" when done

[2021-07-13 09:47] stefanopepe commented on #1878
@corwinharrell I moved this issue from "bug" to "new feature". The overall UX is around wallet maintenance, and a flow allowing users to close lockups that are completed, and potentially delete/claim accounts via some "danger zone" in the `/account` pane.
The priority will increase over time, as more lockups will be over.

[2021-07-13 09:55] stefanopepe commented on #1886
@corwinharrell I'm wondering if we want to add a switch "spam filter = true" to the wallet UI, and arbitrarily censor such initiatives - leaving the users to disable this filter if they want to see them anyway.
It may rapidly become a cat-and-mouse game, where we need to continuously block new spam contracts and their NFTs, at that point we'll use some collective intelligence (e.g. a DAO) to decid

[2021-07-13 10:02] stefanopepe commented on #1887
I wasn't able to reproduce the issue. Can you submit a video with the steps you are following? I'm not sure I'm doing the steps correctly

[2021-07-13 10:09] stefanopepe commented on #1896
It seems to me that the current NFT standard doesn't provide this piece of information.
So, assuming the wallet is ready to implement such feature, we need first:
1. a standard variable in the minted NFT containing the URL on the hosting platform
2. that NFT platforms implement this updated standard, allowing the wallet to correctly redirect users

Is this correct?

[2021-07-13 10:21] stefanopepe commented on #1897
It may be a bug introduced by different regional settings to the OS >> in US/UK decimal and thousands separators are respectively `.` and `,` such that you can read `1,000,000.50` for one million and fifty cents.
In other locales (I know for sure Italy) they are inverted, and you would read `1.000.000,50`.

I tried myself with no success, do you have a screenshot so I'm sure we are talking about t

[2021-07-13 10:24] stefanopepe commented on #1898
Assigning this one to @corwinharrell so he can ask a few questions. Do you have a screenshot or a step-by-step process we can use to reproduce the experience?
It's not 100% clear if the issue needs to be solved also on the Ledger screen, or it's simply a wallet-side improvement

[2021-07-13 10:28] stefanopepe commented on #1899
This is a duplicate of https://github.com/near/near-wallet/issues/772#issuecomment-671761847 and https://github.com/near/near-wallet/issues/1536#issuecomment-808784422

It's not completely clear what's the needed effort, @vgrichina do you have any updates? It seems to me that we may need to review the Ledger app to make this happen.

[2021-07-13 10:30] stefanopepe commented on #1899
Adding a p1 as I don't like the idea of "tainting" a ledger account with on-chain keys generated by the wallet

[2021-07-13 10:33] stefanopepe commented on #1900
It should be fixed with the V0 of fungible tokens transfers in #1714, as is part of the acceptance criteria.
Linking this issue to the epic, so you can test when we are ready