[2021-07-13 10:34] stefanopepe opened #1909 "Transfer Fungible Tokens - Version 0 - QA tested"
This is an experimental usage of the new "todolist > issue" conversion tool.
Will use it when @ihaid completed the test cycle =)

[2021-07-13 11:30] think-in-universe commented on #1896
@stefanopepe yes. this is correct.

[2021-07-13 12:27] stefanopepe commented on #1896
I support this improvement to the NEP, as I can see the value of linking NFTs to their native management platform.
@vgrichina what do you think about this additional field in the NFT, such that we always know the "canonical" link to show on the wallet (and maybe the explorer too)?

[2021-07-13 13:46] corwinharrell commented on #1898
In general, the implementation of the ledger workflow is suboptimal, and I agree that the primary issue is insufficient feedback for the user as they perform each action. Happy to work towards some improvements here 👍

[2021-07-13 13:57] corwinharrell opened #1910 "Improve Comprehension of Items in the Activity Feed"
## Problem
Events in the wallet activity feed do a poor job of communicating the actions and transactions to which they are related. The way each item is displayed and articulated makes it difficult for users to understand what each activity item is referring to, and how they relate to the actions that the user has taken most recently.

#### Job Story(s)
- When I review my activity feed, I want to

[2021-07-13 13:58] corwinharrell commented on #1882
Have created an issue to encompass this as well as other improvements in order to make the activity feed more comprehensible: https://github.com/near/near-wallet/issues/1910

[2021-07-13 17:47] think-in-universe opened #1912 "Email Subscripiton section could be removed"
**Problem**

The email subscription section on wallet landing page is not quite useful now, and could be moved, per feedback from Amos and Illia.

![image](https://user-images.githubusercontent.com/46699230/125500260-fbab4df7-6476-4411-b9ca-3a2a38a0ec76.png)

**Expected Behavior**

The email subscription section should be removed now.

**Steps to reproduce**

1. Open the wallet landing page withou

[2021-07-14 03:23] MaximusHaximus commented on #1912
cc: @stefanopepe

[2021-07-14 06:45] starpause commented on #1886
Allowing users to burn NFT from their wallet may be enough.

I like the idea of a DAO for managing trusted contracts. A report spam button built into the wallet is better UX.

As for what to do with untrusted content, https://wax.atomichub.io/ has some precidence. Any contract/collection has a warning on it until proven trustworthy. I like the idea of blurring the preview and overlaying the warnin

[2021-07-14 07:35] #1912 closed

[2021-07-14 10:49] think-in-universe opened #1919 "Claim Linkdrop is Extremely Slow (>60s) in Mainnet Wallet"
**Problem**

Claim linkdrop is extremely slow on mainnet wallet at the moment: when you click **"Claim with Existing Account"** button, the `contract.claim()` function will be called, which costs more than 60s. During the process, all the access keys of `near` accounts will be fetched by 3 times.

https://github.com/near/near-wallet/blob/b58683fd7032b26e38a28a6385dc6f0ebf47068f/src/utils/wallet.js

[2021-07-14 11:00] think-in-universe commented on #1919
Here is the HAR file that might help us understand the profiling details:

[wallet.near.org.har.zip](https://github.com/near/near-wallet/files/6815509/wallet.near.org.har.zip)

[2021-07-14 13:29] marcinbodnar commented on #1879
While switching accounts we need to get new account state data, so it's related to how fast the response will be.

I tested it, a few minutes ago it's working very fast for me, changing the account took less than 0.5 second. After few minutes it was about 1 second. But it might take longer if the response is slow.

I will take a deeper look and try to improve it.

[2021-07-14 14:20] ilyar commented on #1886
**We are solving the problem we created.**

**Now the logic is this - the user sees the NTF:**

1.if a transfer was made for the user (this is not always the user's initiative) and at the moment it does not work for the case when the user issues NTF by paying for the dipozit. (An example of this token https://pluminite.com/#/gem/token-1624492673598 I received by minting, but it does not sees in my

[2021-07-14 14:43] marcinbodnar commented on #1854
I'm not sure if refreshing USD value automatically every few seconds is the best idea, the problem will be that the values will be constantly changing, and if for example, the user will be in Transfer flow he will see USD value change every few seconds.

I think a better idea would be to add a refresh button:
 - one somewhere in the main menu
 - or everywhere where USD values will be shown
 - or f

[2021-07-14 14:51] marcinbodnar commented on #1803
The problem I can see here is that the user might already be in the route that will not work, and he will be trying to perform an action that will fail constantly.

Also, login/sign flows are not available from buttons, so there might be a situation where the user enters the wallet, sees that it's not working, and doesn't even try to login or sign tx.

I think the idea of graying out the buttons i

[2021-07-14 14:55] think-in-universe commented on #1919
### Investigation

The root cause is that for signing transaction in wallet, now we'll first `getLedgerKey()` which will call `getAccessKeys()` and then filter out the ledger key.  This is OK for most accounts, but for acounts with thousands of keys such as `near` or `testtnet`, it impacts the performance significantly.

https://github.com/near/near-wallet/blob/b58683fd7032b26e38a28a6385dc6f0ebf47

[2021-07-14 15:14] think-in-universe commented on #1919
@MaximusHaximus @stefanopepe

This issue is a blocker for the NFT project release. Please make sure we could include the fix into this week's release before July 16th.

[2021-07-14 15:21] corwinharrell commented on #1854
I don't think we need to worry about a refresh button or triggering every few seconds. I think once per minute is plenty, and then each time the user changes routes or refreshes their browser window. @marcinbodnar any opposition to this?

[2021-07-14 16:15] ihaid commented on #1887
https://user-images.githubusercontent.com/38665104/125656150-3ff19605-634a-4055-904a-449df81dd408.mov

@stefanopepe

[2021-07-14 18:10] MaximusHaximus commented on #1901
Currently:

We set a flag on any new funded accounts in the Accounts database that `near-contract-helper` uses.
When the wallet loads, we fetch the state of that flag from the contract helper.
- If the flag is set and the wallet balance is under 0.2N, then we display the splash screen.
- If the flag is set and the wallet balance if over 0.2N, the wallet frontend POSTs to the contract helper and cl

[2021-07-14 18:25] Patrick1904 commented on #1901
This is true as long as the user has clicked the 'Continue to my Account' button that appears on the funding screen once the account has been sufficiently funded. If the account was at one point sufficiently funded but the user never clicked the 'Continue to my Account' button, which unlocks the account, then the screen will continue to appear. Clicking the 'Continue to my Account' button is that

[2021-07-14 19:18] marcinbodnar opened #1922 "Use selectors to get data from Redux state in whole project"

[2021-07-14 21:45] #1919 closed

[2021-07-14 23:42] #1877 closed

[2021-07-15 13:54] marcinbodnar opened #1924 "getAccount method is called unnecessarily and can be replaced by getAccountBasic in many places"
The problem is that in many places in the code, the method `getAccount` is called, which additionally calls` has2faEnabled` from `TwoFactor` and `decorateWithLockup`. In most cases this is unnecessary, and we can just call `getAccountBasic` which skips these two additional calls.

[2021-07-15 14:41] marcinbodnar commented on #1879
Added few improvements, it should work faster:
 - there were some unnecessary calls in `checkContractId` action
 - `getAccount` method was checking lockup, and we don't need it in this flow
 - improved `loadAccount` method, so it will not check for 2fa two times.

[2021-07-15 16:40] ihaid commented on #1901
@MaximusHaximus I tried: create an account, then recover it when it is not funded, and leave it in an incognito window.
Then in another window fund that account(>0.2N), log in to it, and send money back(<0.2N).
Return to the incognito window -  splash screen visible but after the refresh, it will disappear

[2021-07-16 10:11] ilblackdragon opened #1926 "Consider adding OAuth / SAML"
OAuth2 is a global standard for Single Sign on across the web2.
Wallet currently implements a single sing on process but based on cryptography.

Consider what would supporting OAuth would look like. This would open up adding login via NEAR across many other properties (like Gitbook).

[2021-07-16 12:13] stefanopepe commented on #1898
Ping me on Figma when ready for review =)

[2021-07-16 12:28] stefanopepe commented on #1910
RE: "Take stock of all of the events that can potentially appear in the activity feed"

We now have three major classes of events (green check means good enough):
✅ normal transactions (inbound and outbound) and their relative amounts
✅ key-related activities (add/remove keys - essentially do logins)
🛑 call methods

<img width="411" alt="Schermata 2021-07-16 alle 15 18 24" src="https://user-images

[2021-07-16 12:40] stefanopepe commented on #1854
I surprised myself reloading multiple times apps like Blockfolio like a slot machine, to see if numbers go up or down 😅

@marcinbodnar @MaximusHaximus is it reasonable to "proxy" this value on our backend, querying Coingekko once a minute, and then max every 2 seconds (to spare their APIs) if someone is calling the endpoint?

[2021-07-16 12:42] stefanopepe commented on #1887
Interesting.

assigning to @MaximusHaximus & cc @Patrick1904 to investigate the glitch

[2021-07-16 12:46] stefanopepe commented on #1901
@nearmax is the issue still present in the account? I can give a peek to the database to check for glitches

[2021-07-17 10:52] ilblackdragon opened #1928 "Clicking Approve quickly on signing transaction screen leads to failure"
**Problem**
After opening a sign transaction screen and clicking approve right away - transaction singing fails.

This is happening because account Id seems like been taken from the selector, which takes time to load. And if clicked quickly, selector still has "undefined" selected. Which leads to transaction been tried to signed with undefined account.

**Expected Behavior**
There is should be no

[2021-07-17 10:53] ilblackdragon commented on #1846
Fix was done incorrectly, and lead to #1928

[2021-07-17 14:53] think-in-universe opened #1929 "The Selected Language is partially visible behind Language Switch in Firefox"
**Problem**

The "E" letter (first letter of English) is partially visible behind the language toggle / dropdown in Firefox (while it works fine in Google Chrome) on Desktop (Mac / Arch Linux, etc.)

![image](https://user-images.githubusercontent.com/46699230/126040627-e06fcbbd-726a-4913-ae79-39d6603dedb0.png)

**Expected Behavior**

The selected language should be totally invisible in any mainstr

[2021-07-19 12:55] stefanopepe commented on #1926
This is valuable for the work on the NEAR Login, cc @DiscRiskandBisque .
Overall, I see users giving more value to private keys that hold money - contrary to PGP, which suffers the unresolved issue of forgotten and lost private keys.

My question is whether this should be part, instead, of APIs that the wallet (and any other 3rd party NEAR wallet) can offer to their users >> the result might be a

[2021-07-19 13:04] stefanopepe commented on #1928
@Patrick1904 what is the async logic that requires this additional loading time?

If I remember correctly, this delay is necessary to prevent that users can click "send" if the available balance is insufficient, avoiding unnecessary load on the contract helper. Probably having a cached number helps, even more if we expect the user to confirm multiple transactions within a minute (therefore, the ca

[2021-07-19 13:05] stefanopepe commented on #1928
@MaximusHaximus I'll let you decide when we want to include this specific issue in the sprint backlog, it's a P2 unless we find it's blocking for slower/higher latency connections (Asia)

[2021-07-19 13:08] stefanopepe commented on #1929
This seems easy to test. @MaximusHaximus I've optimistically tagged as "good first issue" but if this is not low-risk, feel free to remove it

[2021-07-19 18:31] marcinbodnar opened #1930 "Missing function to fetch tx details by hash"
We need to have a function that will fetch tx details based on transaction hash only.

[2021-07-20 00:17] vgrichina commented on #1928
@stefanopepe it is on the way of user giving money to app, IMO should be at least P1 if not P0.

[2021-07-20 18:54] corwinharrell commented on #1910
@stefanopepe would you be able to aggregate a list of the following:

- All the possible methods that we can call
- Their names as they currently appear in the wallet activity feed
- The function of each method, the instances where it is called

[2021-07-20 21:50] MaximusHaximus commented on #1928
@marcinbodnar Could you take a look at this? Would like to get it into this weeks release :)

[2021-07-20 23:15] marcinbodnar commented on #1928
@MaximusHaximus Done #1931 - waiting for the balance to be load was removed

[2021-07-21 07:32] marcinbodnar commented on #1928
@MaximusHaximus When it comes to signing tx before the balance is loaded (regarding #1846 ), we can also speed up the signing process by not waiting for the account state to be loaded.

Made that change in #1931 , so now users can super fast allow sending tx - no delay of any kind and working with no problems..

[2021-07-21 08:20] think-in-universe opened #1932 "Create sub-accounts from specified acount with Wallet"
## Story

As a developer who wants to best utilize the advantage of the domain-like sub-account model of NEAR account system, I want to make it easy for my users to create accounts such as `alice.redbag.near` using my own domain such as `redbag.near`, so I can in future send airdrops, provide discounts, etc. to those accounts created under my domain.

To make it possible, we need to make the `:fun

[2021-07-21 08:26] marcinbodnar commented on #1928
@MaximusHaximus Also added a global alert with an error description (instead of standard error description) that will appear if the user allows signing tx but the request will throw no enough balance error.

[2021-07-21 10:19] RubyJiao opened #1933 "Linkdrop Pages cannot be open in certain browsers on Android phones used by Chinese users"
**Problem**

This is a China-specific issue.

For the first-time wallet user, when opening the linkdrop links in certain browsers (QQ Browser, UC Browser, Huawei browser in phones) in Android phone (Huawei, Xiaomi, Meizu, Oppo and so on), the screen is blank and nothing is rendered. The issue can be reproduced in both WiFi and 4G did not work.

The linkdrop pages can be opened successfully in Chro

[2021-07-21 10:30] RubyJiao opened #1934 "It takes long time to receive the verification code"
**Problem**
This is a China-specific issue.

When the Chinese users registered with email, it took about 2 or 3 minutes to receive the verification code. It takes so long and the experience of users is not good enough.

**Expected Behavior**
Users could receive the verification code immediately when registering with email, .

**Steps to reproduce**

1. Register wallet account with email
2. Wait fo

[2021-07-21 10:44] think-in-universe commented on #1933
This issue is only reproducible on certain Android phones which are popular among Chinese users.

I have found some devices to reproduce the issue, and will try to investigate and fix the issue.

[2021-07-21 19:38] MaximusHaximus commented on #1882
Syncing with @frol to talk about this topic this week so that we can be sure that things are consistent between the wallet UI and the explorer UI

[2021-07-21 20:28] MaximusHaximus commented on #1854
Absolutely -- we will need to make the request for the USD values go through the contract helper, which can maintain a cache of the value so that we only re-fetch the value once every couple of seconds, that way increased user load on the frontend will not cause us to exceed the quota of Coingekko API calls per minute. :+1:

Like @corwinharrell , I don't think that having the value be stale on the

[2021-07-22 02:29] #1900 closed

[2021-07-22 04:20] think-in-universe commented on #1933
Debugged with Chrome Inspect for Android Browsers, and the reason the page is blank is because the JS / CSS files are not returned (0 bytes are returned).

![image](https://user-images.githubusercontent.com/46699230/126588963-7bf581a0-a7a1-42e2-8b4d-27a92fc6296e.png)

[2021-07-22 04:21] think-in-universe commented on #1933
By inspecting with cURL for request to the JS file under difference circumstances, below are the testing result.

(1) Open linkdrop page with Huawei Browser (11.1.2.301) on Huawei Android Phone (Android 10; OCE-AN10 Build/HUAWEIOCE-AN10 / HarmoneyOS)

- Result: Failure
- Expect: JS File returnd
- Actual: HTML page returned

[code]

(2) Open Wallet home page with Huawei Browser (11.1.2.301) on Huaw

[2021-07-22 08:24] think-in-universe commented on #1933
By changing **referer** from `https://wallet.near.org/create/near/2x5XV75ocTg8R35rq5wn2ULfqM5qta5S9gdLo7U4JoR8vMigBNfSSxkfofUL6hcZAiJF3iT9uV3w2R4zagAsLPV9` to `https://wallet.near.org`, the JS file could be retrieved sucessfully.

[2021-07-22 19:26] #1928 closed

[2021-07-23 00:54] #1879 closed

[2021-07-23 02:36] #1865 closed

[2021-07-23 02:36] #1866 closed

[2021-07-23 02:40] #1868 closed

[2021-07-23 04:32] RubyJiao opened #1943 "Can't receive the 2FA code with email when authorizing transactions"
**Problem**
The user can't receive the 2FA code with email when authorizing transactions. He tried many times but it still didn't work.

**Expected Behavior**
Users could receive the 2FA code with email when authorizing transactions

**Steps to reproduce**

1. Send transaction
2. Can't receive the 2FA code with email

[2021-07-23 04:38] think-in-universe commented on #1933
The root cause is that browsers like Google Chrome will only send the origin `https://wallet.near.org` to the server, while the Huawei / QQ Browsers will send the entire URL `https://wallet.near.org/create/near/2x5XV75ocTg8R35rq5wn2ULfqM5qta5S9gdLo7U4JoR8vMigBNfSSxkfofUL6hcZAiJF3iT9uV3w2R4zagAsLPV9` to the server, which caused the issue.

One solution is to enforce `strict-origin-when-cross-origin

[2021-07-23 04:50] think-in-universe commented on #1933
Another possible solution is to allow non-origin `referer` on Cloudflare worker, but I didn't take time to investigate yet.

[2021-07-23 08:33] stefanopepe opened #1949 "Can't send tokens with 2FA enabled"
**Problem**
As a user with 2FA enabled, I can't send fungible tokens or NEAR tokens.

<img width="1029" alt="Schermata 2021-07-23 alle 11 25 33" src="https://user-images.githubusercontent.com/6222429/126756460-50174193-17ac-487c-8e58-17143d67d1bf.png">

**Expected Behavior**
I should be able to send tokens normally, with the usual 2FA process

**Steps to reproduce**

Use https://wallet.staging.nea

[2021-07-23 09:32] stefanopepe commented on #1943
Did the user open a ticket at https://nearhelp.zendesk.com/ ?
We can take it from there, and then move here the discussion when it's clear how the developer can reproduce the issue. I used the 2FA email a few minutes ago, and it all worked fine, so we need to further investigate why the user is not receiving it.

Will take this one via direct messages

[2021-07-23 09:32] #1943 closed

[2021-07-23 09:33] stefanopepe commented on #1934
Is this issue persistent across all email providers? Or it's specific with some of them, like qq.com?

[2021-07-23 09:34] stefanopepe commented on #1909
see #1949

[2021-07-23 09:58] stefanopepe opened #1950 "Add failsafe 2FA message function to mitigate SMS and email delivery issues"
## Story

As a 2FA Wallet User who asked a 2FA code, I want to click "try again" if I didn't receive the SMS after 60 seconds, so I can anyway use my funds if my mobile number or email provider are filtering messages.

As we know, users can activate 2FA in the wallet to protect their funds. This functionality asks a one-use, six digits code before clearing a transaction, sent by SMS or email. The

[2021-07-23 09:59] stefanopepe commented on #1950
@corwinharrell feel free to add your "copy" to the messaging
@MaximusHaximus what is the technical effort to add a "failsafe" message to the existing backend?

[2021-07-23 13:15] corwinharrell opened #1951 ""Load More" for NFT Collections"
## Problem

The current implementation of the NFT gallery in the wallet isn't accomodating of larger collections since there is no pagination being used.

## What are we doing about it?

The proposed solution is to add a load more button to each collection. Each collection would display only the 2-4 most recent NFTs received, with an option to load more. Clicking this button would increase the hei

[2021-07-23 13:16] corwinharrell commented on #1951
@Patrick1904 @MaximusHaximus The designs for the collectibles tab have been updated to include the load more pattern.

[2021-07-23 16:38] #1933 closed

[2021-07-23 19:02] Patrick1904 opened #1955 "FT transfer: Ledger modal doesn't close after finishing sending token"
Problem
Ledger modal doesn't close after finishing sending token

Expected Behavior
Ledger modal should close after finishing sending token

Steps to reproduce

Use https://wallet.staging.near.org in a Firefox browser:

1. Try sending a token
2. Observe that the modal stays open after successfully sending

[2021-07-23 21:00] ihaid commented on #1909
LGTM

[2021-07-23 21:00] ihaid commented on #1949
Seems like the issue was fixed!

[2021-07-23 22:23] #1955 closed

[2021-07-25 16:07] think-in-universe opened #1961 "The `recoverUrl` in Email and SMS could be encoded"
**Problem**

Some users reported that the [`recoverUrl`](https://github.com/near/near-contract-helper/blob/ea02a316376276aee331af058b613b1d17918b89/app.js#L278) in the recovery message sent via email or SMS, contains the [plain text of the seed phrase](https://github.com/near/near-contract-helper/blob/ea02a316376276aee331af058b613b1d17918b89/app.js#L221), which looks unsafe for them.

**Expected B

[2021-07-26 08:34] think-in-universe opened #1962 "open `redirectUrl` even if the linkdrop is invalid"
**Problem**

In the case of claiming NFT drop via linkdrop, it happens that the wallet didn't jump to `redirectUrl` automatically after user claimed the linkdrop (root cause is not sure yet, under investigation). As a wordaround, wallet may still redirect to the `redirectUrl` as long as the user has logged in wallet.

**Expected Behavior**

Wallet still redirect to `redirectUrl` even if the linkdr

[2021-07-26 09:24] think-in-universe opened #1963 "Show a reminder dialog before being redirected to external URL"
## Story

As a wallet user who want to avoid being phished by 3rd party web applications, I want to be reminded before I was redirected to an external link, so I can double check the link before I confirm the redirect.

For example, in the case of `redirectUrl` of linkdrop, the wallet may show a popup window first before being redirected to the `redirectUrl`.

## Acceptance Criteria

- [ ] Before

[2021-07-26 15:12] stefanopepe commented on #1961
There was already a discussion around this specific issue. Encoding via Base64 would simply obfuscate the seed, applying the wrong principle "security by obscurity".

The industry standard is asking the user to choose a password (typing it twice!) and generate a seed AES-encoded with the password. Without the password, the wallet cannot be recovered.
Now, the issue is which library can be used for

[2021-07-26 15:17] stefanopepe commented on #1961
Adding a P2 since pro-users can move to the seed passphrase or Ledger, which are anyway safer

[2021-07-26 15:19] stefanopepe commented on #1962
Do you have a few transactions for forensics? Maybe we can found something in the logs and check what didn't go well

[2021-07-26 15:20] stefanopepe commented on #1963
Adding @corwinharrell since we may need some UX prototyping.
I give green light to the feature, it's overdue and would benefit all user base

[2021-07-26 18:44] ilblackdragon opened #1964 "Fail to sign a transaction"
**Problem**
Fail to sign a transaction

**Expected Behavior**
Transaction gets signed successfully

**Steps to reproduce**

1. Open an app
2. Try to do a transaction
3. Click sign in the wallet
Observe an issue with signing transaction.

**Reasoning**
Some accounts are not getting found from backend.
For example this fails: https://helper.mainnet.near.org/account/walletState/illia.near But account

[2021-07-26 18:44] ilblackdragon opened #1965 "Fail to sign a transaction"
**Problem**
Fail to sign a transaction

**Expected Behavior**
Transaction gets signed successfully

**Steps to reproduce**

1. Open an app
2. Try to do a transaction
3. Click sign in the wallet
Observe an issue with signing transaction.

**Reasoning**
Some accounts are not getting found from backend.
For example this fails: https://helper.mainnet.near.org/account/walletState/illia.near But account

[2021-07-26 19:45] MaximusHaximus commented on #1964
Closing duplicate issue (#1965)

[2021-07-26 19:45] #1964 closed

[2021-07-26 19:47] #1909 closed

[2021-07-26 20:36] MaximusHaximus commented on #1949
This has been resolved!

[2021-07-26 20:36] #1949 closed

[2021-07-26 22:58] Patrick1904 commented on #1887
@marcinbodnar thinking this might be related to `flowLimitation` - do you know if there's a quick fix?

[2021-07-26 23:01] Patrick1904 commented on #1885
@corwinharrell I'm not able to find an svg version of OkCoin's latest logo. Do you know if there's potentially an alternative source for this?

[2021-07-26 23:03] Patrick1904 commented on #1929
Linking this issue so that it's closed when fixed: https://github.com/near/near-wallet/issues/1859

[2021-07-26 23:16] MaximusHaximus opened #1966 "Add Redux selectors for all state accesses"
Blocks #1239

**PROBLEM:**
_Currently, we access redux state using direct references to the entire state tree/structure. For example, rather than having a selector `getActiveAccountId()`, we have a direct reference to `state.account.accountId` in `Profile.js`._

**Using direct references has several drawbacks:**
- Our components know the exact structure of our state tree, so if we want to move som

[2021-07-27 14:44] marcinbodnar commented on #1887
@Patrick1904 It's probably a quick fix, but nothing comes to my mind, need to investigate it.

[2021-07-27 15:28] MaximusHaximus opened #1967 "Use Lerna to manage packages in `near-wallet` repo"
Currently we have two packages in the `near-wallet` repo.  The primary package is the wallet frontend itself, which has a `package.json` at the root level of the repository.  There is also an `e2e-tests` package with its own package.json _nested inside the near-wallet package code tree_.

This is a problem for multiple reasons, including but not limited to:
1. Node module resolution will find pack

[2021-07-27 16:01] marcinbodnar commented on #1887
@Patrick1904 Fix ready here #1968

[2021-07-27 16:06] marcinbodnar opened #1970 "Check if checking the sign path does not cause any problems"
We have two paths starting with the same characters:
 - sign
 - sign-in-ledger.
We should check if that might cause other similar problems as in # 1887.

[2021-07-27 16:11] marcinbodnar commented on #1887
@MaximusHaximus we should also check other situations like that, that might appear. Added an issue here #1970

Also regarding routes, some time ago I had an idea to add all of our routes in one object #678, additionally, we can use it in `Routes.js` to map routes object, instead of writing all routes inline. The idea appears when we had a bit simpler routes but I think it still can be implemented.

[2021-07-27 22:08] MaximusHaximus commented on #678
From what I understand, it's a standard best practice to render child components under your top-level Routes that then themselves contain definitions for the routes that they provide handling for -- those should be paths that are more specific than the route that was matched to render the parent components...see https://reactrouter.com/web/example/nesting as reference.

It seems reasonable to defi

[2021-07-27 22:21] marcinbodnar opened #1971 "When entering Sign flow, an account is refreshing constantly in a loop"
**Problem**
When entering sign flow, an account is refreshing constantly in a loop.

**Expected Behavior**
The account should refresh only once and display proper results.

**Steps to reproduce**

1. Enter this URL:
https://wallet.near.org/sign?transactions=EgAAAG1hcmNpbm9vMTEudGVzdG5ldAD%2BDlj%2FhSnKIDPWe4qhDT0KaXa7CnEZ%2FE8VrdP34EXkaBFP56LJLwAAIAAAAGRldi0xNjI2ODUzNjQzMTUwLTkzMDA4OTQ3NDA3OTA571ZF

[2021-07-27 22:36] marcinbodnar commented on #1971
https://user-images.githubusercontent.com/36210360/127236351-6c866b45-0be2-42eb-88bf-7c5b1093daa8.mov

[2021-07-28 00:53] ilyar opened #1972 "Improve AddKey"
I think the page with the list of access keys (https://wallet.near.org/full-access-keys) is not informative enough.  This may lead to additional questions or erroneous user actions.

![image](https://user-images.githubusercontent.com/761285/127110544-667f07e0-f398-45bf-b273-87cac3ad8a96.png)

If we add additional information when adding a key, this will make the user's experience more intuitive.

[2021-07-28 01:31] RubyJiao commented on #1943
The user did not open a ticket. He found that the 2FA email worked the next day.

[2021-07-28 01:33] RubyJiao commented on #1934
Most of the issues are with qq.com

[2021-07-28 09:19] stefanopepe opened #1974 "FAQ button from errors redirects users to Chinese support pages"
## Context
To better support Chinese-speaking users, we recently introduced a dedicated page at [https://nearhelp.zendesk.com/hc/zh-cn](https://nearhelp.zendesk.com/hc/zh-cn) and hired a native-speaking customer success person located in China.
This is an opportunity to update any Zendesk links generated by the wallet set to the Chinese language.

## Story
As a Chinese-speaking wallet user getting

[2021-07-28 09:20] stefanopepe commented on #1974
Adding a P1: it's blocking for @RubyJiao

cc @think-in-universe

[2021-07-28 09:22] stefanopepe commented on #1965
@MaximusHaximus from the conversation on the internal chat, it seems to me this issue was generated by the U2F error on Ledger, correct?

[2021-07-28 14:47] think-in-universe commented on #1974
@stefanopepe  @RubyJiao

Here is my solution that should probably work: https://github.com/near/near-wallet/pull/1975

@RubyJiao Ruby, could you please test with this version to check whether it works well for Chinese FAQs now? https://near-wallet-pr-1975.onrender.com/

[2021-07-28 15:02] think-in-universe commented on #1962
@stefanopepe I checked all the reported accounts and didn't see any failed transactions, so still confused about how the failure happens and we didn't yet find a way to reproduce the redirect failure by ourselves.

[2021-07-28 20:32] Patrick1904 opened #1976 "Remove circular referencing between wallet.js and action files"
#### Problem
`wallet.js` is currently importing and dispatching actions.

#### Solution
Remove all circular referencing between `wallet.js` and action files.

#### Potential side effects
Be aware of any current automatic error handling or reliance on pending actions. Throwing errors (and error toasts) may have to be handled in component where the action is being dispatched.

#### Acceptance criter

[2021-07-28 21:46] marcinbodnar opened #1977 "Refactor NFT actions, reducers and requests"
Refactor NFT actions and reducer to match FT implementation.
Move logic from actions that don't use Redux into the service file.
Call the service methods from actions.

[2021-07-29 06:16] RubyJiao commented on #1974
It works well for Chinese FAQs

[2021-07-29 13:19] esaminu commented on #1814
Unable to repro on latest version of code. No style changes when buttons are in :focus state.
Same results confirmed by @Patrick1904 . Closing the issue.

[2021-07-29 13:19] #1814 closed

[2021-07-29 14:57] marcinbodnar opened #1981 "Prepare NFT pagination functionality"
Part of #1951
Prepare actions and refactor requests to be able to handle pagination.

[2021-07-29 16:03] mattlockyer opened #1982 "Linkdrop Flag to Skip Claim or Create Account Screen"
## Story

![image](https://user-images.githubusercontent.com/321340/127525883-9e74810b-4d32-4dac-9dae-63a3e9b5c52d.png)

## Acceptance Criteria

- [ ] Linkdrop has flag to skip Claim or Create Account Screen
- [ ] Linkdrop with flag takes user directly to "Reserve AccountId" step in the current linkdrop flow
- [ ] Everything else is the same, including redirectUrl which should take them back to th

[2021-07-29 16:13] mattlockyer opened #1983 "Linkdrop, Create Account and Sign In to App - All in One Flow"
## Problem

If a user is given a linkdrop to create a new account, they can go through this flow and be redirect to the app, but they are NOT signed in to the app.

This means the user would have to return to the NEAR Wallet and approve the sign in to the app.

Too many steps, when we can do it all in one flow!

## Story

![image](https://user-images.githubusercontent.com/321340/127526420-b7dbf457

[2021-07-29 16:15] mattlockyer opened #1984 "Matt was Born"
That is all.

[2021-07-29 16:15] #1984 closed

[2021-07-30 00:15] marcinbodnar commented on #1966
@MaximusHaximus I will start with it soon. Just a thought. What do you think about moving the selectors into separate files? I mean when I looked into this file:
https://github.com/near/near-wallet/blob/9563798e30f6305a17c0995042e8081baa67e692/src/reducers/nft/index.js
for the first time I thought that it would be great to have selectors separate, so we will have a good view of what is selector wh

[2021-07-30 03:14] MaximusHaximus commented on #1982
💖  This will be a nice flow for onboarding, I think we can do it in the next sprint :)

[2021-07-30 03:30] MaximusHaximus commented on #1983
This sounds like a really smooth flow :+1: I like it!

Related to this PR is our discussion on adding `successUrl` and `failureUrl` URL parameter support to the linkdrop flow.  Those 2 url params are already supported in the login flow.  If we add `failureUrl` to the linkdrop flow, then we take the user through both the account creation flow _and_ the login flows as part of a single visit to the w

[2021-07-30 05:05] MaximusHaximus commented on #1972
I don't believe that expiration of access keys is supported by the protocol itself; are you envisioning this would be exclusively part of the wallet itself and not part of any protocol restrictions?  If the former, I would be a bit concerned that it could be misleading for users if we show expired times next to keys that can still be used on-chain.

We can absolutely add metadata to the access key

[2021-07-30 06:39] Tarnadas commented on #1984
Sorry but I don’t see a commit referencing this issue.

[2021-07-30 07:53] ilyar commented on #1972
@MaximusHaximus  My proposal relates to changing the protocol, the wallet example is a special case, apparently that's why @bowenwang1996  moved my proposal here, it doesn't make sense to do it only at the wallet level.

[2021-07-30 08:23] #1974 closed

[2021-07-30 08:24] MaximusHaximus commented on #1974
#1975 is merged so is now live on staging -- it'll be in our next release :)

[2021-07-30 08:25] MaximusHaximus commented on #1965
I believe so :). The walletState request failing turned out to be unrelated (it has no impact on the UI)
Please do re-open this if this was a different issue :) @ilblackdragon

[2021-07-30 08:25] #1965 closed

[2021-07-30 08:27] #1471 closed

[2021-07-30 09:03] MaximusHaximus commented on #1966
The selectors directly read data from the reducer state and shouldn't really have any other external dependencies, so I think that co-locating them in the same file is convenient and relevant.

Now that we are creating "slices" using redux-toolkit's `createSlice()`, action creators for simple reducer cases will be automatically created  and exported as part of the slice along with the reducer itse

[2021-07-30 09:20] ihaid opened #1987 "404 page should rendering on non existing page"
**Problem**
If you go for [https://wallet.staging.near.org/tab=collectibles](https://wallet.staging.near.org/tab=collectibles) you will see the wallet, but the URL is invalid cause it missed `?` before `tab=...`

**Expected Behavior**
404 not found should rendering

**Steps to reproduce**

1.  Go to https://wallet.staging.near.org/tab=collectibles
2. Click `Collectibles`
3. See the error in consol

[2021-07-30 12:18] mattlockyer commented on #1984
Then I must not exist.

[2021-07-30 13:27] stefanopepe commented on #1984
https://www.planetebook.com/free-ebooks/1984.pdf

[2021-07-30 13:39] stefanopepe commented on #1972
I remember discussing internally the matter a while back. The identified opportunities were mostly two:
- have a `master key`, able to spawn full-access keys. Losing the master key is the equivalent of losing the seed of any other wallet
- the `master key` could define properties of full-access keys, such as duration or number of uses

Unfortunately, this would unnecessarily complicate the protoco

[2021-07-30 15:13] esaminu commented on #1966
I like the domain driven file structure this will encourage 👍

While cross domain thunks and and cross cutting thunks might not be as common, I think cross domain selectors will be very common since I expect we'll often want to compute a value from different parts of the state tree to display things in a certain way or decide what to render. How we group cross cutting actions, selectors and thunks

[2021-07-30 16:10] #1929 closed

[2021-07-30 17:48] CodingJzy opened #1988 "Account Seed phrase"
How do I know the Seed phrase of the sub-account? Where can I back up the Seed phrase of the near main account, and there is no way to know the Seed phrase of the created sub-account? The near experience is not good,

[2021-07-31 01:20] MaximusHaximus commented on #1977
Closed by https://github.com/near/near-wallet/pull/1978

[2021-07-31 01:20] #1977 closed

[2021-07-31 07:26] think-in-universe opened #1989 "Need a reliable SMS solution for districts including China and Vietnam"
**Problem**

The current twilio based SMS service is disabled for China and Vietnam users when registering a new account or 2FA, which makes the UX worse for the users. Considering we a large user base in China and Vietnam, the problem should be fixed.

**Expected Behavior**

We have a reliable SMS solution that works for all the major districts including China and Vietnam.

**Steps to reproduce**

[2021-07-31 08:16] think-in-universe opened #1990 "Account ID Input Box doesn't work properly when using Chinese Input Method"
**Problem**

When typing the account ID with Chinese input method, some English chars are skipped unexpectedly.

![image](https://user-images.githubusercontent.com/46699230/127733496-ebf07828-3204-439b-a7f3-c65d43acf58e.png)

**Expected Behavior**

The Account ID input box should still work properly even using Chinese input method, as Google search box did:

![image](https://user-images.githubuser

[2021-08-02 07:13] CodingJzy commented on #1988
@bowenwang1996 Answer it？

[2021-08-02 07:23] eriktrautman commented on #1536
I see this marked Released - GA but am not seeing the feature in the wallet. When setting up a new wallet account, it still asks for permission for the default path only:
![image](https://user-images.githubusercontent.com/2977438/127820390-455a50fe-ad6d-4ee8-9399-2975f225cf52.png)

[2021-08-02 13:02] stefanopepe commented on #1990
@MaximusHaximus any idea what's up on this one?

[2021-08-02 13:03] stefanopepe commented on #1989
Closing as it's a duplicate of #1950

[2021-08-02 13:03] #1989 closed

[2021-08-02 13:04] stefanopepe commented on #1987
adding @MaximusHaximus
Maybe @Patrick1904 or @marcinbodnar can give feedback on this one

[2021-08-02 13:05] stefanopepe commented on #1988
Hi @CodingJzy thank you for submitting this request.
Can you explain with more detail the task you want to accomplish, and the expected result?

[2021-08-02 13:15] stefanopepe commented on #1962
Any list of accounts previously affected? I can try to dig in the error logs

[2021-08-02 13:20] stefanopepe commented on #1934
It seems that these email providers apply some extra checks on the emails before forwarding them to the user. This is an example by [Salesforce](https://help.salesforce.com/articleView?id=sf.mc_es_email_deliverability_in_china.htm&type=5).
Will close this issue, let's take it on support channel, and re-open the issue with directives for the dev team on the available mitigations,

[2021-08-02 13:20] #1934 closed

[2021-08-02 13:21] stefanopepe commented on #1885
@think-in-universe do you think we can help Patrick with this task? Do you have the csv logo handy?

[2021-08-02 15:27] think-in-universe commented on #1962
@stefanopepe yeah. I'll send you. there're a few as collected by @RubyJiao

[2021-08-02 15:55] think-in-universe commented on #1885
@stefanopepe I'm working on looking for a svg version of the OKCoin logo. will let you know once I get one.

[2021-08-02 21:09] MaximusHaximus commented on #1966
Agreed!  We've already got cross-cutting selectors (things that need `accountId` from our accounts slice plus some data from another selector are gonna be common) and I expect it'll be the norm in many cases <3

There are essentially two types of async thunks:
1. A thunk that directly mutates state with the result of an async call (e.g. the `.fulfilled` or `.rejected` payload is what we care about

[2021-08-02 22:16] MaximusHaximus commented on #1922
Closing this in favor of https://github.com/near/near-wallet/issues/1966 which has some details about what we're doing and why

[2021-08-02 22:16] #1922 closed

[2021-08-03 01:05] CodingJzy commented on #1988
First of all, near is also a public chain. Why don't most wallet apps on the market support near coins? It seems that only trust wallet is supported. For example, China's imtoken, bitkeep, Huobi wallet, etc. do not support near. Polkadot has also developed their own wallet. The mobile terminal can participate in staking and mining, Why don't you develop a mobile wallet that supports ios and androi

[2021-08-03 02:22] RubyJiao commented on #1962
Here are their accounts.

ling.near
alenque82.near
alexlee.near
bieshu.near
kenanjun.near
zxl.near
chentiangui.near
hjy0424near.near
killss1987a.near
zcjb158.near
tothm.near
murphy1228.near

[2021-08-03 02:49] think-in-universe commented on #1885
@stefanopepe checked with OKCoin customer support and they suggest us to convert the PNG to SVG ... is this appropriate?

[2021-08-03 05:34] think-in-universe commented on #1885
@stefanopepe they'll send me the SVG logo. will share with you once I have it.

[2021-08-03 07:08] think-in-universe commented on #1989
@stefanopepe just want to confirm, what's the root cause of banning CN/VN at the moment?

[2021-08-03 07:44] danielwpz commented on #1990
I found that it's actually caused by the regex filtering of account id input box. Because Chinese input method will add a `'` between letters, which is filtered out by the on-change handle, however the UI is not updated correctly in this case.
If you guys wanna reproduce this, just try type some invalid chars in the account id input.

[2021-08-03 10:49] eriktrautman commented on #1536
It'd be helpful to update the answer(s) to this post to reflect how this is done -- https://stackoverflow.com/questions/64562859/how-to-add-a-ledger-enabled-account-created-outside-of-near-wallet-to-the-near-w

[2021-08-03 17:40] marcinbodnar opened #1992 "Prepare NFT pagination: Add and handle Load more button"
Part of #1951
Add Load more button to the Collectibles tab on Dashboard. The button will be available for every collection.

[2021-08-03 20:02] #1981 closed

[2021-08-04 03:47] MaximusHaximus commented on #1990
Interesting.  Rather than trimming invalid characters we could set a validation flag indicating that the currently entered account ID contains characters that are not valid.  cc: @Patrick1904 do you know if this is what we _used_ to do? I'm curious if this type of logic used to use the `wrongChar` state entry in `AccountFormAccountId`.

[2021-08-04 05:59] RubyJiao opened #1996 ""Explore Apps" block does not show"
**Problem**
After closing the "Explore Apps" block, it does not show any more.
<img width="522" alt="297581c653a448f5e1f641949f4633d" src="https://user-images.githubusercontent.com/87597805/128128299-1cf74999-292e-40ca-b8dd-e1b9dbbf63f9.png">

**Expected Behavior**
After closing the "Explore Apps" block, there is anaccess to find and open it again.

**Steps to reproduce**

1. Close the "Explore Ap

[2021-08-04 07:17] think-in-universe commented on #1885
@Patrick1904 @stefanopepe I have sent the SVG logos to Patrick. hope it resolves the problem.

[2021-08-04 09:38] think-in-universe opened #1997 "2FA Confirmation Call Exceeded the Prepaid Gas"
**Problem**

If a user has enabled 2FA, when the user is depositing NEAR into wNEAR in Ref Finance, it encounters error: `"ExecutionError": "Exceeded the prepaid gas."`

The default gas limit of calling `confirm` in https://github.com/near/near-contract-helper/blob/7d6bd7efe4fe416747c8a23d40259286e636e49d/middleware/2fa.js#L38-L45 may need to be updated.

**Expected Behavior**

The deposit action

[2021-08-05 01:06] Patrick1904 commented on #1982
@mattlockyer while @MaximusHaximus and I were looking into this we realized that there's already support for `?redirect=false` on the `/create` route to 'skip' the linkdrop landing page.

In order to skip the linkdrop landing page and go straight to selection of account ID, simply switch out `/linkdrop` with `/create` and add `?redirect=false` at the end of the linkdrop URL.

Example: `https://wal

[2021-08-05 01:21] mattlockyer commented on #1982
This is good! I'll give it a try ASAP thank you! 👍

Is this also compatible with `redirectUrl`?

[2021-08-05 03:18] RubyJiao opened #2001 "Cannot view the passphrase of the sub-account created by near-cli"
The user created a sub-account by near-cli and did not view the passphrase of it. He want to view the passphrase and log in with it.

We can support the creation of sub-accounts, or allow the user to copy passphrase in the command line.

[2021-08-05 16:28] MaximusHaximus commented on #1714
We shipped this!

[2021-08-05 16:28] #1714 closed

[2021-08-05 16:43] MaximusHaximus commented on #1880
@corwinharrell Hey, do you have any input on how this should look? :)

Roadmap item: https://github.com/near/near-wallet-roadmap/issues/1

[2021-08-05 17:10] #1885 closed

[2021-08-05 17:56] corwinharrell commented on #1880
@MaximusHaximus can continue the discussion on the roadmap issue but it actually sounds like there is a distinction to be made here between "Fund" and "Top-Up" so just want to make sure we're all clear on that before any design happens.

[2021-08-05 19:19] Patrick1904 commented on #1982
Yep it supports a `redirectUrl` too. So could be `https://wallet.near.org/create/someFundingContract/someFundingKey?redirect=false&redirectUrl=https://google.com`

[2021-08-05 20:12] mattlockyer commented on #1982
Confirmed, working with redirect on testnet. :+1:

Flow is super smooth now thank you gentlemen! :rocket:

[2021-08-05 20:12] #1982 closed

[2021-08-05 20:19] Patrick1904 commented on #1982
@mattlockyer, after further discussion with @MaximusHaximus, we're considering removing the `redirect` param all together. It was only implemented when we launched the `/linkdrop` landing page to support legacy linkdrop that send users directly to the `/create` route. However, it seems that all linkdrop-generating apps have caught up and are creating linkdrop links with the `/linkdrop` param.

The

[2021-08-05 20:41] mattlockyer commented on #1982
Can you still create linkdrops that go directly to /create if you DO want to skip the claim/create page?

If so then it's fine to drop redirect param correct?

You're now using:
/linkdrop
Or
/create

To create linkdrops. Instead of using redirect method.

[2021-08-05 20:47] Patrick1904 commented on #1982
Yes exactly. By removing the `redirect` param, you don't have to worry about it. Examples:

Linkdrop for when you want users to **always create a new account**:
https://wallet.near.org/create/someFundingContract/someFundingKey?redirectUrl=https://google.com

Linkdrop for when you want users to be able to **choose between creating a new account, or claim to existing**:
https://wallet.near.org/linkd

[2021-08-05 21:15] marcinbodnar opened #2003 "Add Redux selectors for Transactions"
Part of #1966

[2021-08-05 21:19] mattlockyer commented on #1982
https://giphy.com/clips/rickandmorty-season-3-rick-and-morty-s3e10-s8IyxZUpz5PBcBVEVt

[2021-08-05 21:33] #1854 closed

[2021-08-05 21:36] #1992 closed

[2021-08-05 21:46] Patrick1904 commented on #1982
Added a PR here:) https://github.com/near/near-wallet/pull/2004

[2021-08-06 03:27] danielwpz opened #2010 "2FA initialization failed on testnet, account got locked down"
**Problem**
Hey, I tried to enable 2FA on my account `danielwpz.testnet`. I got 2FA successfully turned on, but when I tried to transfer tokens to others an error was thrown:
[code]

And seems I CANNOT disable 2FA on my account now, so it's ’locked down‘ now :(

**Expected Behavior**
I can successfully enable 2FA and transfer my token with 2FA confirmation.
If I want, I can always turn off 2FA any

[2021-08-06 06:10] RubyJiao opened #2011 "Asia only: staking page failed to load"
**Problem**
The staking page failed to load in China. When the staking link is opened, it would request this link [https://raw.githubusercontent.com/frol/near-validators-scoreboard/scoreboard-mainnet/validators_scoreboard.json](https://raw.githubusercontent.com/frol/near-validators-scoreboard/scoreboard-mainnet/validators_scoreboard.json) In China, users can not open github link without vpn. It ma

[2021-08-06 10:42] stefanopepe commented on #2001
Unfortunately NEAR Wallet is not fully tested with sub-accounts, do we have a Zendesk ticket with this issue?

[2021-08-06 10:54] stefanopepe commented on #1880
Let's use this issue to simply add a button in the "buy" section >> the top-up function.

Once tested with "experienced users" (and fixed) we enable the options also for newly onboarded users, who may be less experienced and will benefit from a later iteration on this functionality

[2021-08-06 11:24] stefanopepe opened #2012 "Coin-op rel.2: multisig"
## Context
Today NEAR Wallet provides a very small amount of tokens, `0.02`, to cover the named account gas fees needed during the onboarding.
Some users are exploiting this feature to create bogus accounts, extracting this small value without the real intention to use the account.
The solution is to introduce a temporary lock to these `0.02` tokens, and an automated transaction that returns them

[2021-08-06 11:39] stefanopepe commented on #2012
Opportunity vs Risk:
O: we can provide more funds to each account, to cover higher gas costs (e.g. Ethereum Bridge)
O: we can do micro-monetization of the service >> get back `0.03` for a whopping 50% interest on this micro-lending
R: this is introducing additional complexity during the onboarding, a glitch and we've lost the user
R: this is not resolving name-squatting attacks

[2021-08-06 11:40] stefanopepe commented on #2010
Looping in @marcinbodnar and @MaximusHaximus as we introduced some changes with the fungible token transfers, and it may have had an impact on the Testnet instance

[2021-08-06 11:43] stefanopepe commented on #2010
@ihaid please test this loop, I tried myself but all worked normally

[2021-08-06 12:48] stefanopepe commented on #2011
@MaximusHaximus this is the usual latency/filtering problem with our wallet helper and indexer.

It seems we can't give up on localizing a node there, at least for the trustless components (indexer&RPC), eventually using a separate domain

[2021-08-06 13:33] mattlockyer opened #2013 "Linkdrop Claimed shows after user returns to wallet if redirectUrl was used in Linkdrop"
**Problem**
Linkdrop with redirectUrl (/linkdrop or /create path)
Linkdrop claimed
Redirected to app
User goes to NEAR wallet in a new tab later
Linkdrop claimed modal shows

**Expected Behavior**
Linkdrop claimed modal doesn't show

**Steps to reproduce**
Above

Modal pops when user returns to wallet in a new tab.

![unknown-19](https://user-images.githubusercontent.com/321340/128518071-d6c4fe52-

[2021-08-06 13:34] mattlockyer commented on #2013
@MaximusHaximus says

Feels like a bug, can you create an issue about this? We'll figure it out thumbsup

@Patrick1904 I think the original logic here wasn't an issue using localstorage for this flag, because we didn't support redirectUrl on linkdrops yet at the time slight_smile My feels is we should clear the localstorage key before redirecting to redirectUrl even if we need it there for the red

[2021-08-06 13:34] mattlockyer commented on #2013
@Patrick1904 says

Yea I think redux should be enough for this. Makes sense to only show it if there's no redirect back to an app thumbsup  @Matt Lockyer | NEAR if you can create an issue that'd be great, and I'll look into it

[2021-08-06 14:23] ihaid commented on #2010
@stefanopepe I can't reproduce it

[2021-08-06 15:27] marcinbodnar commented on #2010
@stefanopepe Tested, I enabled 2FA, sent Nea, sent FT, after that deactivated 2FA - didn't receive any error.

[2021-08-06 15:39] stefanopepe opened #2014 "Wrong Lockup information (triggered by Lockup Core Contract update)"
**Problem**
Recently, @frol and @telezhnaya updated the [lockup contract](https://github.com/near/core-contracts/tree/master/lockup), introducing changes that break how the wallet is measuring the vesting of a lockup contract.

Example:
NEAR Wallet display: https://wallet.near.org/profile/scarce1.near (shows all tokens vested)
Account-lockup display: https://near.github.io/account-lookup/#scarce1.

[2021-08-06 15:42] stefanopepe commented on #2014
@frol is this breaking change impacting the display of existing lockup accounts? Or it will be needed going forward, and we don't have to fix this "asap"?

[2021-08-06 20:19] telezhnaya commented on #2014
@stefanopepe we hope that it's finalized, so it's better to fix that.

FYI: for now, these are only 3 accounts reproducing this bug: `scarce1.near`, `crypsterio.near`, `marcusr.near`. All of them were created on August 6th.

[2021-08-09 04:32] RubyJiao commented on #2001
No，the requirement is from a Chinese  wechat user.

[2021-08-09 18:25] marcinbodnar opened #2021 "Refactor Activities component"
Refactor Activities component to be independent of Wallet component regarding the redux state.

[2021-08-09 20:18] marcinbodnar opened #2023 "Refactor transactions reducer into redux toolkit version"

[2021-08-09 21:50] Patrick1904 commented on #1983
@mattlockyer I agree with @MaximusHaximus concerns above. Would the flow outlined below work?
1. App sends user to create account
2. User gets redirected back to apps provided `successUrl`
3. When user lands on the apps `successUrl` - the app requests sign in and send the user to the Wallet `/login` route.

Thinking that this keeps the app 'login' consistent/explicit for all users and gives the ap

[2021-08-09 21:55] frol commented on #2014
@stefanopepe There is nothing wrong with lockup. No breaking changes were introduced to the contract. The problem is the buggy JS display implementation, which we finally replaced with a line-by-line translation of lockup (Rust) implementation into JS. Wallet should take the implementation and also replace the previously taken buggy version of account-lookup.

[2021-08-10 02:53] think-in-universe commented on #1997
@stefanopepe @MaximusHaximus talked with Ref team.

This is caused by that Ref frontend specified a total of 230 TGas when scheduling the transaction: https://github.com/ref-finance/ref-ui/blob/e445129d524021d48d0ff13cf59bb52532a8fe00/src/services/wrap-near.ts#L49-L73

![image](https://user-images.githubusercontent.com/46699230/128800930-b9410178-fbbb-4286-b8d1-719ea98dd406.png)

Ref will change t

[2021-08-10 06:32] danielwpz commented on #2010
😂, do you guys know if there is another way to disable 2FA?

[2021-08-10 06:33] danielwpz commented on #2010
btw i'm using email as 2FA method, are u guys using phone num?

[2021-08-10 13:56] mattlockyer commented on #2013
FYI this is popping up in live demos I'm doing now and it looks really weird :disappointed:

[2021-08-10 14:08] mattlockyer commented on #1983
I'm trying to avoid the user being in this "death spiral" of redirects for UX reasons.

It would be optimal if we could send them to /create or /linkdrop with a flag that adds an access key.
Then redirected to successUrl with or without an access key secret.
Currently, I don't need NAJ to help with this, I can just add it myself in memory and localStorage, so this is GTG but something we can add t

[2021-08-10 15:14] MaximusHaximus commented on #2011
This is definitely something that we can resolve, either by querying the data on-chain (if possible), via our indexer (more likely), or by proxying this json file through the `near-contract-helper` REST API (as a last resort).

I'll try to get this resolved in this sprint. <3 thanks for the report @RubyJiao !

[2021-08-10 21:05] stefanopepe commented on #2010
We can try to change the email in the system and see if it works. Please open a ticket at https://nearhelp.zendesk.com/hc/en-us we'll take it from there. Specify that you want to change the 2FA, and it's a testnet account, so we don't begin the throughout verification process

[2021-08-10 21:08] stefanopepe commented on #2014
All clear! My concern was for previously deployed lockups, given the number of impacted accounts I'll have @MaximusHaximus manage the priority with other short-term work in the pipeline.

[2021-08-11 07:27] danielwpz commented on #2010
cool, will do

[2021-08-12 06:41] RubyJiao opened #2032 "Can not recover account with a NFT droplink"
**Problem**
When the Chinese user claimed NFT in Chrome browser with a login near account it showed create or recover an account page although he had already loged in in advance. And he recovered his account with passphrase, it showed create or recover an account page again. So it can not go to the claim page and the user failed to claim NFT. Here's one of his QR code.
![caee18eaa6e6a73216aabb235e

[2021-08-12 07:15] RubyJiao opened #2033 "The NFT droplink can not be opend"
**Problem**
The Chinese user scanned a NFT QR code and opened the droplink.
![image](https://user-images.githubusercontent.com/87597805/129153945-e9ebd133-c576-4f9b-bf26-70d77dffe3b9.png)

After he clicked "create or log in to the NEAR account", the page showed like this, so the user failed to claim NFT.
![573c45415093a8e7ba624c994e32a43](https://user-images.githubusercontent.com/87597805/12915165

[2021-08-12 10:33] MaximusHaximus commented on #2032
@RubyJiao I think you're right and that this is related to #2004.  Sorry about this issue!  Do you have communications with `hhs.art` developers?

If they update the URL that they redirect the user to from `https://wallet.near.org/**create**/near/...` to `https://wallet.near.org/**linkdrop**/near/...` then the prior linkdrop behaviour will be provided, which allows them to claim to existing accoun

[2021-08-12 18:08] think-in-universe commented on #1997
This issue has been fixed on Ref Finance side.

[2021-08-12 22:19] stefanopepe commented on #1997
Will keep it open so @MaximusHaximus can anyway introduce the change or our end

[2021-08-12 22:20] #2010 closed

[2021-08-12 22:30] stefanopepe commented on #2001
I'll close this one for two reasons:
1. this is blocked by near-cli, as it doesn't support the export of a private key via seed passphrase
2. NEAR Wallet wouldn't be able to recover a sub-account from a raw private key, the only way is to enter the seed phrase

[2021-08-12 22:30] #2001 closed

[2021-08-12 22:43] stefanopepe commented on #2033
I tested it myself, creating the account `nft-test01.near` and I got a different error:

`Querying access_key/drop.hhsviewer.near/ed25519:GAVrJSFY85FyJFXxvFYHPSGuBHgPNi3jeLHbmUY358vt, failed: access key ed25519:GAVrJSFY85FyJFXxvFYHPSGuBHgPNi3jeLHbmUY358vt does not exist while viewing. { "block_hash": "4eKiFH9MDBnjZoqMtxaPWQAxAJzhqwjVkxLJquGKgVNs", "block_height": 45066594, "error": "access key ed2

[2021-08-13 17:01] stefanopepe commented on #1989
Sorry I've lost the last reply. We don't have a clear reason but I suspect two main reasons:
1. the SMS is too long and is not accepted by the mobile operators
2. the message contains an URL from a blacklisted domain and is censored

We also had some "spam flag" coming from the SMS service (Twilio) but should be fixed now. Nevertheless, it doesn't work...

[2021-08-14 07:41] think-in-universe commented on #2012
The workflow makes sense, though it looks a bit complex (the new users might be confused about the transaction history from explorer, since a contract was deployed.)

A few questions:

1. Will `lock the transfer of the 0.02 tokens` work as expected with multisig contract? Will we deploy [this one](https://github.com/near/core-contracts/blob/master/multisig/src/lib.rs), or do we have a specific ver

[2021-08-15 14:04] think-in-universe commented on #2033
@RubyJiao @stefanopepe this seems to be an issue of hhs.art, not NEAR wallet.

let me confirm with Ruby later.

[2021-08-16 13:29] corwinharrell commented on #1880
@stefanopepe Does it make sense here to point to both the Rainbow Bridge UI as well as any UI offered by Aurora?

[2021-08-16 15:56] ilblackdragon commented on #1880
It doesn't really make sense to link to Aurora UI, because it's for
metamask users.

On Mon, Aug 16, 2021 at 6:29 AM Corwin Harrell ***@***.***>
wrote:

--
Best regards,
Illia Polosukhin

[2021-08-16 23:35] Patrick1904 commented on #1987
We are currently missing a `404` page. @corwinharrell let me know if you have a `404` page design (or other UX) in mind and I can add it.

[2021-08-16 23:38] Patrick1904 commented on #1951
Closing as this has been released with https://github.com/near/near-wallet/pull/1995

[2021-08-16 23:38] #1951 closed

[2021-08-17 01:09] nearmax commented on #2012
I suggest before we implement this solution to do the following:
* Collect feedback from the community and partners to know whether they are okay with the change;
* Sync with Developer Platform, Developer Relations, and Node Interfaces to make sure we are not adding a lot of work to them, because they would need to modify near-cli, explorer, and documentation to work with transactions that are pro

[2021-08-17 14:30] corwinharrell commented on #1987
np if you could just go ahead and create the route and put some placeholder text at the top of the page I'll follow up and do the design in code.

[2021-08-17 17:24] TiffanyGYJ opened #2043 "Add User Property tracking for Fungible Token holders"
Question to answer using the data:
We want to know how many users among all users in wallet holds Fungible Tokens.

End Result:
Have a user property field called **FT holder** with entry being _Yes_ or _No_

Need by:
August 24th

[2021-08-17 17:40] TiffanyGYJ opened #2044 "Send Event Property Tracking for Fungible Token"
Question to answer:
How many send events among all are sending Fungible Tokens?

End Result:
Add event level property to track the type of tokens in the **Send** event.
Entry will be the label of the token sent, e.g. NEAR or nNEAR, wETH etc.

Need By:
August 24th

[2021-08-17 17:49] stefanopepe commented on #2012
@nearmax thank you for your feedback, I can see the issue from an ecosystem standpoint. Overall the issue is financial (the wallet wouldn't be sustainable in the long term) and in the product itself, since spamming users generate noise in the metrics and the network usage.

We'll keep the coin-op disabled by now, having NEAR Wallet how it worked until two months ago (which wasn't too bad anyway) a

[2021-08-17 17:57] stefanopepe commented on #2012
Closing this one, as it didn't get an ack

[2021-08-17 17:57] #2012 closed

[2021-08-17 18:43] TiffanyGYJ opened #2045 "Tracking for login on NEAR Wallet using a mobile device and the QR code"
Question to Answer:
How frequently the QR login feature is used?
Success rate for this method of login?
How it impact DAU/WAU/MAU?

End Result:
1. Event --- Clicked on View Mobile Code on user wallet dashboard
2. Event --- Clicked reveal QR code
3. Event --- Successfully Logged in using QR code
4. Event --- Failed to Login using QR code, with property _error_

Need by:
August 30

[2021-08-18 00:45] #2013 closed

[2021-08-18 03:53] RubyJiao commented on #2032
@MaximusHaximus Hi, I want to know how is the issue going?

[2021-08-18 15:46] mattlockyer opened #2047 "Support Generic Signing of Data from User Chosen Accounts Without Login / Adding Key"
## Problem
Currently, if you want a user to sign some data with any keys on their account they will need to first sign into your app. This flow can be a UX interruption and cost GAS, if all the app wants to know is which NEAR account you want to prove that you own.

#### How did we discover this problem?
Several partners have asked for this since... I want to say 6mo - 1yr.

#### Job Story(s)
- Us

[2021-08-18 16:14] Patrick1904 commented on #2032
@RubyJiao, we recently removed automatic redirect from `/create` to `/linkdrop` for linkdrops so if you want to give the user the option to create a new account and claim the NFT, or claim to an existing account, you just need to switch out `/create` with `/linkdrop` in the linkdrop URL.

Example behavior:

Linkdrop for when you want users to always create a new account:
https://wallet.near.org/cr

[2021-08-19 06:01] RubyJiao commented on #2032
@Patrick1904 Thanks for your advice. I will tell the developer of hhs.art to deal with linkdrop for users whose link fails. The NFT linkdrops are given to users as QR codes which were created before. We promised that we could give a sunshade NFT to users for free, so many users ask us for NFT. But we have to stop to give them NFT temporarily because of this issue. So I hope the issue can be solved

[2021-08-19 18:51] marcinbodnar opened #2049 "Refactor tokens actions and reducer into redux toolkit version"
Part of #1966

[2021-08-19 21:28] stefanopepe opened #2050 "Wallet Onboarding: Coin-op 1.5"
## Context

In order to scope down #2012, this issue represents a non-smart-contract version of the onboarding flow, with the goal to re-enable the coin-op onboarding flow sooner rather than later

## Story

As a Wallet Manager who needs to keep the coin-op up and running, I want to introduce additional protection for the 0.02 tokens so I can better support real users who are creating a NEAR accou

[2021-08-20 17:58] stefanopepe commented on #2047
Followup to this request:
- we already have similar functionality buried in the wallet helper codebase, but it's undocumented
- V0 is pinned for the next sprint (Monday cc @MaximusHaximus )
- it needs minimum UI review, essentially to specify the difference from an on-chain transaction (cc @corwinharrell and @Patrick1904 )

Some corrections to the card above:

## Scope

#### What are we planning t

[2021-08-23 03:55] starpause commented on #2047
@stefanopepe is there any chance of getting the most fundamental documentation available before sprint end? Specifically Collab.Land is looking for this to allow for existing NEAR wallets to associate with their bot before the near.org/metabuidl (aug27).

[2021-08-23 19:26] stefanopepe commented on #2047
@starpause what's the volume and the impact of not having it? Is it blocking the August 27 event? Is it more valuable than having `coin-op.near` back and working as before?

Unfortunately, we have some long-awaited OOO time for one of the team members (planned way before knowing the strict urgency of this issue) and the remaining resources can be exclusively allocated to coin-op or this one, at le

[2021-08-24 08:37] RubyJiao opened #2058 "Add a function that can automatically add token contracts"
At present, non-transfer FT can not be displayed in the wallet. With more and more kinds of token, it is troublesome if FT cannot be displayed in the wallet uniformly. It is suggested to add a function to NEAR wallet that can automatically add token contracts like Metamask.

[2021-08-24 16:37] ilblackdragon commented on #2047
Just to link Ethereum's standards for this:
 - old one: https://eips.ethereum.org/EIPS/eip-191
 - new one: https://eips.ethereum.org/EIPS/eip-712

It's important to guard against arbitrary data signatures, because malicious code can get user to sign a transaction that user doesn't want to sign this way.

[2021-08-25 01:36] starpause commented on #2047
@stefanopepe it's hard to measure the impact of this because there isn't a 1:1 mapping of "if this is fixed we attract X users". By rough napkin math, it feels an order of magnitude more significant than coin-op. There are several communities of 80k+ members on the brink of joining NEAR if CollabLand bot is ready to go. Most of our new user spikes are from event activations where we can deploy lin

[2021-08-25 06:28] danielwpz commented on #2050
hi this looks good, is there any progress on this now?

[2021-08-25 13:39] corwinharrell commented on #2050
@danielwpz hey Daniel, design for this is wrapping up and our aim is to get it completed within our current sprint. Stay tuned!

[2021-08-26 06:05] RubyJiao opened #2061 "Add the link of the guide of creating an account on create page"
As a new user, I need a guide of creating an account. In this way, I could know how to do step by step, and I could avoid some wrong operations.

We could add the guide link on this page.
https://nearhelp.zendesk.com/hc/en-us/articles/1500002248242-Creating-a-NEAR-Wallet-account
![image](https://user-images.githubusercontent.com/87597805/130909587-f9575d3a-366f-42ed-a1a2-2150c58b76ce.png)

[2021-08-27 02:37] RubyJiao opened #2062 "Add a function of address book"
As a user,  I need an address book when I send transactions. In this way, I don't have to input my frequently used addresses every time.

We could add a function of address book.

[2021-08-29 15:55] max-block commented on #889
Maybe it's a good idea to ask users input seed words before logout. Users can ignore a warning message, but if they are able to input seed words it means they really have a backup of it.

[2021-08-30 10:53] think-in-universe opened #2066 "Import Sub-Account with Private Key"
## Story

As a developer who wants to import a sub-account created with NEAR CLI, I want to import the sub-account successfully even if I don't have seed phrase of the sub-account, so I can run test or play with the sub account.

## Acceptance Criteria

- [ ] User or developer can import any sub-account with a private key on Wallet UI, when she/he doesn't have its seed phrase.
- [ ] The UI should

[2021-08-30 15:30] corwinharrell commented on #823
@MaximusHaximus @Patrick1904 Part of this is being addressed in #2050, but I will be revisiting this shortly to update it with anything that falls out of scope of the coin-op issue (eg allowing the active account to denote a deposit amount, which will require an additional screen, vs just defaulting to a minimum deposit)

[2021-08-30 19:12] #2011 closed

[2021-08-30 20:29] BenKurrek opened #2069 "Scrollbar when selecting account"
## Problem
When you choose one of your accounts from the wallet UI, there is no scrollbar:
![image](https://user-images.githubusercontent.com/57506486/131401179-3b253058-97d4-4faa-a2d8-ad77138ef55d.png) It would be nice to have a scrollbar for people with multiple accounts.

[2021-08-30 20:31] BenKurrek opened #2070 "UI for searching for one of your accounts"
When users have a lot of accounts, it makes it difficult to find a specific account that they want to either get the balance of or have access allowed to. Attached are some screenshots:
![image](https://user-images.githubusercontent.com/57506486/131401447-93aede32-e1df-4ba8-996d-48ee6e32b5ad.png)

![image](https://user-images.githubusercontent.com/57506486/131401464-cdfde6cd-8c3f-4e92-b2d2-74457fa

[2021-08-31 10:47] think-in-universe opened #2071 "Transfer NFTs"
## Story

As a NEAR user who owns a number of NFTs, I want to transfer one of my NFTs to other users so I can enable more scenarios regarding NFTs.

## Acceptance Criteria

- [ ] In the `Collectibles` tab, provide an button or link to transfer the specific NFT
- [ ] A NFT transfer workflow is designed to make the transfer process easy to use
- [ ] Mobile ok
- [ ] Tested

## Unhappy Path

## Assets

[2021-08-31 15:33] corwinharrell opened #2072 "Append token symbol to input value on `/send`"
## Problem

Users of the new /send flow have expressed that it's valuable to see the token symbol appended to the amount, so that they can operate in confidence that the amount they are sending is in fact in the correct denomination.

## Solution

Append the token symbol (eg `NEAR`) to the amount within the primary /send input.

[2021-08-31 18:43] MaximusHaximus commented on #2011
@RubyJiao We are now loading the list of historic validators from the contract helper, no longer referencing github user content.  This should be usable without a firewall for users inside of China now (it's live on mainnet!)

[2021-08-31 18:51] corwinharrell opened #2074 "Display Release Notes"
## Problem

Users currently don't have any way to stay up to date about the changes occurring in the wallet with every release. Some changes may come as a surprise to users who don't interact with their accounts daily.

## Solution

With each release, a release notes summary should be displayed to the user when visiting the wallet after a major release.

The release notes should contain:

- [ ] A

[2021-09-01 04:00] RubyJiao opened #2078 "UI for token in Your Portfolio"
![6dc5cb54b064ca3c57e154d8136b250](https://user-images.githubusercontent.com/87597805/131607876-c0ac6da1-0fb6-4a4c-88b9-dd784444c9bd.jpg)

The display of token's description here is a little long. I guess we could make it in brief in short. We may not need the unit price of tokens. This is the display what I suggest.

![image](https://user-images.githubusercontent.com/87597805/131609393-e97ecc9f-c

[2021-09-01 11:56] marcinbodnar opened #2079 "Refactor flow limitation actions and reducer into redux toolkit version"
Part of #1966

[2021-09-02 15:22] marcinbodnar opened #2082 "Selectors for flowLimitation reducer"
Part of #1966

[2021-09-07 14:12] MaximusHaximus commented on #2047
We've come up with an approach to implement this capability in a timely manner and without adding new security risk vectors to the wallet such as signing transactions that could then be submitted on chain by the verifying app for malicious purposes.  The approach follows similar patterns as some existing functionality in the wallet surrounding Ledger usage.

## Goals
1. App authors should be able

[2021-09-07 14:15] MaximusHaximus commented on #2070
@corwinharrell I'd find this pretty useful (feels like it could be useful for signing and login routes too?)

[2021-09-07 22:24] marcinbodnar opened #2086 "Use createEntityAdapter for performing CRUD operations"
Regarding comment:
https://github.com/near/near-wallet/pull/2031#discussion_r703698434

[2021-09-08 06:26] vgrichina commented on #2047
IMO it's much better to restrict payload vs add extra key. In fact we should at some point change Ledger implementation to avoid adding extra key (see https://github.com/near/near-wallet/issues/1899)

I think also given that we are certifying to external app, that yeah, this is a real user – we should prove ability to sign with full access keys (or sign with multiple keys for multisig). We know th

[2021-09-08 06:38] RubyJiao opened #2089 "Wrap / Unwrap NEAR from within the Wallet"
Some users are confused about how to swap near into wnear. Some users get wnear in their wallets because of various reasons，but they don't know how to swap wnear into near. Basicly, wnear is used for all Defi projects. It is necessary to add a feature of swapping near and wnear into each other like that in the pulse, although users can swap tokens on ref.finance and pulse. It is convinence for use

[2021-09-08 19:08] marcinbodnar opened #2090 "Create Redux markdown file"
Regarding: https://github.com/near/near-wallet/pull/2031#discussion_r704530094

[2021-09-08 20:13] marcinbodnar opened #2091 "Bug with clearing state after account creation / recovery / switch"

[2021-09-08 21:18] #2021 closed

[2021-09-08 21:21] #2023 closed

[2021-09-08 21:24] #2091 closed

[2021-09-08 21:27] marcinbodnar opened #2093 "Move all redux related files into /redux folder"

[2021-09-09 15:33] #2049 closed

[2021-09-09 15:52] #2079 closed

[2021-09-09 22:12] #2093 closed

[2021-09-12 03:38] think-in-universe opened #2100 "ERROR "nonce retires exceeded for transaction" when creating account with Wallet"
**Problem**

When create a new account with wallet, the error is thrown after click "Verify and Complete".
The error happens randomly, not every time.

![image](https://user-images.githubusercontent.com/46699230/132971114-a1a175d6-908c-49c2-979c-047158975a6c.png)

**Expected Behavior**

The account creation should succeed without error or warning

**Steps to reproduce**

1. Click the create accoun

[2021-09-13 18:26] stefanopepe commented on #2061
I'm closing this one, as #2099 (Coin-op 1.5) will remove this specific blocker for users adopting email/sms

[2021-09-13 18:27] #2061 closed

[2021-09-13 18:31] stefanopepe commented on #2100
This bug happens when the backend is signing too many account creation transactions at the same time. It should be mitigated by #2099, so let's keep an eye on it after we merged this new change.
cc @MaximusHaximus

[2021-09-13 18:38] stefanopepe commented on #2078
It seems to me that the token ticker is on the right, next to the token amount. Your UI suggestion would repeat OCT on both sides of the UI, and would suppress the unit price of the token.

What is the goal that users who provided this feedback wanted to achieve?

[2021-09-13 22:47] marcinbodnar opened #2102 "Refactor error state in slices to store code and message"

[2021-09-13 23:28] marcinbodnar opened #2104 "Use createParameterSelector in all slices"

[2021-09-13 23:48] marcinbodnar opened #2107 "Create and use selectSlice as top level selector"

[2021-09-14 07:15] RubyJiao commented on #2089
**Summary
Some users are confused about how to swap near into wnear. Some users get wnear in their wallets because of various reasons，but they don't know how to swap wnear into near. Basicly, wnear is used for all Defi projects. It is necessary to add a feature of swapping near and wnear into each other like that in the pulse, although users can swap tokens on ref.finance and pulse.

Desired outco

[2021-09-14 08:32] RubyJiao commented on #2078
How about this display?
<img width="414" alt="f8a13ea8bdf360d4b9423cae35a6a6e" src="https://user-images.githubusercontent.com/87597805/133223707-c275adea-2e81-46ac-9519-7b90dd4bdce7.png">

It seems more brief. As some other tokens's unit price did not appear, it may not be possible.

The user suggests that we may take the Binance's UI as a reference.
![e5d383fb59a2cfcfc6677b718660dc0](https://user

[2021-09-14 13:00] stefanopepe opened #2111 "Retry transactions failed for insufficient gas"
## Summary

With the increased adoption of NEAR Protocol, we may experience peaks of usage that translate into higher gas costs. Some dapps attach a fixed amount of gas to a transaction, taking the risk of failing the transfer and put the user in an endless loop of "failed transactions" if no proper mitigations are in place.

This feature wants to unblock the user who is signing a transaction with

[2021-09-14 13:24] corwinharrell commented on #2111
@stefanopepe @MaximusHaximus I've encountered a fundamental issue in designing around this that I wanted to surface and get your feedback on:

We currently don't calculate the cost of a transaction before it is executed. Right now, few simply display an arbitrary number labelled "estimated fees", which hopes to cover the cost of the TXN. As long as this is the case, we have no way to telling the u

[2021-09-14 13:29] corwinharrell opened #2112 "Display Options to Create/Purchase Fungible Tokens"
## Problem
Discovery of the NEAR ecosystem through the Wallet is currently limited. Users don't have many ways to get acquainted with the options for participating in NEAR DeFi for acquiring the requisite tokens.

## Intended Outcome
As a user interested in DeFi, I want a simple way to navigate to a location where I can get acquainted with the DeFi options on NEAR.

The success of this feature wil

[2021-09-14 13:29] corwinharrell commented on #2112
Link to feature: https://wallet.productboard.com/feature-board/planning/features/9146799

[2021-09-14 14:49] corwinharrell commented on #2112
@stefanopepe I've taken the liberty of making some changes to the scope and solution of this issue. Ultimately, what we are trying to do here is increase engagement of users with NEAR DeFi. Until we have a robust discovery mechanism in place, I don't think it's appropriate or non-partisan for us to be pushing users to specific products. Happy to hear if your disagree, but I think this solution is

[2021-09-14 15:00] corwinharrell commented on #2078
I'm fine with the changes above @RubyJiao but the only issue is the developers' adherence to a standard of formatting for the token symbol in the token contract. We do not control what the developer uses to denote their token, and so formatting issues are a possibility ($META in the above image is a good example. Ideally the Meta Pool team would not include the "$" as a part of their token symbol

[2021-09-15 17:23] stefanopepe commented on #2074
This is blocking the new release on staging, as it will communicate the available balance changes to the users.

[2021-09-15 21:43] stefanopepe commented on #2111
@corwinharrell I see the issue. Mine is a high-level proposal that didn't take into account this specific limitation.

I'm happy with keeping the scope of this feature as a simple "retry transaction" functionality that will implicitly attach more fees (e.g. bump to 300Tgas) and try again if the transaction didn't go through for insufficient gas.

If I understand correctly, this solution would pres

[2021-09-15 21:48] stefanopepe commented on #2112
It's not the same as landing users on Ref.finance or tkn.farm, there's one more click in the middle, but it's very good to achieve the desired goal: track who is clicking "explore DeFi" and build a set of signals that will justify a more structured approach to this feature class in the future.

Your solution looks good to me =)

[2021-09-15 22:19] marcinbodnar opened #2118 "Make Deposit Near banner clickable"

[2021-09-15 23:11] #2118 closed

[2021-09-15 23:18] #2074 closed

[2021-09-15 23:54] #2102 closed

[2021-09-16 02:07] jkiyak opened #2120 "Yarn start - update:static; not found."
On the README.md, it says to build locally, you do yarn and then do yarn start. When I put in yarn start on the terminal, it just says command start not found. Am I doing something wrong? I'm trying to start making some changes but not sure where to start in terms of seeing them and such.

Edit: Okay so I found out that I wasn't doing the command in the right place, but when I go and do it in the

[2021-09-17 06:32] jkiyak commented on #2120
Can close issue. I wasn't using linux so some of the commands weren't working on windows. Sorry.

[2021-09-17 06:32] #2120 closed

[2021-09-18 15:39] heycorwin opened #2138 "Display Total Account Value in the balance breakdown"
## Problem

With the recent updates to balances and the decision to prioritize the available balance in the wallet, some users express that the Total Balance figure, while maybe not needed front and center, is still valuable in saving them the headache of doing extra math to determine the sum of their account and staking balances.

<p></p>

## Solution

The balance breakdown should be revised to r

[2021-09-18 15:39] corwinharrell commented on #2138
Link to feature: https://wallet.productboard.com/feature-board/planning/features/9484609

[2021-09-20 22:50] Patrick1904 opened #2141 "Enable creating a new account with an existing account as funding method"
This is a feature that we decided to ship once we had shipped https://github.com/near/near-wallet/issues/2050

## Problem
Creating a new account can currently require quite a few steps if the user doesn't have a linkdrop. There's currently no way to create a new account using an existing account as a funding method.

#### What are we planning to do about it?
- We're planning on adding a 'fund with

[2021-09-20 23:23] Patrick1904 opened #2142 ""Parse error: []..." appearing in console while visiting /create page"
**Problem**
`Uncaught (in promise) Error: [-32700] Parse error: []: the value is too short for account ID` shows in console while visiting `/create` and `/recover-account` and potentially other pages **while not logged in**.

<img width="961" alt="Screen Shot 2021-09-20 at 4 20 23 PM" src="https://user-images.githubusercontent.com/24921205/134089102-ca6a49e7-cbe4-4493-abe4-fbb9e8056fe9.png">

**Ex

[2021-09-21 18:53] marcinbodnar opened #2146 "Refactor recovery methods actions and reducer into redux toolkit version"

[2021-09-22 01:18] #2142 closed

[2021-09-22 12:26] mattlockyer commented on #2047
I second the approach of restricting payload for now to get this done faster and still remain safe. I think it is incumbent on us to come up with a solution to prove account ownership without adding keys.

Case: I'm dropping a lot of extremely low value accounts soon. These accounts will barely have enough gas to add a key if at all. But I still want to create apps that allow them to redirect to N

[2021-09-22 16:53] MaximusHaximus commented on #2107
Closing, re https://github.com/near/near-wallet/pull/2108

[2021-09-22 16:53] #2107 closed

[2021-09-22 16:59] stefanopepe commented on #2047
I want to share some notes from my conversation @MaximusHaximus to move this work ahead, as we may have found a way to get the same result as Ethereum, "The NEAR Way".

At a high level, we would sign an invalid transaction with a valid signature.
This transaction would:
1. use an invalid method
2. use in the payload a block hash that is `t-x`, such that it's obsolete for the network
3. use in the

[2021-09-22 18:26] mattlockyer commented on #2047
Not sure I follow this exactly... but I guess this would allow applications to send arbitrary data to be signed?

If I understand correctly:
1. hash payload
2. put hash of payload inside invalid TX e.g. functionCall(receiver_id: 'some_impossible_account', args: [HASH_OF_PAYLOAD]) ???
3. then sign this TX but with block hash t - some x far from current finality
4. return to app

Seems like with 2 w

[2021-09-22 19:49] corwinharrell commented on #2111
@stefanopepe the only issue with this is that the user has no control over the amount of gas used as an increase. I guess since it is likely such a small amount that the change to their balance will almost be imperceptible to them, but it's worth considering. How should new determine the amount used as an increase? Do we need to reference a gas figure in the UI in addition to the cost in NEAR / Yo

[2021-09-23 07:38] RubyJiao opened #2156 "Blank page after log in"
**Problem**
After a user recovered his account with passphrase, it showed the blank page like the picture. He tried to clear his chrome browser cache and cookies and recovered his account again, connected a VPN, recovered his account on IE browser, it still did not work.
![f7730e03b3d8d3806c71f0decb67888](https://user-images.githubusercontent.com/87597805/134470178-9024f278-14f7-4e5d-90ab-3aa80ce5

[2021-09-23 16:20] evgenykuzyakov commented on #1997
I think the issue is 2FA is providing 250 TGas instead of 300 TGas. It wouldn't address the issue if the signer wants 280TGas, but will help with 230Tgas case above.

[2021-09-24 18:52] marcinbodnar opened #2159 "Release Notes modal changes"
Disable showing Release Notes modal after creating a new account.

Show Release Notes only on the dashboard.

[2021-09-24 21:24] esaminu opened #2161 "Add cron job to run e2e tests against testnet and integrate pagerduty alerts"

[2021-09-25 09:52] ilblackdragon opened #2164 "In error message show link to the failed transaction in explorer"
Currently when error happens, for developers and some subset of users, it is important to understand more details about this transaction.

<img width="915" alt="Screen Shot 2021-09-25 at 2 52 30 AM" src="https://user-images.githubusercontent.com/175486/134767254-b3bb03c0-aac9-4549-a89c-b05ca8ca359d.png">

By providing link to the explorer, developers and users can check out details of what happene

[2021-09-25 11:37] vans163 commented on #2047
I dont get it, isnt the only thing this PR is asking is to be able to do
[code]
but with the `secret_key` being stored on the wallet.near.org domain?

With the attack vector being a user can sign a (malicious) crafted transaction, but the user will be displayed by the wallet.near.org what data they are signing.

[2021-09-25 12:53] mattlockyer commented on #2047
On the surface it seems like overkill until you work on the wallet team and realize users don't read.

Combine that with fishing sites and you have a problem...

[2021-09-25 22:51] vans163 commented on #2047
The solution is definitely a sound one, just maybe there is a simpler way, because this would require the backend verifying the signature to ship borsch deserializer + a base58 decoder. Not all languages support borsch. Example web platform  using PHP still that wants to have a login_signature/proof from a NEAR wallet.

[2021-09-26 23:14] vgrichina commented on #2047
@mattlockyer  I think the only new potential problem here is if you allow to sign completely arbitrary data (including valid transactions) but do not display it  as a transaction.

If user has to approve transaction being signed, then there is not much difference in phishing opportunities compared to current `/sign` payload.

However I agree with you 100% that users don't read. We should improve `

[2021-09-27 20:03] Shurshatl opened #2165 "Emoji Adress"
Hi
im pretty in love with Near (thanks) and enchanted that  NEAR WALLET need no 36-digits, and it is personalized
and here come the issue - proposal

I was wondering if
if it is possible to use **emogi as wallet name**
cuz ... you know YATS  ?
https://www.youtube.com/watch?v=bZh22JH37xQ

the guys are from TARI-blockchain and some of Monero developers contributing there
anyway - they are monetising

[2021-09-28 18:01] #2159 closed

[2021-09-28 23:58] marcinbodnar opened #2168 "Refactor availableAccounts and reducer into redux toolkit version and add selectors"

[2021-09-29 08:15] RubyJiao opened #2170 "Failed to claim .near account"
**Problem**
2 users failed to claim their .near accounts but the get the single-used funding addresses as their accounts. Here are related screenshot.
case 1:
![image](https://user-images.githubusercontent.com/87597805/135227946-1be7a0f4-c3c3-4818-aaab-55cb24ef5c6b.png)
![image](https://user-images.githubusercontent.com/87597805/135228074-aaee1b43-5c40-4ed9-bd7a-c11f84bb4aee.png)
case 2:
![image](

[2021-09-29 08:33] RubyJiao opened #2171 "error：Failed. reCAPTCHA verification failed"
**Problem**
2 users failed to create an account by email. It showed"Failed. reCAPTCHA verification failed，please try again."
![116eaa8e4eeb43474c2328eeb1b2b8c](https://user-images.githubusercontent.com/87597805/135231511-b38cc9fd-a91d-490c-b68e-2a73032336e0.jpg)

**Expected Behavior**
Users can succeed to create an account by email

**Steps to reproduce**
1. Input the email address(on this page ab

[2021-09-29 15:46] corwinharrell commented on #2071
@think-in-universe I've updated our Figma mockups to show how new might go about implementing a flow for transferring NFTs: https://www.figma.com/file/Co5Rx8i9Cx4SxgRZv0MUa7/NFTs?node-id=426%3A387

A couple things to note:

1. Each NFT should ideally have a details page that displays a larger preview image and key metadata. Initially, this would just be title, description, and creator/owner IDs, b

[2021-09-29 16:02] stefanopepe commented on #2111
With @MaximusHaximus we were thinking of simply doubling the fees.
The reason is that any overpayment is given back to the user, so let's say that a transaction is appending 200Tgas but it's insufficient and should be 250, we append 400Tgas and the user gets back 150 (OVERSIMPLIFYING).
So the UI Would say "Attach more fees, no worries any overpayment will come back to your wallet, see _here_"

The

[2021-09-29 16:09] corwinharrell commented on #1880
Don't think there's really a need for Figma mockups here since it's a fairly simple addition to the "Buy" page, but here's a quick example regardless:

<img width="250" alt="Screen Shot 2021-09-29 at 12 06 09 PM" src="https://user-images.githubusercontent.com/5934188/135307153-2a4cf73f-78d4-41fe-aacd-0ed4ada5417d.png">

@Patrick1904 since we're now accommodating options that aren't necessarily "Bu

[2021-09-29 16:31] Patrick1904 commented on #1880
Thanks @corwinharrell. Can you please provide the Figma or just attach/send me the Rainbow Bridge svg asset.

Also, should we put Moonpay as the first option? It's currently the second.

[2021-09-29 17:27] MaximusHaximus commented on #2112
@marcinbodnar We should have Mixpanel tracking for both buttons so we can compare which are clicked most often :).
@TiffanyGYJ What should the event names be when people click on the `Explore Apps` and `Explore DeFi` buttons?

[2021-09-30 16:39] corwinharrell commented on #1880
@Patrick1904 I just updated this Figma doc: https://www.figma.com/file/NMOjkUrjIL6nSwbCqXERJc/Top-Up-Balance-w-Moonpay?node-id=3%3A0

And yeah let's always have Moonpay first since it's the most convenient and straightforward option.

[2021-09-30 19:59] corwinharrell commented on #2111
<img width="500" alt="Screen Shot 2021-09-30 at 3 58 58 PM" src="https://user-images.githubusercontent.com/5934188/135522295-34708db9-023b-497e-8395-7a6641be4ee5.png">

@stefanopepe @MaximusHaximus Curious to know if you think this is oversimplified or sufficient for a v1?

[2021-09-30 21:00] Patrick1904 commented on #2071
@think-in-universe you'll be able to re-use some of the UI that's being shipped here: https://github.com/near/near-wallet/pull/2166

Please ping me if you have any questions.

[2021-09-30 21:14] marcinbodnar commented on #2111
@corwinharrell Please send a Figma link for it, or text only.

[2021-10-01 13:15] corwinharrell commented on #2111
@marcinbodnar just waiting on feedback before I share the final design deliverables

[2021-10-01 17:04] esaminu opened #2175 "Bundle and serve local web server to test against on CI - stage 2 of e2e tests CI."

[2021-10-01 17:05] esaminu opened #2176 "Run a local contract helper along with the wallet web server to test against - stage 3 of e2e tests CI."

[2021-10-01 20:23] TiffanyGYJ commented on #2112
I think _Clicked Explore Apps_ and _Clicked Explore DeFi_ are pretty good

[2021-10-04 16:26] stefanopepe commented on #2111
Looks good to me! My only concern is (for old-school crypto users) if the failed transaction was 0.001 before, why it should show the same amount (0.001) also when it asks to confirm again. As you know, Bitcoin and Ethereum offer to "bump the fees", showing a higher price in the native currency.
The issue is tricky to represent in NEAR tokens, as we need to increase the Tgas attached to the transa

[2021-10-04 18:24] stefanopepe commented on #2164
@corwinharrell if I'm right, we make transaction details available when a transaction is sent to the RPC. Do you see the potential to show the same json information also in this case?

From what I understand, we have at least three failure cases:
1. the wallet UI prevents the user from clicking any button (e.g. for insufficient balance) >> out of scope in this case
2. near-api-js returns an error

[2021-10-04 18:39] stefanopepe commented on #2164
cc @Patrick1904 and @MaximusHaximus for feedback

[2021-10-04 20:53] Patrick1904 commented on #2050
Closing as this was shipped in https://github.com/near/near-wallet/pull/2099

[2021-10-04 20:53] #2050 closed

[2021-10-04 21:07] esaminu opened #2180 "Adding E2E tests for lockups on wallet"
As we begin to add e2e tests for lockup functionality on the wallet I'd like to raise / confirm the following questions:
- In order to add E2E tests for wallet lockup flows we need to use `testingLockup.{accountId}`  and build the web server with the `REACT_APP_USE_TESTINGLOCKUP` env variable set. We can't test `{sha(accountId)[:40]}.lockup.near` accounts since the test suite can't create them. Th

[2021-10-04 21:40] mikedotexe commented on #80
Sounds like Kurtosis and @mieubrisse met with Daryl to discuss that it would be non-trivial to use a file for more info. They'll be proceeding by running `npm run build` before the Docker service starts, which may slow things down a smidge, but is a great solution.

[2021-10-04 22:56] stefanopepe commented on #2180
From a product perspective, we have to check four things:
1. if present - the lockup account appears in the wallet profile page
2. the profile page shows the correct amounts (locked, unlocked and vesting schedule)
3. the wallet correctly manages the available balance when signing transactions
4. the wallet correctly withdraw all funds and removes the lockup when there's nothing more to "vest"

I u

[2021-10-04 23:36] Patrick1904 commented on #1859
Closing as this was fixed here: https://github.com/near/near-wallet/pull/1980

[2021-10-04 23:36] #1859 closed

[2021-10-04 23:37] Patrick1904 commented on #1857
Closing as this has been fixed.

[2021-10-04 23:37] #1857 closed

[2021-10-05 08:27] #2112 closed

[2021-10-05 09:15] #1880 closed

[2021-10-05 14:13] stefanopepe commented on #2047
Short update, @abacabadabacaba is busy now, will be reviewing this proposal later this week. In the meantime we are working on the UX/UI and any other aspects that are not blocked

[2021-10-05 17:25] stefanopepe commented on #2180
Adding to the above these additional staking-related tests that I didn't mention:
1. select the staking pool
2. deposit and stake funds to it
3. unstake funds
4. withdraw funds after the expected unbinding period
5. unselect staking pool and select a new one

[2021-10-05 18:01] corwinharrell commented on #2111
@stefanopepe to clarify, can we not have the price increase reflected in the estimated fees? Just trying to understand why our initial estimated fees are calculated in NEAR, but the increase is calculated in Tgas.

[2021-10-05 18:28] corwinharrell commented on #2164
@stefanopepe Since a large majority of wallet users are not developers, I don't think it makes sense to show any raw JSON or console output in the wallet itself. What is most important in the context of the wallet UI is a plain language explanation of the error's cause. As @ilblackdragon mentions here, I think users who are interested in the granular technical details should be given a link to the

[2021-10-05 18:41] stefanopepe commented on #2111
Absolutely yes, for a normal user is sufficient to know that the system will submit the same transaction with additional fees.
It's necessary to support power users as well (thinking of Ref.Finance tribe), considering a button to see additional transaction details and what will be done under the trunk (including the amount of Tgas attached) >> see #2164

[2021-10-05 20:56] #2082 closed, assigned to marcinbodnar

[2021-10-05 22:26] marcinbodnar opened #2182 "Add a helper function to handle repeated patterns for the status state object"
Regarding comment:
https://github.com/near/near-wallet/pull/2148#discussion_r722040958

[2021-10-05 22:29] #2146 closed

[2021-10-06 17:27] Patrick1904 opened #2183 "Remove all remaining semantic-ui-react components"
## Problem
There are some flows in the wallet that are build with `semantic-ui-react`, however because of the large size and to prepare for a larger re-design, we want to completely remove this library from the wallet.

## Scope

#### What are we planning to do about it?
- [x] 1. Convert key/app management pages (no new design)
Completed here: https://github.com/near/near-wallet/pull/2186
- [x] 2.

[2021-10-07 14:52] mattlockyer opened #2185 "Feature Request: scroll to accountId"
## Story

As a USER who has a TON of accountIds, I want to have the accountId list auto scroll as I type, so I can easily find my accountIds.

![image](https://user-images.githubusercontent.com/321340/136409237-9085ad76-67cf-4763-a54d-42e9ea923ce4.png)

## Acceptance Criteria

- [ ] AccountId list auto scrolls as you type while it has focus

## Unhappy Path

It doesn't happen.

## NOTES

- Should

[2021-10-07 17:59] stefanopepe commented on #2165
This is the standards section at the link above: https://gov.near.org/c/dev/standards/29

[2021-10-09 02:25] danielwpz commented on #2071
The design looks good to me! However two questions need to be clarified before we are good to develop.
1. How could we find the creator ID ? It's currently not in the metadata. Since we don't have a standardized `mint` function, it could be hard to tell who firstly created the NFT.
2.  There are two external links in the `Proof of Authenticity` section (NEAR transaction and View on IPFS). What pag

[2021-10-11 21:46] Shurshatl commented on #2165
emm we could nt find "Accaunt" and "ID" yet. Will look more

[2021-10-11 22:41] MaximusHaximus commented on #1242
For clarity, we don't want to extract _everything_ in `wallet.js` into redux actions, `wallet.js` should still exist as a service that only contains non-redux-aware methods similar to `NonFungibleTokenService` and `FungibleTokenService` :)

[2021-10-12 14:26] corwinharrell commented on #2111
@marcinbodnar The design for this specific addition can be found here as part of the transaction signature updates that @Patrick1904 is working on: https://www.figma.com/file/Jl4i7oFfkM7uMxBidkZ3Tk/Signature-Screens?node-id=380%3A497

<img width="1182" alt="Screen Shot 2021-10-12 at 10 24 09 AM" src="https://user-images.githubusercontent.com/5934188/136974585-f0937a1c-69a9-4a8d-b5ca-8a5286cab008.p

[2021-10-12 23:19] Shurshatl commented on #2165
Hey Hey Stefano, soo looking like isnt possible without community vote)

meanwhile The @ShapeShift_io DAO voted like 4M people
overwhelmingly in favor of integration Yats into the Shapeshift wallet
https://twitter.com/whatsyouryat/status/1446584541703987208?s=20

+here the guy saying nothing but 10M people ^^
:"this partnership creates a very simple, elegant, & user friendly product that could end

[2021-10-13 13:44] Shurshatl commented on #2165
David says "I think it’d be a neat one for a future Hackathon, if it’s technically possible anyhow! :tada: "

[2021-10-13 18:39] Patrick1904 opened #2192 "Able to setup same recovery method twice"
**Problem**
Able to setup same recovery method twice

**Expected Behavior**
Not able to setup same recovery method twice

Problem is currently on wallet.staging.near.org (not in prod yet)

[2021-10-13 18:52] mieubrisse opened #2193 "Can `storybook` dependency be removed?"
It adds 264MB to the Docker image, and is the largest dependency by quite a bit:
[code]
Might be super used/valuable, but just wanted to highlight it.

These are where it's used:
[code]

[2021-10-13 19:12] Patrick1904 opened #2194 "No redirect after recovering with Ledger"
**Problem**
User is not redirected to the dashboard after recovering account with Ledger

**Expected Behavior**
User is redirected to the dashboard after recovering account with Ledger

Note: this is happening on staging only (not in prod yet)

[2021-10-13 22:40] stefanopepe opened #2197 "Put "no-reply" in the wallet recovery email"
**Problem**
NEAR Wallet sends emails to users containing one-time passwords or a recovery link with the seed passphrase. This information is sensitive, and sometimes users can reply to this email asking for assistance, exposing this confidential data.

**Expected Behavior**
Every automated email sent by the Contract Helper should have `no-reply@near.org` in the reply to field, such that no content

[2021-10-13 22:46] stefanopepe opened #2198 "Improve the seed verification step, to increase the recovery safety"
## Story

As a User who is verifying the correct transcription of the backup seed phrase, I want to input more than one word so I can make sure that my notes are correct.

As a User who is verifying the correct transcription of the backup seed phrase, I want to download a file with this phrase, so I can store it in a safe place.

## Acceptance Criteria

- [ ] The seed confirmation page asks at lea

[2021-10-14 20:43] Patrick1904 opened #2200 "Add support for custom HD path when enabling Ledger as a recovery method"
## Problem
The Wallet currently supports _importing an account_ using a custom HD path, however, it does not support _enabling Ledger as a recovery method with a custom HD path_.

#### What are we planning to do about it?
Add support for custom HD path when enabling Ledger as a recovery method.

## Acceptance Criteria
- [ ] Multiple accounts managed with single Ledger but different public keys

[2021-10-14 22:07] andy-haynes opened #2202 "Move environment configuration"
The set of configuration parsed from environment variables is currently exported from the `utils/wallet.js` module. The first step toward moving to a more environment-aware system is to move environment configuration to a central location decoupled from existing modules.

[2021-10-15 18:23] #2194 closed, assigned to marcinbodnar

[2021-10-15 18:33] #1145 closed

[2021-10-15 18:33] #2192 closed, assigned to marcinbodnar

[2021-10-16 15:55] ghost opened #2204 "How to derive `account_id` from key pair?"
According to https://github.com/near/nearcore/blob/master/core/crypto/src/signer.rs#L53-L66

expects `account_id` as argument.

According to https://wallet.near.org/recover-account deriving `account_id` from seed does not require having `account_id`

What is or where is the explanation for this?

[2021-10-16 18:17] bowenwang1996 commented on #2204
Account id has nothing to do with the keypair itself unless you are referring to implicit accounts.

[2021-10-18 05:55] danielwpz commented on #2071
PR: https://github.com/near/near-wallet/pull/2205

[2021-10-19 10:55] SergZen opened #2207 "There are errors in the console and blank page (https://wallet.testnet.near.org/authorized-apps) after adding app with a new key"
**Problem**
I see errors in the console and a blank page (https://wallet.testnet.near.org/authorized-apps) for the testnet wallet after adding the app with a new key the first time.

https://prnt.sc/1voxpo8

This code creates many requests for function because call yourself with the same params:

https://prnt.sc/1voxmn5

**Expected Behavior**
After adding the app with a new key I will see (https:/

[2021-10-19 19:58] #2204 closed, assigned to nobody

[2021-10-20 00:32] MaximusHaximus commented on #2207
Thanks for the report @SergZen
We're shipping a fix for this now 💖

[2021-10-20 06:36] MaximusHaximus commented on #2207
Fix has been landed to mainnet -- thanks for the report @SergZen :)

[2021-10-20 06:36] #2207 closed

[2021-10-20 20:24] #1966 closed

[2021-10-21 09:48] AngelBlock opened #2210 "Removing lockup account breaks /staking tab"
**Problem**
Removing lockup account by utilising Wallet feature to move funds (green banner) breaks /staking path

<img width="476" alt="Screenshot 2021-10-21 at 10 45 10" src="https://user-images.githubusercontent.com/80400686/138253381-8d69dad7-5aa9-43d5-9cc5-55db33f7a3ef.png">

**Expected Behavior**
Should display staking pools, but showing an empty page

**Steps to reproduce**

1. When lockup

[2021-10-21 09:54] AngelBlock opened #2211 "Testnet Wallet unable to display airdrop/linkdrop link."
**Problem**
A user tries to utilise the linkdrop link to claim funds/account on the **`TESTNET`** wallet, but instead showed an empty page
Works on mobile phone

**Expected Behavior**
Should show the claim form

**Steps to reproduce**

1. Go to the claim link https://wallet.testnet.near.org/linkdrop/abcdeabcdeabcdeabcdeabcdeabcdea.eclipseer.linkdrop.testnet/4YzGcHohEEz4gbZU34egsHCAdiucfdMXrCAM64Pa

[2021-10-22 01:46] stefanopepe commented on #2211
@AngelBlock do you have a source to create these linkdrops, so we can embed them in the test route?
cc @esaminu

[2021-10-27 16:55] stefanopepe opened #2217 "Add Coingekko credits to the wallet UI"
After a very positive testing phase, we decided to adopt Coingekko to show the wallet's balance in USD.
We should mention it in the UI, following the guidelines at https://www.coingecko.com/en/branding

[2021-10-29 20:08] almal commented on #2047
Would be nice to finally to get "yes" or "no" on this feature.
Several web2<>web3 projects have been on hold for few month already.
Thank you!

[2021-10-29 22:59] marcinbodnar opened #2220 "Additional selectors"
Additional selectors needed for thunks.
part of #1966

[2021-10-29 23:02] marcinbodnar opened #2222 "Selectors for account actions"
Use selectors for all thunks used for account reducer.
Part of #1966

[2021-11-01 18:25] stefanopepe commented on #2111
I followed with interest the PR #2216 and I want to show an interesting corner case:

[this transaction](https://explorer.near.org/transactions/AvqjubrefbXk3f6DSNzQBarX7KgV5BkQDUYypkApPHJa) failed because it attached too much, 300Tgas, to the multisignature request.
The source of the failure is the original request, nested inside a 2FA `add_request` json, [attaching 300Tgas](https://explorer.near.

[2021-11-01 18:30] stefanopepe commented on #2047
We plan to have it as "alpha". We have some work to finish this sprint, but I can see it being working on quite soon. Will let @MaximusHaximus provide more information around it.

[2021-11-01 18:32] stefanopepe commented on #2211
Fixed ♥️

[2021-11-01 18:32] #2211 closed

[2021-11-02 00:04] #2220 closed

[2021-11-02 16:08] MaximusHaximus commented on #2210
@esaminu Could you take a look into this and make sure we have an e2e test that covers this case?

[2021-11-03 00:54] june07 commented on #1836
I'm having this issue now... It seems the NFT should show up in the minted account without the need of calling nft_transfer to another account...

[2021-11-03 01:00] june07 opened #2226 "NFT doesn't show up when initially minted."
Similar or the same as this issue...
The wallet not displays NTF owned by the account #1836

Seems newly minted NFT's should show up under the minted account owners wallet... but they do not.  I had to transfer the NFT first before it would show up in the 2nd owner's (1st besides minter) wallet.

**Steps to reproduce**

1. Mint an NFT
2. Check the minter's wallet's collections tab (missing NFT)

[2021-11-03 18:34] willemneal commented on #2226
How was the NFT minted?  Currently the only way they showed up was after a transfer since there was no standard, however, now there is now a log event for minting, burning, and transfers: https://github.com/near/NEPs/blob/master/specs/Standards/NonFungibleToken/Event.md

I am not sure but I assume that after the indexer adds support for catching these logs, the wallet should have it too!

[2021-11-03 22:05] june07 commented on #2226
@willemneal Hey thanks for the feedback.  Digging deeper into things, what you say is in line with my findings.  In trying to implement the Event interface in my NFT contract, I'm not sure I'm going down the right path.  From what I can tell, the current nft_transfer method which IS picked up by the indexer doesn't seem to "emit" any event... outside of what is happening on the blockchain.  So...

[2021-11-04 05:10] paouvrard opened #2229 "walletConnection.requestSignIn() shows `full access` key warning on testnet"
**Problem**
walletConnection.requestSignIn() creates a `full access` key on testnet.
![image](https://user-images.githubusercontent.com/29397451/140260424-5dff716f-4ff5-42d3-b127-3f5834f5ff54.png)
https://github.com/near/near-wallet/blob/78054302312d743769febb061bd02808e6b00ce3/packages/frontend/src/routes/LoginWrapper.js#L14
Here I see only 2 kinds of login access types, is there a new way to log

[2021-11-04 17:34] june07 commented on #2226
So an update...

My attempt at following the spec https://github.com/near/NEPs/blob/master/specs/Standards/NonFungibleToken/Event.md and outputting the event data via logging, it seems that the wallet does not pick up the NFT in the original owners wallet.

Even trying to "spoof" the event log (2nd image) by using the NftTransferLog interfaces doesn't work so that makes me think logging the events

[2021-11-04 19:28] willemneal commented on #2226
@june07 It looks like you correctly implemented the logs.  FYI I added a PR to the sdk to handle creating the logs, but it's still a WIP: https://github.com/near/near-sdk-rs/pull/627.  I noticed your `memo: null` and with my code the field will be ignored..

My guess is that the logging is still not implemented.  So for now one method is to first mint with the contract as the owner.  Then call's `

[2021-11-04 20:16] nonlin-lin-chaos-order-etc-etal opened #2230 "Various intermittent defects with web wallet UI"
**Problem**

It's very hard to work with the wallet, it often shows 0 balances, 0 stakes, 0 pools where there are some non-zero of all this stuff. You obviously need help with wallet test suites and|or systems health monitoring.

**Expected Behavior**

All should be smooth and seamless as videos on near.org promise.

**Steps to reproduce**

 1. Open https://wallet.near.org/ .
 2. Exact cause and t

[2021-11-04 20:26] nonlin-lin-chaos-order-etc-etal commented on #2230
1. Tested at Firefox. All is smooth.
2. Now testing on Chrome.

All of the above under Ubuntu 18.04.x.

[2021-11-04 20:30] nonlin-lin-chaos-order-etc-etal commented on #2230
Chrome currently seems to work OK.

Will now close and if bugs repeat, will re-open this issue.

[2021-11-04 20:30] #2230 closed

[2021-11-04 20:33] nonlin-lin-chaos-order-etc-etal opened #2231 "Some Russian localization defects"
See the screenshot below for non-Russian "Staking" "Authorized apps" "Nov" (date locale) utterances.
"

The screenshot:

![изображение](https://user-images.githubusercontent.com/19966907/140415421-1363704f-e6fd-489e-b5c4-a6c02c7bda58.png)

[2021-11-04 21:07] Patrick1904 commented on #2229
Thanks @paouvrard for reporting this UI bug on the testnet wallet. Please be assured that no full access keys are created, but UI is incorrectly saying that.

[2021-11-05 23:32] mieubrisse commented on #80
@MaximusHaximus sorry for the delay in responding here; that sounds incredible! In addition to the 2m time delay, we also discovered with @BenKurrek that the default Docker settings (2GB) will cause the build of the Wallet inside the container to OOM. So having an externalized config sounds like a _huge_ win!

[2021-11-06 10:44] paouvrard opened #2233 "Display of ETH token balance in Wallet"
Is there a delay in the display of ETH token balance received in NEAR wallet ?

Some users who transferred ETH from Ethereum to NEAR mentioned that their ETH tokens are not displayed in NEAR Wallet. I checked their balance from near cli and their account actually has the tokens. Those users often also didn't have $NEAR in the wallet before receiving ETH tokens (not sure if there can be a link ther

[2021-11-08 19:36] stefanopepe commented on #2226
Hey @willemneal @june07 thank you for pulling this up.
How are the storage fees taken care of?

[2021-11-08 19:40] stefanopepe commented on #2231
Thank you for this heads up.
I don't have clear if this can be fixed by changing the translation document, or is a matter of locale settings and you expect to have the date expressed in Russian language.
Would you be available to clarify?

[2021-11-08 19:43] stefanopepe commented on #2233
How the tokens were transferred?
Do you have screenshots or the specific CLI command showing the wETH balance inside a NEAR account?

[2021-11-08 20:57] willemneal commented on #2226
@stefanopepe Here is a PR I have that address refunding after multiple mints, but it also demonstrates how refunds are handled: https://github.com/near/near-sdk-rs/pull/618/files

[2021-11-08 22:47] sept-en commented on #2233
@stefanopepe the tokens are being minted to the user account, during the execution of the `deposit` method (with provided proof as an argument) in `aurora` contract. And also note that we are talking not about nETH (not wETH).

CLI command to query the balance of nETH for the account:

[code]

P.S. `strudel.near` most likely has already transferred his tokens to `ref.finance`. CC @paouvrard

[2021-11-10 00:11] MaximusHaximus opened #2236 "UI shows inaccurately shows account active after failing to import due to incorrect key"
**Problem**
Navigating to the main wallet UI after a failed attempt to recover/import an account displays a wallet UI that _appears_ to be logged into the account that failed the import process.

**Expected Behavior**
The UI should continue to display whatever account the user was already logged in as after failing to import an account.

**Steps to reproduce**
1. open https://wallet.near.org/recov

[2021-11-10 17:57] stefanopepe commented on #2226
So, we can exclude that the problem is not having the NFTs stored/associated to the account state as it happens with other NFTs?
Other questions:
- Are there any key differences from how Paras or Mintbase store this info?
- How this information is presented by the indexer?

[2021-11-10 18:08] stefanopepe commented on #2233
The issue here is to let the wallet know that there's an available balance, under its name, inside the `aurora` state. This is not too different from other view methods we are using, e.g. staking pools and (stretching a bit) lockup accounts, but requires some additional thinking to avoid parasitic queries to the indexer.

Would you be available to work together on a PR that solves this issue, addi

[2021-11-10 18:18] sept-en commented on #2233
@stefanopepe  Yes, this is correct.

Sure, could you please explain what exactly is required from our side?

[2021-11-10 18:22] willemneal commented on #2226
Yes. The issue was that minting was not being captured by the indexer.  But transfer calls were.  So it's not the issue that the wallet's use of indexer wasn't finding NFT's because they weren't stored correctly.  Rather that it didn't know to associate an account with an NFT contract.  For example, previously I minted several times and nothing showed up.  But a single transfer from the same accou

[2021-11-11 04:35] #1887 closed

[2021-11-11 20:16] esaminu opened #2245 "Error when transferring from deletable lockups"
**Problem**
When a lockup is deletable (no staked amount and no locked / unvested funds) and "Transfer from wallet" is clicked, the green banner does not hide and an error occurs. This is because when [`getProfileStakingDetails`](https://github.com/near/near-wallet/blob/master/packages/frontend/src/redux/actions/account.js#L39) is called from [here](https://github.com/near/near-wallet/blob/master/

[2021-11-11 22:42] #2229 closed

[2021-11-12 20:15] stefanopepe commented on #2233
Taking one step back, I don't really have a clear "external PR machine" in place, so I have to mitigate the risks of adding a feature that is functionally and technically perfect but doesn't work well from a product&strategy standpoint (feature creep).
On the other hand, this is an invaluable opportunity to structure and test this "external PR machine" right away. We now have a reliable suite of e

[2021-11-12 20:48] stefanopepe commented on #2226
So, to make sure I got it right, now the indexer is able to find the minted NFTs and the only missing piece is having the wallet perform these additional queries to it, to populate the collectibles pane in the dashboard.

As soon as you confirm, I'll ask @MaximusHaximus to look into it and scope down the work. Actually, you are more than welcome to participate in the PR

[2021-11-13 18:19] willemneal commented on #2226
You got it!  I'd happy to help push this through!

[2021-11-14 23:19] ilblackdragon opened #2249 "Enabling Ledger Hard Wallet should support selecting alternative HD path"
## Story

As a USER who wants to setup Ledger Hard Wallet, I want to select alternative HD path so I can have multiple not connected accounts on one Ledger device.

## Acceptance Criteria

- [ ] Multiple accounts managed with single Ledger but different public keys

## Unhappy Path

## Assets

- Mockup:

## NOTES

-

[2021-11-14 23:20] ilblackdragon opened #2250 "Allow custom HD path beyond single number"
Currently when recovering wallet, user can only change the last number in the derivation paths.
Users might have keys on other derivation paths, Wallet should support that.

[2021-11-14 23:27] ilblackdragon commented on #782
This is implemented now, isn't it? @stefanopepe

[2021-11-14 23:28] ilblackdragon opened #2251 "Do not add extra key to the account when signing in with Ledger"
## Story

As a USER who wants to sign in with Ledger, I want to not have extra key added to the account so I can sign in without reporting to everyone that this account uses Ledger.

## Acceptance Criteria

- [ ] When recovering with Ledger - it should not add extra key

## Unhappy Path

## Assets

- Mockup:

## NOTES

- Browser can maintain required information, there is no need to maintain it on

[2021-11-15 21:54] marcinbodnar commented on #2210
Fixed in #2247

[2021-11-15 22:15] marcinbodnar commented on #782
@ilblackdragon @stefanopepe It's implemented but in a bit different way than in the description or I proposed. The user is able to reject some accounts and accept only the one he would like to. Rejecting an account doesn't break the flow. But the user is not able to `select` the accounts he would like to add before going to the signing step - the flow is: reject/accept account one by one.

[2021-11-15 22:47] corwinharrell commented on #782
yep just for some context @marcinbodnar this is a planned addition following the updates to Ledger. @MaximusHaximus has got to get the Ledger fixes shipped first and then this will be a follow up piece of work. I already have the UX figured out 👍

[2021-11-16 12:02] MaximusHaximus commented on #2249
Thanks for the submission -- this is a duplicate of #2200 - this is on our radar (even is a ticket in our current sprint).  Merging this with #2200 (added Acceptance Criteria from this ticket to that one)

[2021-11-16 12:02] #2249 closed

[2021-11-16 15:49] ilblackdragon commented on #2251
Duplicate with #1899

[2021-11-16 19:59] willemneal commented on #2226
Added the fix here:

https://github.com/near/near-contract-helper/pull/532

[2021-11-16 23:01] stefanopepe commented on #2250
This may be confusing for some users and is normally not offered by other wallets. Would it be acceptable if this can be managed via dev console, e.g. a function that takes as arguments the path integers?

[2021-11-17 23:56] stefanopepe opened #2255 "Add Telegram and Twitter to the community links"
## Story

As a user, I want to easily connect to NEAR's Discord, Telegram and Twitter accounts, such that I can communicate with them easier

## Acceptance Criteria

- [ ] The "Join Community" link is replaced by recognizable icons
- [ ] Discord link is connected as of today to https://near.chat
- [ ] Telegram link is connected to https://t.me/cryptonear
- [ ] Twitter link is connected to https://

[2021-11-18 00:08] stefanopepe opened #2256 "WAL-50 Wrap/Unwrap $NEAR"
## Story

As a USER who holds wNEAR (wrapped $NEAR), I want to unwrap them with a button in the wallet dashboard, so I can make the liquid in the available balance.

As a USER who holds $NEAR (native currency of NEAR Protocol), I want to wrap them with a button in the wallet dashboard, so I can make them available as wNEAR.

## Acceptance Criteria

- [ ] The wrap/unwrap command is visible but does

[2021-11-18 00:12] stefanopepe commented on #2256
This is a _good first issue_!
If you want to contribute to NEAR Wallet, this is a good opportunity for you to join our crew.

Please make sure that you write tests before asking a merge to the master branch, see [here](https://github.com/near/near-wallet/tree/master/packages/e2e-tests) for more details.

As an experiment, we offer a 750 $near bounty for the comprehensive suite of e2e tests of this

[2021-11-18 00:13] stefanopepe commented on #2256
@corwinharrell inlcuding you in the loop, as it may help to have a basic indication on how the UI should enable the user to swap their wNEAR for $NEAR (and vice-versa).

[2021-11-18 00:27] #1901 closed

[2021-11-18 00:35] stefanopepe opened #2257 "Prevent 2FA from overwriting an existing contract"
**Problem**
As we know, NEAR Protocol can deploy only one smart contract per account, and some power users may have a smart contract deployed to their account.
NEAR Wallet provides 2FA by deploying a special multisig contract connected to the Contract Helper.

As of today, the wallet doesn't verify if there's a pre-existing smart contract in the account, deploying the 2FA contract in a way that ov

[2021-11-18 00:37] stefanopepe commented on #2257
Technically is not exactly a bug, but from a usability point of view, we should at least alert the user and ask if they are good to overwrite the existing contract.

[2021-11-18 07:13] danielwpz opened #2258 "Firefox sign transaction random actions order"
**Problem**
When requesting to sign a transaction with **more than one actions**, the actions list order is undetermined on Firefox.

Each time I clicked the 'More information' button I saw a different actions order. When clicked 'Allow', the transaction could fail due to wrong actions order!

Please see the bug video: https://youtu.be/wGjWQbMowKo

**Expected Behavior**
The action order should str

[2021-11-18 16:09] corwinharrell commented on #2256
Thanks for creating this @stefanopepe! Would you mind adding this to product board?

[2021-11-22 15:28] ilblackdragon opened #2261 "Prevent wallet from deploying 2FA to account with existing contract"
**Problem**
When NEAR Wallet has full access key to a contract, it allows to deploy 2FA contract on top of existing one and bricks the account

**Expected Behavior**
Wallet doesn't allow to deploy the 2FA if the account is a contract

**Steps to reproduce**

1. Open in Wallet an existing contract app
2. Press setup 2FA and setup it up
3. Observe that account didn't not correctly initialize but the

[2021-11-22 22:44] Patrick1904 opened #2262 "Show 'total' number of NFTs per contract"
<img width="344" alt="Screen Shot 2021-11-22 at 2 43 08 PM" src="https://user-images.githubusercontent.com/24921205/142946005-dc7c94a8-f8b7-409f-8842-f7e23782f248.png">

#### Problem
Currently the **total number** of NFTs only includes the visible/loaded NFTs

#### Solution
The **total number** should include all the users NFTs for that contract, not just the visible ones.

Calling `nft_supply_for

[2021-11-23 13:02] mattlockyer opened #2263 "Broke with shields up Brave for Android"
**Problem**

Brave on Android shields up gives blank page.

**Expected Behavior**

Page loads.

**Steps to reproduce**

1. Brave on Android with shields up
2. Open wallet.near.org

Obviously some third party JS e.g. probably mixpanel or something like this has been made critical path and is throwing exception while wallet is loading.

![20211123_045829-ANIMATION](https://user-images.githubusercont

[2021-11-23 18:28] MaximusHaximus commented on #2263
Thanks for the report @mattlockyer!  I'm unable to reproduce this one, even with shields up and both Mixpanel and Sentry being blocked, the UI continues to function as expected.  Is there any additional details that you can get from your Brave browser about what exactly is being blocked? A blank screen indicates either our JS bundle is not loading or something inside of our rendering loop is throw

[2021-11-23 18:46] mattlockyer commented on #2263
Desktop Brave, Linux, Shield Down

Third Party Scripts Blocked?

![image](https://user-images.githubusercontent.com/321340/143085269-7ee68fb4-bcd1-4871-b695-16597cc6aaab.png)

[2021-11-23 18:48] mattlockyer commented on #2263
Turning OFF uBlock Origin on my desktop fixes this.

However, on my android, shields up fails - probably blocking the third party script delivered via the **cloudflare workers URL**.

[2021-11-23 19:37] marcinbodnar opened #2265 "Refactor ledger reducer into redux toolkit version"
We want to switch from using `redux-actions` and `readyStatePromise` middleware into `redux-toolkit` slices.

Pros:
 - action creators for simple reducer cases will be automatically created and exported as part of the slice along with the reducer itself
 - `createSlice()` automatically creates the action creators for every key defined in its reducers property hash. So we won't have a dedicated red

[2021-11-24 10:21] crypto-credit opened #2267 "Wallet translation (Italiano)"
I am involved in setting up a new guild to promote NEAR to the italian speaking community. To make it easier to onboard new users it would be great to provide the option to select Italiano in the wallet.

We have bi-lingual members in our group who would be interested to help with translation from English to Italiano

I posted on the forum - https://gov.near.org/t/proposal-near-wallet-upgrade/8936

[2021-11-24 22:20] marcinbodnar opened #2269 "Improve Release Notes"
If we want to add/show Release Notes frequently, we need to consider that the user can enter Wallet after a few releases happened. Considering that, the solution with showing release details in modal will not work, because a user will see the latest release information only.

We should show a general modal including information that the new release is ready, and a link to the release details page,

[2021-11-24 22:22] marcinbodnar commented on #2269
@MaximusHaximus What do you think about @corwinharrell proposition?
`I think it makes the most sense to pull release notes content from a .md file that gets reviewed and then committed with each release. `
https://near--inc.slack.com/archives/C02L5DSRL8G/p1637787040158300?thread_ts=1637781567.148700&cid=C02L5DSRL8G

[2021-11-26 19:02] tdogj21 opened #2270 "Unable to open wallet"
## Story
I'm trying to load near into my near wallet. I'm unable to because no wallet is excepting the ENS. Also, the NEAR Wallet itself will not open. I've attached screenshots below. I cannot get pass this screen.

Also. I'm sending errors that are showing up in the Dev tools

As a USER who PRECONDITIONS, I want to DO_THING so I can ACCOMPLISH_GOAL.
![Dev Load Error](https://user-images.githubus

[2021-11-29 20:48] KriptoRaptor opened #2271 "adding Turkish language choice to Near Wallet"
As a Near community member, I offer adding Turkish version of the wallet.

Translation is a part of my Profession, I'm a full time crypto guy and I'm Turkish native I want to have this task.

according to some research Turkish Crypto users are in top 10 and that many Turkish People aren't so good in English
this will help us reach new Turkish crpto communities make it easier for them to claim an a

[2021-11-30 08:34] RubyJiao opened #2273 "Inconsistent transaction status in the wallet and explorer"
**Problem**
The transaction status of the same transaction in the wallet is inconsistent with the status in the explorer.

**Expected Behavior**
The transaction status of the same transaction in the wallet is the same as that in the explorer.

**Steps to reproduce**
1. Click one of my transaction on "recent activity"
2. It showd checking status
3. Click "view on explorer"
4. It shows succeeded sta

[2021-11-30 08:43] MaximusHaximus commented on #2271
Howdy!

We'd love the help with translations!

You can see our existing translation files at https://github.com/near/near-wallet/blob/9f358d76cea6d2f12750b2874d5dadb187805db6/packages/frontend/src/translations/en.global.json
If you create a `tr.global.json` file that contains Turkish equivalent translations for the values in `en.global.json`, we'd be happy to merge it and get Turkish language supp

[2021-11-30 17:01] evgenykuzyakov opened #2275 "Login UI should always display both the target contract ID and the referrer of the login request"
**Problem**

The new wallet UI (testnet) doesn't display contract ID in the limited access key authorization flow.

It only displays the domain name of the website, but not the contract you're authorizing with.

The malicious website can trick user into authorizing any contract. It allows to steal locked tokens from the user or interact with any contract.

**Expected Behavior**

The contract ID sh

[2021-11-30 17:27] zavodil commented on #2275
This affects mainnet as well
![Screenshot 2021-11-30 at 7 25 29 PM](https://user-images.githubusercontent.com/38926321/144097072-8dba182b-a642-4e8b-92cf-54ae3bb1e78d.png)

[2021-11-30 23:41] Patrick1904 commented on #1897
Closing as this has been fixed

[2021-11-30 23:41] #1897 closed

[2021-11-30 23:57] MaximusHaximus commented on #2275
@evgenykuzyakov @zavodil Thanks for the report, we're working on this now.

[2021-12-01 00:18] marcinbodnar opened #2278 "Selectors for staking actions"
Add a set of selectors to be used in staking reducer.
Part of #1966

[2021-12-01 01:44] marcinbodnar opened #2280 "Use selectors for staking thunks"
Use selectors for all thunks used for staking reducer.
Part of #1966

[2021-12-01 04:42] #2275 closed

[2021-12-01 12:05] stefanopepe commented on #2258
Daniel,

We identified the issue, working on it =)

[2021-12-01 12:06] stefanopepe commented on #2257
Duplicate of #2261

[2021-12-01 12:06] #2257 closed

[2021-12-01 12:08] stefanopepe commented on #2263
@MaximusHaximus @mattlockyer is this still an issue?

[2021-12-01 12:15] stefanopepe commented on #2267
Ottima idea!

We are working to structure this type of contribution, biggest question mark is the QA around too long words that may break the UI

[2021-12-01 12:17] stefanopepe commented on #2270
Thank you for your request. We are already handling this one via Zendesk at nearhelp.zendesk.com/

[2021-12-01 12:17] #2270 closed

[2021-12-01 14:55] corwinharrell opened #2284 "Implicit addresses as default for first-time account creation"
## Problem
Because of the necessity for named accounts to occupy a namespace and storage, a prerequisite for account creation in the wallet has always been to fund `.near` addresses before they can be recovered. Since many new users do not have NEAR to begin with, this has created a scenario where we have had to rely on exploitable faucets and non-anonymous verification methods in order to fund ne

[2021-12-01 17:40] corwinharrell commented on #1453
Closing this issue as we are now working on implementation here: https://github.com/near/near-wallet/issues/2284

[2021-12-01 17:40] #1453 closed

[2021-12-01 18:42] TrevorJTClarke commented on #669
Can the analytics settings/setup be opt-in for the user? Feels bad that analytics is being used on the wallet. I for one do not like to have analytics tracking, and im sure others would appreciate the ability to remove tracking as well.

[2021-12-02 07:04] mattlockyer commented on #2263
Appears to work now. Not sure what changed.

[2021-12-02 07:04] #2263 closed

[2021-12-02 08:30] alsakhaev opened #2290 "Unknown App in testnet wallet"
**Problem**

Login page doesn't display an application name in testnet version of the wallet.
Mainnet version works properly.

https://wallet.testnet.near.org/login/?public_key=PUBLIC_KEY_HERE&referrer=APP_NAME
![image](https://user-images.githubusercontent.com/15713727/144385404-34d257e2-9577-4315-8ab4-29328f43e7db.png)

https://wallet.near.org/login/?public_key=PUBLIC_KEY_HERE&referrer=APP_NAME

[2021-12-02 11:33] stefanopepe commented on #2269
I like the concept of replacing an existing .md file (e.g. RELEASE.md), as linking to previous versions must include the release hash.

[2021-12-02 20:05] MaximusHaximus opened #2291 "NEAR_WALLET_ENV should control default env var values"
config.js currently has defaults for TESTNET, so if we ever need to configure for any other environment, we have to set many environment variables to override the testnet defaults -- this is suboptimal and a major avenue for bugs in our code to creep in.

1. config.js should load default values for every config key using `process.env` references; any per-environment defaults will _not_ take preced

[2021-12-03 10:08] alsakhaev commented on #2290
Now it works in testnet and mainnet the same.
Looks like you refused to read `referrer` parameter of URL for displaying an application name.
And now `referrer` HTTP-header is used for it.
![image](https://user-images.githubusercontent.com/15713727/144584767-cb02936d-1545-42b3-9a15-25fc2d666ac6.png)
![image](https://user-images.githubusercontent.com/15713727/144584812-483249e9-15d0-4065-a47a-0d236a

[2021-12-03 10:16] alsakhaev commented on #2290
I close the issue.
Probably, this is not a bug, this is a feature :)

[2021-12-03 10:16] #2290 closed

[2021-12-03 14:54] stefanopepe commented on #2271
Don't miss the opportunity to leave your comments here: https://github.com/near/near-wallet/discussions/2293

[2021-12-03 14:54] stefanopepe commented on #2267
Don't miss the opportunity to leave your comments here: https://github.com/near/near-wallet/discussions/2293

[2021-12-03 18:33] #2278 closed

[2021-12-03 18:33] #2222 closed

[2021-12-03 18:35] #2280 closed

[2021-12-04 01:57] KriptoRaptor commented on #2271
well Daryl tbh i still have no clue about how to do it using your tools.

 I can attach SS of each page and paste corresponding Turkish texts into a .doc file ?? 😃  or wonder if i can access the offline version with a software and edit all the text on it just like that 🤔

[2021-12-05 15:53] Tagvi opened #2295 "Can not create a wallet"
**Problem**
It shows Error: The account wouldn't have enough balance to cover storage, required to have 1023536697836184553165 yoctoNEAR more even tho I am trying to use one-time passcode for verification

**Expected Behavior**
Should just let me register

**Steps to reproduce**

1.  Reserve Account ID
2. Choose secure passphrase
3. Enter answer to the passphrase question
4. Verify with email (it

[2021-12-06 16:35] stefanopepe commented on #2295
We are happy to help with this issue, please open a ticket at https://nearhelp.zendesk.com/hc/en-us/requests/new

[2021-12-06 16:35] #2295 closed

[2021-12-07 00:25] #2104 closed

[2021-12-07 00:26] #1970 closed

[2021-12-07 00:30] marcinbodnar commented on #1241
Closing, we decided to use the redux toolkit instead of the current solution.

[2021-12-07 00:30] #1241 closed

[2021-12-07 00:31] marcinbodnar commented on #1240
Closing, this is being addressed while refactoring into the redux toolkit.

[2021-12-07 00:31] #1240 closed

[2021-12-07 00:32] marcinbodnar commented on #1239
Closing, as new folder structure is ready, and redux state is being keyed by accountId while refactoring into the redux toolkit.

[2021-12-07 00:32] #1239 closed

[2021-12-07 00:36] marcinbodnar commented on #57
Closing, this was handled a long time ago.

[2021-12-07 00:36] #57 closed

[2021-12-07 01:17] Patrick1904 commented on #1987
Fixed by @worldclassdev in https://github.com/near/near-wallet/pull/2289 :)

[2021-12-07 01:17] #1987 closed

[2021-12-07 07:23] Tagvi commented on #2295
looks like the issue is already fixed!

[2021-12-08 15:52] yat011 commented on #2256
Hi, May I know if anyone is working on this? Could I work on this?

[2021-12-08 16:22] yat011 commented on #2256
@corwinharrell  Yes, I am willing to chat with ur team.

[2021-12-08 23:25] marcinbodnar opened #2296 "Improper ordering in tx log in the wallet"
<img width="353" alt="Screen_Shot_2021-12-08_at_11 49 45_PM" src="https://user-images.githubusercontent.com/36210360/145307196-1ecf137c-77d9-46a2-b9cb-969526e13339.png">

[2021-12-09 12:36] yat011 commented on #2256
After chatting with @stefanopepe,  I want to share my draft UI plan here for feedback and comments.
The plan is as follows:
  1. Add an "wrap Near" button on the navigation bar / wallet page
  2. (new view) showing the swapping between NEAR and wNEAR  ( similar to ref finance). User can input the amount and click wrap/unwrap
  3. (new view) Review how much near being wrapped/unwrapped -> confirm b

[2021-12-09 15:34] #2014 closed

[2021-12-10 09:12] telezhnaya opened #2300 "Show NFTs information from Indexer DB"
We have `assets__non_fungible_token_events` table in [Indexer for Explorer](https://github.com/near/near-indexer-for-explorer) (testnet, mainnet). It contains all the needed information about NFT movements for the specified contract, if the contract implements [events](https://nomicon.io/Standards/NonFungibleToken/Event.html).
We collect this information specially for different kind of wallets.
It

[2021-12-10 09:24] stefanopepe commented on #2300
Do you have a set of contracts or events that are not tracked? There's already a PR merged at https://github.com/near/near-contract-helper/pull/532

[2021-12-10 09:30] stefanopepe opened #2301 "No email check after re-enabling 2FA on the same address"
**Problem**
As a user, I want to receive a confirmation email (with the six digits code) when I enable 2FA.
Currently, re-enabling the 2FA on the same account using the same email won't send the confirmation email.

**Expected Behavior**
Always send a confirmation email when 2FA is enabled, even after the first time.

**Steps to reproduce**

1. enable 2FA via email on an account
2. confirm the act

[2021-12-10 09:36] telezhnaya commented on #2300
Did you deploy it both for mainnet and testnet?

Please check this transaction https://explorer.testnet.near.org/transactions/6SJ8uRKeu9vKJhhnVZXT19zrchsuLz6HthcHa5beMZsp
The info is in Indexer, I checked, but there's no information in the Wallet

[2021-12-10 10:05] stefanopepe opened #2302 "Developer feature proposal: manually override wallet's RPC and other services URLs"
## Story

As a power user/developer who is experiencing RPC issues, I want to override/change the RPC URL so I can overcome the unexpected issues.
(We can replace `RPC` with `contract helper` or `indexer` to get the same expected result)

## Acceptance Criteria

- [ ] Overridden URL information is persistent across sessions
- [ ] Browser console, during page loading, alerts the user if these value

[2021-12-10 11:21] Solniechniy opened #2303 "Developer feature proposal: Displaying the project validators in the list of validators"
## Story
There is an announcement about project validators that will validate and give a possibility to farm tokens. The proposal in changing the UI of validators in order to show additional project-validators information.

## Acceptance Criteria
[ ] Change the logic of near wallet to parse two types of validators: project validators and simple one
[ ] Create new component for displaying project v

[2021-12-10 11:22] Solniechniy commented on #2303
- In order to change the render component, we should type the project validators and others validators. By which criteria we should differ the project validator on the frontend from the simple one?
- Is there any project validator running on testnet?

[2021-12-10 11:24] referencedev commented on #2303
- I suggest there is a decision on deploying the factory under some account name, e.g. `poolv2.near`.
Then determining the type will be done via prefix match `.poolv2.near`.

- There is one here - `validator2.factory01.littlefarm.testnet`

[2021-12-10 11:35] Solniechniy commented on #2303
Ok, so we will make a decision based on prefix match `.poolv2.near`.

`validator2.factory01.littlefarm.testnet`  - Does it actually returned by the indexer with the list of all validators?

[2021-12-10 13:59] Solniechniy commented on #2303
@ilblackdragon  Got it.
Is any information on how to get the project validators list? Will it be with return with common validators?

[2021-12-10 20:14] ilblackdragon commented on #2303
All validators, independent of which contract they are using, that have submitted the proposal will show up in proposals RPC request.

If you are creating a new validator - it needs to have minimum stake (10k $NEAR I think or something like that) for staking proposal to go through.

[2021-12-10 21:37] Solniechniy commented on #2303
@ilblackdragon so the proposal should be sent to https://reskin-testnet.sputnik.fund/select-dao in addition to adding a test validator to the list of all validators?

[2021-12-10 21:37] Solniechniy commented on #2303
@ilblackdragon so the proposal should be sent to https://reskin-testnet.sputnik.fund/select-dao in addition to adding a test validator to the list of all validators?

[2021-12-11 07:23] Solniechniy commented on #2303
@ilblackdragon
For getting any information about the user and future development there are two ways, as I understand
1. Deploy to mainnet, whitelist the contract, create validator and then submit a proposal
2. Create a validator on testnet and submit the proposal
So if the difference is only on deploying and whitelisting, should we proceed with mainnet?

[2021-12-12 16:57] ilblackdragon commented on #2303
Staking proposals are sent by the contract itself, when there is enough stake on the contract.

[2021-12-13 09:56] telezhnaya commented on #2300
Another case on mainnet https://explorer.near.org/transactions/9ooei4QcKhTRbaqALtTYfmeusHVt5CfAz7uEiedaMpRs

[2021-12-13 11:16] telezhnaya commented on #2300
Investigated the issue thanks to @MaximusHaximus
Each contract should implement `nft_metadata` and `nft_tokens_for_owner` to be shown on Wallet
Added this information to the doc https://github.com/near/NEPs/pull/295

[2021-12-13 11:16] #2300 closed

[2021-12-14 10:51] #1967 closed

[2021-12-15 02:24] paouvrard opened #2310 "accountId=undefined url param of SignIn redirect"
**Problem**
Often when sining in with: `nearWalletConnection!.requestSignIn()`, the redirect url will contain `accountId=undefined` instead of the Wallet's account id.
This is particularly a problem if the dapp UI is not checking the accountId format: if it goes unnoticed, the user will be logged in as `"undefined"`.

**Expected Behavior**
Login is successful and `accountId` equals the user's acco

[2021-12-15 20:43] andy-haynes opened #2311 "`yarn install` should use the lockfile"
**Problem**
Currently running `yarn build` modifies the `yarn.lock` file unexpectedly.

**Expected Behavior**
`yarn build` should not modify the lock file, packages should be installed according to the versions specified in `yarn.lock`.

**Steps to reproduce**

1. Run `yarn build`
2. `yarn.lock` is modified

[2021-12-15 23:46] andy-haynes commented on #2301
@stefanopepe I haven't been able to reproduce this using the steps above, either locally or on `testnet`. I received an email using the account `pesos.testnet` with my @near email address in `testnet`. I tried running through the steps after re-enabling the first time but I always get the email.

Was the email used for 2FA also used as an account recovery method? Anything else that might stand out

[2021-12-16 02:02] #2311 closed

[2021-12-16 10:04] yat011 commented on #2256
Hi @stefanopepe and @corwinharrell, I would like to share some updates on the UI implementation as follows.

## Wrapping Near

1. Click Wrap NEAR.

If the user has wNEAR, wNEAR always appears after NEAR in the tokens list to incentive the wrapping operation

<img src="https://user-images.githubusercontent.com/10917273/146344986-82b4d51d-d967-4918-9bee-5d4534b42a8f.png" height="500"/>
2. Input Amou

[2021-12-17 07:18] RubyJiao opened #2315 "Display of "Rewards earned""
**Problem**
After withdrawing all staked near tokens, "Rewards earned" becomes 0. But after re-staking (any amount of tokens), it becomes the value before withdrawing (Actually they are still in the account balance, just displays like that). After a while, "Rewards earned" shows the sum of the previous rewards and the number of rewards this time.

**Expected Behavior**
After re-staking， "Rewards e

[2021-12-17 10:44] mayurjobanputra opened #2316 "Error 32700 Missing field account_id"
**Problem**
After connecting my Ledger, I'm getting this message frequently. I often have to refresh the page and then it goes away.

`Error - An error occurred while approving this action. Please try again! Error [-32700] Parse error: Failed parsing args: missing field 'account_id'
`
![image](https://user-images.githubusercontent.com/6332663/146532553-5b941144-05c3-4c6b-b2f0-89ea67a5e021.png)

**

[2021-12-17 10:55] stefanopepe commented on #2316
Have you tried contacting the wallet support at https://nearhelp.zendesk.com/hc/en-us ?

[2021-12-18 06:27] mayurjobanputra commented on #2316
Haven't. Good to know. Thanks!

[2021-12-20 11:54] #2210 closed

[2021-12-20 11:54] #2245 closed

[2021-12-20 21:06] #2296 closed

[2021-12-20 21:29] marcinbodnar commented on #2271
Hey @KriptoRaptor
Added necessary changes in this PR:
https://github.com/near/near-wallet/pull/2319

Turkish version of texts is available in this file:
https://github.com/near/near-wallet/blob/c0385fe4b7306b88a62cf86ec42eb6c85ad97521/packages/frontend/src/translations/tr.global.json
(packages/frontend/src/translations/tr.global.json)
Edit version:
https://github.com/near/near-wallet/edit/issue-22

[2021-12-21 14:54] KriptoRaptor commented on #2271
hello marcinbodnar, it's 'Türkçe' (which means Turkish)
I will try this, if I can't manage editing this json file I will ask for help but the translation is still not ready. It will take a couple of weeks more.

[2021-12-21 18:42] marcinbodnar commented on #2271
Thanks @KriptoRaptor , changed to `Türkçe`.

Sure, let me know if you will have any problems.

[2021-12-22 08:55] hanakannzashi opened #2322 "2FA issue"
When a user set email link after enable 2FA ,the allowance of function-access-key of email link is 0.25N, not null. If user disable his seed phrase, the email link will be the only recover way, but it can be invalid due to allowance, then user cant recover his account

[2021-12-22 09:08] hanakannzashi opened #2323 "2FA Sign Issue"
Any two function-access-keys with the permission of (confirm) function can bypass 2FA for transfer. Each time a user logs in, a function-access-key will be generated. If these keys are stolen by the same person, 2FA cannot protect the user's assets.

[2021-12-22 09:24] hanakannzashi opened #2324 "2FA email link key"
**Problem**
When a user set email link after enable 2FA ,the allowance of function-access-key of email link is 0.25N, not null. If user disable his seed phrase, the email link will be the only recover way, but it can be invalid due to allowance, then user cant recover his account

**Expected Behavior**
the allowance of  function-access-key of email link is null

**Steps to reproduce**
1. Ensure th

[2021-12-22 09:36] hanakannzashi opened #2325 "2FA Sign Issue"
**Problem**
Any two function-access-keys with the permission of (confirm) function can bypass 2FA for transfer. Each time a user logs in, a function-access-key will be generated. If these keys are stolen by the same person, 2FA cannot protect the user's assets.

**Expected Behavior**
The second signer must be the mail system (or the smart contract itself)

**Steps to reproduce**

1. ensure 2FA ena

[2021-12-22 09:38] #2323 closed

[2021-12-22 09:38] #2322 closed

[2021-12-22 10:10] hanakannzashi opened #2326 "2FA delete_request"
**Problem**
when a user sends money but does not confirm by 2FA code, (delete_request) function will be called after every next transaction and always failed due to Exception {'Request cannot be deleted immediately after creation'}. This affects the user experience and wastes gas

**Expected Behavior**
When a request can not be deleted (Maybe it has a time lock), do NOT call (delete_request) funct

[2021-12-22 10:48] stefanopepe commented on #2325
This is an interesting loophole, can you build a proof of concept and send a video to security@near.org?

[2021-12-22 14:13] stefanopepe commented on #2301
@andy-haynes let's try with the corner case of having the same email both as recovery method AND 2FA. If the problem doesn't come up, we'll close the issue and I'll investigate the issue from a race condition point of view - this issue happened to Chinese users, which suffer from high latency and filtered connections to our backend services

[2021-12-22 14:14] #2316 closed

[2021-12-22 15:17] stefanopepe opened #2327 "Create TRANSLATIONS.md"
Our community of translators is growing strong, and we want to make sure that no contribution is lost!

I want to add the file below to the markdown documentation of NEAR Wallet, any comments are welcome!

<<< cut here <<<

# NEAR Wallet - community translations guide
This document wants to facilitate translation efforts by the community. This activity will change the user interface buttons, label

[2021-12-22 22:29] Patrick1904 opened #2330 "Hide NFT contracts with zero NFTs"
**Problem**
The wallet currently shows all NFT contracts that the user has interacted with, not taking into consideration whether the user currently has any NFTs with a specific contract.

**Solution**
Hide NFT contracts with zero NFTs

**Example**
<img width="673" alt="Screen Shot 2021-12-22 at 2 28 35 PM" src="https://user-images.githubusercontent.com/24921205/147162192-f8575f94-32a7-4977-88c0-4

[2021-12-23 03:45] june07 commented on #2226
@willemneal Just wanted to say thanks.  It seems to be working splendidly now!  🍻

[2021-12-23 03:45] #2226 closed

[2021-12-23 09:34] AngelBlock opened #2332 "Account creating with email as confirmation failed to create with not enough for storage error"
**Problem**
creating with email as confirmation failed: `The account wouldn't have enough balance to cover storage, required to have 1727866813955785990885 yoctoNEAR more`

**Expected Behavior**
Account created

**Steps to reproduce**
1. Go to near wallet
2. Enter near name
3. Select email as confirmation

<img width="515" alt="Screenshot 2021-12-23 at 09 33 12" src="https://user-images.githubuser

[2021-12-23 17:09] MaximusHaximus commented on #2332
@AngelBlock -- Thanks for the report! We've resolved this bug, which happened when funded accounts were not available. From now on, when funded accounts are not available the UI will automatically take you to the implicit account funding flow. Sorry for the inconvenience!

[2021-12-23 17:09] #2332 closed

[2021-12-24 08:19] yat011 commented on #2256
Hi @stefanopepe and @corwinharrell, I created a pull request #2334 .

## Update:

To avoid affecting the mobile view much, I moved the wrap Near button to navigation bar. (Feel free to comment).

![Screen Shot 2021-12-24 at 3 53 35 PM](https://user-images.githubusercontent.com/10917273/147333648-0f524b27-2ec1-422f-ba07-101305671ebb.png)

If the nav space is not enough, then it shows the nav link i

[2021-12-26 07:11] june07 commented on #2185
Bounty?

[2021-12-26 16:12] alexauroradev commented on #2200
Upvoting this issue.

[2021-12-26 16:23] alexauroradev opened #2338 "Fungible token transfer sometimes requires signing two storage deposit transactions"
**Problem**
Fungible token transfer sometimes requires signing two storage deposit transactions. Probably this is happening due to the decrease of the storage costs, while the old contracts were using the hardcoded 0.0125 NEAR for the storage (and the new ones -- 0.00125).
Example:
https://explorer.near.org/transactions/E2tC36DMkTWf6Uo4yxCJNMy7taFBhXiZb539CPCfwHZM -- failed
https://explorer.near.o

[2021-12-28 09:11] johny1690 opened #2339 "Social media links not working on ios"
**Problem**

If you use iPhone 13 either chrome or safari the medium/twitter URLs from the bottom of the website are not working on mobile version. I tried in chrome on desktop using devConsole to replicate the bug but is not working.  I think this bug is activated only on native env.

**Expected Behavior**
the links should be enabled so that we can open the social media accounts.

**Steps to repr

[2021-12-31 07:18] RubyJiao opened #2340 "Display of creating new account with Ledger"
**Problem**
Currently, users cannot create new account with ledger in Google Chrome. However, they may not know it and create account as usual. Finally, after they made a deposit, they cannot recover the account and lose tokens.

**Expected Behavior**
From the beginning, let users know the Google Chrome is not supported for Ledger in this page.
![image](https://user-images.githubusercontent.com/87

[2022-01-04 10:28] stefanopepe commented on #2340
there's an update that will solve this problem, enabling Chrome again. cc @MaximusHaximus who will link here the PR

[2022-01-04 10:34] stefanopepe commented on #2303
@Solniechniy how's the progress of this on Testnet?

In order to proceed, we need to build a few tests against:
- a small set of validators running this new type of pool
- a small set of users adopting these pools and receiving rewards

By now I can see only https://explorer.testnet.near.org/accounts/validator2.factory01.littlefarm.testnet - do we have more than one?

[2022-01-04 10:35] stefanopepe commented on #2315
@MaximusHaximus I'll let you triage this one and assign it to the best person who can take care of it

[2022-01-04 10:51] stefanopepe commented on #2324
Users are not supposed to disable the seed passphrase recovery when using 2FA, the UI should prevent that unless thre' already another recovery method enabled (email).
Once 2FA is enabled, the seed must remain in place for two reasons:
1. the seed passphrase (as the email recovery link) is still needed to import the account on a new browser
2. there's no recovery passphrase for the 2FA private key

[2022-01-04 10:53] stefanopepe commented on #2325
@hanakannzashi any updates on this? Do you have links to transactions that bypassed the 2FA server, applying the process stated above?

[2022-01-04 11:00] stefanopepe commented on #2338
@MaximusHaximus I don't have clear what to do if the contract doesn't have this view method available, and how this could scale (I suppose this "view" can be called once and easily cached, instead of using the indexer every time).

I'll have you take it from there for both analysis and handover to the team.

From a product standpoint, I see risks in the latency of the operation - but they are lowe

[2022-01-04 11:01] stefanopepe commented on #2339
Checked and I confirm the behavior of not showing these links, but I'm not 100% sure it is a feature and not a bug.

cc @Patrick1904 and @corwinharrell

[2022-01-04 11:25] hanakannzashi commented on #2325
I have already send email with a video (operate on testnet) to security@near.org

[2022-01-04 11:26] hanakannzashi commented on #2325
@stefanopepe I have already send email with a video (operate on testnet) to security@near.org

[2022-01-04 11:38] hanakannzashi commented on #2324
@stefanopepe
You misunderstood what I said. I mean set up a new email link AFTER enable 2FA, then disable phrase.In this way, there is only one way to recover the account, it is email.But the key of email -- its allowance is 0.25N, it means email will be invalid one day.

[2022-01-04 11:40] hanakannzashi opened #2341 "Ledger"
**Problem**
1.when using ledger to recover account, it will add a function call key to call (__wallet__metadata) function, this key seems useless

2.when delete above key, wallet can work normally, but on this page (https://wallet.near.org/profile), it shows that i did not enable passphrase, i enabled actually, page displays wrong.

[2022-01-04 14:33] stefanopepe commented on #2341
Thank you for your feedback.

What is the step-by-step process followed to delete the Ledger key?

[2022-01-04 15:02] hanakannzashi commented on #2341
@stefanopepe No I did not delete the 【Ledger Key】, I delete the 【FuncationCall Key added by every recovery with Ledger】
1.I have 【Passphrase Key A】 and 【Ledger Key B】 ,I went to page (https://wallet.near.org/profile) ,it shows I enabled Ledger and Passphrase
2.I recover my account with Ledger, then a 【FunctionCall Key C】was added to my account
3.I used near-cli to delete key C
4.I transferred, it

[2022-01-04 17:18] Patrick1904 commented on #2339
@johny1690 thanks for reporting this. I am able to reproduce the issue where the links at the bottom of the page on near.org are unresponsive on iOS. @jakestutzman can you please check the links on near.org? I'm only able to reproduce this issue on a mobile device.

@stefanopepe we're not showing any social media links in the NEAR wallet but I can see there's an issue for adding Telegram and Twitt

[2022-01-05 00:34] #2262 closed

[2022-01-05 06:48] hanakannzashi commented on #2341
@stefanopepe When using passphrase and email link to recover the account, generate a new key confuse users

[2022-01-05 07:10] RubyJiao opened #2343 "Pending state after enabling ledger"
**Problem**
After enabling ledger, there is a page about suggesting user to delete other recovery methods, and there is no response after the operations on that page and always pending.

![5348ccb7d8c33be947b46b382afd8bd5_](https://user-images.githubusercontent.com/87597805/148175063-a6d11818-8484-4582-a766-6b17a417ce58.jpg)
![160262dd528a472718d9f98b26597e73_](https://user-images.githubuserconten

[2022-01-05 11:13] stefanopepe commented on #2343
Let's debug over the ticketing platform first, ask the user to open an incident on Zendesk

[2022-01-05 11:13] #2343 closed

[2022-01-05 17:54] #2111 closed

[2022-01-05 18:03] #2330 closed

[2022-01-05 19:18] marcinbodnar opened #2344 "Allow retrying failed transactions in case of batch transactions"
We can extend the functionality from https://github.com/near/near-wallet/pull/2216 by implementing the functionality that allows retrying tx if there is more than one transaction.

There might be a situation where for example user needs to sign three transactions, the first one succeeded, the second one failed with any error - in this case, it will be useful to allow the user to retry the second t

[2022-01-05 19:19] marcinbodnar commented on #2344
@MaximusHaximus What do you think about that? It shouldn't be much complicated, because it's partially ready.

[2022-01-05 19:21] marcinbodnar opened #2345 "Add basic tests for retry tx reducers"

[2022-01-05 21:20] esaminu opened #2346 "Wallet displaying USD values from `ft_metadata` of fungible tokens"
**Problem**
Wallet fungible token display will render a USD value returned by the `usd` property of `ft_metadata` payload

**Expected Behavior**
Wallet fungible token display should not render fiat data retrieved from the `ft_metadata` function call and only render fiat data from `/fiat` endpoint of contract helper.

**Steps to reproduce**

1. Own a fungible token balance with a contract that impl

[2022-01-06 20:12] Patrick1904 opened #2348 "Use current account as funding method by default when creating a new account & re-use recovery key"
Original issue: https://github.com/near/near-wallet/issues/2284

We implemented phase one of the implicit account onboarding in https://github.com/near/near-wallet/pull/2313. Phase two includes:
1. Using current account as funding method by default when creating a new account (while logged in)
2. Enabling users to re-use the same seed phrase / key when creating a new account, essentially making it

[2022-01-06 22:20] esaminu opened #2349 "Lockups with outdated `are_transfers_enabled` value should display up to date "Available to transfer""
**Problem**
When a lockup has an outdated `are_transfers_enabled` value, the wallet displays 0 as "Available to transfer" even though transfers have been enabled in the `transfer_poll_account_id` contract. When "Available to transfer" is 0, the user cannot withdraw from the lockup via the wallet and so the wallet does not update the lockup `are_transfers_enabled`.

**Expected Behavior**
The wallet

[2022-01-06 22:29] KriptoRaptor commented on #2271
can we schedule a 30 min call and you show us how you instert the script in here?

[2022-01-07 21:58] andy-haynes opened #2351 "Add option to modify environments in the feature-flags package"
While the set of valid environments in `environments.json` is currently static, we will need a way to add and remove environments in such a way that:
- changes are reflected in `environments.json`
- all flag keys in `flags.json` have an entry for each environment in `environments.json`
- new environments are sourced from existing environments to ensure that new environments have the same flag stat

[2022-01-10 17:50] marcinbodnar commented on #2271
@KriptoRaptor Sure, but it's generally straightforward - you can download the file that I'm adding here (`tr.global.json`), open it with for example: https://code.visualstudio.com/ , and change the English texts into Turkish. So for example if you see something like:
`"descOne": "Your initial deposit has been received and transferred to your new account. Your account is now active!",`
you change i

[2022-01-10 18:40] KriptoRaptor commented on #2271
ok cool. let's first do this then, we're starting. can I have your telegram or discord id in case we need to ask someting? :-)

[2022-01-10 18:46] marcinbodnar commented on #2271
Sure, `Marcin Bodnar | NEAR#4420`

[2022-01-11 12:00] #2349 closed

[2022-01-11 13:38] gutsyphilip opened #2354 "CHANGELOG.md for the various packages"
Following the adoption & enforcement of conventional commits across the repo, we now have the opportunity to  automatically generate changelogs for each project. This will enable ease of tracking what features are part of each release(especially useful as we will be switching to trunk-based development).

[2022-01-11 14:19] #2346 closed

[2022-01-11 14:36] stefanopepe opened #2355 "Disable Moonpay button on Testnet wallets"
**Problem**
The button "top up" of NEAR Wallet shows the Moonpay buy option also at https://wallet.testnet.near.org, redirecting the user to the buy screen on their platform.

**Expected Behavior**
The user shouldn't land on Moonpay after clicking the button "buy with Moonpay"

**Steps to reproduce**

1. open https://wallet.testnet.near.org
2. create a new account (or login to an existing one)
3.

[2022-01-11 18:45] #2351 closed

[2022-01-11 22:48] marcinbodnar opened #2358 "Configure Jest for .env support"

[2022-01-11 22:56] #2291 closed

[2022-01-12 09:18] gutsyphilip opened #2364 "Typescript-ification of codebase"
## Problem
This is a step in our attempt to introduce more structure and standardize things across the codebase. It is also a relevant step for us as we plan to build out our design system/component library to enable ease of development.

## Scope

#### What are we planning to do about it?
We will progressively enhance the codebase by introducing Typescript in little chunks until we have a setup t

[2022-01-12 12:04] samkrew opened #2365 "Add integration with Utorg on-ramp provider"
## Story

Integrate Utorg provider for following scenarious:

1. Account top-up from main page.
2. Account verification via first deposit via credit card.
3. Account top-up on insufficient funds for some operation.

## Assets

Link template: https://app.utorg.pro/direct/wallet.near.org/{address}/?currency=NEAR&amount={amount}
Detailed docs: https://docs.utorg.pro/#direct-flow
Logo: https://static.

[2022-01-12 23:40] marcinbodnar opened #2366 "Remove store usage in alerts helpers"
Regarding the circular reference that is causing problems with Jest testing, we want to remove all imports of the `store` and use thunks instead.

This PR is addressing this issue regarding `alerts.js` helper function file.

[2022-01-13 10:34] Danail-Irinkov commented on #2290
Okay but, I am creating a Slack Integration, and when redirecting users from Slack, I can't set any headers...
Slack opens a new browser tab to open the redirect link to the wallet => hence no referer

[2022-01-13 16:13] gutsyphilip opened #2371 "Tooling: Bootstrap Component Library"
## Problem
All frontend components live within the frontend package and are currently not re-usable outside of it.

## Scope
#### What are we planning to do about it?
We will be creating a standalone component library that will be deployed to NPM and can be installed and utilised as an NPM package.

- [ ] Setup component library using TS(composite TS setup)
- [ ] Publish initial package to NPM

##

[2022-01-14 00:55] Patrick1904 opened #2372 "Check if coin-op is available by calling the 'fundedAccountAvailable' endpoint"
**Problem**
While creating an account, the wallet shows the verification options regardless of whether coin-op is available/funded or not. This leads to a suboptimal UX since the user may try to verify using their phone/email but end up on the 'self funded' option anyway.

<img width="658" alt="Screen Shot 2022-01-13 at 4 50 45 PM" src="https://user-images.githubusercontent.com/24921205/149432269-

[2022-01-14 06:20] Danail-Irinkov opened #2373 "Asking for FC key for own contract always returns a FA key?"
**Problem**
I am doing a Slack Integration, when user wants to call methods on his own contract, and I request a FC key to execute calls on his behalf, the user is confronted with "App is requesting Full Access Key"

**Expected Behavior**
I should be able to ask 'https://wallet.testnet.near.org/login' to sign a FC key for user's own account.

**Steps to reproduce**

1.  https://wallet.testnet.near

[2022-01-14 12:22] jakestutzman commented on #2339
This is fixed up

[2022-01-14 12:22] #2339 closed

[2022-01-14 13:46] AmagiDDmxh opened #2374 "Cache address on the Initial Manual Deposit setup"
## Story

As a USER who first starts using near wallet, I want to be able to recover the initial setup wallet, so I can back into the flow when there's some interruption happend.

## Acceptance Criteria

- [ ] AC1
- [ ] AC2
- [ ] Mobile ok
- [ ] Tested

## Unhappy Path

When setting up the initial wallet, click on Manual Deposit and an address appears. I copied this address and closed the current

[2022-01-14 17:09] Patrick1904 commented on #2374
@AmagiDDmxh thanks for sharing your experience creating an account. We're currently revamping the onboarding flow and will make sure to address these 'drop off' scenarios.

As long as you saved your seed phrase, ledger key, or email link during the onboarding flow, you still have access to your account. So if you've deposited NEAR into the account, please try importing it in on https://wallet.near

[2022-01-14 18:30] AmagiDDmxh commented on #2374
Thanks for the quick reply, @Patrick1904

Checking email and found the recovery link helped!

[2022-01-14 18:30] #2374 closed

[2022-01-15 00:41] Patrick1904 commented on #2372
@MaximusHaximus the `checkFundedAccountAvailable` in `near-contract-helper` is currently returning `true` but suspecting it just doesn't have the same minimum amount logic that we added for the identity funded account creation yet?

[2022-01-15 17:20] Steelth opened #2375 "Used wrong process for funding account and now cannot access funds from "active account""
**Problem**
"Can not sign transactions for account "myid.near" on network default, no matching key pair found in [object Object]."

While setting up a burner wallet I entered my account ID to reserve then as usual it asked me to fund the one time funding ID. I sent over some NEAR for a minting since it doesnt interact well with ledger yet.

This is where the mistake cascade started.

I used the ne

[2022-01-15 18:13] #2375 closed

[2022-01-16 14:19] nagisa opened #2376 "Creating an account with ledger key doesn't allow to select key slot"
**Problem**

When recovering an account, the NEAR Wallet allows one to specify the HD path for the slot to use when recovering. However when creating an account one cannot do the same – the key at '1 HD path is used implicitly.

**Expected Behavior**

I don't know, perhaps there's value in making it possible to allow specifying which key at which HD path is to be used when creating a wallet?

**St

[2022-01-16 14:24] nagisa opened #2377 "Attempts to use Ledger always attempt to open `chrome-extension://` links (even on Firefox)"
**Problem**

Any attempt to use Ledger attempts to open a `chrome-extension://` link. On firefox this shows a dialog asking to select application to use to open these links. This dialog won't go away without a manual user action which is not a great experience.

**Expected Behavior**

Uh… not sure. Ideally I wouldn't need to tell firefox that it shouldn't actually try to open this link.

**Steps t

[2022-01-17 15:01] dimaswift opened #2378 "Wallet javascript error prevents it from rendering"
**Problem**
After creating and funding an account with NEAR and using it for few hours - it stopped working. In Chrome console it throws an error and screen is just a white blank.

Reproduced on Chrome, Edge, Firefox, Chrome iOS. Both on incognito and regular mode

Clearing cache, cookies, changing browser or device does not help.

**Expected Behavior**
Wallet should render normally

**Steps to re

[2022-01-17 17:47] philazer commented on #2378
Same behavior in edge, chrome, brave.
Below console error :
    TypeError: Cannot read properties of null (reading 'deposit')
    at I (ActivityBox.js:193:70)
    at E (ActivityBox.js:170:15)
    at ua (react-dom.production.min.js:153:1)
    at Ro (react-dom.production.min.js:261:1)
    at Lu (react-dom.production.min.js:246:1)
    at Ru (react-dom.production.min.js:246:1)
    at Cu (react-dom.pro

[2022-01-17 21:29] marcinbodnar opened #2379 "Remove store usage related to creating account from wallet.js"
Regarding the circular reference that is causing problems with Jest testing, we want to remove all imports of the store and use thunks instead.

This PR is addressing this issue regarding `wallet.js` .

[2022-01-18 08:15] dimaswift commented on #2378
looks live issue has been resolved

[2022-01-18 08:15] #2378 closed

[2022-01-18 11:42] #2340 closed

[2022-01-18 11:49] luixo opened #2382 "Ledger setup delete-all-keys bug"
**Problem**
After ledger setup wallet suggest to remove all the keys used before (e.g. mnemonic). But it seems that while doing this it creates a key with `FUNCTION_CALL` permission, which in my case failed because of insufficient funds: `The account <foo>.near wouldn't have enough balance to cover storage, required to have 699922441257800000000 yoctoNEAR more`. This effectively hangs the wallet.

[2022-01-18 11:55] pretfood opened #2383 "Stake Farming Feature on Wallet"
**Problem**

On stake farming contracts, users cannot see rewards in their wallet. At present, only $NEAR rewards are visible on the wallet. In new stake farming contracts, rewards are returned in $AURORA, but these are not visible.

**Expected Behavior**

Staking rewards should be displayed in more than one currency.

**Steps to reproduce**

1. Stake $NEAR tokens in aurora.pool.near
2. Watch how

[2022-01-19 08:54] stefanopepe commented on #2382
Interesting issue, it offers margin to improve the experience for this specific operation.

Overall, the main check is the order of these transactions: we must first authorize the Ledger to make sure the user can control the account - and only then remove other unnecessary keys.
In your case do you remember if the ledger was added correctly and the error appeared only after?

[2022-01-19 08:55] Solniechniy commented on #2303
@stefanopepe we've been trying to set up a new testnet validator but always have different troubles with it. If you will have a possibility to run any testnet validator with a new type of pool it will be helpful.

[2022-01-19 08:56] stefanopepe commented on #2383
There's work in progress, but no commitment on the timing for the release, as it needs a final review on the UX side.

[2022-01-19 08:58] stefanopepe commented on #2377
Please open an issue at https://nearhelp.zendesk.com/hc/en-us/requests/new and we'll look into it.
Make sure to provide screenshots or (better) videos so we can better investigate and understand how to reproduce the issue on our machines.

[2022-01-19 08:58] #2377 closed

[2022-01-19 09:00] stefanopepe commented on #2376
This is a duplicate of #2200 .

[2022-01-19 09:00] #2376 closed

[2022-01-19 09:04] stefanopepe commented on #2365
Do you have visual material available, to add to this PR? This would accelerate the review process by @corwinharrell

[2022-01-19 09:41] luixo commented on #2382
It was, and wallet properly shows that I have ledger as an auth method.

[2022-01-19 16:25] stefanopepe opened #2386 "Specify PubKey on failed account recovery"
## Story

As a USER who is failing to recover an account via [recover account](https://wallet.near.org/recover-account) functionality, I want to see the _PubKey_ that I generated with my recovery method, so I can use it when I open a Zendesk Incident

## Acceptance Criteria

- [ ] Show an error that is similar to "PubKey ed2559:xyz not found" instead of "No matching keypair found" (where xyz is th

[2022-01-19 19:47] Kouprin opened #2387 "Access to the account can be lost after enabling 2FA"
**Problem**

Access to the account can be lost after enabling 2FA.

**Expected Behavior**

2FA works well after enabling it.

**Steps to reproduce**

1. Deploy ANY contract that inits the state.
2. Enable 2FA in wallet.

Example of losing all access from the account: https://explorer.near.org/accounts/leaks.near
Wallet failure: enabling 2FA with no checking if init of multisig was successful: http

[2022-01-20 00:12] #2284 closed

[2022-01-20 00:49] esaminu commented on #2383
@corwinharrell Would appreciate some design input on this. We created a first iteration on #2384 that impacts the main [staking page](https://wallet.staging.near.org/staking) to display NEAR token icons and the validator page to display NEAR balance with icon and other tokens if any e.g. the [aurora validator](https://wallet.staging.near.org/staking/aurora.pool.near):

<img src="https://user-image

[2022-01-20 01:43] #2180 closed

[2022-01-20 01:48] MaximusHaximus commented on #2372
❇️ 💖  -- Resolved the issue with the `checkFundedAccountAvailable` endpoint!  Nice work @Patrick1904, this is a big improvement. Shipping this out today.

[2022-01-20 01:48] #2372 closed

[2022-01-20 13:29] samkrew commented on #2365
@corwinharrell  [NEAR Wallet + Utorg](https://www.figma.com/file/arErH9yVOjMRW98d4abuMn/NEAR-Wallet-%2B-Utorg?node-id=0%3A1)

We will update PR if design would be approved.

[2022-01-20 23:53] corwinharrell commented on #2383
<img width="563" alt="Screen Shot 2022-01-20 at 6 47 43 PM" src="https://user-images.githubusercontent.com/5934188/150440558-28ad0f05-f58b-4c8e-befe-addf1cc5684c.png">

Until we have a new UI, I think it is actually clearest to group the rewards under a single section and label. This way, it simply becomes a list of `Rewards earned`, and the icon and symbol denote the particular token, without the

[2022-01-21 15:06] esaminu commented on #2383
UI and copy for v1 (token rewards display) updated in #2388

[2022-01-21 15:06] #2383 closed

[2022-01-21 15:28] Solniechniy opened #2392 "Farming validator token claiming"
## Story

As a USER I see the farming token, I want to claim so I can get a reward from staking in farming validator.

## Acceptance Criteria

- [x] Claim button is available for each token on the validator page. Should open the modal for claiming.
- [x] Token prices should be taken from ref.finance and displayed below the token name.
- [x] Since token prices are taken, we can show the APY on the

[2022-01-22 06:08] emarai opened #2396 "Cannot select account on transaction confirmation screen"
**Problem**
No matter which account is active on an app, wallet will always use the current wallet active account. Despite the account that made the transaction on the app is also logged in on wallet.near.org.

**Expected Behavior**
As I remember, wallet uses the account that signed the transaction from the app, rather than the currently selected account on the wallet.

**Steps to reproduce**

Acc

[2022-01-23 12:09] AngelBlock opened #2397 "Enhancement: increase amount for tx/storage left after stake_all"
**Problem**
When user select Stake All in the wallet, the account left with around 0.05 which is often not enough even for the simple TX

**Suggested solution**
Increase amount to 0.1-0.5 to cover most of the transactions, or make a warning popup.

[2022-01-24 13:43] stefanopepe commented on #2396
cc @MaximusHaximus

[2022-01-24 15:30] corwinharrell opened #2399 "Switch account during transaction confirmation"
## Problem
During transaction confirmation, users should retain the ability to switch between accounts incase they want or need to confirm a transaction with an account other than their active account.

**Related to:** https://github.com/near/near-wallet/issues/2396

<img width="972" alt="Screen Shot 2022-01-24 at 10 28 08 AM" src="https://user-images.githubusercontent.com/5934188/150812462-23de6e

[2022-01-24 15:31] stefanopepe commented on #2399
Related to #2396

[2022-01-24 15:33] #1577 closed

[2022-01-24 16:10] esaminu commented on #2392
@Solniechniy we need to get design and flow approval for these first so assigning to @corwinharrell and @stefanopepe for review. Could you also include all UI including ref whitelisting for their reference?

[2022-01-24 16:15] Solniechniy commented on #2392
ref whitelisting looks like that
![telegram-cloud-photo-size-2-5438138392077515063-y](https://user-images.githubusercontent.com/26657914/150820873-ad85c82c-4a0b-47ae-aacc-cfefdb167d36.jpg)
![telegram-cloud-photo-size-2-5438138392077515064-x](https://user-images.githubusercontent.com/26657914/150820891-a6079525-c6fb-463a-90c5-08d21153977f.jpg)

[2022-01-24 16:17] Solniechniy commented on #2392
But there is an issue with claim modal and APY, it looks like that
![image](https://user-images.githubusercontent.com/26657914/150821362-cb6406ac-8901-4a71-8af0-af8a21d1ec93.png)

[2022-01-24 19:18] shypkov opened #2400 "critical web wallet bug: cannt show balance or allow any operation"
**Problem**
There is an error appears on the  web wallet. and i cannt operate with account and its all:
"Ошибка
К сожалению, произошла ошибка. Попробуйте еще раз.
View FAQ
Error: [-32000] Server error: account prometei.poolv1.near does not exist while viewing"
**Expected Behavior**
Allows to withdraw and operate with account.
**Reason**
Previously was created a pool with wrong name connected to ac

[2022-01-24 20:58] esaminu commented on #2396
Don't think we can tell which account the dapp is logged in with from a serialized transaction (@MaximusHaximus to confirm?) but #2401 should resolve this.

[2022-01-24 22:14] esaminu opened #2402 "Select transaction `signerId` on wallet sign interface"
## Story

As a dapp user, I want the correct signer account to be selected on the wallet sign interface so I can sign a transaction successfully.

Relates to: #2396 , #2399

## Acceptance Criteria

- [ ] Given I navigate to `/sign` with a transaction(s) the account on the transaction's `signerId` should be selected
- [ ] Given there is more than one `signerId` in a transaction batch I should see a

[2022-01-24 22:18] esaminu commented on #2399
Cosing this in favor of #2402 . Transactions coming from dapps are composed specifically for the account on the `signerId` prop of the transaction. Signing and sending the transaction from another account will throw an error.

[2022-01-24 22:18] #2399 closed

[2022-01-24 22:18] esaminu commented on #2396
Closing this in favor of #2402 . Transactions coming from dapps are composed specifically for the account on the `signerId` prop of the transaction. Signing and sending the transaction from another account will throw an error.

[2022-01-24 22:18] #2396 closed

[2022-01-24 22:22] #2265 closed

[2022-01-25 07:20] ivan-ilin-nearpay opened #2403 "Add integration with NearPay on-ramp widget"
Add an option to top up the wallet using NearPay widget.

## Description

1) the main screen: add the most popular and easy way (or the last one the user had chosen) to purchase NEAR right in the wallet. We made it: "Refill with NearPay" button next to the "Top Up" button.
2) the "Top Up" page: add a block with NearPay. We support only card payments now (and we want to add Apple/Google Pay in the

[2022-01-25 07:25] RubyJiao opened #2404 "Error: Your send transaction was cancelled. Cannot read properties of null (reading '-1')"
**Problem**
Many users failed to transfer tokens.

![image](https://user-images.githubusercontent.com/87597805/150929747-c53f433d-5019-4206-bb90-1b5885c92711.png)

**Expected Behavior**
Users can transfer tokens successfully.

**Steps to reproduce**
1. Send near tokens on https://wallet.near.org/send-money
2. The error appears.

[2022-01-25 08:16] think-in-universe commented on #2302
just want to point out that this feature is different from the feature request we received from users/developers previously during the RPC downtime: https://github.com/near/near-wallet-roadmap/issues/36

[2022-01-25 08:40] stefanopepe commented on #2404
I tried myself and I couldn't reproduce the issue.
If the error can't be reproduced, we can't help.

Can you be more specific? How many?

[2022-01-25 14:33] stefanopepe commented on #2397
Great idea, I'll raise the opportunity with the engineering team

[2022-01-25 15:23] stefanopepe commented on #2392
Added a new acceptance criteria, we have to make users aware the `pool.near` contract is not audited and "staking is at your own risk"

[2022-01-25 16:06] corwinharrell commented on #2402
Considering error states. My assumption is that to even _initiate_ a transaction, the user would need to be connected to the Ðapp via the wallet. Under this assumption, what is the event that a transaction's `signerId` might not exist in the wallet? Similarly, how might `signerId`s be mismatched?

Similarly,

[2022-01-25 18:18] esaminu commented on #2402
Requesting a transaction signature is an independent operation to signing in (requesting an access key). A Ðapp could send us a transaction to sign that has a `signerId` that is not logged in to the wallet. That would be the first error state in the story.

The second error state is quite edge case-y. It's when the list of transactions sent via the `transactions` url param does not have the same `

[2022-01-25 19:54] MaximusHaximus commented on #2402
@corwinharrell

To clarify the /sign endpoint and its (lack of) relationship with the /login endpoint and the LAK that is created after a successful login transaction:

Signing in to a dapp is **not** a requirement for using of the wallet `/sign` API.

In fact, due to its very nature, because the /sign endpoint exists _specifically_ to support signing of payloads that use a FAK (thus has no `contr

[2022-01-25 21:16] #2366 closed

[2022-01-25 22:13] Patrick1904 opened #2408 "MoonPay 'baseCurrencyAmount' URL param causes error on MoonPay side"
**Problem**
Using the `baseCurrencyAmount` to pre-specify the USD amount causes error on MoonPay side.

<img width="649" alt="Screen Shot 2022-01-25 at 2 11 04 PM" src="https://user-images.githubusercontent.com/24921205/151068282-fb6370b9-129e-4c73-9f1a-e4ce52fcc3a4.png">
<img width="517" alt="Screen Shot 2022-01-25 at 2 11 57 PM" src="https://user-images.githubusercontent.com/24921205/151068399-8

[2022-01-25 23:53] #2408 closed

[2022-01-26 09:56] stefanopepe commented on #2392
Further extended the design acceptance criteria to specify the source for the token value in USD

[2022-01-26 10:28] stefanopepe opened #2413 "Show alert on transactions to implicit addresses"
## Story

As a USER who is signing a transaction to an implicit address, I want to get an alert if the account doesn't exist yet, so I can mitigate the risk of losing funds.

## Acceptance Criteria

- [ ] A visible alert informs the user of the risks associated with this type of transaction
- [ ] Wallet asks for an additional approval step in the transaction signature process
- [ ] Wallet disables

[2022-01-26 11:05] stefanopepe commented on #2387
This is a clone of #2261

[2022-01-26 11:05] KriptoRaptor commented on #2271
[tr.global - TURKISH.json.zip](https://github.com/near/near-wallet/files/7941234/tr.global.-.TURKISH.json.zip)
we've completed translating all of it @marcinbodnar
Please help us check the syntax and then let's see how does it look on the html

[2022-01-26 14:09] corwinharrell commented on #2402
Thanks for the clarification! Valuable context :)

In that case, I think @esaminu had it right in that we can display a take-over style error that prompts the user to import the missing account being referenced by the `signerId`. If the user was to Cancel, it would simply redirect them back to their previous context (most likely the dapp).

<img width="971" alt="Screen Shot 2022-01-26 at 9 06 17 A

[2022-01-26 14:15] corwinharrell commented on #2402
Now, the second case that you mention here having to do with batch transactions is definitely more complicated. I think though that how we approach errors in that context has less to do specifically with `signerId` and more to do with how we handle batch transactions and their state. In the case of batch transactions, we need ways to indicate:

1. How many transactions are included in the batch (i

[2022-01-26 14:35] corwinharrell commented on #2156
@MaximusHaximus Do I recall correctly that someone on the engineering team went ahead and completed this recently? Just wanted to make sure incase it's still waiting for design.

[2022-01-26 19:09] esaminu commented on #2402
@corwinharrell Current behavior is that we send the transactions to rpc one by one in the batch and stop sending them and just display an error when we encounter one. The user has the ability to view the transactions they are sending in the "More Information" view:

<img width="1394" alt="Screen Shot 2022-01-26 at 10 24 04 PM" src="https://user-images.githubusercontent.com/5849204/151228821-d7475c

[2022-01-26 19:17] corwinharrell commented on #2402
@esaminu ok feel free to adapt this for the scenarios that you are aware of and include me in a review and we can craft the copy per scenario if we need to.

[2022-01-26 19:44] Patrick1904 commented on #2413
@corwinharrell we currently don't show any 'checking address status' indicator around the wallet address input - do you think it's worth adding something like that? I've noticed that it can take a sec or two if the connection is slow to validate a `.near` address, and so far we haven't done any validation of implicit addresses (only checking that it's 64 chars). The proposed changes in this issue

[2022-01-26 21:18] marcinbodnar opened #2416 "Remove store usage related to ledger from wallet.js"
Regarding the circular reference that is causing problems with Jest testing, we want to remove all imports of the store and use thunks instead.

This PR is addressing this issue regarding wallet.js .

[2022-01-27 15:39] kirillarutyunov commented on #2403
@stefanopepe @MaximusHaximus We have WIP PR with implementing our integration. So we have a question about implementing some logic around button enabling–disabling via our API like MoonPay do it. Can you check it in the PR please? So we can finish our PR after your reply and test it :)

Please check it here: https://github.com/near/near-wallet/pull/2419#issuecomment-1023298763.

[2022-01-28 20:43] andy-haynes commented on #2301
@stefanopepe that did it 🎉

The behavior I'm seeing is that if you have an email recovery method in place and enable 2FA with the same email, you will not receive the initial 2FA email and will not be prompted for a six digit code. 2FA is still set up correctly, as you will be prompted via email to approve any transactions.

However it doesn't make any difference whether it's the first time settin

[2022-01-31 15:50] corwinharrell commented on #1963
In cases where we do need to show a dialogue, and cannot reference the redirect inline, we can use our dialogue pattern to prompt our user before the redirect occurs.

**Implementation Details**

- The redirect should occur automatically within a time limit (10sec in the example below).
- The text that indicates the time limit should be dynamic, and should count down in real time.
- Alternatively,

[2022-01-31 16:22] corwinharrell commented on #1963
@think-in-universe @stefanopepe In the case of something like connecting to a dApp, it would make the most sense to just include a message inline at the final confirmation/confirm step, saying "Once confirmed, you will be redirected" rather than displaying a dialogue when it isn't necessary.

We'll need to identify these instances so we can determine how best to include the messaging inline. Not e

[2022-01-31 16:29] AustinBaggio opened #2425 ""What's on Near?" => Explore apps link returns a 404"
**Problem**
Wallet.near.org Explore apps link opens a new tab and returns a 404 instead of the trending page of awesomenear.com
![Screen Shot 2022-01-31 at 9 20 37 AM](https://user-images.githubusercontent.com/10964366/151832554-9f2cf895-7db0-4be1-b9fb-9ab7183539f9.png)

**Expected Behavior**
I assume clicking on the "Explore Apps" Link should bring you to https://awesomenear.com/

**Steps to repr

[2022-01-31 17:57] nateq314 commented on #2404
I am seeing the same.

[2022-01-31 18:15] nateq314 commented on #2404
Update, it was happening only when I clicked on "Use Max" and tried to send that. But if I type in the amount manually, no problem.

[2022-02-01 00:53] Patrick1904 commented on #2425
Thank you for reporting @AustinBaggio! 🙏

[2022-02-01 01:10] #2425 closed

[2022-02-01 13:00] mohamedalichelbi opened #2429 "only check enough balance on the first transaction"
**Problem**
Currently the wallet checks for enough NEAR balance before allowing users to sign & send multiple transactions at once. I think this should only apply to the first transaction to be signed as it can result in increasing the user's NEAR balance. Take the following scenario:
We want to build a UI that allows users to stake their wNEAR with validators. This requires 2 TXs where `TX_1` is

[2022-02-01 13:37] alexauroradev opened #2430 "The rewards earned with staking farming validators are not displayed correctly for the lockup accounts"
**Problem**
In case an account has a lockup contract then the displayed value of the earned rewards is representing only the main account and not includes the lockup

**Expected Behavior**
Displaying the full rewards OR splitting the lockup rewards and main account rewards

**Steps to reproduce**
1. Stake to `aurora.pool.near` from lockup contract
2. Observe zero rewards on https://wallet.near.org

[2022-02-01 14:00] alexauroradev opened #2431 "Web redirects from apps does not set up the correct wallet and has no ability to switch the wallet"
**Problem**
Web redirects from apps does not set up the correct wallet and has no ability to switch the wallet

**Expected Behavior**
The redirect should set up the correct wallet AND user should be able to switch the signing wallet.

**Steps to reproduce**
1. The user has multiple wallets, the last wallet used is _wallet_1_
2. He logs in the app with _wallet_1_ (for example, https://ecosystem.pix

[2022-02-01 14:28] paouvrard commented on #2431
+1
Some dapps like rainbowbridge expect the signer to be the connected account (wallet_1)

[2022-02-01 16:54] Patrick1904 commented on #2431
@esaminu is working on this here: https://github.com/near/near-wallet/issues/2402 :)

[2022-02-01 17:23] esaminu commented on #2402
@corwinharrell @stefanopepe We have more information regarding the wallet's behavior wrt signing transactions and have come up with a proposed behavior in #2401. The current behavior and proposed PR are as follows:

#### Current Behavior

The wallet will deserialize the transactions in the url and **recreate** transactions with the `receiverId` and `actions` of the input transactions and the `sign

[2022-02-01 18:06] stefanopepe commented on #2430
We'll look into it. I have a parallel question: as a user, how can I withdraw Aurora tokens (or any other fungible token) from a lockup?

[2022-02-01 18:09] stefanopepe commented on #2430
@MaximusHaximus do you know if we have any indexer method to look at the fungible tokens balance of lockup contracts?

[2022-02-01 18:11] stefanopepe commented on #2429
Part of this request will be addressed by #2256 , what is the impact on this feature idea?

[2022-02-01 18:38] stefanopepe commented on #2430
@alexauroradev I support Daryl's position, we will disable staking of lockup contracts toward new `pool.near` until we figured out:
- messaging around when rewards will be available
- technical steps necessary to withdraw the tokens from the lockup
- controls to avoid that NEAR Wallet deletes a lockup contract holding fungible tokens

@Patrick1904 @corwinharrell would you be interested to share so

[2022-02-01 19:31] MaximusHaximus commented on #2430
@alexauroradev Because lockup contracts are immutable, and the 'main' account cannot add any keys to the lockup contracts until the entire balance is vested, we are extremely limited in what we can do from the lockup contract side.

Since users cannot control lockup contracts that are not fully vested (and typically they never actually add a full-access-key to the contract unless they are just abo

[2022-02-01 20:00] MaximusHaximus commented on #2402
@esaminu Thanks for the clear write-up <3

It's worth noting that adding an error state that _blocks_ the user from approving the transaction with a logged in account would be a narrowing change, thus a breaking change to our wallet API interface for the `/sign` route.

However, I think that if the dapp is requesting that a TX be executed by a specific account ID, then allowing the user to select

[2022-02-01 20:19] corwinharrell commented on #2402
If a dApp has composed a transaction for a specific address, I believe the wallet **_should not_** allow the user to sign that transaction with any other address.

In this scenario, if the user triggers a transaction from a dApp and is redirected to the wallet only to find that the address being called has not been imported, I believe we should show an error state similar to the one shared above t

[2022-02-01 23:11] Patrick1904 commented on #2310
@paouvrard thank you for reporting this. We've pushed a fix for this some time ago. Would you be able to confirm that this issue isn't occurring anymore?

[2022-02-02 04:14] paouvrard commented on #2310
Yes this is fixed, thank you !

[2022-02-02 04:14] #2310 closed

[2022-02-02 11:36] mohamedalichelbi commented on #2429
If I understand correctly the issue you linked is only about adding wNEAR support to wallet, I don't think it addresses this.
unwrapping NEAR is just an example of a TX that increases the wallet's NEAR balance after executing, you can replace it in my example by anything else like withdrawing NEAR from a staking pool or a DeFi protocol. My main point is about improving UX by only redirecting users