[2020-06-17 16:31] Patrick1904 commented on #672
@vgrichina that's true, my bad. I handled this yesterday while '[making recovery methods appear in fixed order](https://github.com/near/near-wallet/pull/681)'. Will have the PR ready for review today by EOD.

[2020-06-17 20:43] vgrichina commented on #601
not sure what this follows from. Do people need to understand what "Cobo" is when they are using "Cobo Wallet"

won't you still be using NEAR protocol to send wrapped dollars / BTC?

We like literally just moved from .com domain there, lol. Why did we do it?

Also not sure why do you think wallet going to be for profit product? How does wallet itself get revenue? Seems like most existing products

[2020-06-17 22:10] kcole16 opened #682 "Manage recovery options with 2FA"
### Stories
As a user with a 2FA enabled account, I want to manage my recovery options using 2FA to confirm the change.

### Acceptance Criteria
- [ ] User receives a message with the action (addKey) when adding
  - [ ] Email
  - [ ] Phone
  - [ ] Seed Phrase
- [ ] User receives a message with the action (removeKey) when removing a recovery option
- [ ] User must enter unique code from message to

[2020-06-17 22:24] navneetlakra commented on #643
I was using v1.0.0. I will try the updated version and let you know.

On Wed, Jun 17, 2020 at 6:29 PM Vladimir Grichina <notifications@github.com>
wrote:

[2020-06-17 23:51] Patrick1904 commented on #655
@kcole16 @vgrichina can I implement this? Thought there were concerns since we're going to do some internal mainnet testing?

[2020-06-18 00:24] kcole16 commented on #655
I don’t think we’re planning to have anyone sending NEAR, but worth waiting for @ilblackdragon to confirm

[2020-06-18 00:27] vgrichina commented on #601
@ilblackdragon did we settle for specific Inc name? If it’s Berry Club – much easier to come up with ideas. Like it can be Berry Wallet or Avocado wallet, or whatever

[2020-06-18 01:22] Patrick1904 commented on #638
@vgrichina are you ok with this?

@kcole16 are we removing the 'Full Access Keys' link from the nav too? Seems to make sense. Should the route still stay active?

[2020-06-18 01:43] vgrichina commented on #601
TIL that there is "razzleberry" and "bumbleberry" and both basically mean "any berry". Which might be reasonable to derive a name for an app which can be used to send any berries.

[2020-06-18 02:12] mattlockyer commented on #630
I'm ok with the multisig being single TX and multiple actions because that's all the infra supports right now and probably will support for the next 6-12mo.

However, as I learn more about how rigid upgrades could be, especially since the namespace is limited, we might have some unhappy users who have to change and transfer all their funds to a new accountId.
1. I create mattlock.near
2. I deploy

[2020-06-18 02:35] kcole16 commented on #630
There is the potential for a user to delete their account entirely, transfer assets to a temporary account, create a new account with the original account name, then deploy the new contract and transfer the assets to it.

Definitely suboptimal, but doable. And we can likely abstract the vast majority of this.

[2020-06-18 06:43] vgrichina opened #683 "Support recovery of multiple accounts with the same seed phrase"
**Problem**

Multiple accounts can reuse same public key (and so seed phrase). Currently only one of the will be recovered.

**Expected Behavior**

All of the accounts are recovered, but only last one selected.

**Steps to reproduce**

1. Setup account with seed phrase recovery.
2. Add same full access key as used for seed phrase to another account (can be done using `near repl`).
3. Try recoverin

[2020-06-18 06:49] vgrichina commented on #683
Note that this is not completely theoretical problem, as I think it may happen if somebody used Ledger before for multiple accounts and then wants to recover with the same seed phrase.

[2020-06-18 06:56] #608 closed

[2020-06-18 09:34] marcinbodnar commented on #683
@vgrichina OK, got it.

[2020-06-18 13:20] kcole16 commented on #683
@vgrichina Completely re: Ledger and the need to support that, cc @Patrick1904, but that shouldn't affect seed phrase recovery?

[2020-06-18 14:44] bowenwang1996 commented on #630
This is not completely bullet-proof as someone can grab that name in between.

[2020-06-18 14:46] kcole16 commented on #630
@bowenwang1996 Couldn’t the above be done in a single batch TX?

[2020-06-18 14:51] bowenwang1996 commented on #630
Nvm I somehow misunderstood how batched transaction works.

[2020-06-18 18:56] vgrichina commented on #601
@jakestutzman wonder what do you think on this? Should we have a separate brand for wallet?

[2020-06-18 20:00] vgrichina commented on #638
I think we should do https://app.zenhub.com/workspaces/app-layer-5e2b7ac4f336abcdc02917e8/issues/near/near-wallet/640 instead

[2020-06-18 21:10] kcole16 commented on #638
This page is really only useful for devs, and dangerous for end users. At the very least, we should hide it from most users, behind an advanced tab or something similar, and heavily warn against deleting the localstorage key.

Additionally, it is a bit of an increase in v0 release scope. If we think it is worth doing with that considered, then I’m open to it.

[2020-06-19 04:32] vgrichina commented on #638
@kcole16 these aren't really increasing scope much as we already have all necessary data in wallet and don't need any new UI, just some adjustments in how data is filtered / safety checks on removal:

- [ ] Filter out keys which are represented in other UI (recovery methods, Ledger)
- [ ] Make it clear which key is this wallet's local storage (if any), so you don't delete it accidentally.

I agree

[2020-06-19 22:52] #609 closed

[2020-06-20 08:17] vgrichina commented on #601
Nearkat wallet

with Nearkat face as icon

[2020-06-22 14:23] kcole16 commented on #638
Fair point.

@corwinharrell @Patrick1904 Thoughts on moving the link to `/full-access-keys` to an "Advanced" section on the Profile?

[2020-06-23 03:11] Patrick1904 commented on #638
Sounds good to me. @corwinharrell let me know if you have a design in mind seems it could be a pretty simple ui?

@vgrichina what do you think about still showing all keys but label accordingly? That way you feel more in control over access keys. If it's an advanced feature

[2020-06-23 04:51] mattlockyer commented on #630
Update on this issue after going over the wallet flows with @Patrick1904

Detailed flows are here: https://docs.google.com/document/d/1dUSbtaykXTZY00umNiO78Qb-PGGxA7CzWQRTl1lIbMA/edit (near account access only)

The following comment will provide some high level goals for the wallet. If we don't agree on these goals, we will end up going in circles with each person's opinion based on individual th

[2020-06-23 05:05] vgrichina commented on #630
We want to require 2FA when they recover, at least for phone and e-mail, as sending recovery link there isn't exactly most secure thing. It can leak e.g. through Gmail integration into some sales tool.

Note that there is also orthogonal reason why we need to support working without any full access keys – while transfers are still limited on mainnet, most users won't ever get a hold of full access

[2020-06-23 11:30] kcole16 commented on #630
1. If we go with DeFi focus, we will have many users with large $$$ of assets. Even the average DeFi user has > $100 worth
2. 2FA is designed for security over everything. We of course do not want users losing keys, which is why we have a recovery key in the first place. The likelihood of losing access to SMS or email is low. OTOH, if we allow users to setup email for both, the threat model is sim

[2020-06-23 12:58] kcole16 commented on #630
Reiterating the following:

1. Our users will be attacked. This is a matter of IF not WHEN, and the first question we should ask ourselves before implementing any feature should be "How can this be abused/compromised?"
2. Almost all wallet users in crypto store their seed phrases insecurely. Additionally, many of them will lose their seed phrase. This is the most common way users lose access to th

[2020-06-23 13:49] mattlockyer commented on #630
Ok that's fair and thanks @vgrichina for your points as well. It's still possible to do everything @Patrick1904 and myself discussed, while keeping the recovery key as a LAK to multisig requests and requiring 2/3.

**Summary:** security over convenience / safety.

**Recommendation:** option to generate additional seed phrases so user can have 2/4 multisig where keys are all limited but arranged li

[2020-06-23 15:14] Patrick1904 commented on #630
Some thoughts:

I agree that the risk of an attack is high and we should help prevent this, especially for users with a higher balance (>$100). The most important thing however, is that I as a user, should always be able to fully recover my account using the recovery method. There should not be any restrictions, requiring 2FA when sending etc unless I am explicitly agreeing to that. Even if the ch

[2020-06-23 17:03] kcole16 commented on #630
@Patrick1904 You’re basically describing 2FA backup codes.

@vgrichina Let’s assume we allow a user to setup 2FA with email, and also send the recovery link to email. Do you think we can consider this any safer than a full access key recovery link? This is the biggest argument for me to make recovery links FAK, as I do agree that SMS is less reliable for users in developing nations (or even potent

[2020-06-23 18:04] Patrick1904 commented on #630
@kcole16 one scenario would be that I lose access to my phone number and I'm not logged in on any device. In that case, I'd need a seed phrase / link, and a 2FA backup code in order to re-gain full access to my account.

If I'm a high value user, I want to know that I'm always in full control of my account. Scenarios:

1. If only seed phrase / link is required for unlimited access, then I know tha

[2020-06-23 19:06] Patrick1904 commented on #672
Fixed in https://github.com/near/near-wallet/pull/681. Closing.

[2020-06-23 19:06] #672 closed

[2020-06-23 19:53] jakestutzman commented on #601
It seems that there are two key factors in this decision:
1. Will this be a 'for profit' app (and therefore, need to distant from non-profit near)?
2. Will it support 'non-NEAR' currencies?

If we answer yes to those questions, then yes the wallet should have its own brand/domain, etc.

[2020-06-23 20:19] corwinharrell commented on #601
Considering the discussion points shared so far, I think it makes sense to go ahead and start thinking about a rebrand for the wallet. I am interested to hear answers to the questions raised above by @jakestutzman and @vgrichina, as I think those would help guide the decision making here.

@ilblackdragon I think so far the most valid point that you raised is not wanting the brand to be tied so tig

[2020-06-23 21:00] vgrichina commented on #630
@kcole16 threat model for email recovery with email 2FA: your existing emails leaked for whatever reason (e.g. you used contact import service by LinkedIn and they somehow didn’t scrub the data), but attacker doesn’t have live access to email. If you use standalone email client - your emails can be leaked from your PC as well, but saved passwords usually have better protection.

[2020-06-23 22:56] #683 closed

[2020-06-24 01:25] vgrichina commented on #630
@mattlockyer I think the way to do it is to have user send a transaction through 2FA flow to remove the FAK. So that we make sure auth flow works for user. This can replace separate flow to confirm SMS.

[2020-06-24 02:57] vgrichina commented on #630
Cheap pre-paid phone plans are pretty popular in Ukraine, but you can still regain access to your number. I think generally it's relatively easy to regain access to phone number irregardless of contract/pre-paid (otherwise SIM cloning won't be a problem).

[2020-06-25 01:11] #655 closed

[2020-06-26 14:09] corwinharrell commented on #630
[Figma link](https://www.figma.com/file/tH6dad9CulATLPo36UCCyg/630-Create-Account-w-2FA?node-id=0%3A1) added to the issue description for updated UI 🚀

[2020-06-26 16:48] ilblackdragon opened #699 "Suggest account name during linkdrop"
Add a parameter to linkdrop url to suggest account name during account creation
This is useful during token distribution to help anonymize accounts in a consistent scheme

[2020-06-26 21:33] vgrichina commented on #699
Alternatively we can always pre-populate account creation field with something auto generated. Use few words combination kinda like https://glitch.com/ when you create new project.

[2020-06-26 21:40] kcole16 commented on #699
Is the goal here to encourage users to choose a random name to maintain anonymity?

[2020-06-26 23:29] vgrichina commented on #699
I think there is also a secondary goal – reducing friction for users who don't care yet

[2020-06-27 19:55] ilblackdragon commented on #601
@jakestutzman
1. Probably yes, may be not right away
2. Well, definitely will have integration with Ethereum and going forward might at least BTC. Additionally I would prefer to re-work UI to make stable coins front and center and make NEAR and other volatile tokens a "investment" assets. (somewhat similar to http://showball.app/)

@corwinharrell Second the part that a non NEAR branded wallet may

[2020-06-27 22:23] ilblackdragon commented on #699
100% on Kendall's, 50% on Vlad's (for example if apps that have their own
username/password login and want to connect wallet - can suggest their
username.<app_name> (where app_name will come from linkdrop))

On Fri, Jun 26, 2020 at 4:29 PM Vladimir Grichina <notifications@github.com>
wrote:

--
Best regards,
Illia Polosukhin

[2020-06-29 05:42] corwinharrell commented on #631
New [2FA modal UI](https://www.figma.com/file/n4hWCPeRFAznf5ioxUPcZZ/631-Sign-Transaction-w-2FA?node-id=1%3A13) for signing transactions with 2FA:

<img width="999" alt="Screen Shot 2020-06-29 at 1 41 44 AM" src="https://user-images.githubusercontent.com/5934188/85976983-b5dd1d00-b9a9-11ea-8b68-61626d45ff4f.png">

[2020-06-29 19:59] kcole16 opened #704 "Detecting and switching languages"
### Overview
We have translations ready for the wallet in Mandarin (and several other languages), and should make it easy for users to switch from English to these languages.

The language switcher is the most important addition, and detecting the browser default language is useful as well (though not likely to cover most cases).

### Stories

As a user, I want to view the Wallet in my browser-def

[2020-06-29 22:17] mattlockyer commented on #630
This doc has settled down (internal only, no new comments for 4-5 days):
https://docs.google.com/document/d/1dUSbtaykXTZY00umNiO78Qb-PGGxA7CzWQRTl1lIbMA/edit#heading=h.eds6nf10m530

Here's the flow outline for wallet 2fa account creation (apologies for screen grab) documenting for historical / external partners who are developing their own wallets.

![image](https://user-images.githubusercontent.c

[2020-06-30 01:25] kcole16 opened #705 "Sign with Ledger"
### Stories

As a user with a Ledger-only account, I want to sign any transaction with my Ledger, so I can complete transactions

### Acceptance Criteria
- [ ] When initiating a TX, user views instructions on opening the Ledger app and authorizing TXs on the device
- [ ] User can sign each transaction type
  - [ ] Send NEAR (/send)
  - [ ] Sign TX (/sign)
  - [ ] Login/create access key (/login)

[2020-06-30 14:19] kcole16 opened #709 "Remove ReCaptcha"
### Overview
Given we will not have a faucet for the mainnet wallet (at least for now), we do not really need ReCaptcha. And as @abacabadabacaba pointed out, it is not privacy friendly.

At the very least, we should consider commenting out/flag the code for now.

cc @vgrichina @Patrick1904 @marcinbodnar

[2020-07-06 16:27] kcole16 commented on #118
@vgrichina We display the referrer when `appTitle` is blank/not specified, correct?

Given the recent discussion around access key vulnerabilities, it's likely worth making this the default whether appTitle exists or not.

cc @SkidanovAlex @ilblackdragon @Patrick1904 @marcinbodnar

[2020-07-06 18:16] marcinbodnar commented on #118
@kcole16 On `/login` we show `appTitle` always.

[2020-07-06 18:18] kcole16 commented on #118
@marcinbodnar Ah, is it `/sign` that I'm thinking of?

[2020-07-06 18:24] marcinbodnar commented on #118
@kcole16 Yes.

[2020-07-06 19:12] #709 closed

[2020-07-07 02:02] vgrichina commented on #118
Yeah, we need to change `/login` to show referrer like `/sign` does.

[2020-07-07 02:11] kcole16 opened #719 "Display Referrer rather than App Title on /login"
### Overview
We currently display an app-directed title to users during `/login`, which could be used to mislead users. One way to mitigate this (though not solve) is to instead display the referrer, like we do on `/sign`. See https://github.com/near/near-wallet/issues/118 for recent discussion.

Steps to expose vulnerability:
1. I wish to gain access to Kendall's Flux account.
2. I initiate a sig

[2020-07-07 02:37] vgrichina commented on #704
Merged https://github.com/near/near-wallet/pull/582 /cc @Patrick1904

Now we just need to adjust UI a little to match what designed by @corwinharrell.
Note that I noticed also that when I select language other than English on mobile – viewport size seems to increase to be a bit wider than screen. This also needs to be adjusted (might be fixed as side effect of applying design though).

[2020-07-07 03:05] vgrichina commented on #704
Looks like also language change doesn't persist for now

[2020-07-07 12:05] picturepan2 commented on #704
@vgrichina I have done the feature of saving languageCode to localStorage and persist language choice in local. Creating a PR soon.

[2020-07-07 18:01] AnaisUrlichs opened #720 "Unable to login via near shell + /create is wiping out account information from local storage"
**Problem**
When I run `near login` in the terminal it redirects me to the Browser, I provide all the information to grant full access to near shell. However, once I hit confirm it either throws an error in the browser or it redirects me back to the terminal but then throws an error.

The error in the browsers
![walleterror](https://user-images.githubusercontent.com/33576047/86822136-84d8a880-c08b

[2020-07-07 21:23] Patrick1904 commented on #704
@picturepan2 would also be great if we can add English as fallback in case of missing translation: [`onMissingTranslation`](https://ryandrewjohnson.github.io/react-localize-redux-docs/#handle-missing-translations). Currently the Ledger module on `/profile` is showing the default `Missing translationId` since it's not translated yet. I tested `onMissingTranslation` locally and it works fine.

[2020-07-07 23:34] kcole16 opened #722 "Delegation"
### Overview
Delegation and staking will be the dominant uses of NEAR until at least Phase 2, and potentially longer (as we see more apps deployed to mainnet). We currently do not have a user-friendly way to delegate, and also want to maximize the utility of the wallet pre-popular apps (and post).

The first version of this can be very similar to Matt's example delegation app: https://github.com/n

[2020-07-08 00:34] picturepan2 commented on #704
One problem I have is importing needed translations dynamically when switching. It flashes long translation strings sometimes which is not good for UX.

[2020-07-08 01:00] Patrick1904 commented on #704
Can we wait until it has finished loading before switching the language on the UI? If so, we could add some loading indicator to avoid an in-between state. I guess the files aren't that big right now, but as the app grows and we add more languages, dynamic loading will be a must-have.

[2020-07-08 03:10] picturepan2 commented on #704
@Patrick1904 Here is my plan and I will do it in order. What do you think?

- [ ] 1) UI first with accessibility.
- [ ] 2) Load translation files dynamically.
- [ ] 3) Auto detect user's browser language.

[2020-07-08 04:21] Patrick1904 commented on #704
Looks great @picturepan2

[2020-07-08 10:49] picturepan2 commented on #704
@Patrick1904 Parcel doesn't support [Dynamic Imports with variables](https://github.com/parcel-bundler/parcel/issues/4413) which should be supported to enable loading translation files dynamically. One solution is switching to Webpack.

[2020-07-08 11:36] picturepan2 commented on #704
@Patrick1904 I created a PR #724 for some new features and design. Please review. (It seems I have no permission to assign it to you.)

[2020-07-08 16:45] Patrick1904 commented on #704
@vgrichina do you have any thoughts on this?

[2020-07-08 17:48] picturepan2 commented on #704
@vgrichina BTW, I can't assign reviewer or anyone in the PR in this repo. Could you take some time to see if there is any setting or role for me to easier contribute to NEAR products? Thank you.

[2020-07-08 18:53] mattlockyer commented on #722
Biggest issue will be maintaining:
- list of validators
- stats on validators
- anything historical, query support etc...

V0 for OUR wallet should definitely be a list that we control. We could follow @jimmy3dita design for Stake Wars. A repo with list and validators can submit PRs.

[2020-07-08 22:09] kcole16 opened #726 "Require /login transactions to be executed in callback URL"
### Overview
The fix in #719 provides the users with more info to prevent the below vulnerability. To further reduce the likelihood of phishing, we can move the execution of the `addKey` TX on `/login` out of the wallet, and instead return the signed TX to the URL in the `callback_url`.

Steps to expose vulnerability:
1. I wish to gain access to Kendall's Flux account.
2. I initiate a signin to Fl

[2020-07-08 22:13] kcole16 commented on #726
Note that this likely adds a bit of work for apps when it comes to handling and communicating TX errors to the user. They should be doing this already anyway, but can effectively offload some of this to the wallet in the current flow.

[2020-07-08 22:21] bowenwang1996 commented on #722
For now we can require that they must create the staking pool through the factory deployed by NEAR foundation. In the future we can think about how to do contract auditing.

[2020-07-08 22:40] kcole16 opened #727 "Seed phrase recovery in 2FA"
### Overview
We're planning to make seed phrases full access keys always, even if the user has 2FA/multi-sig enabled. This allows users with 2FA to recover their account with only the seed phrase, even if they don't have access to their 2FA device.

Because of this, we shouldn't assume they still have access to the 2FA device, and should allow them to change their device, if necessary.

### Propos

[2020-07-08 22:41] kcole16 commented on #727
cc @mattlockyer @Patrick1904

[2020-07-08 23:39] #589 closed

[2020-07-09 21:23] vgrichina commented on #726
@kcole16 yeah, biggest problem I can see is that technically it's possible to use up same nonce already before app gets chance to do it. However thankfully it's pretty unlikely in normal usage. Like you'll have to login into other app (through same wallet) or sign transaction from app (through same wallet) while app is submitting transaction from existing login flow.

So it's likely just ok to hav

[2020-07-09 21:46] #719 closed

[2020-07-09 22:45] kcole16 opened #730 "ETH Bridge support"
### Overview
To enable the transferring of ETH (and other ERC20 tokens) over the ETH Bridge, we will need support in the NEAR Wallet. Initially, this will be the main way to initiate a crossing, and should allow users to cross the bridge prior to creating a NEAR account (and essentially "pay" for the creation with the crossed tokens).

We will need to add support for Ethereum transactions in the W

[2020-07-09 22:48] kcole16 opened #731 "ETH Bridge"
### Overview
To enable the transferring of ETH (and other ERC20 tokens) over the ETH Bridge, we will need support in the NEAR Wallet. Initially, this will be the main way to initiate a crossing, and should allow users to cross the bridge prior to creating a NEAR account (and essentially "pay" for the creation with the crossed tokens).

We will need to add support for Ethereum transactions in the W

[2020-07-09 22:48] #730 closed

[2020-07-10 00:57] jimmy3dita commented on #722
## UX Issues I have experienced as a delegator

### 1. lock-in period
As a user, I had to understand the lock-in period. Unstaked funds remain locked for three epochs (36 hours on TestNet) before they are available to withdraw.

*How it worked on the delegation app*
We separated the "locked balance" from the "available balance", and we required users to keep track of the epochs, e.g. by manually s

[2020-07-10 22:28] vgrichina opened #732 "Make sure that Referrer only used as secondary signal for request source in /login and /sign endpoints"
**Problem**

Referrer not always reliable as suggested by @abacabadabacaba:
- Many websites allow users to post arbitrary link, and these links usually don't block the referrer. This is generally not considered a security issue, unless the page's URL is secret.
- Likewise, many websites have redirectors that can redirect to an arbitrary URL. This is also not considered to be problematic by itself,

[2020-07-10 23:07] nearmax opened #733 "near.org and nearprotocol.com create two different wallets"
We support wallet both on near.org and on nearprotocol.com. Our website leads to nearprotocol.com and near-shell redirects to near.org. As the result accounts created on one domain cannot be used on another. Since we have both kinds of links it creates a pretty bad DevX

[2020-07-11 00:44] kcole16 commented on #722
@jimmy3dita @bowenwang1996 Is 36 hours (3 epochs) to receive unstaked funds the expectation for mainnet as well?

[2020-07-11 00:46] kcole16 commented on #722
@jimmy3dita Point 3) is likely out-of-scope for the first version of delegation. Points 1) and 2) we will certainly address, as they both seem critical.

[2020-07-11 05:51] vgrichina commented on #733
This is not a bug on wallet side, local storage is scoped by domain. Accounts can be easily transferred through any of available recovery methods.

We need to fix link on website though.

@jakestutzman may you fix link on website to point to https://wallet.testnet.near.org?

[2020-07-11 15:59] bowenwang1996 commented on #722
yes. However, epochs can take longer time if some validators are offline.

[2020-07-13 16:03] kcole16 commented on #732
@vgrichina This is a dupe of #726. Adding your additional context to that issue.

[2020-07-13 16:03] #732 closed

[2020-07-13 16:04] kcole16 commented on #726
From @vgrichina
**Problem**

Referrer not always reliable as suggested by @abacabadabacaba:

Many websites allow users to post arbitrary link, and these links usually don't block the referrer. This is generally not considered a security issue, unless the page's URL is secret.
Likewise, many websites have redirectors that can redirect to an arbitrary URL. This is also not considered to be problemat

[2020-07-13 17:15] kcole16 commented on #733
Website is updated thanks to @jakestutzman. @vgrichina, at this point I'm thinking we just permanent redirect wallet.testnet.nearprotocol.com to near.org (etc for betanet and devnet). Thoughts?

[2020-07-14 05:31] vgrichina commented on #670
@kcole16 prototyped a little bit here:
https://github.com/near/near-wallet/pull/735 (tested only on betanet with hardcoded account name, will fix once testnet is ok)

However looks like we have far more balances to deal with:

[code]

Wonder which ones you think we should include in breakdown + what do we include in total balance? Like e.g. should unvested tokens be part of total balance?

[2020-07-14 05:32] vgrichina commented on #670
@evgenykuzyakov is there any reason why every balance is returned as a separate view call? Seems like there is more sense to return contact status with single JSON object with all fields (saves significantly on number of RPC requests and so latency).

[2020-07-15 04:28] evgenykuzyakov commented on #670
View calls are free right now, so it doesn't matter the way contract is written. From node perspective it's probably cheaper to do one more expensive call than multiple cheap ones, but if RPCs are parallelized towards different nodes, then you get the answer faster with parallel RPCs.

Still it's better to aggregate it into a single view call to avoid race conditions, but it will increase the size

[2020-07-15 06:05] #258 closed

[2020-07-15 07:11] vgrichina commented on #639
@kcole16 do we have text for privacy policy / terms of service?

[2020-07-15 20:32] vgrichina commented on #670
Network queries aren't free though. I guess if RPC can handle multiple requests in parallel then it's not a big issue as long as  endpoint supports HTTP2.

[2020-07-15 20:50] vgrichina commented on #670
from Kendall:

[2020-07-15 23:22] kcole16 commented on #644
Closing until we can reproduce

[2020-07-15 23:22] #644 closed

[2020-07-15 23:23] kcole16 commented on #585
Closing in lieu of #631

[2020-07-15 23:23] #585 closed

[2020-07-15 23:24] #506 closed

[2020-07-16 01:17] vgrichina commented on #670
@evgenykuzyakov a second thought on this is – we don't really need actual JSON serde to implement this. Like you can just format a string substituting values into corresponding places.

[2020-07-16 15:37] evgenykuzyakov commented on #670
@vgrichina Right. But it's a hack, and the increased size is not a big concern.

[2020-07-16 23:42] #670 closed

[2020-07-17 16:27] kcole16 opened #741 "Add info buttons to balances on Profile page"
### Overview
Add the following descriptions next to the relevant NEAR balance in the "i" info bubble.

### Acceptance Criteria
- [ ] When hovering over the "i" next to the NEAR balance label, the description is revealed
  - [ ] Total
  - [ ] Staked
  - [ ] Delegated
  - [ ] Locked
  - [ ] Unlocked
  - [ ] Unvested

### Descriptions
**Total**

Your total balance includes all NEAR under you control.

[2020-07-17 19:41] kcole16 opened #742 "Allow users to claim linkdrops in existing account"
### Overview
Currently, we force users to create an account to claim a linkdrop. We can also allow them to claim the linkdrop NEAR into an existing account.

### Acceptance Criteria
If the user has an existing account
- [ ] While viewing `/create` with a valid PK from a linkdrop, the user is asked "Would you like to accept the funds into your account: <account>?"
  - [ ] If yes, `/claim` is called

[2020-07-21 03:36] #741 closed

[2020-07-21 04:45] vgrichina opened #746 "Create account form should be using suffix from Linkdrop (i.e. linkdrop contract name)"
**Problem**

Accounts created from Linkdrop have to use Linkdrop contract name as a suffix. However right now there is one hardcoded suffix (specified in env variable) for all cases.

**Expected Behavior**

Account name selection control uses proper account suffix for a given linkdrop. When you proceed to create account – it gets used as well.

**Steps to reproduce**

1. Create linkdrop using a co

[2020-07-21 14:45] corwinharrell commented on #426
![NEAR Wallet Landing](https://user-images.githubusercontent.com/5934188/88069213-2c031880-cb3f-11ea-8f14-f0cc018a0e49.jpg)

@kcole16 @Patrick1904 This is how the basic landing page has shaped up. Need a little bit of direction around how exactly we want to frame the content around LinkDrop as a prerequisite. The CTAs right now are just based off of the issue description that Patrick provided earl

[2020-07-21 14:51] corwinharrell commented on #426
@jakestutzman Feel free to provide any feedback on the design (not much here since we're keeping it simple for the initial launch) Gonna provide an alternate version using Inter across the board once we nail down the copy around linkdrop, etc... You can see how that looks here: https://www.figma.com/file/PqdzVjhKTJqGuokDjykMUv/Wallet-Landing-Page?node-id=0%3A1

[2020-07-21 16:12] corwinharrell commented on #426
A few variations:

<img width="1015" alt="Screen Shot 2020-07-21 at 12 04 47 PM" src="https://user-images.githubusercontent.com/5934188/88079245-6f638400-cb4b-11ea-856a-1874b3c9aec1.png">

[2020-07-21 18:01] kcole16 commented on #639
We can link to the near.org privacy policy: https://www.iubenda.com/privacy-policy/44958041?ifr=true&height=775&newmarkup=no

And working with Julie to get a Wallet-specific ToS

[2020-07-21 22:54] kcole16 commented on #426
@Patrick1904 Added the Mailchimp embed form above, which we _might_ be able to convert to jsx and style. If not, can use the API.

[2020-07-21 23:21] Patrick1904 commented on #426
@corwinharrell @kcole16 LGTM. Some thoughts/questions:

1. Blue banner text will be two lines on mobile. Short text version ok?
2. Are we not stacking mail input and cta on mobile? That's fine but there won't be much space for email on older/smaller phones
3. Are we adding the near.org footer? It seems suboptimal as the navigation links aren't shown on mobile. We'll have to re-create it in wallet

[2020-07-21 23:27] kcole16 commented on #426
1. Maybe "NEAR Wallet is in Private Beta. Sign up below for access" if that's short enough. Or even just "NEAR Wallet is in Private Beta"
2. Makes sense to me to stack, but up to @corwinharrell
3. I think we should stick with the current Wallet footer
4. Black works for me

[2020-07-22 09:32] vgrichina commented on #601
A take from AI dungeon:

Wallet names:

1) While some people may not understand the term "wallet", but will be able to identify with a "bank" - I think it's enough. What I mean is that people may not know what a wallet is in a technical sense, but they can easily identify with a "bank account" or "piggy bank".

2) I believe that the majority of people will understand "dollar wallet", "crypto walle

[2020-07-22 21:54] kcole16 opened #751 "2FA Message Text Improvements"
### Overview
Adding extra descriptions to our 2FA messages

### Acceptance Criteria
- [ ] Users receive the base 2FA message and the appropriate action description for each 2FA method
  - [ ] Email
  - [ ] Phone
- [ ] Users receive the appropriate action description for
  - [ ] Transfer
  - [ ] FunctionCall
  - [ ] Stake
  - [ ] AddKey (forContract)
  - [ ] DeleteKey
- [ ] Users receive the approp

[2020-07-23 15:34] corwinharrell commented on #426
Alright so here's the last iteration based on everyone's feedback. @Patrick1904 one thing to note is that this version uses the Inter typeface that we've anticipated switching to for some time. @jakestutzman and I were exploring its use here. Since it's crunch time before launch, my gut tells me that implementing this in addition to making the switch to Inter as the primary wallet UI typeface is g

[2020-07-23 15:35] corwinharrell commented on #426
I will provide a replacement screenshot for use in the iPhone mockup shortly.

[2020-07-23 22:02] kcole16 opened #753 "Delegate v1"
### Overview
To keep the v1 delegation flow simple, we can use a similar flow to `/send-money`.

The validator whitelist can send users to `/staking/stake/<validator_name>/`, and we'll prepopulate the validator.

We should also display the users current delegated balance, the validator(s) they've delegated to, and their unclaimed rewards on `/staking`.

### Acceptance Criteria
On `/staking/stake`

[2020-07-23 22:21] janedegtiareva opened #754 "devnet has been deprecated. It needs to be removed from the code"

[2020-07-23 22:44] kcole16 commented on #753
For v1, I think the two actions for users should be just "delegate" and "undelegate". "Delegate" should call both `deposit` and `stake` on the staking pool contract. “Undelegate” should call “unstake” and “withdraw”.

Should we allow users to specify the amount to undelegate in v1? Or just undelegate all?

Also, should we allow users to delegate to more than one validator in v1?

cc @mattlockyer @

[2020-07-23 23:47] kcole16 commented on #753
@jimmy3dita Do you think we can get Figment/Hubble to maintain which validators support delegation, and link to the appropriate delegation page for each of them?

[2020-07-24 00:04] jimmy3dita commented on #753
Be careful that `unstake` and `withdraw` cannot happen at the same time, there's a three epoch-long lock period for the funds. So a user that unstaked funds will have to wait until he can withdraw the funds.

The protocol automatically re-stakes all the funds, so it could be possible that users would like to withdraw only the rewards without "killing" their favorite validator. I suppose that we ha

[2020-07-24 00:16] kcole16 commented on #754
I don't think devnet is specified anywhere in the code. cc @vgrichina

[2020-07-24 00:39] kcole16 opened #755 "Undelegate v1"
### Overview
Per @jimmy3dita's comments, users will need to send at least 2 TX's,  3 epochs apart to withdraw. They first call `unstake` with the amount to unstake. After 3 epochs, they can call `withdraw` to withdraw their NEAR tokens.

### Proposed Flows
On `/staking`

**Undelegate**
1. User clicks "Unstake"
2. User enters the amount to unstake
3. User must enter their account name, then select

[2020-07-24 00:40] kcole16 commented on #753
Good point. Breaking out the "Undelegate" functionality into a separate issue, as there is a bit more complexity than I realized: https://github.com/near/near-wallet/issues/755

[2020-07-27 16:50] kcole16 opened #759 "Cannot sign-in with Ledger if key was manually added to account"
**Problem**
If a Ledger key was added to an account outside of the wallet, Ledger sign-in (`/sign-in-ledger`) fails.

cc @bowenwang1996 @mikedotexe

[2020-07-27 22:21] vgrichina commented on #754
@kcole16 I think we have usage of "devnet" in README and copy:

[code]

that is not really referring to the `devnet` environment, but I think good idea to fix copy to make less confusing. May you help with that?

[2020-07-27 22:24] jasperdg opened #760 "signIn and tx signing flow through wallet can be disruptive for apps"
**problem**
It can be hard to work around the wallet always opening in the same browser window. Handling state and custom tx flows get disrupted quite heavily.

**Describe the solution you'd like**
This would work (if wallet handles new_window url parameter correctly)
[code]
**Describe alternatives you've considered**
The use of Iframes, the ability to pass in `window.open` specs (probably still a

[2020-07-28 18:32] kcole16 opened #764 "Display list of white-listed validators"
### Overview
As part of Delegation v1, we should display a list of white-listed validators for users to delegate to. These validators will have used the staking pool factory contract, and the list can be queried from the [whitelist contract](https://github.com/near/core-contracts/tree/master/whitelist) (cc @evgenykuzyakov @ilblackdragon if that's true).

### Acceptance Criteria
On `/staking`
- [x]

[2020-07-28 18:42] kcole16 commented on #754
READMe will fix. It doesn't look like we're actually displaying the other copy anywhere (since refactoring the `/create` page).

[2020-07-29 05:27] #426 closed

[2020-07-29 19:05] mattlockyer commented on #751
Still working on formatting for HTML but this should be fine for now. @kcole16 thoughts?

![image](https://user-images.githubusercontent.com/321340/88841900-787bd300-d193-11ea-94e4-fe56cd35dd0a.png)

![image](https://user-images.githubusercontent.com/321340/88841918-803b7780-d193-11ea-8c5a-b1128314b5ad.png)

![image](https://user-images.githubusercontent.com/321340/88841981-9e08dc80-d193-11ea-947c

[2020-07-30 16:16] kcole16 commented on #521
Closing, opened #722

[2020-07-30 16:16] #521 closed

[2020-07-31 10:05] ilblackdragon opened #772 "Sign in with Ledger should not add keys"
**Problem**
Currently when "Sign in with Ledger" option is selected, Wallet is asking to "Add Key" to each account that has the key from this ledger.

**Expected Behavior**
After "Sign in with Ledger", only once need to confirm giving public key to the Ledger, and it finds and opens all accounts that have this and all subsequent (e.g. with different paths) public keys.

[2020-07-31 10:07] ilblackdragon opened #773 "Indicate that account gets created via linkdrop"
When opening linkdrop in the wallet, there is no way to learn what is actually happening.
Specifically, would be good to show that:
 - This is a link drop
 - How much funds / assets are dropped via it

If already have an account it, it should show "Accept <assets>" and button OK instead of "Create Account" screen.

[2020-08-03 20:25] kcole16 commented on #772
@vgrichina What are your thoughts on this?

[2020-08-03 20:28] kcole16 opened #775 "Change default access key allowance to 0.25 N"
### Overview
Ahead of the gas price change to 100M yoctoNEAR, the default access key allowance needs to be changed to 0.25N.

@vgrichina Should we make this an env variable?

[2020-08-04 23:00] vgrichina opened #778 "Make sure that Safari gets proper error when signing in with Ledger"
**Problem**

When you try to login with Ledger on Safari following error occurs in console:

However error displayed to user in UI is:

To continue, you must allow NEAR Wallet to view your public key. Please try again.

**Expected Behavior**

User should get explanation to use "Chrome, Opera or Firefox with a U2F extension"

**Steps to reproduce**

1. Chose "Sign in with Ledger"
2. Press "SIGN IN"

[2020-08-05 05:07] vgrichina commented on #772
We have to add keys to be able to connect to contract helper.

[2020-08-05 16:23] corwinharrell commented on #560
Figma file for new email designs: https://www.figma.com/file/rUZj2V20yoVNw6xZifLlw4/560-Recovery-Email?node-id=116%3A70

And here's a preview:

<img width="1072" alt="Screen Shot 2020-08-05 at 12 21 46 PM" src="https://user-images.githubusercontent.com/5934188/89438183-7f1bc480-d716-11ea-8d1e-84368e398bca.png">

[2020-08-05 21:12] kcole16 opened #782 "Allow users to select which accounts to add during Ledger login"
### Overview
The current Ledger login implementation requires users to add all accounts associated with their Ledger at once. If they reject an account (confirming the "add key" TX), the login is cancelled. Users should be able to select which accounts they want to login with.

### Acceptance Criteria
- [ ] User can view all accounts associated with their Ledger
- [ ] User can select which account

[2020-08-05 22:02] corwinharrell commented on #722
I've added a visual user flow to the epic description for reference if anyone like me find this helpful in visualizing the scope as well as the path travelled:

https://whimsical.com/73BmnJaf4H3nM717vYZrhP@7YNFXnKbYki95BSqaSZPZ

If you find this sort of thing helpful, please let me know as I'd be happy to continue creating these as a part of larger efforts like this to help everyone get oriented a

[2020-08-05 23:32] kcole16 opened #783 "Add banner to indicate network/RPC issues"
### Overview
Recent network issues have made the wallet slow/unusable for periods of time. Additionally, some of our error messages are quite vague/misleading in these cases, and we do not warn users that the network may be the underlying issue (e.g. "Invalid Seed Phrase").

Adding a banner with a warning and link to nearprotocol.statuspal.io will help provide some indication of what's happening.

[2020-08-06 20:45] kcole16 opened #785 "Specify in recovery instructions that the recovery message is only sent once"
### Overview
Several users have been confused by the email and phone recovery instructions in `/recover-account`. Specifically, they expect to receive a new message, rather than search for the one sent to them when they enable recovery.

We should add the following to the email and phone sections:
[code]

<img width="350" alt="Screen Shot 2020-08-06 at 1 45 14 PM" src="https://user-images.githubus

[2020-08-06 21:00] janedegtiareva opened #786 "If a functional call with token transfer attached fails, wallet UI erroneously reports success"
**Problem**
If a functional call with token transfer attached fails, wallet UI erroneously reports success

**Expected Behavior**
The UI should wait for the status of function call and report error

**Steps to reproduce**
1.  make a function call with an attached deposit
2.  set up the call so that it fails (e.g. insufficient balance in a FT transfer)
3.  wallet UI reports success
4.  Observe that

[2020-08-06 21:26] thisisjoshford commented on #786
[screen cap](https://drive.google.com/file/d/1CuKfewfb1is1cfkHk-zfWZRL2VBeypHO/view?usp=sharing) of an example

[failed transaction](https://explorer.testnet.near.org/transactions/8UoZxTeR4Ngz9H6zckEoKozMaapfMrKtv2ZYB1eS7zL1) details in explorer

[2020-08-06 22:38] #157 closed

[2020-08-06 22:39] kcole16 commented on #396
Closing as faucet isn't used in mainnet (and likely won't be in testnet either soon)

[2020-08-06 22:39] #396 closed

[2020-08-06 22:40] #531 closed

[2020-08-06 22:49] kcole16 commented on #720
@AnaisUrlichs Did we ever get a reliable reproduction of this?

[2020-08-06 23:31] kcole16 commented on #764
@jimmy3dita @evgenykuzyakov How easy is it to calculate the total stake of a validator?

[2020-08-06 23:55] kcole16 commented on #783
@bowenwang1996 Is there a good way to perform a network health check?

[2020-08-07 02:07] bowenwang1996 commented on #783
There is a rpc endpoint for health check `/health`

[2020-08-07 07:07] ilblackdragon commented on #782
Why does adding key required at all? Why not just query public keys and show all accounts with these keys as available?

[2020-08-07 07:08] ilblackdragon commented on #772
@vgrichina I don't understand. How is contract helper in this cast used?
Also I don't understand what key is even added? Like my understanding right now that I exposed my account to attack right now by doing this.

[2020-08-07 07:10] ilblackdragon commented on #783
How about statuspal? We ideally should use something third party

[2020-08-07 08:47] #785 closed

[2020-08-07 09:01] picturepan2 commented on #560
@corwinharrell @Patrick1904 Hi again, can you export images (logo, background, icon images) to here?

[2020-08-07 17:45] Patrick1904 commented on #560
[assets.zip](https://github.com/near/near-wallet/files/5042870/assets.zip)

@picturepan2 please see attached assets

[2020-08-07 21:58] kcole16 commented on #786
@marcinbodnar Can you take a look at this?

[2020-08-07 22:49] marcinbodnar commented on #786
@janedegtiareva @thisisjoshford I'm not sure how to reproduce this bug - if I choose too big donation Wallet will display `Insufficient Funds` and not allow to proceed.

[2020-08-08 00:29] vgrichina commented on #786
@marcinbodnar I've been able to repro by making smart contract fail on purpose. Check out https://gitpod.io/#snapshot/5bcbfec4-8edb-4908-8cc8-41b1d276a081

When you try posting message with word "FAIL" – contract execution would fail, but we will still show success in the wallet.

[2020-08-08 00:38] vgrichina commented on #775
It is already env variable (`REACT_APP_ACCESS_KEY_FUNDING_AMOUNT`).

Updated here:
https://github.com/near/render-ops/commit/76bcb32c5b2b32f2ec564ffdb61d340579428ef9
https://github.com/nearprotocol/render-prod-ops/commit/bd377528c1a893ed8fa518d81a373325591213d1

[2020-08-08 00:38] #775 closed

[2020-08-08 01:47] vgrichina opened #791 "Sign in with Ledger returns success when 0 accounts recovered"
**Problem**

<img width="1155" alt="Screen Shot 2020-08-07 at 6 45 42 PM" src="https://user-images.githubusercontent.com/126710/89699801-4af30000-d8de-11ea-93a4-790109cbc011.png">

**Expected Behavior**

Should explain to user that no accounts were found.

**Steps to reproduce**

1. Set Ledger to unique seed phrase or use a different network where you didn't create accounts with it yet.
2. Try "Si

[2020-08-08 01:52] vgrichina commented on #772
@ilblackdragon as we don't have any way to store metadata about keys on-chain, we have to store it off-chain (i.e. in contract helper). We also need to authorize access to contract helper somehow.

I agree that it should be special cased on Ledger app side to display meaningful message (kinda similar how we do for full access key) instead of raw info about key.

[2020-08-08 06:41] ilblackdragon commented on #772
If this is to inform off-chain service, how about we sign a message with Ledger and send it to contract helper? In a way, it's similar how applications in Ethereum asking to authorize them from the wallet.

This way don't need to send anything extra on-chain, and don't need to create extra key which has unclear expectations to the user at this point.

[2020-08-08 09:31] ilblackdragon commented on #289
I'm curious what is the status here?

I understand there are unstructured errors from nearcore, but for structured errors that are coming from runtime - can we show them to the user?

Because we still just showing "username is taken" even when contract for linkdrop has failed for example.

[2020-08-08 14:10] AnaisUrlichs commented on #720
@kcole16 we sadly did not and it also stopped happening -- so I guess you can close this issue. It was right at the time when we had the timeout issues :)

[2020-08-08 14:38] #720 closed

[2020-08-09 11:30] ilblackdragon opened #793 "Linkdrop doesn't work with non default account"
**Problem**
Linkdrop account is deployed on ww.illia.
Opening a link https://wallet.testnet.near.org/create/ww.illia/<key> doesn't show the ww.illia account as base account name.
Also when trying to create account with `testnet` it doesn't actually work because it does try to use linkdrop to create it.

**Expected Behavior**
It shows `ww.illia` as base account name.

**Steps to reproduce**

1. Cre

[2020-08-10 19:38] corwinharrell commented on #753
Wanted to share the WIP UI for Delegation. In an attempt to design/build this in an iterative fashion, the UI and prototype currently focus on the primary `stake` flow. The following is missing at the time of this post but is soon to follow:

- Total delegated balance
- Unclaimed rewards

Some things to note:

1. This UI leverages the current "Send" flow, but with a facelift. We have the option of

[2020-08-10 20:05] kcole16 commented on #793
Covered by #746, will add details to that one from here

[2020-08-10 20:05] #793 closed

[2020-08-11 05:56] vgrichina commented on #289
@ilblackdragon this is largely one by one implementation for different part of wallet. Some errors have specific handling, some still don't.

[2020-08-11 06:40] vgrichina commented on #638
Seems like "Full Access Keys" still there, so re-opening.

I think we should split keys as following:

- Apps (app access keys, should also start showing metadata on when / where it was added / last used).
- Devices (keys which have metadata on which computer / phone / hardware wallet they are added)
- Recovery (keys with recovery methods, implemented now basically)
- Other (all keys which don't f

[2020-08-11 06:46] vgrichina commented on #772
To implement what you are proposing we'll need to:
- have special support in Ledger app and API to sign such custom message
- user will still have to confirm some weird stuff when connecting Ledger
- the message signed by Ledger will have to be used to obtain another auth token / key (for contract helper)
- contract helper will need additional check whether this auth token / key is still valid (e.

[2020-08-11 15:49] kcole16 commented on #638
@vgrichina They were removed from the dashboard on mainnet only. Still appear to be removed to me?

We have this issue for improving the FAK page: https://github.com/near/near-wallet/issues/640

[2020-08-11 17:37] kcole16 commented on #791
Updating this to P0 as it is now affecting all Ledger accounts on testnet on mainnet cc @vgrichina @marcinbodnar

[2020-08-11 22:15] vgrichina commented on #791
Fixed in https://github.com/near/near-wallet/pull/804

[2020-08-11 22:32] #705 closed

[2020-08-12 06:17] #791 closed

[2020-08-12 12:37] ilblackdragon opened #807 "Silent failure when ledger based account is used to send money"
**Problem**
For an account with Ledger key, when sending money - there is no indication that Ledger should be inserted and unlocked. Sending money fails silently.

<img width="569" alt="Screen Shot 2020-08-12 at 5 34 57 AM" src="https://user-images.githubusercontent.com/175486/90015514-90585a00-dc5d-11ea-89de-3ba61ed4afd5.png">

**Expected Behavior**
Shows UI that explains to insert the ledger and

[2020-08-12 22:31] evgenykuzyakov opened #809 "bug: Blank page and error when clicking on an access key"
**Problem**

I go to https://wallet.testnet.near.org/authorized-apps and see 3 access keys (under `@meta` account):
<img width="1388" alt="Screen Shot 2020-08-12 at 3 30 18 PM" src="https://user-images.githubusercontent.com/470453/90074795-ca9f1700-dcb0-11ea-89f2-cebe7ccab4a7.png">

Then clicking on the 3rd key with no allowance and directed to itself, I get blank screen:
<img width="1387" alt="Sc

[2020-08-12 22:52] mikedotexe opened #810 "wallet.nearprotocol.com still has ability to create new accounts"
A [user in Discord](https://discordapp.com/channels/490367152054992913/710764455398735906/743234220322717817) was confused today as he went to wallet.nearprotocol.com and created an account, which is the old testnet address. Then using create-near-app, it directed him to the proper testnet wallet site, and this caused him confusion.

Perhaps we can disable creating new accounts on the old domain?

[2020-08-12 22:55] kcole16 commented on #810
Dupe of #733, but will fix ASAP!

[2020-08-12 22:55] #810 closed

[2020-08-13 05:30] #786 closed

[2020-08-17 17:31] kcole16 commented on #679
@marcinbodnar I thought this was completed (my fault), but seems to still be happening?

Can we prioritize this for this week?

[2020-08-17 17:52] marcinbodnar commented on #679
@kcole16 sure thing

[2020-08-18 00:09] kcole16 opened #823 "Creating a new account should be completed by the active account"
### Overview
Currently, our accounts model is designed to work with either a linkdrop or a faucet. This works for the initial account, but does not work if the user wants to create additional accounts. Users should be able to pay for the TX to create a new account with their currently active account

### Acceptance Criteria
- [ ] User can create new accounts if their active account has an "Availab

[2020-08-18 00:26] vgrichina commented on #823
I think we also need to make sure there is enough context in UI (e.g. right now it's not clear when you are creating from linkdrop, I think here might be similar problem).

[2020-08-18 06:56] #679 closed

[2020-08-18 16:55] corwinharrell commented on #753
As we discussed at the end of last week, I'm going to scope the UI down for each individual issue within the delegation epic, so that we can build this out in an iterative fashion. I'll be moving the resources provided in my last comment to #722, where a "complete" version of the UI will live, representative of the Epic in its final state.

The following UI is limited to this issue, and only allow

[2020-08-18 17:04] corwinharrell commented on #753
@kcole16 With the re-introduction of the stripped down validator profile where the user will manage their stake and rewards, I'm wandering if we want to create an additional issue for "Manage my stake" that includes:

1. View my amount that is pending release from my validator
2. View my list of validators with unclaimed rewards
3. View my list of validators with funds available for withdrawal
4.

[2020-08-18 17:05] corwinharrell commented on #722
@kcole16 With the re-introduction of the stripped down validator profile where the user will manage their stake and rewards, I'm wandering if we want to create an additional issue for "Manage my stake" that includes:

1. View my amount that is pending release from my validator
2. View my list of validators with unclaimed rewards
3. View my list of validators with funds available for withdrawal
4.

[2020-08-18 20:45] kcole16 commented on #722
@corwinharrell It makes sense to me to add part of the "Manage" scope to #755.

I definitely think "Claim Rewards" is important, but perhaps it's better to separate that into an additional issue to complete post v1 of undelegate. Which would mean adding 1, 3, and 5 to #755.

Thoughts? cc @jimmy3dita

[2020-08-19 00:34] kcole16 opened #825 "Withdraw from Lockup"
### Overview
Starting with Phase 2, some users will have unlocked tokens. These tokens will still be in the lockup contract, and will need to be withdrawn by calling a function on the contract.

To make this process easier for users, we should automatically withdraw from the lockup contract when users are performing actions that require additional tokens, particularly on `/send-money` AND `/sign`.

[2020-08-19 00:35] kcole16 commented on #825
Setting as P2 for right now, but will be promoted to P1 as soon as Phase 1 is live (as timeline will shrink quickly).

Also thinking we may want to make this more obvious than just on `/profile`, perhaps with either a banner "You have unlocked tokens, click here to withdraw" or putting the button on the Dashboard.

Thoughts? @corwinharrell @Patrick1904

[2020-08-21 17:38] mattlockyer opened #828 "Managed to Brick New Account Using Ledger via Linkdrop"
**Problem**

I followed a linkdrop from Kendall with 40N, chose matt.near, connected ledger, installed NEAR app, opened NEAR app on ledger. When I pressed continue on wallet, it showed:
![image](https://user-images.githubusercontent.com/321340/90918837-3c0a5400-e39a-11ea-8581-8aa03b1479db.png)

Retries using seed phrase or otherwise gives me:
![image](https://user-images.githubusercontent.com/3213

[2020-08-23 18:04] bowenwang1996 opened #833 "near login doesn't work for account id longer than 32 characters"
**Problem**
near login doesn't work for account id longer than 32 characters because the text box in wallet doesn't allow one to enter a string that is longer than 32 characters.

**Expected Behavior**
It should work.

**Steps to reproduce**

1. Create an account that is longer than 32 characters on testnet
2. Run `near login` locally and observe that you cannot enter the account id.

[2020-08-23 18:31] kcole16 commented on #833
@bowenwang1996 This is intended behavior.

Isn’t the account name maximum length 32 characters?

[2020-08-23 23:00] kcole16 commented on #828
@vgrichina Should we validate each account in the list on initial load? If an account in the list isn't valid, we can just drop it.

[2020-08-24 02:59] crypto-guys commented on #833
This happened to me earlier today

Steps to reproduce.
On betanet create an account with 33 characters in the name.
crypto-solutions-warchest.betanet
run **near login**
Open the provided link in browser.
The form will not display the name correctly.
![image](https://user-images.githubusercontent.com/50590698/90999013-16906c80-e58b-11ea-8287-94fee1f3eb18.png)

If I click allow I am asked to type th

[2020-08-24 14:08] bowenwang1996 commented on #833
@kcole16 that is not true. The maximum length is 64 characters.

[2020-08-24 18:31] #643 closed

[2020-08-24 23:41] vgrichina commented on #639
We need to make sure update e-mail templates as well https://github.com/near/near-contract-helper/pull/210/files

Also note that near.org Privacy Policy doesn't cover most important issue – that everything you do on NEAR blockchain is completely public info to anyone (like Twitter).

[2020-08-25 17:53] near-guildnet opened #842 "New Account Unusable after Backend RPC Timeout"
When creating a account and setting a recover option the account becomes unusable if an RPC timeout is encountered on the backend. The account is not usable in the browser and recovery options no longer work.

Executing (default): SELECT "id", "accountId", "createdAt", "updatedAt" FROM "Accounts" AS "Account" WHERE "Account"."accountId" = 'pool.guildnet' LIMIT 1;
Executing (default): SELECT "id",

[2020-08-26 14:47] bowenwang1996 commented on #842
Looks like you are talking about wallet. If so, you should open an issue here https://github.com/near/near-wallet

[2020-08-26 14:51] htafolla commented on #842
bowenwang1996 is that not this repo? ☕ 😄

[2020-08-27 22:00] kcole16 opened #849 "Update order of recovery options"
### Acceptance Criteria
- [ ] Ledger and Seed phrase recovery are listed under "Most Secure (Recommended)"
- [ ] Email and Phone recovery are listed under "Less Secure"
- [ ] "Most Secure (Recommended)" is listed above "Less Secure"

[2020-08-27 22:15] #849 closed

[2020-08-28 06:11] #828 closed

[2020-08-31 15:21] kamescg opened #853 "Discussion | Declarative Design System"
## Story

As a DEVELOPER who IS WORKING ON A BOUNTY, I want to COMPOSE UI ELEMENTS MORE SEMANTICALLY so I can EXTEND WALLET FUNCTIONALITY WITH EASE.

The Semantic UI Design System excludes some nice-to-have "design primitives"... or maybe I just missing them.

Generally when designing an application's frontend I've found it productive to include a declarative design system for constructing layouts

[2020-08-31 15:32] kamescg opened #854 "Using or Removing react-modal from dependencies"
I noticed the module `react-modal` has been installed but is not being used in the application.

The `Modal` component is available in `components/common` and used in several components.

Moving forward are we expected to use `react-modal` or the custom Modal component?

If not intended for usage can we remove from dependencies to de-incentivize using two different Modal solutions?

[2020-08-31 16:20] zavodil opened #855 "Illegal access violation error for redeployed contract"
**Steps to reproduce**
1. I made a [dapp](https://github.com/zavodil/memepool) with the web login
2. logged in with browser
3. called a function

4. redeployed smart contract on a different contract id and run on the same url

**Problem**
5. I called a function which needs wallet authorization and got an error in js console
`Uncaught (in promise) Error: Transaction nonce 47 must be larger than non

[2020-09-01 03:49] vgrichina commented on #825
Should we just withdraw automatically whatever amount is currently withdrawable before making any transaction?

[2020-09-01 03:55] kcole16 commented on #825
I do like the idea of automatic withdrawals, though we should figure out what a worst case TX cost scenario is (if user ends up with dozens of withdrawals or more over a 2 year lockup)

[2020-09-01 04:33] vgrichina commented on #825
yeah, we need to have some threshold I think. So that we withdraw tokens in such cases:
1) unlocked amount is over threshold (say 10 NEAR) which make fee unnoticable
2) there is not enough tokens to complete transaction otherwise

[2020-09-01 19:26] kcole16 opened #862 "Ask user for account ID during "Sign in with Ledger""
### Acceptance Criteria
- [ ] If no accounts are found during Ledger sign-in, ask the user for their account ID
- [ ] After entering their account ID and hitting "Submit" the user's account is successfully recovered
- [ ] No error message is displayed

[2020-09-02 00:16] kcole16 commented on #842
This should be fixed now

[2020-09-02 00:16] #842 closed

[2020-09-02 00:21] kcole16 opened #864 "Disable 2FA when user has a balance below threshold"
### Overview
Currently, we hide 2FA when a users balance is below the `MIN_MULTISIG_BALANCE` threshold. We should consider disabling it instead, and communicating to the user when they would be able to activate it.

[2020-09-02 03:07] Patrick1904 commented on #854
Yes please use the custom Modal component and yes we can remove `react-modal` if it's not being used.

[2020-09-02 03:10] Patrick1904 commented on #853
@corwinharrell can you recommend any lightweight options?

[2020-09-02 05:04] kamescg commented on #853
@Patrick1904 based off your [recent comment](https://github.com/near/bounties/issues/27#issuecomment-685109080) about `styled-components` and moving away from Semantic, maybe we can just add a few layout components to manage  layout requirements?

Something similar to https://styled-system.com/guides/build-a-box/?

Could add Box, Container, Flex and Grid to just handle the basics for now.

https:/

[2020-09-02 15:26] ilblackdragon opened #868 "Support multi user multi sig"
## Story

Currently wallet supports multisig contract but in "single person" usage.
The story is to support the multisig shared across multiple people / devices / etc.

Interestingly, if there is a multisig that is shared between multiple people via Ledger - it can be "logged in" in the NEAR Wallet with Ledger, but it's not a 2FA mode so the current flows won't work.

## Acceptance Criteria

- [ ]

[2020-09-02 15:45] Patrick1904 commented on #853
@kamescg yes that sounds good. You can add any re-usable UI components [here](https://github.com/near/near-wallet/tree/master/src/components/common/styled).

[2020-09-02 17:39] corwinharrell commented on #853
@kamescg @Patrick1904 I think this is probably the most light-weight option for now. Let's take caution though when creating something like `Box` vs `Container` that we make sure it's clear how each should be used. If there's any ambiguity or potential overlap, perhaps we just opt for one over another. `Box`, `Flex`, and `Grid` may be enough.

@kamescg just to give you some context, over the last

[2020-09-02 18:10] kamescg commented on #853
@corwinharrell Thanks for the context. That helps. Yeah... `theme-ui` definitely comes with a lot. And sorry for the confusion I wasn't so much recommending that with the link and more-so just including some of the shorthand properties for a `styled-components` approach.

Honestly from a dev perspective I am perfectly happy with just `Box` and `Flex` as that's what I end up using 95% of the time.

[2020-09-02 20:08] vgrichina commented on #760
I think these generally aren't very reliable.
- iframes cannot access localStorage in Safari. Also generally allowing frames would make it easy to scam users through clickjacking.
- `window.open` often gets blocked by popup blockers. Though I guess might be possible to detect this and provide redirect as a fallback.

Generally wallet itself should work fine with `window.open`. I think it already s

[2020-09-02 20:43] jasperdg commented on #760
Makes sense. Haven’t thought about extending WalletConnection but that
should work indeed. Re: making the flow work with callback urls.

I do think that would work pretty well actually. Thinking about it, that is
how the PayPals of the world work.

On Wed, 2 Sep 2020 at 22:08, Vladimir Grichina <notifications@github.com>
wrote:

[2020-09-07 07:28] Avadon opened #875 "Can't create the staking pool if a wallet has 2FA enabled"
**Problem**
There is an error while trying to create the staking pool If a wallet has 2FA enabled.

![alt text](https://i.ibb.co/QNVxGKZ/Screen-Shot-2020-09-07-at-10-24-04.png "Error screenshot")

**Expected Behavior**
Staking pool creation without errors

**Steps to reproduce**

1. Register a betanet-wallet
2. Enable 2FA
3, Try to create the staking pool at https://near-examples.github.io/staking

[2020-09-07 11:56] eriktrautman opened #876 "Can't login to wallet.near.org with ledger"
**NOTE:** This might be solved by fixing https://github.com/near/near-wallet/issues/862

**Problem**
Signing in with Ledger for a newly transferred account hangs and throws the following error in the console:
[code]

**Expected Behavior**
The account should be logged in to the wallet.near.org portal.

**Steps to reproduce**
(in the case of erik.near)
1. illia.near creates erik.near
2. we swapped k

[2020-09-07 17:14] marcinbodnar opened #881 "Redirecting after account creation/recovery is not working"
**Problem**
Redirecting after account creation/recovery is not working if user don't have an account.

**Expected Behavior**
If the user doesn't have an account and tries to `/login` from an app, Wallet should redirect the user to create/recovery account pages and after the success, it should redirect back to `/login` page.

**Steps to reproduce**
1. You are not logged in to Wallet
2. Go to Guest

[2020-09-08 14:51] everuner opened #883 "Recovery method "Seed Phrase Recovery" doesn't work"
Hi,need help. I'm a validator in a Stake wars, in my work I had to create a new pool but can't recover my two accounts "take.betanet" and "fuckit.betanet"(sorry no joke here, its my favorite nickname;)) with my betanet tokens which I need for work now.
 I've tried Opera VPN and other browsers but it didn't help. I'm stuck for few days and my pool not in a validator list cs of this situation, I've

[2020-09-08 18:26] marcinbodnar commented on #782
@kcole16 @vgrichina
I think the best way to implement this would be:
1. User confirms public key
2. User sees modal with:
 a) list of accounts with checkboxes to choose each account (additionally select all button)
 b) "enter accountId manually" button
3. If user chooses a) - modal with a list of chosen accounts appears and the user is able to confirm each account.
4. If user chooses b) - modal wi

[2020-09-09 00:44] vgrichina commented on #782
This is needed to authorize access to metadata in contract helper. Which is necessary because nearcore lacks any place to store metadata about keys / accounts.

[2020-09-09 00:46] vgrichina commented on #782
@marcinbodnar  this shouldn't be needed. We need to fix indexer @khorolets @frol

I think we should select all accounts by default and allow user to uncheck specific ones if they don't want to recover all matching ones.

[2020-09-09 09:22] everuner commented on #883
![Screenshot_31](https://user-images.githubusercontent.com/47457161/92580026-978f7980-f296-11ea-9171-ea73941a5db1.png)
it works since couple days....unfortunately, I don’t know what the problem was. Now it works propertly

[2020-09-09 09:22] #883 closed

[2020-09-09 16:32] marcinbodnar commented on #782
@vgrichina

Sure, but it's ready, and can be used as an additional feature - if the user has 20 accounts, and want to add only one, instead of searching the list he can write it. It's nothing special, but since this functionality is ready it can be used as add-on.

[2020-09-09 17:47] Patrick1904 commented on #782
@corwinharrell what do you think about proposed flow?

[2020-09-10 21:42] #881 closed

[2020-09-11 00:43] evgenykuzyakov opened #889 "Logout"
### Overview
Users need to log out for various reasons. We need to warn them obnoxiously to make sure they can recover their account before they do so.

### Acceptance Criteria
- [ ] "Logout" is present in the navbar drop down
- [ ] If user has multiple loaded accounts, they are prompted "Would you like to logout from <selected_account> only, or all accounts?"
   - [ ] User can choose either "This

[2020-09-11 00:49] vgrichina commented on #889
In that case I assume you also want to remove the public key for this device altogether?

[2020-09-11 00:49] abakuz commented on #889
Please also consider LOG IN button, currently the way to log is via Recover Your Account which is not super intuitive

[2020-09-11 08:12] vgrichina commented on #889
If anybody needs to remove the keys from local machine right now you can do it using Chrome dev tools, etc:

https://www.leadshook.com/help/how-to-clear-local-storage-in-google-chrome-browser/

MAKE SURE YOUR RECOVERY METHOD IS WORKING BEFORE REMOVING LOCAL KEYS

[2020-09-12 00:03] kcole16 opened #894 "Prevent user from entering @ on all account name fields"
### Overview
Several users are unclear as to whether or not the `@` character is part of their account name. Given `@` is an invalid character for account names, we should prevent users from entering it on any account name fields.

### Acceptance Criteria
- [ ] Users are unable to enter `@` in the following account name fields
  - [ ] `/create`
  - [ ] `/send-money`
  - [ ] `/recover-with-seed`

[2020-09-12 03:49] #778 closed

[2020-09-12 04:25] #862 closed

[2020-09-14 00:55] vgrichina commented on #764
@kcole16 looks like there is already live staking dashboard here https://staking.dokia.cloud/staking/near/validators

[2020-09-14 14:30] bowenwang1996 commented on #764
@kcole16 you can get it from validator rpc endpoint https://docs.near.org/docs/api/rpc#validators

[2020-09-14 15:00] mattlockyer commented on #764
https://github.com/near/near-wallet/blob/cf9b41c250064cee922d2cd4133af80ecc55a03a/src/utils/staking.js#L37-L59

Here's an example of getting all validators and then calling RPC on each to get fee. Returns list of all validators with name, fee and contract instance for subsequent method calls.

[2020-09-15 03:17] vgrichina opened #902 "Trying to remove last remaining method shows generic error"
**Problem**

Trying to remove last remaining method shows generic error:

<img width="1166" alt="Screen Shot 2020-09-14 at 8 13 51 PM" src="https://user-images.githubusercontent.com/126710/93161259-0e79a780-f6c7-11ea-8b27-786dd776ea9c.png">

Looks like underlying error condition is handled, just not in UI:
<img width="1241" alt="Screen Shot 2020-09-14 at 8 16 02 PM" src="https://user-images.github

[2020-09-15 03:24] vgrichina opened #903 "Adding e-mail recovery method with 2FA doesn't seem to work"
**Problem**

Check test-seed-phrase1.testnet account.

I've tried enabling e-mail recovery method, but it doesn't show up as enabled in Profile (even though I confirmed 2FA).

Adding it seems like succeeded: https://explorer.testnet.near.org/transactions/ELgY9S2NJVCS61SeFvxzGRTXKqcQ9YEfJbnESbM8dv6U

**Expected Behavior**

E-mail recovery method should show up in Profile

**Steps to reproduce**

No

[2020-09-15 04:06] mattlockyer commented on #903
@Patrick1904 any aggressive filters added to the recovery methods list lately?

Here's a screenshot post 2fa setup with email for an account created with email recovery.

![image](https://user-images.githubusercontent.com/321340/93164317-15f07f00-f6ce-11ea-90ed-06c6bb13df70.png)

[2020-09-15 04:08] mattlockyer commented on #903
Looks like we're still returning 2 email recovery methods:

![image](https://user-images.githubusercontent.com/321340/93164465-6536af80-f6ce-11ea-8a26-8ad7ed7b13a8.png)

[2020-09-15 04:21] Patrick1904 commented on #903
https://github.com/near/near-wallet/blob/master/src/components/profile/Recovery/RecoveryContainer.js#L84

[2020-09-15 15:06] mattlockyer opened #904 "TLA sign in doesn't work"
**Problem**
@jasperdg (FLUX)
I can sign in and recover all .testnet accounts. When trying to sign in to a top level account it just keeps redirecting me to the "create account | recover account" screen

**Expected Behavior**
Can sign into TLA account

**Steps to reproduce**

1. Try signing into a top level account using the wallet
2. Redirected to /create?

[2020-09-15 15:07] mattlockyer commented on #904
Will be Priority 1 when auctioning TLAs

[2020-09-15 15:32] mattlockyer commented on #903
The check shouldn't be for a full access key though. Since recovery keys for 2FA accounts will be switched from FAKs to LAKs.

I have a small fix coming soon.

[2020-09-15 17:52] #894 closed

[2020-09-15 22:12] vgrichina commented on #903
Re-opening as still seems to happen for https://wallet.testnet.near.org/profile/test-seed-phrase1.testnet

[2020-09-15 22:23] mattlockyer commented on #903
@Patrick1904 any more insight on this?

I can't reproduce the issue anymore and this is probably the first time I've ever worked with this component.

We only need to:
1. get all access keys
2. get all recovery methods
3. filter out recovery methods that do NOT have an access key for the account

Some extra component / render logic comes after this and I'm afraid if I try to fix this I'll break so

[2020-09-15 22:23] vgrichina commented on #903
Seems like it has been some caching issue, works now

[2020-09-15 22:23] #903 closed

[2020-09-16 20:00] kcole16 opened #911 "Handle seed phrase error when account is created"
### Overview
Users sometimes encounter an error when creating an account with a seed phrase via linkdrop, even though the transaction is succeeding. We should only show the user an error at this step if it is the actual account creation transaction that is failing, otherwise they will be mislead into thinking their account wasn't successfully created.

A simple solution is to retry the TX after th

[2020-09-18 00:15] vgrichina commented on #911
@kcole16 @marcinbodnar  retries are already happening in near-api-js for about a minute or even more.

We need to focus on recovery from failure when user lands on /profile, refreshes page, etc

[2020-09-18 00:55] vgrichina commented on #911
that's not true AFAIK. I think what is happening in many cases is that account creation succeeds but other steps fail (or are interrupted), e.g. marking given key as seed phrase on contract helper

[2020-09-18 01:18] kcole16 commented on #911
@vgrichina @Patrick1904 @mattlockyer Have you been able to reproduce these errors? I haven't, but the two common states I'm seeing are:
- Users encounter an error on the `/verify` step and never make it to `/profile`, and then think the linkdrop is toast
- Users make it to `/profile`, but do not have the correct seed phrase written down

And seems like the second case is essentially the first, but

[2020-09-18 01:23] marcinbodnar commented on #911
@kcole16

It might be because error occurs while creating an account or adding key

In this case, the account was created, the key was added but the contract helper fails to add recovery method

[2020-09-18 20:10] kcole16 opened #913 "Update lockup account schema"
### Overview
Update the lockup account schema to ```hash(accountId)[:40] + ".lockup.near"```

[2020-09-18 22:25] vgrichina commented on #911
@kcole16 @marcinbodnar I think we have to test with artificially introduced errors, e.g. like here https://github.com/near/near-wallet/pull/892

[2020-09-18 22:55] mattlockyer commented on #911
@kcole16 I haven't been able to reproduce these since we switched to adding the seed phrase key in the linkdrop claim step.

But I think the error communicated by users is the issue when they don't get a valid RPC response from that, wallet tells them there's an error and they "Start Over". Which is why we killed start over so they don't throw out the first seed phrase...

It's like a timeout erro

[2020-09-18 22:55] mattlockyer commented on #911
Accidental close

[2020-09-18 23:09] marcinbodnar commented on #911
@mattlockyer @kcole16 @vgrichina

I implemented a solution for that long time ago, but I can see now that it was removed - it was causing problems @vgrichina ?
https://github.com/near/near-wallet/commit/24f548fbae13457c187bf28120367f80c5cc47d3#diff-178a60e843b843091b6d2927f9c3ef22L343

[2020-09-21 04:45] #902 closed

[2020-09-21 05:11] vgrichina opened #918 "UI not adapted for long account names, e.g. 56d9afd149484add3ed4ffd6bdb620e27b4dabcf.lockup.vg"
**Problem**

UI not adapted for long account names, e.g. 56d9afd149484add3ed4ffd6bdb620e27b4dabcf.lockup.vg

**Expected Behavior**

Long account names fit well into UI. Note that this is a problem on multiple screens, not just this specific one.

<img width="791" alt="Screen Shot 2020-09-20 at 10 09 35 PM" src="https://user-images.githubusercontent.com/126710/93734464-23a27a80-fb8e-11ea-9f3f-65854

[2020-09-21 17:57] #876 closed

[2020-09-22 01:32] vgrichina commented on #911
@marcinbodnar we switched to saving account before attempting to create it online. There is no guarantee we will get explicit error (user might refresh the page, close browser, etc).

[2020-09-22 01:33] vgrichina commented on #911
Note that we fixed issue with accounts being lost completely, I think main problem right now is that we end up in inconsistent state with no ability to re-setup seed phrase successfully + we have confusing feedback for user.

[2020-09-22 02:24] kcole16 opened #923 "Remove "Browse Apps" from /authorized-apps"
### Overview
We are no longer hosting builtwithnear.com, and should remove the "Browse Apps" button and "See what's been built with NEAR" from `/authorized-apps`.

[2020-09-22 07:52] #918 closed

[2020-09-23 16:59] #913 closed

[2020-09-24 01:04] kcole16 opened #926 "Support multiple HD paths for Ledger during login"
### Overview
Many users of the NEAR Ledger are likely to use HD paths that are different from the default path: `44'/397'/0'/0'/1'`

Currently, we assume all accounts use this HD path during recovery.

We should allow users to choose a non-standard HD path, or even cycle through some number of paths (first 100?) and add accounts with those public keys to the list of accounts available to recover d

[2020-09-24 01:50] kcole16 commented on #926
cc @vgrichina @marcinbodnar @corwinharrell

Potential low lift pass?

![HD_path_mockup](https://user-images.githubusercontent.com/5624527/94091677-a9f8cf80-fdcd-11ea-8664-0954a37c84e6.png)

[2020-09-25 17:26] Patrick1904 commented on #753
@kcole16 @corwinharrell can you please provide copy/explanations for the following staking concepts:
1. Total amount staked
2. Unclaimed rewards
3. Available for withdrawal
4. Pending release
5. Staking fee

<img width="372" alt="Screen Shot 2020-09-25 at 10 25 13 AM" src="https://user-images.githubusercontent.com/24921205/94297482-6b702b80-ff19-11ea-8280-4596da29c41c.png">

[2020-09-25 22:22] kcole16 opened #931 "Allow sending to implicit accounts"
### Overview
Now that we have implicit accounts, we should allow users to send to accounts with exactly 64 characters, even if they don't exist on-chain. We should also explain the risk of doing so, and prompt the user to double check the address.

### Acceptance Criteria
- [ ] Users can send to accounts with exactly 64 characters that do not exist on-chain
- [ ] When sending to non-existent accou

[2020-09-25 22:26] kcole16 opened #932 "Make profile page route public"
### Overview
Many users are using wallets like Trust Wallet that have limited support for lockup accounts. To make it easier for users to view their balances, we should make the `/profile/<accountId>` route public.

### Acceptance Criteria
- [ ] Anyone can view the `/profile/<accountID>` route
- [ ] Only authenticated users can view their recovery methods

[2020-09-26 22:01] jakestutzman opened #937 "Refresh balance along with tx activity"
**Problem**
When staking via CLI, the 'activity' on the Dashboard updates with the new transaction automatically, but i have to refresh to see the new balance.

**Expected Behavior**
If you're showing me my tx in real-time, my balance should update with it. (OR, require refresh for both - they should be consistent so the user isn't confused)

**Steps to reproduce**

1. With wallet open in browser,

[2020-09-28 02:34] bowenwang1996 commented on #753
This name feels a bit confusing to me. People could interpret it as the transaction fee associated with sending the staking transaction.

[2020-09-28 13:43] corwinharrell opened #938 "Update Typography & Logo to be consistent with brand updates"
We need to update the typography and logo within the wallet to be consistent with the new brand updates as well as the upcoming updates to the explorer. As a guide, here is a typographic scale to reference for the changes.

<img width="1036" alt="Screen Shot 2020-10-14 at 1 19 47 PM" src="https://user-images.githubusercontent.com/5934188/96023143-f4df9300-0e1f-11eb-9fd2-fe7e2c419747.png">

One thi

[2020-09-29 01:21] kcole16 commented on #825
@vgrichina Updated to reflect the current plan to initiate a withdrawal to top up the user's account during transaction flows.

One challenge is that most users will need to explicitly approve the `transfer` function for each withdrawal, in addition to whatever action they are trying to complete, as nearly every user has either Ledger or 2FA enabled.

This is somewhat similar to the situation with

[2020-09-29 18:24] #560 closed

[2020-09-29 20:53] vgrichina opened #947 "Seed phrase recovery not available when there is existing account with seed phrase"
**Problem**

Looks like when you are creating account and you already have existing account active (with seed phrase recovery) – you cannot select seed phrase as recovery method.

<img width="962" alt="Screen Shot 2020-09-29 at 1 48 18 PM" src="https://user-images.githubusercontent.com/126710/94614508-215db180-025b-11eb-9f8c-f7197e36458a.png">

**Expected Behavior**

You still can select seed phra

[2020-09-29 23:06] kcole16 commented on #947
@vgrichina This must have started with a recent change, as I always create new accounts with seed phrase when testing

[2020-09-29 23:48] kcole16 opened #950 "Support implicit account recovery from seed phrase"
### Overview
We have quite a few users that either directly created an implicit account from a seed phrase in the CLI, or used Trust Wallet to generate one. We should support recovering an account into the Wallet by entering the seed phrase for these accounts.

**Note:**
The scope of this issue only includes implicit accounts that already exist on-chain, as there are a few changes needed to suppor

[2020-09-30 00:11] kcole16 commented on #753
@bowenwang1996 How about "Validator Fee"?

[2020-09-30 15:47] bowenwang1996 commented on #753
Yeah that sounds better

[2020-09-30 15:51] Patrick1904 commented on #753
@kcole16 @bowenwang1996 updating the copy to 'Validator Fee'.

[2020-09-30 22:20] vgrichina opened #951 "You can "successfully" recover 0 accounts"
**Problem**

You can "successfully" recover 0 accounts.

<img width="1166" alt="Screen Shot 2020-09-30 at 3 18 37 PM" src="https://user-images.githubusercontent.com/126710/94745856-61429880-0330-11eb-9172-4ce55b0cc5bf.png">

**Expected Behavior**

Error is displayed to user.

**Steps to reproduce**

Try to recover using any bogus seed phrase not matching any accounts.

[2020-09-30 22:55] kcole16 commented on #753
@Patrick1904

Total amount staked
- NEAR tokens currently staked with validators. These tokens are accumulating rewards. To access these tokens, you must first unstake and then withdraw them.

Unclaimed rewards
- Rewards that have been earned, but not withdrawn. Unclaimed rewards are automatically restaked, which means your "Total Amount Staked" automatically increases over time, and your rewards

[2020-09-30 23:25] #630 closed

[2020-09-30 23:25] #631 closed

[2020-09-30 23:39] kcole16 opened #954 "Viewing stake positions from base accounts (not lockups)"
### Overview
Staking v1 only supports staking through lockups. The first component of this is allowing users to view their stake positions, as we have several users that have used Dokia to stake through their base account and are confused that this isn't reflected in the wallet.

### Acceptance Criteria
- [ ] Users can view all of their stake positions from their base account

@mattlockyer's  prop

[2020-09-30 23:42] vgrichina commented on #950
After thinking about it – I think we shouldn't directly support accounts which haven't been created yet. As literally every seed phrase has such account (before it's been claimed and keys replaced), so in normal seed phrase recovery flow it's going to be a distraction.

Makes sense to support these as part of exchange integration flows.

[2020-10-01 00:09] #950 closed

[2020-10-01 00:42] marcinbodnar commented on #951
@vgrichina I'm sure I was fixing it before, not sure why this check was removed, probably by mistake. I will add it again.

[2020-10-01 07:01] vgrichina commented on #951
Maybe accidentally caused by some other change, thanks for looking!

[2020-10-01 21:52] kcole16 commented on #889
### Overview
Users need to log out for various reasons. We need to warn them obnoxiously to make sure they can recover their account before they do so.

### Acceptance Criteria
- [ ] "Logout" is present in the navbar drop down
- [ ] If user has multiple loaded accounts, they are prompted "Would you like to logout from <selected_account> only, or all accounts?"
   - [ ] User can choose either "This

[2020-10-02 00:13] #947 closed

[2020-10-02 03:22] #951 closed

[2020-10-03 20:15] ilblackdragon opened #960 "Authorizing the same app twice leads to two keys on chain"
There is few issues here:
 - If in application user "Logs out" - this doesn't get recorded on blockchain, by for example removing the key
 - When user logs in again - this will add another key. There is no way to understand is this duplicate or different device
 - And most of the times, applications just need account Id - which should be just fetcheble without adding public key.

[2020-10-03 21:56] vgrichina commented on #825
From @evgenykuzyakov:

I want to bring important thing. Once the phase 2 happens, the tokens will not automatically unlock on every lockup. Instead every lockup contract needs to check for transfers by calling `check_transfers_vote()` with `75Tgas` .
Only after this lockup contracts will be able to issue `transfer` transactions.

[2020-10-03 22:26] evgenykuzyakov commented on #825
BTW, on testnet the vote for phase 2 already happened. So we can start testing it. If you use `vote.f863973.m0` for initializing lockup contracts.

[2020-10-03 22:29] evgenykuzyakov commented on #825
See https://github.com/near/core-contracts/tree/master/scripts for help
And https://github.com/near/core-contracts/blob/master/scripts/deploy_lockup.sh to deploy lockup contracts. You'll need the following env vars:
[code]

Then run the script

[2020-10-05 15:44] kcole16 commented on #931
**Steps if Implicit Accounts Don't Exist**
1. Transfer 0.5 NEAR to the implicit account (to instantiate)
2. Transfer rest of desired amount to the implicit account

cc @vgrichina

[2020-10-06 04:40] vgrichina commented on #931
@bowenwang1996 why is this transaction failing https://explorer.testnet.near.org/transactions/BuvCUudDgzJVPY5Pqh6cZRpUy3kMuPfZAAwYGGJgvWM5?

Are implicit accounts enabled on testnet?

[2020-10-07 00:30] vgrichina opened #973 "Amount field allows to type non-number characters"
**Problem**

Amount field allows to type non-number characters.

<img width="608" alt="Screen Shot 2020-10-06 at 5 23 33 PM" src="https://user-images.githubusercontent.com/126710/95274038-9ac84780-07f9-11eb-9f8b-2af16ec6a6a8.png">

**Expected Behavior**

Only digits and dot are allowed.

**Steps to reproduce**

1. Try to send money to somebody
2. Type some letters

[2020-10-07 01:26] bowenwang1996 commented on #931
@vgrichina testnet had some issue yesterday. It should be fine now

[2020-10-07 23:21] kcole16 opened #981 "Add warning on /login for Lockup accounts"
### Overview
Adding a limited access key to lockup contracts does allow the app to transfer tokens. The current warning is insufficient for the severity of this permission. We should display the same warning as adding a full access key (e.g. when using `near login`).

### Acceptance Criteria
- [ ] When the account being authorized is the user's lockup account, they receive the same warning as `nea

[2020-10-07 23:23] kcole16 commented on #981
@marcinbodnar How are we determining when to show the more aggressive page for `/login`? e.g. the one we show when adding a full access key e.g. `near login`

[2020-10-08 00:01] marcinbodnar commented on #981
@kcole16 at this moment the more aggressive page is shown if there is a `contract_id` param in the URL.

[2020-10-08 04:02] #973 closed

[2020-10-09 01:11] #753 closed

[2020-10-09 03:43] #931 closed

[2020-10-12 15:21] #759 closed

[2020-10-12 16:50] kcole16 opened #996 "Indicating when multiple transactions are required in 2FA"
### Overview
To complete certain actions (e.g. staking), users are required to explicitly sign multiple transactions in a row. Especially when 2FA is enabled, this is a bit unclear, and can seem as though the first confirmation failed.

Example: staking with a new validator from lockup
- User must confirm `select_staking_pool`
- User must confirm `deposit_and_stake`

### Acceptance Criteria
- [ ]

[2020-10-12 20:47] Patrick1904 commented on #783
@vgrichina @kcole16 here's an example response from Statuspal: `https://statuspal.io/api/v1/status_pages/nearprotocol/status`

![Screen Shot 2020-10-12 at 1 37 47 PM](https://user-images.githubusercontent.com/24921205/95788345-37726580-0c90-11eb-9b5f-80b3fc90cd90.png)

Should we base the network error on all (RPC, Explorer frontend, Explorer) or just RPC?

[2020-10-12 20:48] kcole16 commented on #783
@Patrick1904 Seems like we should use the RPC endpoint `/health` instead (checking https://rpc.mainnet.near.org), as it's more direct.

[2020-10-12 23:49] #833 closed

[2020-10-13 05:15] vgrichina opened #1005 "Make sure that all exceptions thrown in wallet use `WalletError` and include message code"
**Problem**

In many places either something else is thrown or message code not included.

Easy way to find places where new exception is thrown:

[code]

**Expected Behavior**

All wallet code uses `WalletError` and provides message code for UI.

[2020-10-13 05:46] vgrichina opened #1006 "Looks like not enough balance error is not handled properly when staking"
**Problem**

**Expected Behavior**

UI shows error and doesn't let user just do the same thing in a loop without understanding that it is failing.

**Steps to reproduce**

TODO: Not reproduced yet, this is user report

[2020-10-13 16:03] kcole16 commented on #1006
**Steps to reproduce**
1. Select a validator
2. Attempt to stake your entire available balance
3. Encounter error
4. Attempt to stake 1 NEAR less than available balance

[2020-10-13 18:24] Patrick1904 commented on #783
@vgrichina @bowenwang1996 apparently the RPC /health end point returns an error if the node hasn’t responded with a block for 20 seconds, so AFAIU it may not catch the frequently reported issue with recovering accounts, i.e. ‘no accounts recovered…’

In theory, if 'no accounts recovered...' happened and RPC is unresponsive, would /health return an error?

[2020-10-13 23:10] icerove opened #1010 "Two-Factor Authentication not success"
**Problem**
After Enter 6-digit verification code received from email, and click verify code & enable, it will show `Sorry an error has occurred. You may want to try again.` But after click the button, nothing happens and get error on console:
<img width="483" alt="image" src="https://user-images.githubusercontent.com/33007476/95925229-1f711380-0d6e-11eb-953a-a7595b0027a4.png">

After several time

[2020-10-14 00:24] bowenwang1996 commented on #783
Yeah we will work on tweaking the health endpoint to be more informative but right now that may not return an error

[2020-10-14 14:08] ilblackdragon opened #1018 "Send money errors are wrong"
**Problem**
If there is an error with sending money, current error is "Please check that your device is connected and the NEAR app is open."

**Expected Behavior**
Show the actual error

**Steps to reproduce**

One example of errors can be lack of storage balance to cover adding another 2FA confirmation

[2020-10-14 14:09] ilblackdragon opened #1019 "Send money errors are wrong"
**Problem**
If there is an error with sending money, current error is "Please check that your device is connected and the NEAR app is open."

**Expected Behavior**
Show the actual error

**Steps to reproduce**

One example of errors can be lack of storage balance to cover adding another 2FA confirmation

[2020-10-14 14:11] ilblackdragon opened #1020 "Errors when mulitisig requests fail"
There are few different errors with multisig adding request:
 - there is not enough balance to cover storage
 - too many requests
 - might be others

We should show these errors better and also manage getting into that state better

[2020-10-14 14:11] ilblackdragon commented on #1019
Duplicate of #1018

[2020-10-14 14:13] ilblackdragon opened #1021 "Improve visibility of Unstake button"
Unstake button is hard to find.
It's both unclear from the "Stake" screen and on the specific pool it's not very visible.

[2020-10-14 14:42] ilblackdragon opened #1022 "Unstaking time is unclear"
There is nowhere informing in the UI that it will take ~36 hours to unstake when staking.

[2020-10-14 15:19] corwinharrell commented on #755
Attaching the flow for `UNSTAKE` here. The flow is _almost_ identical to the staking flow, but there are a few small UI changes to accompany this release:

1. The `UNSTAKE` button should now appear on both the validator profile, as well as the main staking dashboard. Since users can only delegate to a single validator, it improves discoverability and benefits them to be able to take this action fr

[2020-10-14 16:08] kcole16 commented on #1022
@Patrick1904 Did we remove this from the modal?

[2020-10-14 16:26] Patrick1904 commented on #1022
![Screen Shot 2020-10-14 at 9 17 29 AM](https://user-images.githubusercontent.com/24921205/96017769-3e6bb600-0dff-11eb-9b86-727996db95dd.png)
![Screen Shot 2020-10-14 at 9 17 19 AM](https://user-images.githubusercontent.com/24921205/96017773-3f044c80-0dff-11eb-8741-5c8697af7bf8.png)

Yes we only have this right now but will add to the modal too so that users don't miss it.

[2020-10-14 16:45] bowenwang1996 commented on #1019
why did you reopen it

[2020-10-14 16:51] corwinharrell commented on #1022
Recommending changes to our success state in the staking UI to inform about the release period:

<img width="956" alt="Screen Shot 2020-10-14 at 12 48 19 PM" src="https://user-images.githubusercontent.com/5934188/96020222-b0ea8f00-0e1b-11eb-92c4-889e3a4479bf.png">

This same copy and treatment is being introduced for unstaking in #755

[2020-10-14 17:27] Patrick1904 commented on #1022
Looks good to me. Is it worth showing this disclaimer before confirming the stake, vs after?

[2020-10-14 17:53] ilblackdragon opened #1024 "No default translation when unstaking"
## Steps to reproduce

1. Stake
2. Unstake
3. Confirmed on Ledger
4. Came back with this screenshot

<img width="687" alt="Screen Shot 2020-10-14 at 3 00 51 AM" src="https://user-images.githubusercontent.com/175486/96026464-5f3a0880-0e0b-11eb-94e9-476f2f2745a0.png">

[2020-10-14 18:56] Patrick1904 commented on #1021
@corwinharrell any thoughts on this?

[2020-10-14 18:59] corwinharrell commented on #1021
@Patrick1904 since we're adding it to the main staking dashboard in #755, that should help some with discoverability. Otherwise the next thing to do would be to just use a primary button (same as `WITHDRAW`) vs the secondary variant it's using now.

[2020-10-14 20:15] kcole16 commented on #1018
Duplicate

[2020-10-14 20:15] #1018 closed

[2020-10-14 20:47] kcole16 opened #1026 "Increase Minimum Balance by 1 NEAR"
### Overview
Users are occasionally getting stuck by transferring out their entire liquid balance, to the point where they cannot add keys (e.g. login), transfer funds, stake, or really do anything until they receive more NEAR. We should increase the `Minimum Balance` (and decrease `Available Balance`) to account for this.

Additionally, we should add the "reserved balance" (currently hidden) to t

[2020-10-14 20:51] #764 closed

[2020-10-14 20:52] #1006 closed

[2020-10-14 21:22] ilblackdragon opened #1027 "Progress of unstaking"
After unstaking, it's unclear how long is left until tokens actually going to be released.
Should show some progress bar / number of blocks / approximate time.

[2020-10-14 21:47] kcole16 opened #1028 "Show RPC error text in error notification"
### Overview
We haven't sufficiently covered the potential errors with human readable ones. In the meantime, we should show the actual error message in the banner to better help us debug user issues.

### Acceptance Criteria
- [ ] When encountering an RPC-delivered error, the user sees both our title and error message, and the RPC-returned error message in the notification

[2020-10-14 22:46] kcole16 commented on #755
I think we should add something like "Tokens will be available to withdraw 36-48 hours (3 full epochs) after unstaking" to the "You are unstaking" modal as well. Users keep missing that detail, and we really want to hammer it home.

[2020-10-15 02:46] Patrick1904 commented on #1024
Haven't been able to repro yet. @kcole16 can you please test to see if you can repro this?

[2020-10-15 15:18] corwinharrell commented on #755
@kcole16 @Patrick1904 Updated modal with disclaimer

[2020-10-15 15:55] marcinbodnar commented on #1028
@corwinharrell It looks like this with #1029 changes
![image](https://user-images.githubusercontent.com/36210360/96154887-942f8380-0f0f-11eb-953a-ab4883e07141.png)

[2020-10-15 15:56] Patrick1904 commented on #1010
@icerove I'm not able to reproduce this. Please let me know if you continue to encounter this issue. Good catch on the date not showing, it seems that it's not reaching the front-end, so fixing this w/ @mattlockyer.

[2020-10-15 17:48] icerove commented on #1010
this time is like this:
After enable 2FA page, it goes back to profile page with success banner.
<img width="1261" alt="image" src="https://user-images.githubusercontent.com/33007476/96167075-b60b1500-0ed3-11eb-83ca-30ceeb90adbf.png">

but 2FA column is like this:
<img width="514" alt="image" src="https://user-images.githubusercontent.com/33007476/96167188-e18dff80-0ed3-11eb-8b90-6b3ad29f2ea5.png"

[2020-10-15 18:02] Patrick1904 commented on #1010
@icerove thanks for clarifying. I fixed the date issue here: https://github.com/near/near-wallet/pull/1034

Will fix the bug where you have to refresh the page for 2FA to show as active

[2020-10-15 19:21] kcole16 opened #1035 "Delete lockup contract when "Locked" balance is 0"
### Overview
Several users are confused by their locked/unlocked balance, as they haven't attempted to send NEAR and called `check_transfer_vote`. Additionally, other users are frustrated they can't withdraw the 35 NEAR state stake of the lockup. To cover all cases for withdrawal (in addition to the auto-withdrawal), we should add an explicit "Withdraw" button to the `/profile` page.

### Acceptan

[2020-10-15 19:28] corwinharrell commented on #1028
Here are the designs for the changes to the alert component:

![alert](https://user-images.githubusercontent.com/5934188/96176888-fcc03580-0efa-11eb-9e0c-a276aeaf5080.jpg)

And here are the svg icons @marcinbodnar (they should be constrained to 24px):

[alert-icons.zip](https://github.com/near/near-wallet/files/5387319/alert-icons.zip)

[2020-10-15 22:52] kcole16 opened #1042 "Error unselecting staking pool during staking pool withdrawal"
**Problem**
Calling `unselect_staking_pool` will fail during withdrawal if the user staked again after triggering Unstake. This will be a more common issue when we launch partial unstaking.

**Expected Behavior**
We should not trigger `unselect_staking_pool` during Withdrawal, only `withdraw_all_from_staking_pool`.

**Steps to reproduce**

1. Stake a small amount (not your entire lockup balance)
2

[2020-10-15 22:58] mattlockyer commented on #1042
@kcole16 the issue seems to be specifically with calling "unselect" while there is still something staked? Despite calling "withdrawal all" and successfully withdrawing all of the available balance, correct?

I will add a check to lockup withdraw function that will not unselect pool until all balances are "0" with validator.

[2020-10-15 23:27] mattlockyer commented on #1042
@kcole16 try this on:
https://github.com/near/near-wallet/pull/1043

Might have to wait for betanet...

[2020-10-16 20:18] corwinharrell commented on #954
Here is the design for the new staking source component addition:

https://www.figma.com/file/ftGWoPAFwrbrMQit5xy486/954-Select-Staking-Source?node-id=1%3A131

<img width="1041" alt="Screen Shot 2020-10-16 at 4 17 02 PM" src="https://user-images.githubusercontent.com/5934188/96304976-13ce5880-0fcb-11eb-82e0-a56730ca4351.png">

As mentioned in slack, if the user does not have a lockup, the componen

[2020-10-16 20:32] Patrick1904 commented on #954
@corwinharrell looks good to me. Should we still show the available balance to stake somewhere on the main dashboard? Is the number in the dropdown total available to stake? If so, user won't be able to see that here unless they have a lockup account.

[2020-10-16 20:36] corwinharrell commented on #954
@Patrick1904 yes, the number in the dropdown is the available balance. If they don't have a lockup, wouldn't the available balance be the same as what we display in `/profile`?

[2020-10-16 20:38] Patrick1904 commented on #954
Yes in case of no-lockup, they'd have to navigate to profile to see it. Personally I find value in being able to view available balance on this page too

[2020-10-16 20:45] corwinharrell commented on #954
@Patrick1904 in that case, why don't we leave the component in, but "disable" it, where it's disabled state just has the arrow set to `display: none;`?

[2020-10-16 20:48] jakestutzman opened #1050 "Tooltip still links to account creation on Mainnet"
**Problem**
This tool-tip is still linking to the account creation flow which is not yet enabled on mainnet

**Expected Behavior**
just need to remove that link until self-serve account creation is active on mainnet

**Steps to reproduce**
1. go to profile
2. hover over the lock icon

![image](https://user-images.githubusercontent.com/46854/96307230-e7b0d880-0fc6-11eb-88b7-cf60c2a6eaf3.png)

[2020-10-16 20:53] Patrick1904 commented on #954
That works great!

[2020-10-17 00:06] #1026 closed

[2020-10-17 00:53] vgrichina commented on #1042
@mattlockyer @kcole16 why do we ever need to call `unselect_staking_pool` at all except when selecting new pool?

[2020-10-17 00:58] kcole16 commented on #1042
I don't think we should call it, except when selecting a new pool

[2020-10-17 01:00] mattlockyer commented on #1042
This was the functionality. @Patrick1904 requested the unselect on withdrawal. Do you still need it?

[2020-10-17 01:17] Patrick1904 commented on #1042
I'm using it right now to determine if you currently have a balance with a validator. Seems unusual to me that we'd keep the validator selected even if I don't have any balance with the validator, but can adjust if needed.

[2020-10-18 17:11] mattlockyer opened #1055 "Unable to recover 2FA account using seed phrase"
**Problem**

I've diagnosed a couple of rare cases where users created account with seed phrase and then set up 2FA and for some reason this is causing issues with recovery.
In the 2FA enabling, only 1 key is converted to a LAK with permissions to add_request_and_confirm This is fine, because the full access key for seed phrase is and will always be a full access key.
See example here: https://exp

[2020-10-19 14:17] mattlockyer opened #1056 "User can create, fund and sign in to implicit account"
## Story

As a USER who wants to get off exchange / other wallet and into NEAR Wallet, I want to create an account in the NEAR wallet, fund it and then transfer my funds to that account, so I can move my assets into the NEAR Wallet.

## Acceptance Criteria

- [ ] User can create implicit account via seed phrase
- [ ] Seed phrase is verified
- [ ] User sees funding accountId and can fund account
-

[2020-10-19 14:57] corwinharrell commented on #1019
@marcinbodnar can this be closed if it is a addressed in #1029?

[2020-10-19 15:18] kcole16 commented on #1019
Just linked the issue in the PR, so it will be closed once it's merged

[2020-10-19 15:25] marcinbodnar commented on #1019
@kcole16 thank you

[2020-10-19 16:08] corwinharrell commented on #1056
Alright so I walked through this in its current state to provide some feedback through the UX lens. Here is my [video recording](https://streamable.com/z5qyiy) with moment-to-moment commentary if you'd rather watch than read (or both).

## UX Audit
1. `/create-implicit`
    - Starting at seed phrase setup is jarring, there is no introduction to the user to indicate that they are creating a new acc

[2020-10-19 16:11] kcole16 commented on #1056
@corwinharrell I should've been more clear on this! This is very much a temporary solution, as we need something ASAP to enable users to withdraw from exchanges, which is currently nearly impossible for the average user.

We should discuss separately how we want to rework the main account creation flow to incorporate implicit accounts, as all newly created accounts (if the user doesn't have an exi

[2020-10-19 16:13] corwinharrell commented on #1056
@kcole16 gotcha, alright so given that context, what out of the above do we think is important enough to address for the first cut?

[2020-10-19 16:27] kcole16 commented on #1056
Key assumptions of this user persona:
- They do not have an existing NEAR account
- They have bought NEAR on an exchange, or plan to do so immediately

This user should not encounter steps `3` and `4`. For users with an existing account, we should target https://github.com/near/near-wallet/issues/823.

I think step `6` is the most confusing. We designed this workaround with a specific goal of mini

[2020-10-19 16:44] #1019 closed

[2020-10-19 16:49] corwinharrell commented on #1056
Cool thanks for the additional context. So with the caveat that we don't want to be adding a ton of new stuff to the wallet to accomplish this, my biggest question is:

Is there any way for us to present messaging to the user to help set context? Example: for #1, when we ask the user to setup the "inherent" seed phrase, can we preface this with a temporary view or message of any kind? It still fee

[2020-10-19 16:51] #1028 closed

[2020-10-19 18:22] corwinharrell commented on #1056
@kcole16 @mattlockyer At minimum, let's make the following changes to `fund` to make it more clear that there has been a state change before and after funding:

![fund implicit account](https://user-images.githubusercontent.com/5934188/96495918-8d0dbb80-1216-11eb-9265-084a4f19240b.jpg)

[2020-10-19 18:39] mattlockyer commented on #1026
Just want to keep track of this:

![image](https://user-images.githubusercontent.com/321340/96497545-b4a55980-11ff-11eb-9b06-9759b0c5db11.png)
![image](https://user-images.githubusercontent.com/321340/96497568-bc64fe00-11ff-11eb-8217-557b9b602379.png)
![image](https://user-images.githubusercontent.com/321340/96497578-c1c24880-11ff-11eb-9774-a9c8a6d60060.png)

[2020-10-19 18:40] mattlockyer commented on #1056
https://github.com/near/near-wallet/pull/1059

[2020-10-21 00:00] #638 closed

[2020-10-21 00:11] #932 closed

[2020-10-21 00:12] #875 closed

[2020-10-21 00:12] #754 closed

[2020-10-21 00:13] #682 closed

[2020-10-22 08:38] #755 closed

[2020-10-22 08:38] #1022 closed

[2020-10-22 08:40] #981 closed

[2020-10-22 22:01] kcole16 opened #1078 "Update copy button on "Receive" page to copy account ID only"
### Overview
Clicking the "Copy" button on `/receive-money` should copy the user's account ID only, not the URL.

Users have been getting somewhat confused/annoyed with copying the entire `/send-money` URL, especially when trying to deposit from an exchange with an implicit account

[2020-10-22 22:19] #1042 closed

[2020-10-22 22:22] #1050 closed

[2020-10-23 08:35] frol opened #1082 ""Unknown App" when log in with near-cli"
**Problem**

![image](https://user-images.githubusercontent.com/304265/96975746-49a29e00-14f1-11eb-9f1b-3474a90a6f82.png)

**Expected Behavior**

It should display "NEAR CLI" as passed in the URL (the URL has `?title=NEAR+CLI`

**Steps to reproduce**

1. `env NEAR_ENV=mainnet near login`

[2020-10-23 21:09] kcole16 opened #1086 "Disable 2FA"
### Overview
Many users have setup 2FA, only to realize they later want to:
-  Use Ledger instead
-  Continue without 2FA
-  Create a new account and withdraw their funds

We should allow users to disable (and re-enable) 2FA after setting it up.

### Acceptance Criteria
- [ ] Users can disable 2FA
  - [ ] User can sign TXs with localStorage key
  - [ ] Recovery keys still work
  - [ ] State stake

[2020-10-26 17:44] #1010 closed

[2020-10-26 17:45] #938 closed

[2020-10-26 21:57] kcole16 opened #1101 "Support China-based Users"
### Overview
Users in China are having difficulty accessing the wallet. All render.com services (frontend, contract-helper, RPC, Explorer) are inaccessible. Users over VPN are struggling to receive SMS messages.

### TODOs
- [ ] Switch main wallet to use Netlify (accessible in China)
- [ ] Have contract helper proxy endpoint for China (and use it automatically when needed)
- [ ] Make sure RPC also

[2020-10-27 21:20] #254 closed

[2020-10-27 21:20] #67 closed

[2020-10-28 15:53] kcole16 opened #1111 "Add the ability to remove Ledger any time Ledger is enabled"
### Overview
If a user enables Ledger on their account from the start, or sets the Ledger as their sole recovery method at any time, they are stuck with it. We should fix the existing issues with Ledger and adding recovery methods, and display all recovery methods at all times.

### Stories
As a user, I want the ability to remove my Ledger from my account, so I can more easily transact.

### Accep

[2020-10-28 19:51] #1056 closed

[2020-10-28 19:51] #954 closed

[2020-10-28 20:04] kcole16 commented on #1082
@frol We intentionally do not display the title, as that can easily mislead users.

@marcinbodnar We should display something like `NEAR CLI` when the `referrer` is `localhost`, as this is a special case

[2020-10-28 20:05] kcole16 commented on #1055
@mattlockyer Do we think this is still an issue?

[2020-10-28 20:06] kcole16 commented on #1024
Also can't repro. Is this still an issue @ilblackdragon?

[2020-10-28 20:07] kcole16 commented on #911
@marcinbodnar Can we close this?

[2020-10-28 20:16] mattlockyer commented on #1055
Users never responded and could not repro.

Haven't had a **seed recovery** issue since.

[2020-10-28 20:16] #1055 closed

[2020-10-28 20:33] marcinbodnar commented on #911
@kcole16 PR not merge yet, I linked this issue to PR

[2020-10-29 10:26] frol opened #1114 "Profile page for lockup contract should probably have the information about the locked balance"
**Problem**

Here is just a random lockup account: https://wallet.near.org/profile/7f86ec378296b21bb616cb2ee9cf0dcdd7b08ca7.lockup.near

![image](https://user-images.githubusercontent.com/304265/97555569-0ba4ee80-19b7-11eb-862d-656b7a529b2e.png)

Wallet profile page only displays the "native" balance of 35 tokens while there are 500+N delegated through the lockup contract (Explorer pulls that info

[2020-10-30 20:15] kcole16 opened #1121 "Email/phone recovery doesn't work for some implicit accounts"
**Problem**
During account creation, users can exit the flow early during the funding step, and will get stuck if they've chosen email recovery (because the account name is incorrect/doesn't exist yet).

**Expected Behavior**
Users should be able to recover with email at all times, even if they've not yet created the named account.

**Steps to reproduce**

1. Go to `/create`
2. Enter a username
3.

[2020-10-30 20:21] kcole16 opened #1122 "Staking rewards aren't displayed correctly for some 2FA accounts"
**Problem**
We can't accurately calculate the staking deposit for 2FA accounts, and the workaround is to store this in localStorage. Many users are erasing the localStorage workaround (for various reasons), and then see their staking rewards balance as 0

**Expected Behavior**
Staking rewards should be accurate for all accounts.

**Steps to reproduce**

1. Create an account
2. Enable 2FA
3. Comple

[2020-10-30 20:30] frol commented on #1122
@mattlockyer could you describe what information one need to accurately compute the value? Is it the amount of tokens user staked/unstaked explicitly to subtract it from the current stake and thus calculate the rewards?

@kcole16 I want to make sure we talk about native staking experience not delegation, right?

[2020-10-30 20:37] mattlockyer commented on #1122
@frol Yes. We need what you described prior on Slack.

All 2FA accounts staking will have their `deposit,deposit_and_stake` method calls nested in a multisig request which has method name `add_request_and_confirm`

In order to get the correct "rewards" we to query all currently known deposits and then compute `total_staked - known_deposits`

[2020-10-30 20:41] kcole16 commented on #1122
@frol Sorry, I'm referring to delegation. We do not currently have any interface for native staking in the wallet (just generalized TX signing).

[2020-10-30 20:45] frol commented on #1122
@kcole16 can we rename the staking in Wallet into delegation to avoid ambiguity?

[2020-10-30 20:47] mattlockyer commented on #1122
@frol @kcole16 IMHO few use the term delegation.

Staking is the superset term, and your role is validator, delegator, ...

[2020-10-30 21:06] kcole16 commented on #1122
@frol Unfortunately, there is too much convergence on "Staking" as the superset term, and users expect to find

[2020-10-30 21:07] vgrichina commented on #1121
@kcole16 not sure what is the best solution in terms of UX here.

Search for all accounts using seed phrase if specific one wasn't found?

[2020-10-30 22:06] vgrichina opened #1124 "Sign in with Ledger UI layout issue"
**Problem**

<img width="845" alt="Screen Shot 2020-10-30 at 3 05 35 PM" src="https://user-images.githubusercontent.com/126710/97760871-75a9ba80-1ac1-11eb-8ac4-6c2eead6b131.png">

[2020-11-02 16:56] kcole16 opened #1129 "Improve "Available Balance" clarity"
### Overview
We've had some confusion about the `available balance` since we've subtracted the 2N "tolerance".

While we work on a more complete solution, we should remove the 2N "tolerance", and display the `available balance` like before.

### Acceptance Criteria
- [ ] `available balance` = `actual balance` - `minimum balance`
- [ ] Remove "Use Max" from staking flow
- [ ] If user enters an amou

[2020-11-02 18:04] kcole16 opened #1130 "Make it clear implicit account is temporary during account creation"
### Overview
We've had multiple users accidentally send 2+ transactions to their temporary implicit account, including after it was deleted.

We need to make it clearer that the implicit account should only be used once.

![Screen Shot 2020-11-02 at 10 02 51 AM](https://user-images.githubusercontent.com/5624527/97902617-b3415a00-1cf2-11eb-8a36-f8dec5d59fa6.png)

[2020-11-02 21:17] mattlockyer commented on #1086
Requires logic in near-api-js to support:
https://github.com/near/near-api-js/pull/445

Here is PR for wallet including instructions on how to test with above PR of near-api-js:
https://github.com/near/near-wallet/pull/1107

[2020-11-02 22:55] corwinharrell commented on #1130
@kcole16 are the transactions the users are sending just attempts to ensure that they are funded?

[2020-11-02 22:56] corwinharrell commented on #1086
@Patrick1904 we're using the same pattern here as we are for disabling other methods right? Just want to make sure nothing additional is needed since it's marked as needing design.

[2020-11-02 23:00] kcole16 commented on #1130
@corwinharrell In each of the three cases I've seen, the users
1. Sent ~3 NEAR to their temporary implicit accounts
2. Clicked "Continue", deleting the implicit account, and transferring the balance to the new named (.near) account
3. Sent a much larger amount of NEAR to the now deleted implicit account (which thankfully "restores" it, and I was able to walk them through recovering it)

[2020-11-02 23:01] kcole16 commented on #1130
I'm thinking something like this + additional copy on the "Continue" screen would be helpful

<img width="549" alt="Screen Shot 2020-11-02 at 11 16 16 AM" src="https://user-images.githubusercontent.com/5624527/97928609-45118d00-1d1c-11eb-8937-439805340921.png">

[2020-11-02 23:02] corwinharrell commented on #1130
@kcole16 I'm just trying to understand #3 a little better ie the motivation behind their decision:

[2020-11-02 23:05] kcole16 commented on #1130
Seems like they think the implicit address is permanently valid, and that it is the same as the named address

[2020-11-02 23:12] kcole16 opened #1131 "Read-only mode for accounts with 0 balance"
### Overview
To use the wallet right now, users need to have enough NEAR in their account to cover the cost of adding a new access key.

We should allow users to access their accounts any time they have a full access key or 2FA, regardless of their account balance. This includes viewing recovery methods, which currently requires a signature from the newly created localStorage key, but which should

[2020-11-03 05:42] #1078 closed

[2020-11-03 05:47] #1124 closed

[2020-11-03 08:30] vgrichina commented on #1121
@kcole16 @corwinharrell

Does this make sense for you as a fix or should we do anything else?

[2020-11-03 09:16] vgrichina commented on #1086
any reason not to point to specific branch temporarily in `package.json` while still in draft?

[2020-11-03 09:20] vgrichina commented on #1129
hmm, doesn't it just mean changing minimum balance from 2N to 0.1 N? Or am I missing something?

I think part of the problem is that there is also actual minimum balance (i.e. locked for storage), for this reason some math was off. + generally we are pretty off with info on staked tokens

[2020-11-03 09:24] vgrichina commented on #1131
We shouldn't do this. This somewhat breaks 2FA security, which depends on the fact that recovery key is not normally available on user's machine.

We can change how the connection to contract helper is made however, solving https://github.com/near/near-wallet/issues/772 in process as well. Basically if we store this connection in contract helper itself – we won't need to pay for gas to add new "vi

[2020-11-03 09:25] vgrichina commented on #1131
Maybe we should ask user to fund account during recovery (similar to funding during creation) if there isn't enough tokens?

[2020-11-03 11:47] vgrichina commented on #1130
@corwinharrell @kcole16  Looks like another common issue is that users don't wait enough for transaction to complete on exchange side (e.g. at least one user had such problem).

No idea why any exchange takes more than 6 seconds to withdraw NEAR though, but it is a problem in practice.

[2020-11-03 15:57] corwinharrell commented on #1129
@kcole16 in the scenario where a user inputs an amount equal to `Available balance` - `0.1N`, the transaction is guaranteed to fail is it not?

[2020-11-03 16:20] corwinharrell commented on #1121
A couple things I noticed within this flow:

1. On the `Fund Account` page, when I click `Copy Account ID`, the success toast that gets displayed says `Seed Phrase Copied`. Seems like an incorrect translation reference here?

2. When I attempt to recover my funded account via my email link before the named account has been created, I get an error that says `No accounts were found for this seed phr

[2020-11-03 16:54] kcole16 commented on #1121
@vgrichina I think the best solution is to search all accounts for the phrase first, and if none are found, try to use the one in the URL.

We could consider not handling this (if we suspected it may cause other issues), as we should try to prevent users from needing to recover the implicit account. Seems like it will happen at least occasionally though

[2020-11-03 16:58] kcole16 commented on #1129
@corwinharrell Why would it fail? The idea is that the 0.1N should be sufficient to cover gas costs (at least in most cases). If they input their actual full account balance, then it would fail.

[2020-11-03 16:59] kcole16 commented on #1131
@vgrichina Fair enough re: viewing recovery methods. At the very least, the user should be able to view their account at all times (especially since we've made `/profile` public).

We can also ask them to fund their account, but it should be while in some sort of read-only mode.

[2020-11-03 17:05] corwinharrell commented on #1130
First of all, this makes a lot of sense, especially coming from Ethereum, where I can have an ENS domain which is simply an abstraction on top of a regular `0x` address, where a user can use either/or to send or receive funds, since they represent the same account.

If this is the mental model some users are used to operating under, it's likely they think that the implicit account is simply the ra

[2020-11-03 17:12] corwinharrell commented on #1129
Sorry @kcole16 I meant to say greater than, not equal to:

My reason in asking is that we can simply disable the Stake/Send submission buttons if the amount exceeds `Available balance - 0.1N`, and display a simple message inline, rather than showing a more obtrusive warning once they've submitted.

[2020-11-03 18:02] corwinharrell commented on #1129
@Patrick1904 @vgrichina @kcole16 @mattlockyer Curious to know what you guys think of this approach:

![Network Fees](https://user-images.githubusercontent.com/5934188/98023350-c9bfe200-1dd4-11eb-9a84-cb255365a906.gif)

[2020-11-03 18:21] Patrick1904 commented on #1129
@corwinharrell I think this solves the issue quite well. A lot of users want to stake their full available amount, and making that easy and clear would be optimal IMO. Ideally, we'd prevent users from getting into a semi-error state (alt color maybe). However this solution does help educate users about the required minimal balance.

Another option that would allow us to keep the 'Use max' button m

[2020-11-03 18:23] corwinharrell commented on #1129
@Patrick1904 you must read minds cause I'm prototyping that variation as we speak 👌

[2020-11-03 18:37] kcole16 commented on #1130
@corwinharrell I like this direction. I've asked the three users for more details into their motivations, will report back once I have it.

Another approach (though higher lift) is to move the account name selection to the end. The flow would then be these steps:

1. Select recovery method
2. Verify recovery method
3. Fund implicit account
4. Optionally, create a named account

This might make it

[2020-11-03 18:53] corwinharrell commented on #1130
@kcole16 I like that as an alternative. Might be worth testing a prototype with a few folks.

[2020-11-03 18:56] kcole16 commented on #1130
@Patrick1904 @marcinbodnar Can we implement @corwinharrell's changes above ASAP? We can discuss further improvements separately, but given the number of users hitting this (five confirmed now), I think we need immediate updates as well

[2020-11-03 19:07] Patrick1904 commented on #1130
@kcole16 I can implement this now. I also suggest we adjust the copy around the amount. Is 3N the absolute minimum? Seems quite high. Also, "_at least_" may be risky. I would think we'd want the user to send a very small amount to this address to 'test it'. Anyway, can adjust the copy anytime, not blocking to implement.

[2020-11-03 20:32] corwinharrell commented on #1129
Given @Patrick1904's brief breakdown above, there is also the option to keep the `Use Max` function, and to provide 3 alternate states depending on the actions taken by the user when staking or sending funds (let's keep in mind that the _**ideal**_ scenario would be for us to display a cost breakdown where we show the actual calculated cost of the transaction, and that this solution would exists u

[2020-11-03 22:58] #1130 closed

[2020-11-04 00:48] vgrichina commented on #1131
@kcole16 very low key "solution" I guess can be just to redirect them to /profile if there is not enough funds to recover?

[2020-11-04 18:08] #1024 closed

[2020-11-04 18:12] kcole16 opened #1141 ""Available to Stake" is shown incorrectly when user has a lockup"
**Problem**
If a user has a lockup contract with some tokens unlocked (but still in a lockup), they are able to attempt to stake these from their base account. The TX appears to succeed, but their balance suddenly drops to zero. These users actually staked all of their tokens (including the unlocked ones) from the lockup, and the balance was misleading.

**Expected Behavior**
If a user stakes all

[2020-11-05 00:33] kcole16 opened #1143 "Redirect users with 0 balance to Profile page"
###  Overview
As part of #1131, we should redirect users with a valid recovery key and 0 balance to the read-only `/profile` page. After being redirected, they should receive a message that they need to fund their account before performing any actions on their account.

**Note:** We need to consider how to show their staking positions, and also how to deal with multiple accounts.

### Acceptance C

[2020-11-05 10:57] ihaid opened #1145 "Enabling seed phrase several times"
**Problem**
I managed to enable seed phrase several times. Sometimes while switching between accounts it shows that the seed phrase is disabled( in fact it is on). I attached a video with this, it is in low quality because I can't upload more than 10MB

**Expected Behavior**
It should be only one seed phrase

**Steps to reproduce**

[seed phrase.mov.zip](https://github.com/near/near-wallet/files/5

[2020-11-05 14:12] zavodil opened #1146 "UI bug for long account names in the Authorized Apps section"
**Problem**
Long account names in the Authorized Apps section are not fit
![Clip2net_201105160557](https://user-images.githubusercontent.com/38926321/98251608-f5d09400-1f89-11eb-8123-f26e3ade3826.png)

**Expected Behavior**
Trim long names?

**Steps to reproduce**

1. Navigate to https://wallet.near.org/authorized-apps for any account with lockup account
2. See broken design

[2020-11-06 19:55] #1141 closed

[2020-11-06 23:44] kcole16 opened #1147 "View fungible token balances"
### Overview
The first story of #456 is enabling users to view their balances of NEP-21 tokens. The scope of this issue is limited to a token whitelist, which we should create.

### Acceptance Criteria
- [ ] Users can view their balances of whitelisted NEP-21 tokens
- [ ] It works with wrapped NEAR contracts

### Design
https://www.figma.com/file/MOMOnm89esHGC4PMKDBEDw/Fungible-Token-Balances?node

[2020-11-06 23:55] kcole16 opened #1148 "Handle transaction signature requests without account names"
### Overview
Users should be able to sign transactions in the wallet without first selecting the account and "logging in" (creating an access key). For this to work, we need to support whatever solution is implemented in https://github.com/near/near-api-js/issues/448.

### Acceptance Criteria
If no account name is included in the serialized transaction:
- [ ] Users can choose which account to sign

[2020-11-09 18:58] ihaid opened #1152 "Need to confirm phone number twice"
**Problem**
when 2FA is enabled with a phone number and you add the same phone to the recovery methods you receive 2 SMS with codes, one confirming adding a phone number and the second one for 2FA. Same for email.

**Expected Behavior**
When you creating an account and starting with phone number as a recovery and then adding the 2FA with the same phone number you have to confirm only once, so it s

[2020-11-10 02:09] kcole16 opened #1154 "Add "Use Max" to Send"
### Overview
To make it easier to send the max amount of NEAR from your account, we should add the convenience button "Use Max" to the `/send-money` flow, similar to the one in the `/staking` flow.

### Acceptance Criteria
- [ ] Selecting "Use Max" on `/send-money` inputs `available balance` - 0.35 NEAR into the field
  - [ ] The user is notified that the amount entered leaves 0.35 NEAR in their a

[2020-11-10 02:46] #1111 closed

[2020-11-10 22:30] vgrichina commented on #1129
Some quick evaluation of other wallets:

- seems like Trust Wallet displays "Avaiable Balance" as main balance and then has separate number when you are trying to send
- Math Wallet just shows full balance everywhere. When you try to send full balance you get "Server error".

[2020-11-10 22:35] vgrichina commented on #1129
Moonlet I cannot test on my iPhone SE unfortunately as a form to enter seed phrase doesn't fit screen :(

[2020-11-10 22:37] mattlockyer commented on #1129
In terms of contract storage amount used I'd like to clean that up as well. The real fix for those that want to completely destroy and migrate out of an account doesn't exist at the protocol level.

Enable/disable is in my latest PRs which gets users to all but ~2 N available.

[2020-11-10 22:38] vgrichina commented on #1129
@mattlockyer not sure what do you mean. You totally can delete account on protocol level and claim all the tokens locked for storage.

[2020-11-10 22:43] kcole16 commented on #1129
@vgrichina Moonlet's implementation is somewhat similar to the one proposed here:
- Only one balance "All balance"
- Can select "Max", which enters a value of `"All balance" - 0.001 NEAR`
- If you enter the exact full balance, you get an error "Insufficient balance for fees"

[2020-11-10 23:30] vgrichina commented on #1129
Options we have:

1. reduce min balance without changing logic (solves main problem with 2 NEAR, inconsistency with Moonlet?)
2. ship current change (solves problem with 2 NEAR, introduces problem with not being able to spend "available" balance)
3. hide "available balance" altogether, at least with Send / Stake, until we have "use max"
4. current change, but "available balance" redefined to adjus

[2020-11-10 23:40] Patrick1904 commented on #1129
I think either 1 or 5. Both clearly come with some drawbacks and I can't say that I prefer one over the other.

[2020-11-11 06:38] vgrichina opened #1155 "Moderately sized address doesn't fit well on Receive page"
<img width="542" alt="Screen Shot 2020-11-10 at 10 36 53 PM" src="https://user-images.githubusercontent.com/126710/98777330-5bb38600-23a5-11eb-9a1e-1d07f94074b9.png">

Layout looks somewhat broken

[2020-11-11 16:39] mattlockyer commented on #1129
**Regarding @vgrichina options 1-5:**

Ranked in desirability **5,4,2,1,3**
assuming current change is @corwinharrell warning banner?

**Destroying Account and Transfer Max:**

I realize this is tangential to available balance for staking, but something users may be trying to do at a higher level when they want to "transfer max".

@vgrichina ahhh I see that now. I'm confused because there is no wa

[2020-11-11 16:39] Patrick1904 commented on #1155
I will fix the line height to 'normalize' this. @corwinharrell it would be great if we could re-design this page completely.

[2020-11-11 17:04] corwinharrell commented on #1129
Favored solution in response to some great user feedback received via Twitter (most of whom are from Ethereum):

Hiding/abstracting fees At the moment is potentially confusing because of the volatility of the fee. May always be better to show fee anyway for transparency/education.

### Summary
- Show actual available balance (ie no subtractions to account for anything)
- Allow "Send Max"
- When us

[2020-11-11 18:00] corwinharrell commented on #1129
@vgrichina @kcole16 @Patrick1904 @mattlockyer feedback welcome

<img width="1092" alt="Screen Shot 2020-11-11 at 12 57 34 PM" src="https://user-images.githubusercontent.com/5934188/98847022-c0122c00-241d-11eb-8007-dbc633f9f7ba.png">

[2020-11-11 18:13] Patrick1904 commented on #1129
@corwinharrell I think this looks good. The main thing still missing IMO is a way for the user to know what their actual 'available balance' is within this context, i.e. not having to calculate it. If the user decides to enter the amount manually.

Initially, I thought the 'reserved for fees' amount had been deducted from the 'available balance'

[2020-11-11 18:29] corwinharrell commented on #1129
Does this communicate better?

<img width="1070" alt="Screen Shot 2020-11-11 at 1 29 24 PM" src="https://user-images.githubusercontent.com/5934188/98849910-f2be2380-2421-11eb-8489-9af4bceed2b9.png">

[2020-11-11 18:34] Patrick1904 commented on #1129
@corwinharrell yes I like this a lot!

[2020-11-11 18:46] Patrick1904 commented on #1129
Something to take into consideration is that this would introduce the concept of TX fees for all users staking/sending, not just in the 'Use max' case. Currently it seems our 'reserved amount' will be around 0.35N. And users might think that the whole amount will be used to cover TX.

[2020-11-11 18:50] corwinharrell commented on #1129
@Patrick1904 yep that's something we should definitely keep in mind. I think the problem that this stems from is the fact that at the moment, we don't actually have a way to calculate actual txn costs, which is a shortcoming of ours for sure.

[2020-11-11 18:50] Patrick1904 commented on #1129
Also, this is probably not an issue while staking, but it's slightly confusing if I want to send you exactly 10N, since I'd like to just enter 10N and assume that's exactly what you're going to get.

[2020-11-11 18:54] corwinharrell commented on #1129
@Patrick1904 yeah that's fair and is something to think about, but IMO is the same conundrum that people encounter when they get to the register with a $5 bill to try and buy something with a price tag of $4.99, only to find out that taxes are 25cents. (Cue bashing of US sales tax, which is entirely warranted)

[2020-11-11 19:02] Patrick1904 commented on #1129
Yes, it's a terrible system. I know we don't want to introduce more 'balances', but it would simplify things greatly if we did show a contextual 'available balance', and still keep the 'reserved for fees' row below. Omitting the 'total stake' row. That way, the 'available balance' you see is what you can use, and what you enter is exactly what you'll send. If you add up the 'Available balance' and

[2020-11-12 02:49] #1155 closed

[2020-11-12 06:16] vgrichina commented on #1152
@kcole16 seems like very low priority, as during normal account creation you first setup recovery and only then 2FA. As I understand users can still complete the task as well (just slower).

@ihaid does this only happen with phone or e-mail as well?

[2020-11-12 10:28] ihaid commented on #1152
@vgrichina email as well, if for 2FA you have a phone then it happens with email for recovery and vice versa.
And yes, the user still can complete the task just will be bothered by waiting for two letters/SMS in a row.

[2020-11-12 23:48] jimmy3dita opened #1160 "Feature: add non-live validators to the staking list"
As a user, I want to be free to select the validator I'm going to stake.
However, the current interface won't allow me to manually type the name of my favorite validator unless it's already in the active set.

This feature would allow me to type the name of the validator (e.g. `lowfeevalidation.poolv1.near`), so I can stake with them even if they are not yet in the active set.

Acceptance criteria

[2020-11-13 00:50] vgrichina commented on #1152
@ihaid  hmm, not sure I understand this correctly. If you use 2FA with a phone but setup e-mail recovery, then it is expected that you both need to verify code on phone (to confirm 2FA) and code from e-mail (to confirm e-mail).

[2020-11-13 08:01] ihaid commented on #1152
Sorry, it was a typo. I edit the comment, now everything is correct.

[2020-11-16 16:15] corwinharrell commented on #1129
@Patrick1904 I'm on board for that solution, but would urge that we be intentional about the language that we use and say "Available to send" on this view. That way `Available to send + Fee reserve = Available balance`, which seems to be just about as straightforward as we're going to get until we are able to calculate the actual cost of txn fees dynamically.

[2020-11-16 16:29] corwinharrell commented on #1129
Here's an example of the above proposed solution:

<img width="978" alt="Screen Shot 2020-11-16 at 11 26 31 AM" src="https://user-images.githubusercontent.com/5934188/99280020-e1e52780-27fe-11eb-9f4f-95f665050e6b.png">

[2020-11-16 18:18] #1035 closed

[2020-11-16 18:20] #825 closed

[2020-11-16 18:59] Patrick1904 commented on #1129
@corwinharrell I fully agree. I'll implement this once the user tests checks out.

[2020-11-16 20:08] kcole16 opened #1165 "Account creation flow: enabling "Test TX" user pattern"
### Overview
We've had many instances of users sending multiple TXs to the implicit account during account creation, even after pushing the recent changes to address this.

At this point, I think it's fairly clear we've broken the crypto "best practice" of first sending a test TX to an account, and then sending a larger one. I'm not sure we can address this with further copy and warnings, as we al

[2020-11-16 23:30] kcole16 opened #1168 "Increase 2FA threshold and make 2FA optional during setup"
### Overview
Many recent users of NEAR have < 100 NEAR in their accounts, and may get less value from locking up 35 NEAR to enable 2FA. These users are still prompted to enable 2FA during account creation if they fund their accounts with more than 36 NEAR. We should increase the threshold for prompting users, and allow them to "Skip" 2FA setup if they desire.

### Acceptance Criteria
- [ ] Users c

[2020-11-16 23:39] Patrick1904 commented on #1168
@corwinharrell I added 'needs design' label but let me know if it's just a 'Skip' link button below the main CTA and I'll add that.

[2020-11-16 23:43] #923 closed

[2020-11-16 23:44] #864 closed

[2020-11-16 23:44] kcole16 commented on #855
@zavodil Have you noticed this issue recently?

[2020-11-16 23:52] zavodil commented on #855
@kcole16 no but I didn't check logs, I just logout/login in this case now.

[2020-11-16 23:55] kcole16 opened #1169 "Add button to Profile to transfer tokens from lockup"
### Overview
Users with linear lockups (the majority of early users) have requested a way to withdraw unlocked tokens from their lockup accounts without needing to perform another action to trigger it (e.g. send, stake, etc).

We should provide a button on the `/profile` page to trigger a withdrawal of all unlocked tokens (minus the staked balance), and to destroy the lockup if there are no tokens

[2020-11-17 00:36] Patrick1904 commented on #1129
Also, @vgrichina @kcole16 @mattlockyer do we all agree that this is the best approach? Assuming user tests check out.

[2020-11-17 00:44] Patrick1904 commented on #854
Closing as `react-modal` is no longer installed.

[2020-11-17 00:44] #854 closed

[2020-11-17 01:04] Patrick1904 commented on #1145
@ihaid I've tried pretty hard to repro this without success. Is there any other info/tips you can give me to repro?

[2020-11-17 08:42] #1146 closed

[2020-11-17 12:07] zavodil opened #1174 "Bugs for accounts where if lockup doesn't exist"
**Problem**
Broken staking page if lockup doesn't exist. Empty rewards are really confusing!

**Expected Behavior**
Add workaround if lockup doesn't exist. Load all data and show staking rewards

**Steps to reproduce**

1. Login with account like `1e52914643fdd9b34619ce07328a8e8a8a94ecc785eddc312d684a44b7961386`
2. See error in the console `errors.js:18 Uncaught (in promise) Error: [-32000] Server

[2020-11-17 13:05] ihaid commented on #1145
@Patrick1904 I will try once again to get to this state and then maybe I will have more info.

[2020-11-17 20:23] kcole16 opened #1175 "Add functionCall args to /sign detail page"
### Overview
If a user is signing a transaction with a `functionCall`, and doesn't have 2FA or Ledger enabled, they have no way of viewing the arguments for the `functionCall`. Since we have access to these from the transaction, we should display them on the `/sign` detail page.

### Acceptance Criteria
On `/sign`
- [ ] User can view the arguments for any `functionCall` actions after selecting "Mo

[2020-11-17 21:13] corwinharrell commented on #1129
Quick update: I'm in the process of scheduling participants to test with near the end of this week as a followup to the sprint, and will be validating this direction as a component of the next iteration of the staking flow.

[2020-11-17 21:46] kcole16 opened #1176 "Update "Help" button"
### Overview
Our "Help" button redirects users to our Discord (near.chat). This drops them in the #general channel with no context. We now have 3 ways users can seek "Help":

1. Emailing wallet@near.org
2. Joining the #near-wallet channel on Discord
3. Providing feedback via Typeform (TODO)

We should offer users each of these options, and provide context as to which they should choose.

[2020-11-17 22:54] kcole16 opened #1177 "Temporarily remove staking "Rewards earned" for users with 2FA"
### Overview
We need a short term fix for https://github.com/near/near-wallet/issues/1122 until the Indexer is ready. The proposed fix is to remove the "Rewards earned" calculation entirely for users with 2FA enabled. As many new and existing users expect to see this category, we should clearly state that the rewards are unable to be calculated, and offer a way for them to understand why "Learn mo

[2020-11-17 23:27] vgrichina commented on #1169
Doesn't feel like we have a lot of people doing it in practice:

[code]

I feel like currently bigger source of confusion is for cases when lockup account cannot be destroyed (i.e. linear release). We show "Unlocked" tokens in profile, but in reality these can be in either main account or lockup account + can be currently staked (which we don't show in Profile at all). If you have tokens staked –

[2020-11-17 23:32] vgrichina commented on #1129
yeah, I think this makes most sense

I only wonder whether we should pre-populate default value vs having 0 by default for staking. There are 2 options here:
1) optimize for staking max amount
2) optimize for fast withdrawals of rewards (e.g. leave about 1% unstaked)

[2020-11-18 00:11] vgrichina commented on #1169
@corwinharrell @kcole16 after thinking on this for a while, it seems to me that we need to have something like "TODO"  (or "Action Required", etc) section on wallet home page. It can include multiple potential items:
- Setup 2FA or Ledger (accounts > 1000 NEAR)
- Setup Ledger (accounts > 10k NEAR)
- Finish account creation (if dropped the ball before)
- Finish claiming linkdrop (if dropped the bal

[2020-11-18 01:28] corwinharrell commented on #1169
This is the key observation IMO and I think summarizes the problem well. That being said, in reality this is a large and complex **_set_** of problems, since not all of these actions should be considered, prioritized, handled in the same way, or even necessarily co-located.

I think it's easiest to want to create a sort of "catch all" solution for drawing a user's attention to a set of unresolved

[2020-11-18 06:39] #911 closed

[2020-11-18 08:50] NoobFromPH commented on #1168
Its doesnt make sense for a balance to be not liquid.

2FA are for the wallets security. There nothing to do with the balance?
Just like any other on chain wallet it doesnt require a min. Threshold. Yet they are putting more Security to the wallet without any balance matters.

Now the onchain wallet is more custodial imo

[2020-11-18 09:47] ihaid commented on #1145
@Patrick1904 so just go to the https://wallet.testnet.near.org/setup-seed-phrase/<account that already has seed phrase>/phrase and follow the steps

[2020-11-18 17:51] corwinharrell commented on #1168
@kcole16 how did we arrive at the 200 NEAR number?

[2020-11-18 18:44] mattlockyer commented on #1086
Issues outstanding:

- potential "bad keys" scenario, blocked on indexer (which probably won't work) and a fix
- rust sdk and contract runtime addition for safer key rotations

[2020-11-19 02:09] vgrichina commented on #1169
## At what point does each unresolved action become most relevant to the user?

I think I listed only things which don't have any specific point of relevance. The only exceptions I think are:
- Withdraw from lockup
- Unstake to be able to use unlocked tokens

which are dramatically more important when you are trying to send transaction and don't have enough tokens. "Withdraw from lockup" already h

[2020-11-19 02:18] kcole16 commented on #1169
@vgrichina @corwinharrell I agree with your points re: notifications and potentially usefulness/considerations around experience. I see that as orthogonal to this issue.

@vgrichina Sorry, I should've specified that this feature is aimed mostly at users with linear lockups that want to withdraw their currently unlocked funds without attempting to send or stake tokens. The delete functionality is s

[2020-11-19 03:27] vgrichina commented on #1169
@kcole16 I think proposed solution won't really help these users then. Like they'll see "Withdraw" button but it won't work because tokens are staked. I'd say that this is main source of confusion for linear lockup users, not just absence of button.

[2020-11-19 03:29] vgrichina opened #1182 "TODO-list for users (progressive security, cleanup, etc)"
@corwinharrell @kcole16 after thinking on this for a while, it seems to me that we need to have something like "TODO"  (or "Action Required", etc) section on wallet home page. It can include multiple potential items:
- Setup 2FA or Ledger (accounts > 1000 NEAR)
- Setup Ledger (accounts > 10k NEAR)
- Finish account creation (if dropped the ball before)
- Finish claiming linkdrop (if dropped the bal

[2020-11-19 03:29] vgrichina commented on #1182
Answers on @corwinharrell questions:

https://github.com/near/near-wallet/issues/1169#issuecomment-730078511

[2020-11-19 03:31] vgrichina commented on #1169
moved to https://github.com/near/near-wallet/issues/1182

it is relevant discussion for this issue however, as I think proper solution covering problems that users have in practice (like unlocked tokens still being locked up in staking) requires thinking about more than just withdrawal.

[2020-11-19 17:08] ihaid opened #1188 "Show accounts with 0 balance in the account list"
**Problem**
The current solution might be a bit confusing to the user - when I recover an account I know that I have 3 accounts, but only 2 were recovered. If I fund that account I need to recover it once again and this step is not obvious.

**Expected Behavior**
We can add an account to the account list with the additional note that it's not available and a small button to add it again

[2020-11-19 18:13] Patrick1904 commented on #1168
I'd say we don't need the user to confirm skipping 2FA since they can always enable it afterwards.

[2020-11-19 19:35] #147 closed

[2020-11-19 20:26] corwinharrell commented on #1129
Alright gang, here is the latest iteration of the staking (and new send) flow. The key difference here is we would default to showing `Available to Stake`, and allow the user to expand the details of this figure below the `Amount` field, where we display the breakdown of `Available Balance - Fee Reserve = Available to Stake`. This creates an experience where users can always see the explicit amoun

[2020-11-19 21:31] corwinharrell commented on #1169
@kcole16 Just so I have the right context, what does a linear lockup entail?

[2020-11-19 21:55] kcole16 commented on #1169
@corwinharrell Shifting this down in priority, as @vgrichina and I agreed to work on balances first before continuing on this (as we may be able to clear up most of the user confusion without necessarily implementing this).

[2020-11-20 01:27] kcole16 opened #1189 "Improve Balances"
### Overview
Our current implementation of NEAR balances has created confusion for some users. Much of this confusion may be due to our attempts to abstract certain complexities from the user, e.g. that "Locked" tokens are actually in a separate account, and resulting inconsistencies in these abstractions.

### Goals
1. Show the user all of the NEAR that their account controls
2. When the user ini

[2020-11-20 20:22] Patrick1904 commented on #1129
@corwinharrell can you please add a screen for `/send` too since it includes entering the receiver account ID. Same Figma file would be great.

[2020-11-22 08:37] #1143 closed

[2020-11-22 18:22] Patrick1904 opened #1195 "Add disclaimer to 2FA flow explaining that x NEAR will be locked up"
It's not clear that x NEAR will be locked up once the user enabled 2FA. It's especially problematic since you're currently not able to disable 2FA. We should show a disclaimer explaining to the user that x NEAR will be locked up until they disable 2FA.

[2020-11-22 18:25] Patrick1904 commented on #1195
@kcole16 @corwinharrell any thoughts on this? It seems it would help avoid a lot of confusion.

[2020-11-23 15:41] corwinharrell commented on #1177
@kcole16 what's the TLDR for why 2FA is the blocker for displaying rewards? Just wandering if we could incorporate something brief as the "why" part of the error description.

[2020-11-23 16:19] kcole16 commented on #1189
**Proposal:** Break out account balances

**Main Account**
- Actual balance
- Minimum balance
    - Storage minimum
- Staking balances
    - Total staked
    - Rewards earned
    - Pending
    - Ready to withdraw

**Lockup Account**
- Actual balance
- Minimum balance
    - Storage minimum
    - Locked minimum
- Staking balances
    - Total staked
    - Rewards earned
    - Pending
    - Ready to w

[2020-11-23 16:22] kcole16 commented on #1177
@corwinharrell We can't accurately calculate the amount of NEAR 2FA users staked initially (since we don't have access to the function call arguments for 2FA without the Indexer), which blocks us from calculating the rewards (total staked - initial stake).

[2020-11-23 16:43] corwinharrell commented on #1177
Done with design. Lmk if there's any feedback @Patrick1904 @kcole16:

![Unable to display rewards](https://user-images.githubusercontent.com/5934188/99989666-e40c3080-2d80-11eb-834f-b15d0667f9ee.gif)

Figma: https://www.figma.com/file/8RoBuGilnfstTDfTufN5To/Unable-to-Display-Rewards?node-id=0%3A1

[2020-11-23 16:46] corwinharrell commented on #1177
Also, I know it's not a part of this issues, but you'll see that I've been experimenting a little with removing the actual account names for the staking selector, in favor of labels that delineate `Wallet` vs `Lockup Contract`. This is just an experiment, and doesn't need to be implemented. I was just curious to see how this might feel. It was a suggestion made by @Patrick1904 in #1178

[2020-11-23 17:49] Patrick1904 commented on #1177
@corwinharrell this looks good to me. I will implement this today so that we get this out ASAP if you're ok with this @kcole16

[2020-11-23 17:52] kcole16 commented on #1177
Looks good!

[2020-11-23 18:09] corwinharrell commented on #1168
@Patrick1904 cool in that case feel free to just add a skip link underneath the "Continue" button with some margin-top

[2020-11-24 00:33] #1177 closed

[2020-11-24 05:21] vgrichina commented on #1195
<img width="610" alt="Screen Shot 2020-11-23 at 9 20 06 PM" src="https://user-images.githubusercontent.com/126710/100051931-bb605700-2dd1-11eb-8ee7-890d93b75bd7.png">

Feel like this intro need to include info about 35 NEAR being locked up. Also I feel like font is too bold to read (looks like heading), so maybe something can be adjusted.

[2020-11-24 09:18] vgrichina commented on #1101
@kcole16 seems like according to @ilblackdragon wallet is completely accessible in China now at main URL.

My understanding is that Render uses Google Cloud for everything except static websites, and so is similarly available (same as our RPC).

[2020-11-24 09:18] vgrichina commented on #1101
We still need to improve localization / Disable SMS potentially

[2020-11-24 09:21] #1082 closed

[2020-11-24 11:37] zavodil commented on #1154
Check validation code please, we have a problem right now with "Use Max" (find below). Probably it's because of Local
Culture settings.
![Clip2net_201124133713](https://user-images.githubusercontent.com/38926321/100089323-2c4b5180-2e5a-11eb-9f1d-9b29c3501f86.png)

[2020-11-24 16:49] ihaid opened #1214 "Strange records in Authorized apps section"
**Problem**
I have several accounts in the wallet, for account **kilo.testnet** I add an authorized app, for account **qw121.testnet** I don`t have any authorized app and when I switch between them I see wrong records in the authorized apps section on the summary tab.
After refreshing the page it is empty, as it should be.
![image](https://user-images.githubusercontent.com/38665104/100124401-4732b

[2020-11-24 16:55] ihaid opened #1215 "Special characters allowed in amount field on staking"
**Problem**
It is reproduced only on Firefox, Safari browsers
![image](https://user-images.githubusercontent.com/38665104/100126287-6df1f180-2e86-11eb-9954-fe91d2c35a7d.png)

[2020-11-24 17:06] ihaid opened #1216 "Authorized apps clickable but nothing happens on click"
**Problem**
When you move the mouse over the Authorized apps field it is shown that the field is clickable but nothing happens on click
**Expected Behavior**
Should be an action?

**Steps to reproduce**

1. Authorize some app on your account
2. Go to the Summary tab
3. Mouse over the Authorized apps field
![image](https://user-images.githubusercontent.com/38665104/100127124-739c0700-2e87-11eb-9f48

[2020-11-24 17:13] toddpierpoint commented on #1216
This appears to work fine for me. When I click on the an authorized app, the details for that app display on the right side of the page and allow me to deauthorize it.
<img width="1228" alt="Screen Shot 2020-11-24 at 11 11 21 AM" src="https://user-images.githubusercontent.com/73570885/100128482-f308e680-2e45-11eb-9e3a-a71e2c7e5477.png">

[2020-11-24 17:13] ihaid opened #1217 "Typo on /send-money page"
**Problem**
There is a weird word wrap on /send-money page
![image](https://user-images.githubusercontent.com/38665104/100128434-efe31a00-2e88-11eb-87c0-3d9446d7dc87.png)

**Expected Behavior**
Maybe better move the word "such" to the next line

[2020-11-24 17:16] ihaid commented on #1216
@toddpierpoint I guess you did it on /authorized-apps page but I did it on the main page in the Summary section

[2020-11-24 17:38] toddpierpoint commented on #1216
@ihaid Oh, OK. I see now. Yes, it does appear that there needs to be an action. I suggest navigating to the Authorized Apps page with the selected app details visible.

[2020-11-25 00:35] #1168 closed

[2020-11-25 15:43] corwinharrell commented on #1195
@vgrichina @Patrick1904 is the 35N requirement outlined anywhere such as in our docs? It would be nice to not have to go into depth in the UI itself, but to make a brief statement, and then point to somewhere with a more elaborate technical explanation.

[2020-11-25 16:32] ihaid opened #1227 "2FA shows as disabled when actually it’s enabled"
**Problem**
2FA shows as disabled when actually it’s enabled

**Expected Behavior**
2FA should be enabled

**Steps to reproduce**

1. Create an account using seed phrase
2. Enable 2FA
3. Go to _/profile_ page
4. Click on enable phone recovery method
5. Enter your phone number
6. Enter the SMS code
7. Then you **don't** need to confirm with 2FA code, click "Cancel" button instead
8. Go to /profile

[2020-11-25 17:24] corwinharrell commented on #1195
<img width="1107" alt="Screen Shot 2020-11-25 at 12 23 51 PM" src="https://user-images.githubusercontent.com/5934188/100261657-1781c300-2f19-11eb-9d36-c642fa30fac2.png">

cc @Patrick1904

[2020-11-26 01:10] Patrick1904 commented on #1195
@corwinharrell yes we have this page that explains contract storage requirements: https://docs.near.org/docs/concepts/storage

The design looks good to me 👍

[2020-11-30 10:15] ilblackdragon commented on #1101
Is there an issue tracking wallet selection process? There is a fork version of the wallet with Chinese localization already and but apps and other links send to current wallet.

[2020-11-30 22:33] marcinbodnar opened #1238 "Check account confirmed state"
**Problem**
Check whether the account confirmed local storage state is still needed and working properly.

[2020-11-30 22:39] marcinbodnar opened #1239 "Refactor Redux state to be keyed by accountId and new folder/file structure"
The main problem that we want to solve is that we can store the state for one account only, which causes problems with handling many accounts, also we have limited possibilities in preparing new functionalities.

The main benefit will be that we can store the status for multiple accounts, so after switching accounts we can display the application state immediately, rather than wait for the data to

[2020-11-30 22:40] marcinbodnar opened #1240 "Refactor Redux actions into more manageable smaller modules"

[2020-11-30 22:40] marcinbodnar opened #1241 "Re-think createActions usage"

[2020-11-30 22:41] marcinbodnar opened #1242 "Extract wallet.js into Redux actions"

[2020-11-30 22:41] marcinbodnar opened #1243 "Extract complex logic from components into Redux actions/thunks"

[2020-11-30 22:42] marcinbodnar opened #1244 "Refactor component to Presentational / Container (Smart / Dumb)"

[2020-12-01 16:14] ihaid opened #1248 "Resend 2FA code button is not working"
**Problem**
Nothing happens when you click the "resend" button on 2fa verify modal window
![image](https://user-images.githubusercontent.com/38665104/100765754-858a2680-3400-11eb-86bb-7fc99a161068.png)

**Expected Behavior**
Code must be sent again

**Steps to reproduce**

1. Create an account
2. Enable 2FA
3. Go to /send-money
4. Send some Near
5. Wait for the first confirmation
6. Click on the "

[2020-12-02 00:24] vgrichina commented on #1248
@ihaid please make sure the fix works ok

[2020-12-02 08:44] ihaid commented on #1248
@vgrichina I still see this issue on testnet

[2020-12-02 16:46] Patrick1904 commented on #1160
@mattlockyer I believe this was shipped with the last release?

[2020-12-02 16:48] mattlockyer commented on #1160
Yes thanks for flagging

[2020-12-02 16:48] #1160 closed

[2020-12-02 16:58] kcole16 opened #1253 "Calculate lockup balances from contract state"
### Overview
Lockup balances are incorrect prior to users calling `check_transfer_vote` which only occurs prior to a balance-changing action (transfer, staking). This is confusing to users, who's balances are incorrect for at least some period of time.

Per @ilblackdragon

[2020-12-02 18:13] #1248 closed

[2020-12-02 23:14] vgrichina commented on #1253
Fixed here https://github.com/near/near-wallet/pull/1225

[2020-12-03 01:23] Patrick1904 commented on #1214
@vgrichina @marcinbodnar @kcole16, do you have any idea what's happening here? I've seen this myself and not quite sure why/when this happens.

[2020-12-03 19:14] marcinbodnar commented on #1214
@Patrick1904 apparently, this shows a list of transactions - in this case `kilo.testnet` is a tx receiver. Also, it is shown only after switching account (it's not visible right after page refresh). Let me handle that.

[2020-12-04 01:00] kcole16 opened #1259 "Display more transaction info on /sign screen"
### Overview
The `/sign` screen currently only highlights the amount of NEAR being transferred and the referrer URL of the app requesting the transaction. Users must select "More Info" to see further information about the actions in the transaction.

Given the majority of our users (both now and for the foreseeable future) are somewhat crypto familiar, we should expose more information upfront abo

[2020-12-04 20:36] mattlockyer opened #1264 "Uppercase wallet profile links don't load"
**Problem**
Uppercase wallet profile links don't load.

**Expected Behavior**
They load.

**Steps to reproduce**

1. https://wallet.near.org/profile/MattLock.near doesn't load
2. https://wallet.near.org/profile/mattlock.near does

We need to lowercase the args typed in. Should probably do a history push as well to re-write the URL for the user.

[2020-12-07 23:16] #1195 closed

[2020-12-08 01:35] Patrick1904 commented on #1227
@ihaid, I'm trying to repro this without much success. These are the steps:
1. Created an account w/ seed phrase
2. Enabled 2FA (I used email)
3. Started adding phone/SMS as a recovery method
4. Once the 2FA modal shows up confirm enabling the recovery method  -> click 'cancel'
5. Navigate to `/profile`
6. 2FA still shows as active

Are you still able to repro using the steps above?

[2020-12-08 03:58] #1216 closed

[2020-12-08 03:58] #1264 closed

[2020-12-08 06:00] #1214 closed

[2020-12-08 08:23] #1129 closed

[2020-12-08 08:23] #1154 closed

[2020-12-08 08:23] #1217 closed

[2020-12-09 03:16] biluohc opened #1271 "Can it support 24-word mnemonics, the current website only supports 12-word mnemonics?"
## Story

My wallect is generated by TrustWallet, the `seed-phrase` is 24 words.

But https://wallet.near.org/recover-seed-phrase only support 12 words, I can't login in and process locked funds

[2020-12-09 04:26] mattlockyer opened #1272 "staking route should reset when switching accounts"
**Problem**
I'm looking at a validator page and I switch accounts. I have no stake with the validator, so I stay on the page but see the old data and then eventually the data disappears (after redux update).

**Expected Behavior**
I get redirected to /staking when switching accounts.

**Steps to reproduce**

1. Go to a specific validator page
2. Switch accounts

[2020-12-09 14:46] frol commented on #1189
I like the proposal to explicitly separate the main account and the secondary accounts!

Please, keep in mind that in a general case, a single account may potentially have more "secondary" accounts, and also some ERC20 or other assets. I suggest we take that into account and let users add more secondary accounts right in the UI (at least, design with that in mind)

[2020-12-09 16:12] ihaid commented on #1227
@Patrick1904 Seems like it’s fixed, I can’t repro.

[2020-12-09 16:12] #1227 closed

[2020-12-09 16:56] Patrick1904 commented on #1272
@corwinharrell any thoughts on the proposed UX change?

[2020-12-09 17:04] corwinharrell commented on #1272
@mattlockyer is this something that someone has given us feedback about? I want to understand the motivation here better. In the future, validator profiles will be more rich with validator data. Consider the following scenario:

1. I'm on account A (whatever account I was on when I used the wallet last)
2. I start looking through validators
3. I see one that I'd like to stake with, but decide I wa

[2020-12-09 21:17] mattlockyer commented on #1272
Ya that's fair.

@Patrick1904 we may want to reset the redux state the moment you switch and loading of validators starts.

Otherwise you're sitting there looking at data from prev account.

[2020-12-10 04:43] ilblackdragon opened #1276 "Interrupted login in wallet results in non captured error"
# Steps to reproduce

1. Open berryclub.io
2. Click log in
3. Click "Approve" and right after Esc (or turn off internet or refresh the page)
4. Click "Approve" again

Observe that in console there is a warning that given key is already in use but Wallet doesn't show anything and doesn't try to finalize.

[2020-12-10 09:04] ilblackdragon opened #1278 "Add a message on the page with seed phrase that user will need it"
On the screen with securing your seed phrase - it would be good to have a message saying that you will need to confirm that you have it on the next screen.

People usually would store such seed phrase (in 1password, piece of paper, whatever) somewhere and close it before clicking proceed... And then realize they need to get the phrase again.

[2020-12-10 09:08] ilblackdragon opened #1279 "Inactive button continue on Setup Phrase"
**Problem**
Button "Continue" is inactive on Setup Phrase on BetaNet Wallet

<img width="526" alt="Screen Shot 2020-12-10 at 1 06 32 AM" src="https://user-images.githubusercontent.com/175486/101750595-16f23c00-3a84-11eb-9f99-db505d7cce48.png">

**Expected Behavior**
Button is active.

**Steps to reproduce**

1. Create new account on BetaNet already having an account
2. Choose Seed Phrase
3. For so

[2020-12-10 20:53] vgrichina commented on #1271
should be possible to support, I'll check whether we can do easy fix

[2020-12-10 22:29] kcole16 commented on #1278
This might happen to non-crypto users, but is highly unlikely for anyone that has setup a seed phrase before (as confirming is the standard).

Certainly open to revisiting the copy in general, cc @corwinharrell @jimmy3dita

[2020-12-10 22:31] kcole16 commented on #1279
Possibly related? https://github.com/near/near-wallet/pull/1265#issuecomment-742827036

[2020-12-10 22:34] kcole16 commented on #1174
@zavodil Do you have 2FA enabled on this account? I think the lack of staking rewards is due to this issue: https://github.com/near/near-wallet/issues/1122

[2020-12-10 23:36] zavodil commented on #1174
It's not my account.
Check it yourself: 1e52914643fdd9b34619ce07328a8e8a8a94ecc785eddc312d684a44b7961386

It doesn't have 2FA but it doesn't show rewards. still.
![Clip2net_201211013249](https://user-images.githubusercontent.com/38926321/101842571-04920400-3b51-11eb-99ac-6b0cb7ead101.png)
![Clip2net_201211013339](https://user-images.githubusercontent.com/38926321/101842568-03f96d80-3b51-11eb-9857-

[2020-12-11 06:54] vgrichina commented on #1271
@kcole16 I feel this is pretty important as same problem would also happen to people who have setup accounts with Ledger but don't have access to device anymore

[2020-12-11 07:01] #1279 closed

[2020-12-11 08:10] biluohc commented on #1271
[code]
Thank you for your attention, but you should note that the default path of the mnemonic phrase and ledger is different,
and you may consider let user to choose the path.

[2020-12-11 17:29] corwinharrell commented on #1278
I'm in favor of adding something like "You'll need to verify your seed phrase before creating your account."

[2020-12-11 20:01] kcole16 commented on #1189
@corwinharrell @Patrick1904 What are your thoughts on implementing the proposal above in the current `/profile` as a quick fix? And then a more comprehensive balance/UI update as a separate issue? (which I believe @corwinharrell already has some plans for)

[2020-12-11 20:54] corwinharrell commented on #1189
@kcole16 I'm a bit concerned with having the profile just be a giant wall of balances that the user has to parse :/ But let me explore the lowest-lift option for just displaying these balances on the profile in a semi-digestible manner. Can share EOD Monday?

[2020-12-12 00:30] vgrichina commented on #1271
yes, we'll do this in future updates to wallet

[2020-12-12 04:29] #1175 closed

[2020-12-12 07:05] vgrichina commented on #1271
@biluohc I checked this and it looks like we don't impose any specific limit on seed phrase when recovering.

Is the problem different HD path as you noted in your second comment?

[2020-12-12 11:13] biluohc commented on #1271
Oh, I used to try login with a new seed-phrase without near balance, which given  an error.
I  login  success when i use  the seed-phrase  with funds now,  Thanks

[2020-12-14 14:57] Kisgus opened #1288 "Enable to locate tx hash right after confirming a tx"
## Story

As a guy working at the NEAR Foundation I really need a shortcut to locate the tx hash, so that I can copy the link and include it in the documentation for reach tx

## Background

I currently have to go to the main explorer or my own account and navigate to the recent tx to find it right now, this is alot of unnessary clicks :)

## Confirmation screen

Right now I dont see the tx hash o

[2020-12-15 13:13] corwinharrell commented on #1165
https://www.figma.com/file/y1kyUHVr11lUmDkDSzMKU8/Create-New-Account?node-id=91%3A533

[2020-12-16 19:33] Patrick1904 commented on #1189
I made some minor adjustments, any thoughts on this? @kcole16 @corwinharrell.

**Main Account**
- Storage Minimum
- Available Balance
- Staking Balances
    - Total Staked
    - Rewards Earned
    - Pending Release
    - Ready to Withdraw

**Lockup Account**
- Storage minimum
- Locked Balance
- Unlocked Balance (w/ a ‘Withdraw’ button -> transfers to ‘Available Balance’)
- Available Balance
- Stak

[2020-12-16 19:37] corwinharrell commented on #1189
I'm fine with that although the withdraw functionality increases scope. Aren't we going for the bare minimum fore before Christmas?

I'd also suggest some styling to indicate a hierarchy/breakdown of each total balance and how it is computed.

![image](https://user-images.githubusercontent.com/5934188/102397636-21449680-3fac-11eb-9bd1-ee352a185b4e.png)

[2020-12-16 19:38] corwinharrell commented on #1189
I personally don't think we should include staking rewards in balances, since right now those are automatically re-staked. I think staking balances should be simplified to Staked and Unstaked(awaiting withdrawal)

[2020-12-16 19:39] Patrick1904 commented on #1189
Yes I meant more just what actual info to include, and grouping, not necessarily how we display it. I agree with your design proposal. The reason I think we should add the 'withdraw' button to 'unlocked balance' is because several users have found this confusing and have not been able to actually 'use' the 'unlocked' balance.

[2020-12-18 22:08] #1253 closed

[2020-12-18 22:12] kcole16 opened #1296 "Recover all accounts from recovery link"
### Overview
To mitigate any cases of users accidentally sending funds to a deleted implicit account, we should recover all accounts with the recovery link key on them, similar to seed phrase recovery.

### Acceptance Criteria
- [ ] Recovery links do not specify an account to recover
- [ ] All accounts with the public key in the recovery link (derived from the seed phrase in the link) as a FAK are

[2020-12-18 22:32] kcole16 opened #1297 "Store funding accounts in localStorage"
### Overview
As part of https://github.com/near/near-wallet/issues/1165 mitigation, we should store the funding account (implicit account) locally, and check if it exists periodically. If it does exist, it should be added to the active account list.

### Acceptance Criteria
- [ ] If a user sends NEAR to the funding account after it's deleted, it appears in the account list

[2020-12-19 01:47] vgrichina commented on #726
Just realized that the proposed flow also fails with 2FA (and same for signing requests).

Wonder what is the best way to resolve this.

Maybe we should change the 2FA flow to be "contract helper creates multisig request, wallet confirms?". Wonder what your thoughts on that @mattlockyer @abacabadabacaba? Maybe you have some other ideas how to solve this issue however.

[2020-12-21 17:47] abacabadabacaba commented on #726
One approach is to include a signed transaction from the contract helper as well. Or to implement multiparty signature generation so that the user and the contract helper jointly sign the same transaction.

[2020-12-22 03:15] ilblackdragon opened #1304 "Pools list has weird formatting for fees"
**Problem**

See screenshot:
<img width="503" alt="Screen Shot 2020-12-21 at 7 13 32 PM" src="https://user-images.githubusercontent.com/175486/102844645-b38bd680-43c0-11eb-925e-363ac44be7a5.png">

**Expected Behavior**
Having "7% fee" for ashert.poolv1.near and "0% fee" for baziliknear.poolv1.near

**Steps to reproduce**

1. Open wallet with an account
2. Stake with your account https://wallet.nea

[2020-12-22 03:17] ilblackdragon opened #1305 "Weird formatting in details about validator"
**Problem**
See screenshot

<img width="897" alt="Screen Shot 2020-12-21 at 7 15 39 PM" src="https://user-images.githubusercontent.com/175486/102844798-0e253280-43c1-11eb-9540-8a8af6f604dc.png">

**Expected Behavior**
Not having these visual issues

**Steps to reproduce**

1. Open wallet with an account
2. Go to staking
3. Select specific pool with longer name - https://wallet.near.org/staking/bui

[2020-12-22 03:18] ilblackdragon opened #1306 "Unstaking can take up to 4 epochs"
Currently the message says `Funds pending release will be made available after ~36-48hrs (3 epochs)`
When it's possible it will take up to 4 epochs, with each epoch ~12-13 hours at the current moment. E.g. up to 52 hours.

[2020-12-22 03:20] ilblackdragon opened #1307 "Unexpected behavior on staking pool page"
When selected specific staking pool like https://wallet.near.org/staking/buildlinks.poolv1.near, every time I expect to enter the amount I want to stake there.
E.g. look at `Total amount staked` section to end it a button to stake there or something.
It takes me ~30-40 seconds to realize to click on "Stake with validator" -- because that button really looks like more like a header for the section.

[2020-12-22 03:23] ilblackdragon opened #1308 "400+ RPC requests until staking page is ready"
When opening the staking page for specific pool - https://wallet.near.org/staking/buildlinks.poolv1.near/stake, it takes 400 RPC requests to get to the state when "Amount" is editable.

<img width="581" alt="Screen Shot 2020-12-21 at 7 21 36 PM" src="https://user-images.githubusercontent.com/175486/102845176-cf43ac80-43c1-11eb-8979-5873594e9005.png">

[2020-12-22 03:25] ilblackdragon opened #1309 "Refreshing page resets staking with a lockup"
Steps to reproduce
1. Open account with lockup
2. Go to staking and select lockup
3. Select specific pool
4. Go into staking with that pool
5. Refresh the page

Observe that available balance changes from lockup balance to normal account balance.

[2020-12-22 07:59] ilblackdragon opened #1313 "Failed to fetch error during staking when there is no issues on the network"
# Observed

Trying to stake with a lockup, and getting "Failed to fetch" error while all the RPC responses are successful:

<img width="581" alt="Screen Shot 2020-12-21 at 7 21 36 PM" src="https://user-images.githubusercontent.com/175486/102845675-e59e3800-43c2-11eb-9996-a0ff0a3ec77f.png">

Error in the console:
[code]

# Steps to reproduce

1. Account with lockup
2. Stake with lockup for specific

[2020-12-22 18:38] mattlockyer commented on #1308
Working on a PR here to improve performance of /staking while we only load everything once when the user navigates to the route and again when the user performs a staking action, it's a lot of calls.
https://github.com/near/near-wallet/pull/1314
Couple of notes:
1314 removes an extra call to getValidators that results in all validators being pulled (reduces RPC calls by 53 on testnet and probably

[2020-12-22 19:30] mattlockyer commented on #1308
Can confirm RPC requests cut down significantly by https://github.com/near/near-wallet/pull/1273

[2020-12-23 01:51] ilblackdragon opened #1316 "Large js gets redownloaded on reopening the page"
Currently on almost every load of the page, 700kb+ of JS gets redownloaded.
On not very fast internet Wallet can take up to 15s to load (google.com loads in 4s), reloading another ~5-10s

<img width="484" alt="Screen Shot 2020-12-22 at 5 46 06 PM" src="https://user-images.githubusercontent.com/175486/102949701-bd274400-447d-11eb-8385-53adb6598bfc.png">

From China it's even worse:

<img width="578

[2020-12-23 02:28] vgrichina commented on #1316
700k of JS is not a lot these days, e.g. Twitter loads more than 1 MB of JS.

this isn't the case for me in either Safari or Chrome. It has etag so any browser properly supporting HTTP shouldn't be re-downloading whole file unless it is updated

maybe it is somehow messed with by firewall though? (not clear how without removing HTTPS)

are you sure it happens outside of incognito (which has to rel

[2020-12-23 17:58] kcole16 commented on #1306
Addressed here: https://github.com/near/near-wallet/pull/1302

[2020-12-23 20:45] #1306 closed

[2020-12-24 15:37] ihaid opened #1323 "Send button not clickable"
**Problem**
Send button is not clickable after sending tokens on that page:
![image](https://user-images.githubusercontent.com/38665104/103096818-d959eb00-460d-11eb-8157-3bc29d77f736.png)

**Expected Behavior**
Button is clickable

**Steps to reproduce**

1.  From /profile click on send button
2. Send some amount of tokens to be redirected to the "success page"
3. Click on the send button again
4.

[2020-12-24 20:10] kcole16 opened #1324 "TX signing isn't working"
**Problem**
The /sign page is displaying a blank screen with the following error in console
[code]

**Expected Behavior**
The /sign page should display the transaction, and allow the user to confirm or deny

**Steps to reproduce**

1. Go to berryclub.io
2. Login
3. Click "Buy 25 for 1 NEAR"

[2020-12-24 21:57] vgrichina commented on #1324
Reverted release for now https://github.com/near/near-wallet/pull/1325

[2020-12-24 21:57] vgrichina commented on #1324
Fixed in latest near-api-js as well https://github.com/near/near-api-js/releases/tag/v0.36.2

So going to re-publish release

[2020-12-24 22:15] vgrichina commented on #1324
Fixed in https://github.com/near/near-wallet/pull/1326

[2020-12-24 22:15] #1324 closed

[2020-12-29 09:20] ilblackdragon opened #1329 "Recovery Seed Phrase can lead to unforeseen issues"
Currently wallet adds new key every time recovery of seed phrase happens.
Given user doesn't understand this, but it also grows number of active keys user have - this can lead to exhausting all $NEAR tokens on storage.

Some crypto users usually would recover every time they want to use the wallet. E.g. use it to "log in".

There should be a way to either use the seed phrase key itself directly (h

[2020-12-30 16:33] kcole16 opened #1330 "Newly created accounts with Ledger won't recover sometimes"
**Note**
This might be due to me using the same Ledger to create and fund multiple accounts (using the same funding address), at least one of which I kept as just the implicit account (never created the .near account)

**Problem**
After creating and funding a new account with Ledger as the only key, account recovery doesn't work.

**Expected Behavior**
Account recovery should work.

**Steps to rep

[2020-12-31 01:14] mattlockyer commented on #1330
@kcole16 looks like it's erroring on the implicit account that once had the ledger key.

It finds the implicit and the named account (I'm assuming) during the indexer call, then throws and never gets to try the named account.

[2020-12-31 03:32] ilblackdragon opened #1331 "Auto complete for seed phrase words"
Seed words are coming from dictionary and can be auto-completed both at the confirmation time and at the recovery time.

[2021-01-01 09:01] ilblackdragon commented on #1189
Big ask is to show how much was staked and how much reward was received.
For example in the displays above "Total staking balance" with 4234 and "staking in pools" of 522 is super confusing.
I would expect "Total staking balance" let's say 10234, where "Staked" 10000, and "Rewards" 230, "Unstaked" 4.

(It may be because you put random numbers - I would recommend to use numbers that add up together

[2021-01-01 09:03] ilblackdragon commented on #1189
And as mentioned above - there can be multiple lockup contracts and there will be other contracts, I would start training users of lockups as separate app vs trying to keep it as a "standard" thing by creating a top level selection.

In your case this choice even goes above account ID - which feels a bit weird, as seems like one chooses a different account.

[2021-01-01 14:45] ilblackdragon opened #1332 "Allow to stake for arbitrary pool"
Currently in the staking UI https://wallet.near.org/staking/validators there a input box that one can type any pool name...
But it doesn't allow to stake to valid pools.

Currently there is no way to stake to pools that are not active validators.

If you user typed a valid pool name (e.g. right now it's ending to poolv1.near, but even better is to validate with our whitelist contract) - it should

[2021-01-04 08:55] vgrichina commented on #1331
Auto-completing during confirmation time probably would be counter productive.

During recovery the caveat is that if seed phrase isn't created in NEAR Wallet it doesn't have to come from dictionary.

[2021-01-04 08:57] vgrichina commented on #1329
yeah, this is probably what we need as people are constantly asking for "Log out" and if implemented this way – it's going to be useful

other than that I think we generally should add some easy way to clean unused keys (requiring user to prove they have recovery key). Can prompt user as part of https://github.com/near/near-wallet/issues/1182

[2021-01-04 15:27] ilblackdragon opened #1333 "Prevent sending money to smart contracts, especially staking"
People by accident can send money to smart contracts.
We should try to prevent this as much as possible on the wallet side.
Specifically, anything that is poolv1.near should not allow to send. Other contracts which are not multisig and few others can also be restricted.
Or at least have an extra check with the user if they sure they want to send money to given account with smart contract.

[2021-01-04 16:41] kcole16 commented on #1330
@marcinbodnar Can you take a look at this?

[2021-01-04 22:25] kcole16 commented on #1329
Agree re: removing the keys on logout.

One UX consideration is that users with 2FA and Ledger enabled will need to explicitly authorize the deleteKey TX, which requires multiple confirmations for users with multiple accounts.

I believe this is a small % of users currently (is there a straightforward way to pull this data?), though we may want to consider single account logout for the first versi

[2021-01-05 02:05] #1165 closed

[2021-01-05 17:35] corwinharrell commented on #1189
@ilblackdragon I agree, I'll try and make a more conscious effort to use figures that add up in mockups instead of banging on my keyboard like a monkey for random placeholders 😂

@ilblackdragon can you clarify what you mean by separate app? Also, It's a good reminder that we need to be accommodating of accounts with multiple lockups, however, do we have an idea of how frequent this is?

[2021-01-05 18:09] kcole16 commented on #1189
@ilblackdragon While we can't control what other devs do re: multiple lockups on a single account, I'd push back strongly on our team adding multiple lockups to a single account.

If we keep the lockups we (NEAR, Inc and NF) as 1-1 to the "controlling" accounts, this interface makes clear both the association of the "controlling" account and the lockup account, while allowing us to display a more

[2021-01-05 19:21] vgrichina commented on #1189
@kcole16 I agree that we should keep mapping of lockups 1-1, but I agree with @ilblackdragon that we need to take into accounts that there’s going to be more and more various smart contract balances for given account.

User will have tokens deposited into lending, provide liquidity for AMMs, etc. So it makes sense to design for multiple smart contract future.

[2021-01-05 19:33] kcole16 commented on #1189
I don't see this as mutually exclusive.

Ideally we can track balances across the many smart contracts they will reside in, but those are not separate accounts (at least not 1-1) in the way that lockups are, and the interfaces for those applications will exist externally to the wallet (in most cases).

Certainly, we should approach the new portfolio management focused UI expecting to include these

[2021-01-05 20:09] #1323 closed

[2021-01-07 00:58] #1330 closed

[2021-01-07 15:33] ilblackdragon commented on #1189
Well, we could have told users from the start that lockup balance is
actually a "separate app".
It could even have it's own UI, where you would control your lockup
contract after login in with your wallet. It would show you the state of
it, show that you need to ping it to update the staking state, etc.

I don't know if it's too late for this or not (might be a tooltip or a
banner for people who h

[2021-01-07 15:57] corwinharrell commented on #1189
from your accounts balance.

The problem here is that even if we were to treat the lockup separately with its own UI, people still log into the wallet expecting to see the tokens in their lockup as a part of their `Total Balance`. They see their total balance as "Funds under my ownership", and expect to see their lockup tokens reflected in this figure. In addition, we are allowing users to stake f

[2021-01-08 17:40] corwinharrell commented on #1189
Figma file for the updates to the balance table on `/profile`: https://www.figma.com/file/Ow6fxJZpmCnpL2qnHceCJq/Balance-Update?node-id=0%3A1

[2021-01-08 22:08] marcinbodnar commented on #1189
First question, do we want to round values to no decimal, like on the design or differently? I would suggest using at least 3 decimals because most of the users will not care about 0,001 imprecision in Near amount.

Without decimals we can have situation:
`In staking pool: 2 (real value: 2,8888)`
` - staked - 1 (real value: 1,4444)`
` - unstaked - 1 (real value: 1,4444)`

Second question, how do w

[2021-01-09 00:02] kcole16 commented on #1189
@marcinbodnar Don't we already use 5 decimal places of precision for all NEAR token balances? We should continue with this standard, as users care quite a bit about precision. I believe @corwinharrell just used dummy data in the designs for simplicity.

[2021-01-10 03:34] ilblackdragon commented on #1189
@corwinharrell

I think we should try to shift away from this expectations.

Having extra funds in a lockup in a way similar to when you have funds in staking pools, funds in liquidity pools, funds in lending protocols, etc. So asking user to explicitly withdraw from lockup seems reasonable, as we have similar expectation to withdraw from staking or from other apps. It is also how lockup contract

[2021-01-12 06:32] vgrichina opened #1345 "Avoid using parseFloat for handling token amounts"
**Problem**

`parseFloat` shouldn't be used for any token amounts as float math isn't precise:

![image](https://user-images.githubusercontent.com/126710/104277974-b5dfce80-545c-11eb-8b9a-090731948268.jpeg)

[2021-01-12 09:15] vgrichina opened #1349 "Wait for indexer implicitly instead of using EXPLORER_DELAY"
**Problem**

Staking UI relies on EXPLORER_DELAY in multiple places to wait arbitrary amount of time for indexer. It doesn't do any checks whether data in question was indexed for real.

**Expected Behavior**

We should ideally wait for processing of specific transaction.

[2021-01-12 09:25] #1308 closed

[2021-01-12 16:11] corwinharrell commented on #1189
@ilblackdragon yes I think our mental models are pretty in sync. What you've described is largely how I'm thinking of the relationship between balances, with maybe one exception:

This is true with a slight twist I think. Since users can stake _from_ their lockup, the staking funds are actually one level lower in the hierarchy. In other words, you can either stake from your main account balance, o

[2021-01-12 16:32] frol commented on #1189
Let me put my 2 cents here. I think we should get away from "total balance" concept as it is quite hard to define. Using traditional mobile banking I am ok with having multiple balances on different cards with various credit limits and currencies as well as separate "lockup balances" (deposits).

[2021-01-12 18:40] corwinharrell commented on #1189
@frol It is typical though for mobile banking or any other finance management products to show your "Portfolio Balance" Or "Total balance" as a sum of the balance of all of your accounts. For example, if you have 2 checking and one savings account all with the same bank, when you log into your mobile banking app, you will see your total balance, as well as the individual balances of each account.

[2021-01-14 19:27] kcole16 opened #1364 "Metrics"
### Overview
Currently, we only capture redux actions and the data included in them. This gives us an incomplete and in some cases misleading picture of user behavior.

We need to accomplish the following:
- Define what we want to track
- Decide on an implementation strategy
- Determine a process for adding further tracking as we add features

### What to track
- Active users (in aggregate)
- Succ

[2021-01-15 19:02] jimmy3dita commented on #1364
## Define what we want to track
I'll start with my list. Keeping it limited, as I want to get quickly to some basic discovery, and then extend where we see opportunity.

**1. Actions**
number of `create account` clicks <- same as `successful` + `unsuccessful account creations`
number of `funded accounts` <- same as successful account creations
number of `staking` accounts
 **2. Visits**
number of

[2021-01-20 15:20] ilblackdragon opened #1371 "User wants to find applications on NEAR"
## Story

As a USER who has NEAR, I want to find applications on NEAR to play / spend / buy / sell.

## Acceptance Criteria

- [ ] Find list current of applications with some understanding of their usage
- [ ] See which ones user have already used / logged in
- [ ] See in which ones have assets (tokens, NFTs, LP position, etc)

## Suggestion

Simplest version of this is to put a banner on main pag

[2021-01-20 21:00] abacabadabacaba opened #1372 "Implement 2FA without contracts"
The way 2FA is currently implemented, the user is required to deploy a contract to their account, which requires them to have at least 35Ⓝ in their account which is unusable for as long as 2FA is active. However, it is possible to implement 2FA differently, by using clever cryptography to make the wallet and the contract helper together generate a single signature, so that regular full access keys

[2021-01-20 21:18] vgrichina commented on #1372
I feel like more straightforward solution would be to rewrite multisig contract with no_std which is likely to reduce amount locked to something like 3-5 NEAR (judging by the fact that it's theoretically possible based on AssemblyScript contracts / some no_std POCs).

Motivation:
- we still need actual multisig support long-term (e.g. foundation currently is using some hacky solutions), not just 2

[2021-01-20 22:35] #1122 closed

[2021-01-20 23:51] vgrichina commented on #1333
I think ideally we need to introduce some contract metadata which includes info whether it is ok to send tokens to given contract.

+ we can have hardcoded banlist which would result in a warning and extra confirmation (like removing your full access keys)

[2021-01-20 23:55] vgrichina commented on #1332
I think @mattlockyer already has fixed this, e.g. I just staked to inactive validators here:
https://explorer.near.org/transactions/5aqxXJ7GZ8n9QvLr9i19xXidttfyC6Epny9dBD91fUFo

I think there are still some requirements. I assume validator needs to be in the list of proposals at least (i.e. actively trying to become a validator). @ilblackdragon  Is there any reason to consider pools outside of pro

[2021-01-21 00:39] kcole16 opened #1374 "Disable SMS for some geos"
### Overview
There are several geos where SMS is completely unreliable for users. Until we can debug and fix the underlying issue, we should disable these problematic geos (by country code) and provide an explanation.

### Acceptance Criteria
- [ ] If a user attempts to enter a number with a disabled country code
  - [ ] The "Continue" button is disabled
  - [ ] The following message is displayed:

[2021-01-21 04:40] mattlockyer commented on #1332
Validators who have NEVER made it to the active set / proposals are still unable to be staked to.

A simple fix when the user enters validator in the UI input form and it resolves to nothing in the set of validators in redux state.

We can fire a custom search of the whitelist for this validator and if it comes back true we can add them to the set in the redux state.

Then they will appear (after

[2021-01-21 12:01] abacabadabacaba commented on #1372
I think that we should use both approaches in the long term. Contract-based solution is more flexible but cryptography-based solution is more efficient.
This cryptographic solution works for the most common use case: just plain 2FA. Additional rules like daily spending limits can be implemented in the contract helper (it can approve some transactions without asking for the second factor). This sho

[2021-01-21 16:31] jimmy3dita commented on #1364
I want to extend the list above with another class:
**5. Segmentation**
Sessions by screen dimension
IP location
Traffic source

[2021-01-22 18:30] frol opened #1380 "Make it easier to see tx-hash of transaction right after a tx has been submitted"
@Kisgus commented on [Fri Jan 22 2021](https://github.com/near/near-explorer/issues/522)

## Problem

When I submit a transfer I need to a) either click many steps or b) have another tab on https://explorer.near.org/ open to find the tx-hash of the tx that I just submitted. For all regular explorers it is kind of a standard pattern to get the link to the tx-hash right away:

### Screen when submit

[2021-01-23 01:06] #1296 closed

[2021-01-23 09:04] ilblackdragon commented on #1332
Why not just pull the list from the whitelist in the first place for a full
list and show the ones that are not actively as inactive?

On Wed, Jan 20, 2021 at 8:40 PM Matt Lockyer <notifications@github.com>
wrote:

--
Best regards,
Illia Polosukhin

[2021-01-23 15:24] mattlockyer commented on #1332
Only have support to check accountId is whitelisted:
https://github.com/near/core-contracts/tree/master/whitelist

[2021-01-25 04:44] ilblackdragon commented on #1332
You can query it like this
[code]

On Sat, Jan 23, 2021 at 7:25 AM Matt Lockyer <notifications@github.com>
wrote:

--
Best regards,
Illia Polosukhin

[2021-01-26 07:58] ilblackdragon opened #1387 "Show how long left before stake withdrawing is allowed"
Currently after unstaking, it's unclear how long is left before one can withdraw funds from staking pool. Would be great to show some progress bar or approximate timer (36h left until withdrawal).

Also separately, given the clock reset when unstake again, it make sense to inform user about that if they have funds that are in progress of unstaking.

[2021-01-26 17:53] corwinharrell commented on #1147
@vgrichina could you post the simple schema for tokens and their contracts that we had talked about? Just need to get a basic sense of hierarchy and parent-child relationship between tokens and their contracts to inform how they might be displayed in the UI.

[2021-01-26 19:46] jimmy3dita commented on #1387
@corwinharrell happy to scope down this one, as I have some familiarity with the subject 😄

[2021-01-26 19:46] jimmy3dita commented on #1371
Related to https://github.com/near/near-wallet-roadmap/issues/7

[2021-01-26 21:25] almal opened #1389 "Links to transactions on Explorer right in Wallet Activity"
## Story

As a USER who logged to wallet.near.org, I want able to click on transactions listed under Activity so I can see the transaction details on explorer.

![image](https://user-images.githubusercontent.com/15792799/105906990-679d0480-5ff2-11eb-90f8-5513c228c02e.png)

![image](https://user-images.githubusercontent.com/15792799/105907213-b8acf880-5ff2-11eb-9f17-8bcd35406895.png)

## Acceptance

[2021-01-27 06:07] #1374 closed

[2021-01-27 06:32] vgrichina commented on #1332
BTW `viewState` already available in near-api-js

https://github.com/near/near-api-js/blob/dbfc6050f9fc273c65fc8415f007ce90dbc4c1e7/src/account.ts#L395

[2021-01-27 18:30] kcole16 commented on #1297
Save local state, so if users drop off between funding their account they can get back to the "Finish" step

[2021-01-28 16:16] corwinharrell commented on #1387
yep happy to work on this with @Patrick1904. It should be pretty low-lift from a UI perspective, as long as we know what information is available to us to display (ie what calls we need to make to determine time elapsed etc. or if we just need to provide an approximate window).

[2021-01-28 23:48] kcole16 opened #1393 "Make "Withdraw" more obvious in /staking"
### Overview
We receive questions from users about how to finish the "Unstake" process fairly regularly. The "Withdraw" button is currently located on the validator detail page, a detail these users miss their first time trying to unstake and withdraw.

We should consider how to make this process more clear, especially for first time stakers.

[2021-01-29 15:06] marcinbodnar opened #1394 "Improve loading time of Profile page"
Improve loading time by adding functionality where `In staking pools` details will be fetched only when the user clicks on the `In staking pools` field - user will see loader and after fetching the data will be displayed.

[2021-01-29 16:57] jimmy3dita commented on #1387
Awesome, will find the right way to translate this into action

[2021-01-29 19:51] jimmy3dita commented on #1394
@marcinbodnar added this card to the current sprint, feel free to drag/drop it in the relative column

[2021-01-29 20:07] marcinbodnar commented on #1394
@jimmy3dita thanks, done.

[2021-02-01 20:10] ihaid opened #1399 "Buttons inactive on Ledger enabling page"
**Expected Behavior**
Buttons should be clickable when canceling operation

**Steps to reproduce**

1. Create an account
2. Go to the profile page
3. Click  enable "Ledger Hardware Wallet"
4. On the pop-up window click "Continue"
5. Close window without connecting Ledger
6. Click on any button on the page